{{ define "main" }}

<div class="py-5">
  <div class="container medium">
    <h1 class="mb-4">{{ .Params.title }}</h1>
      <div class="row">
        
        {{ range .Pages }}
        
          <div class="card content-card mb-4 col-sm-6 col-md-4">
            <div class="card-content">
              {{ if .Params.seo_image }}
              
              {{ $src := resources.Get .Params.seo_image }}
              {{ $image := $src.Fill "740x400"}}
              
              <a href="{{.Permalink}}"><img src="{{ $image.RelPermalink }}" class="card-img-top" alt="City photograph for the {{ lower .Title}} report"></a>
              {{ end }}
              <div class="card-body">
                <h2 class="card-title"><a href="{{.Permalink}}" class="text-primary">{{.Title}}</a></h5>
                <p class="card-text">{{ .Summary }}</p>
                <p class="card-link"><a href="{{.Permalink}}">See Report ></a></p>
              </div>
            </div>
          </div>
        
        {{ end }}

      </div>
  </div>
</div>

{{ end }}