{{ define "js_top" }}
<!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<!-- Import vega-embed -->
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
{{ end }}

{{ define "main" }}

{{/* Set scratch variables for neighborhood directory and report filename to be used in side bar */}}
{{ $.Scratch.Set "neighborhoodDir" .Parent.File.Dir }}
{{ $.Scratch.Set "reportFile" .File.BaseFileName }}

<div class="d-flex flex-column report-header">

  <!-- Toggle #sidebar-nav on mobile -->
  <div class="container-fluid p-0 d-lg-none">
    <div>
      <div class="btn-toggle">
        <button class="btn btn-block btn-lg btn-primary shadow" data-toggle="collapse" data-target="#sidebar-nav" aria-expanded="false" aria-controls="sidebar-nav">
            <span class="title">Reports</span>
        </button>
      </div>
    </div>
  </div>

</div>

{{/* First loop of report JSON to get first level parameters */}}
{{ range (index .Site.Data.reports $.Params.data_json) }}



<script>
  var NeighborhoodName = "{{ .geo_entity_name }}"; //setting for use in visualizations
</script>

<section class="container-fluid pl-lg-6" id="skip-header-target">
  <div class="row">

    <div class="col-lg-3 collapse d-lg-block sidebar-report d-print-none" id="sidebar-nav">
        <div class="mt-5">
            <a class="sr-only sr-only-focusable skip-menu" href="#primary-content">Skip Nav</a>

            <h2>Change Report</h2>
            <nav role="navigation">
              <div class="list-group custom-active">
                {{ $neighborhood := $.Scratch.Get "neighborhoodDir" }}
                {{ $report := $.Scratch.Get "reportFile" }}
                {{ partial "location_sub_nav" (dict  "neighborhood" $neighborhood "report" $report) }}
              </div>
            </nav>

            <h2 class="mt-4">Change Neighborhood</h2>
            <form action="/neighborhood_reports" method="get" class="autocomplete-form">
              <div class="row no-gutters">
                <label for="last-neighborhood" class="block col-sm-12 font-weight-bold h4 mb-3 sr-only">What NYC neighborhood are you interested in?</label>
                <div class="col-9">
                  <div class="autocomplete-wrapper">
                    <select name="last-neighborhood" id="last-neighborhood">
                      <option value="">Select a neighborhood</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn-primary btn btn-block fs-sm">Go</button> 
                </div>
              </div>
            </form>            
          
        </div>
        <!-- .sticky-top -->

    </div>
    <!-- .col -->

    <div class="col-12 col-lg-9 overflow-hidden" id="primary-content">
      <div class="my-5">
        <div class="px-lg-6 my-4">
          <h1 class="report-title">{{ $.Params.title }} in<br>
            <span class="sub-title">{{ $.Params.neighborhood }}</span>
          </h1>
          <p class="report-description">{{ .report_description }}</p>
          
          <p class="mt-3"><a href="{{ .data_download_loc }}" class="btn btn-md btn-report" target="_blank">Download Report Data <span class="sr-only">(opens in a new tab)</span></a></p>

          <h2 class="mt-3 report-info">Neighborhood Information</h2>
          <p><strong>{{ .geo_entity_name }}</strong> is comprised of Zip codes {{.zip_code }}</p>
          
          <hr class="mt-4">
          
          <div>
          
            {{ range $index, $content := .report_content }}
            {{ $count :=add $index 1 }}
            {{ $.Scratch.Set "location" .geo_entity_name }}
            {{ $.Scratch.Set "borough" .borough_name }}
            
            <div class="report-topic">

              <div class="topic-header">
                <h2>{{ .report_topic }}</h2>
                <p>
                  {{ .report_topic_description }}
                </p>
              </div>
              
              <div class="container-fluid px-0 mb-4">
                <div class="row indicator-headings mb-2">
                  <div class="col-6 col-md-5 pl-3">
                    Topic
                  </div>
                  <div class="col-6 col-md-4">
                    
                    <div class="position-relative">
                      Comparison<br>
                      <span class="meta"> to NYC average</span></a>
                      <a href="#" data-toggle="modal" data-target="#modal-rank" class="info-modal"><i class="fas fa-question-circle fs-rg"></i></a>
                    </div>
                    
                  </div>
                  <div class="d-none d-md-inline col-md-3">
                    Rank<br>
                    <span class="meta"> out of the 42 neighborhoods</span>
                  </div>
                </div>

                {{ with .report_topic_data }}
                    {{ range sort . "data_value_rank" "desc" }}
                    {{ $location := $.Scratch.Get "location" }}
                    {{ $borough := $.Scratch.Get "borough" }}
                      {{- partial "report_indicator.html" (dict "location" $location "borough" $borough "ind" . "count" $count) -}}
                    {{ end }}
                  {{ end }}
              </div>
              <!-- .container -->

            </div>
            <!-- .report-topic -->
            {{ end }}

          </div>

        </div>
        <!-- .narrow -->
      </div>
    
    </div>

  </div>
  <!-- .row -->

</section>
{{/* Make sure we know what report content to load and that content_yml is set. If not we dont display the content */}}
{{ if $.Params.content_yml }}

{{/* Variable to load the the data file from the content_yml frontmatter */}}
{{ $content := index $.Site.Data.globals.report_content $.Params.content_yml }}
<section class="related-reading">
  <div class="container">
    <div class="row">

      <div class="col-lg">
        <div class="card bg-white text-black mb-2">
          <div class="card-header">What the city is doing?</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {{ range $content.city }}
              <li class="list-group-item border-0 py-1 bg-transparent">{{ if .link }}<a href="{{ .link }}">{{ end }}{{ .copy }}{{ if .link }}</a>{{ end }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <!-- .col for city -->

      <div class="col-lg">
        <div class="card bg-white text-black mb-2">
          <div class="card-header">What can you do?</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {{ range $content.you }}
              <li class="list-group-item border-0 py-1 bg-transparent">{{ if .link }}<a href="{{ .link }}">{{ end }}{{ .copy }}{{ if .link }}</a>{{ end }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <!-- .col for you -->
      
      <div class="col-lg">
        <div class="card bg-white text-black">
          <div class="card-header">More NYC neighborhood data</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {{ range $content.data }}
              <li class="list-group-item border-0 py-1 bg-transparent">{{ if .link }}<a href="{{ .link }}">{{ end }}{{ .copy }}{{ if .link }}</a>{{ end }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <!-- .col for data -->

    <!-- .row -->
    </div>
  </div>
</section>
{{ end }}

<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4 overflow-hidden">
        <div class="narrow">
          <h2>More Information</h2>
          <p>{{ .report_footer }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal-Rank -->
<div class="modal fade report-modal" id="modal-rank" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Indicator ranking</h4>
        <button type="button" class="close no-btn-style" data-dismiss="modal" aria-label="Close">
          <span class="fas fa-times-circle"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Each indicator is placed in one of three categories:</p>
        <ul>
          <li class="mb-2"><span class="better">Better</span></li>
          <li class="mb-2"><span class="middle">Middle</span></li>
          <li><span class="worse">Worse</span></li>
        </ul>
        <p>This shows us how the neighborhood compares to other NYC neighborhoods, if you ranked all of the NYC neighborhoods based on this indicator.</p>
        <ul>
          <li><strong>Better:</strong> in the top 1/3rd of all NYC neighorhoods.</li>
          <li><strong>Middle:</strong> it's close to the NYC median - ranking somewhere in the middle third of all neighborhoods.</li>
          <li><strong>Worse:</strong> in the bottom 1/3rd of NYC neighborhoods.</li>
        </ul>
        <p>These are only based on the distribution of data values, not the range. The absolute values of indicators in different categoeis may not be all that different.</p>

      </div>
      <!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary px-6" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{ end }}


{{ $js := resources.Get "js/accessible-autocomplete.min.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ $js := resources.Get "js/uhflist.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

<script type="text/javascript"> 
  // https://www.aspsnippets.com/Articles/Populate-DropDownList-from-JSON-Array-using-JavaScript.aspx
  function PopulateDropDownList() {
        //Build an array containing Neighborhood records.
        //UHFList.js contains a variable 'neighborhoods' with names zips and ids
        
         var ddlNeighborhoods = document.getElementById("last-neighborhood");
        
         //Add the Options to the DropDownList.
         for (var i = 0; i < neighborhoods.length; i++) {
             var option = document.createElement("OPTION");

             //Set Neighborhood Name in Text part.
             option.innerHTML = neighborhoods[i].namezip;

             //Set Neighborhood Id in Value part.
             option.value = neighborhoods[i].page_name;

             //Add the Option element to DropDownList.
             ddlNeighborhoods.options.add(option);
         }
     }
 </script>
 <script type="text/javascript">
   PopulateDropDownList();
   var selectEl = document.querySelector('#last-neighborhood')
   accessibleAutocomplete.enhanceSelectElement({
     autoselect: true,
     confirmOnBlur: true,
     defaultValue: "",
     minLength: 2,
     selectElement: selectEl
   })



   var thisURL = window.location.pathname.split('/')
   var reportExt = thisURL[4];
   // check report and declare reportExt


  // this takes the form and on submit, sends page to a new location.
  var searchForm = document.getElementById('last-neighborhood-select') // this is last-neighborhood-select because of changes applied by the AA JS.
  document.querySelector('form.autocomplete-form').addEventListener("submit", function (e) {
  e.preventDefault(); // prevent page re-load
  var locVal = searchForm.options[searchForm.selectedIndex].value;
  window.location = '{{ $.Site.Params.devpath}}/neighborhood_reports/'+ locVal + "/" + reportExt;
  });




 </script>


{{ end }}