/*modifying the nav pills colors for the air quality explorer*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #E2E2E2;
}

.vega-embed {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
  padding-right: 38px;
}

.map-srch {
  width: 100%;
}


.maplegend {
  background-color: white;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.legendlow {
  background-color:#ffc2ff; 
  height: 100%; 
  width: 25px;
}

.legendmedium {
  background-color:#cc59ca;
   height: 100%; 
   width: 25px;
}

.legendhigh {
  background-color:#6e1e93; 
  height: 100%; 
  width: 25px;
}

/* modifying badge colors for air quality details */

.badge-custom {
  padding:.3em .45em .3em .45em;
  font-size: 85%;
  font-weight: 600;
}

.badge-custom-dark {
  color:#fff;
  background-color:#00438a;
}

.badge-custom-above {
  color:#fff;
  background-color:#9A40B5;
}

.badge-custom-below {
  color:#fff;
  background-color:#069068;
}
