
# don't track resources folder (temp files for serve)
resources/_gen/

# don't track mac file
.DS_Store
.DS_Store?

# don't track hugo lock file
.hugo_build.lock

# don't track node modules
node_modules/

content/Simplified Chinese/
content/Spanish/

# don't track build folder
docs

.Rproj.user

QA/

# Other DE version for reference
static/js/data-explorer/links0.js
themes/dohmh/layouts/data-explorer/single0.html
themes/dohmh/layouts/data-explorer/single1.html
themes/dohmh/layouts/data-explorer/single2.html
QA/DE QC checklist - 8.2.2022.docx
themes/dohmh/layouts/data-explorer/mutation_observer.js
QA/~$ QC checklist - 8.2.2022.docx
static/js/data-explorer/trend_2.js
staging site, staging data notes.txt

static/js/lunr/
assets/js/lunr/

static/geography/
assets/js/testing stop words.js
static/images/home-sample-image-DE.R
EH-dataportal.Rproj
reports_data.json
links data columns.js
content/key-topics/climatehealth/hvi/de_map_spec.vg.json
content/key-topics/climatehealth/hvi/hvi-nta.csv
assets/js/data-explorer/some notes on refactoring.txt
.Rhistory
fooling around with gh.sh
# local data
static/IndicatorData/data/
static/IndicatorData/comparisons.json
static/IndicatorData/indicators_pretty.json
static/IndicatorData/metadata.json
assets/js/data-explorer/some notes on refactoring.txt
hugo-help.txt
hugo-server-help.txt
hugo_completion_powershell.ps1
pagefind CSS.css
