source: docs
paths:
  uploads: content/[collection]/{title|slugify}
  static:
  data:
collections_config:
  data-stories:
    path: content/data-stories
    output: true
    name: Data Stories
    description: Data Stories collection.
    icon: article
    sort_options:
      - key: date
        order: desc
      - key: date
      - key: title
      - key: title
        order: desc
    singular_name: Data Stories
    singular_key: data-stories
    _editables: {}
    _inputs: {}
    _select_data: {}
    _structures: {}
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      default:
        path: .cloudcannon/schemas/data-stories.md
        reorder_inputs: true
        hide_extra_inputs: true
        remove_empty_inputs: true
        remove_extra_inputs: false
        icon: notes
  data-explorer:
    path: content/data-explorer
    output: true
    name: Data Explorer
    description: Data Explorer collection.
    icon: article
    sort_options:
      - key: date
        order: desc
      - key: date
      - key: title
      - key: title
        order: desc
    singular_name: Data Explorer
    singular_key: data-explorer
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      default:
        path: .cloudcannon/schemas/data-explorer.md
        reorder_inputs: true
        hide_extra_inputs: true
        remove_empty_inputs: true
        remove_extra_inputs: false
        icon: notes
  key-topics:
    path: content/key-topics
    output: true
    filter:
      exclude:
        - airquality/aqe
        - airquality/nycca
        - climatehealth/hvi
        - climatehealth/syndromic
    name: Key Topics
    description: Key Topics collection.
    icon: article
    sort_options:
      - key: date
        order: desc
      - key: date
      - key: title
      - key: title
        order: desc
    singular_name: Key Topics
    singular_key: key-topics
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      default:
        path: .cloudcannon/schemas/key-topics.md
        reorder_inputs: true
        hide_extra_inputs: true
        remove_empty_inputs: true
        remove_extra_inputs: false
        icon: notes
  about:
    path: content/about
    output: true
    name: About
    description: About collection.
    icon: article
    sort_options:
      - key: date
        order: desc
      - key: date
      - key: title
      - key: title
        order: desc
    singular_name: About
    singular_key: about
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      default:
        path: .cloudcannon/schemas/about.md
        reorder_inputs: true
        hide_extra_inputs: true
        remove_empty_inputs: true
        remove_extra_inputs: false
        icon: notes
collections_config_override: true
collection_groups:
  - heading: Content
    collections:
      - data-stories
      - data-explorer
      - key-topics
      - about
_enabled_editors:
  - content
  - data
_inputs:
  menu:
    type: auto
    hidden: true
    cascade: true
  date:
    type: auto
    hidden: true
    cascade: true
  datetime:
    type: auto
    hidden: true
    cascade: true
  layout:
    type: auto
    hidden: true
    cascade: true
  keywords:
    type: multiselect
    options:
      allow_create: true
      empty_type: array
      values: _select_data.keywords
    cascade: true
  categories:
    type: multiselect
    options:
      allow_create: true
      empty_type: array
      values: _select_data.categories
    cascade: true
  keyTopic:
    type: multiselect
    options:
      allow_create: true
      empty_type: array
      values: _select_data.categories
    cascade: true
  pollutantMaps:
    type: textarea
    cascade: true
  pollutantTrends:
    type: textarea
    cascade: true
  conclusion:
    type: textarea
    cascade: true
  moreInfo:
    type: textarea
    cascade: true
_select_data:
  categories:
    - housing
    - childhealth
    - social
    - airquality
    - transportation
    - climatehealth
    - foodanddrink
    - outcomes
    - pests
  indicators:
    comment: Select an indicator
_structures: {}
_editables:
  content:
    blockquote: false
    bold: true
    bulletedlist: true
    code: false
    copyformatting: false
    embed: false
    format: p h2 h3
    horizontalrule: false
    image: true
    image_size_attributes: false
    indent: false
    italic: true
    link: true
    numberedlist: true
    outdent: false
    redo: false
    removeformat: false
    snippet: true
    strike: false
    subscript: false
    superscript: false
    table: false
    underline: false
    undo: false
base_url: /
data_config: {}
editor:
  default_path:
timezone: America/New_York
x-default_sort_options:
  - key: date
    order: desc
  - key: date
  - key: title
  - key: title
    order: desc
x-base-schema:
  hide_extra_inputs: true
  remove_empty_inputs: true
  remove_extra_inputs: false
x-base-collection:
  sort_options:
    - key: date
      order: desc
    - key: date
    - key: title
    - key: title
      order: desc
  icon: article
  schemas:
    default:
      reorder_inputs: true
      hide_extra_inputs: true
      remove_empty_inputs: true
      remove_extra_inputs: false
      icon: notes
x-hidden:
  hidden: true
_snippets:
  datawrapper:
    template: hugo_shortcode_named_args
    inline: false
    preview:
      text: Datawrapper
    definitions:
      shortcode_name: datawrapper
      named_args:
        - editor_key: title
          type: string
        - editor_key: src
          type: string
  vega:
    template: hugo_shortcode_named_args
    inline: false
    preview:
      text: vega
    definitions:
      shortcode_name: vega
      named_args:
        - editor_key: id
          type: string
        - editor_key: spec
          type: string