<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

            <system.web>
                <httpCookies httpOnlyCookies="true" requireSSL="true" />
                <customErrors mode="RemoteOnly" defaultRedirect="404.html"></customErrors>
                <sessionState timeout="40"></sessionState>
                <httpRuntime requestValidationMode="2.0" maxRequestLength="4096" executionTimeout="999999" />
                <identity impersonate="true" />
                <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
                    <buildProviders>
                        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
                    </buildProviders>
                    <assemblies>
                        <add assembly="Microsoft.ReportViewer.WinForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
                    </assemblies>
                </compilation>
                <pages compilationMode="Auto" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
                    <namespaces>
                        <clear />
                        <add namespace="System" />
                        <add namespace="System.Collections" />
                        <add namespace="System.Collections.Specialized" />
                        <add namespace="System.Configuration" />
                        <add namespace="System.Text" />
                        <add namespace="System.Text.RegularExpressions" />
                        <add namespace="System.Web" />
                        <add namespace="System.Web.Caching" />
                        <add namespace="System.Web.SessionState" />
                        <add namespace="System.Web.Security" />
                        <add namespace="System.Web.Profile" />
                        <add namespace="System.Web.UI" />
                        <add namespace="System.Web.UI.WebControls" />
                        <add namespace="System.Web.UI.WebControls.WebParts" />
                        <add namespace="System.Web.UI.HtmlControls" />
                    </namespaces>
                    <controls>
                        <add tagPrefix="ajax" namespace="ajaxControlToolkit" assembly="ajaxControlToolkit" />
                        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
                    </controls>
                </pages>

                <httpHandlers>
                    <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
                    <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
                </httpHandlers>
                
            </system.web>
            <system.webServer>
                <httpProtocol>
                    <customHeaders>
                        <add name="Access-Control-Allow-Origin" value="*" />
                    </customHeaders> 
                </httpProtocol>
                <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File">
                    <remove statusCode="404" />
                    <remove statusCode="500" />
                    <error statusCode="404" path="404.html" />
                    <error statusCode="500" path="500.html" />
                </httpErrors>
                <validation validateIntegratedModeConfiguration="false" />
                <staticContent>
                    <remove fileExtension=".woff" />
                    <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
                    <clientCache cacheControlMode="UseMaxAge" />
                    
                </staticContent>
                
                
                <!-- URL rewrite -->
                
                <rewrite>
                    
                    <rewriteMaps>
                        
                        <!-- old portal subtopic to new portal topic -->
                        
                        <rewriteMap name="Subtopic-To-DE-Topic">
                            
                            <add key="104" value="active-design" />
                            <add key="122" value="air-quality" />
                            <add key="95" value="alcohol-use" />
                            <add key="97" value="alcohol-use" />
                            <add key="11" value="asthma" />
                            <add key="92" value="bed-bugs" />
                            <add key="16" value="birth-defects" />
                            <add key="12" value="birth-outcomes" />
                            <add key="39" value="cancer" />
                            <add key="93" value="cancers-in-children" />
                            <add key="51" value="carbon-monoxide-incidents" />
                            <add key="15" value="carbon-monoxide-incidents" />
                            <add key="3" value="cigarette-smoke" />
                            <add key="1" value="air-quality" />
                            <add key="107" value="climate" />
                            <add key="8" value="cockroaches" />
                            <add key="52" value="drinking-water-quality" />
                            <add key="108" value="falls-among-older-adults" />
                            <add key="121" value="health-care" />
                            <add key="103" value="health-impacts-of-air-pollution" />
                            <add key="127" value="healthy-eating" />
                            <add key="36" value="housing-maintenance" />
                            <add key="7" value="mice-and-rats" />
                            <add key="126" value="mortality" />
                            <add key="91" value="air-quality" />
                            <add key="113" value="overweight" />
                            <add key="9" value="pesticides" />
                            <add key="96" value="physical-activity" />
                            <add key="106" value="social-conditions" />
                            <add key="98" value="restaurant-food-safety" />
                            <add key="109" value="social-conditions" />
                            <add key="101" value="transportation-related-injuries" />
                            <add key="116" value="vector-borne-disease" />
                            <add key="125" value="violence" />
                            <add key="119" value="walking,-driving,-and-cycling" />
                            <add key="100" value="weather-related-illness" />
                            <add key="115" value="worker-health" />
                            
                            <!-- redirected to related topic above -->
                            
                            <!-- <add key="95" value="alcohol-access" /> -->
                            <!-- <add key="15" value="carbon-monoxide-poisoning" /> -->
                            <!-- <add key="1" value="citywide-air-quality" /> -->
                            <!-- <add key="91" value="neighborhood-air-quality" /> -->
                            <!-- <add key="106" value="population-characteristics" /> -->
                            
                            <!-- draft topic pages - no redirect for now -->
                            
                            <!-- <add key="14" value="childhood-lead-exposure" /> -->
                            <!-- <add key="123" value="chronic-obstructive-pulmonary-disease" /> -->
                            <!-- <add key="94" value="solid-waste" /> -->
                            <!-- <add key="102" value="sugary-drink-consumption" /> -->
                            <!-- <add key="114" value="traffic" /> -->
                            <!-- <add key="117" value="vulnerability" /> -->
                            <!-- <add key="88" value="brownfields" /> -->
                            <!-- <add key="13" value="heart-attacks" /> -->
                            <!-- <add key="74" value="large-city-air-quality-comparison" /> -->
                            <!-- <add key="4" value="lead-hazards" /> -->
                            
                        </rewriteMap>
                        
                        <!-- old portal data explorer tab to new -->
                        
                        <rewriteMap name="DE-Tab">
                            
                            <add key="Summarize" value="summary" />
                            <add key="Map" value="map" />
                            <add key="ChartOverTime" value="trend" />
                            <add key="LinkData" value="links" />
                            
                        </rewriteMap>
                        
                    </rewriteMaps>
                    
                    
                    <rules>
                        
                        <!-- if the user has requested the old site, give them that -->
                        
                        <rule name="no-redirect" stopProcessing="true">
                            
                            <match url=".*" />
                            
                            <conditions trackAllCaptures="true">
                                
                                <add input="{HTTP_COOKIE}" pattern="want_old_site=true" />
                                
                            </conditions>
                            
                            <action type="None" />
                            
                        </rule>
                        
                        <!-- ## home page ## -->
                        
                        <rule name="Home" stopProcessing="true">
                            
                            <match url="(PublicTracking.aspx)" />
                            
                            <action type="Redirect" url="/IndicatorPublic/" appendQueryString="false" redirectType="Permanent" />
                            
                        </rule>
                        
                        
                        <!-- ## hub pages ## -->
                        
                        <!-- Heat Hub -->
                        
                        <rule name="heat-hub-index" stopProcessing="true">
                            
                            <match url="HeatHub/index.html" />
                            <action type="Redirect" url="key-topics/climatehealth/" redirectType="Permanent" />
                            
                        </rule>
                        
                        <rule name="heat-hub-sub" stopProcessing="true">
                            
                            <match url="HeatHub/(hvi|syndromic)\.(html)" />
                            <action type="Redirect" url="key-topics/climatehealth/{R:1}/" redirectType="Permanent" />
                            
                        </rule>
                        
                        <!-- Air Quality Hub -->
                        
                        <rule name="aq-hub-index" stopProcessing="true">
                            
                            <match url="AQHub/index.html" />
                            <action type="Redirect" url="key-topics/airquality/" redirectType="Permanent" />
                            
                        </rule>
                        
                        <rule name="aq-hub-aqe" stopProcessing="true">
                            
                            <match url="AQHub/explorer.html" />
                            <action type="Redirect" url="key-topics/airquality/aqe/" redirectType="Permanent" />
                            
                        </rule>
                        
                        <rule name="aq-hub-realtime" stopProcessing="true">
                            
                            <match url="AQHub/realtime.html" />
                            <action type="Redirect" url="key-topics/airquality/realtime/" redirectType="Permanent" />
                            
                        </rule>
                        
                        
                        <!-- ## cold infographic ## -->
                        
                        <rule name="cold-infographic" stopProcessing="true">
                            
                            <match url="^cold/?$" />
                            <action type="Redirect" url="data-stories/cold/" redirectType="Permanent" />
                            
                        </rule>
                        
                        
                        <!-- ## data stories ## -->
                        
                        <rule name="data-stories" stopProcessing="true">
                            
                            <match url="Closerlook/([a-zA-Z]+)" />
                            <action type="Redirect" url="data-stories/{R:1}/" redirectType="Permanent" />
                            
                        </rule>
                        
                        
                        <!-- ## data explorer topics, using rewrite map ## -->
                        
                        <rule name="data-explorer-topics" stopProcessing="true">
                            
                            <match url="Subtopic.aspx" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="subtopic_id=([0-9]+)" />
                                <add input="{Subtopic-To-DE-Topic:{C:1}}" pattern="(.+)" />
                                
                            </conditions>
                            <action type="Redirect" url="data-explorer/{C:1}/" appendQueryString="False" redirectType="Permanent" />
                            
                        </rule>
                        
                        
                        <!-- ## Top-tier pages ## -->
                        
                        <!-- data explorer landing page -->
                        
                        <rule name="data-explorer" stopProcessing="true">
                            
                            <match url="^Subtopic.aspx$" />
                            <action type="Redirect" url="data-explorer/" appendQueryString="false" redirectType="Permanent" />
                            
                        </rule>

                        <!-- learn more -->
                        
                        <rule name="learn-more" stopProcessing="true">
                            
                            <match url="^LearnMore.aspx$" />
                            <action type="Redirect" url="about/" appendQueryString="false" redirectType="Permanent" />
                            
                        </rule>
                        
                        <!-- data story landing page -->
                        
                        <rule name="data-story-landing" stopProcessing="true">
                            
                            <match url="^Infographic.aspx$" />
                            <action type="Redirect" url="data-stories/" appendQueryString="false" redirectType="Permanent" />
                            
                        </rule>
                        
                        <!-- full neighborhood reports path -->
                        
                        <rule name="neighborhood-reports" stopProcessing="true">
                            
                            <match url="^neighborhood_reports/(.*)" />
                            <action type="Redirect" url="neighborhood-reports/{R:1}" appendQueryString="false" redirectType="Permanent" />
                            
                        </rule>
                        
                        
                        <!-- ## data explorer tabs, using rewrite map ## -->
                        
                        <rule name="data-explorer-tabs" stopProcessing="true">
                            
                            <match url="VisualizationData.aspx" />
                            <conditions trackAllCaptures="true">
                                
                                <!--pattern => C:1 = internal_id/IndicatorID, C:2 = subtopic_id, C:3 = tab name -->
                                <add input="{QUERY_STRING}" pattern="id=([0-9]+),\w*,(\d*),([a-zA-Z]+)" /> 
                                <add input="{Subtopic-To-DE-Topic:{C:2}}" pattern="(.+)" /> <!-- pattern => C:4 = topic name -->
                                <add input="{DE-Tab:{C:3}}" pattern="(.+)" /> <!-- pattern => C:5 = new tab name -->
                                
                            </conditions>
                            <action type="Redirect" url="data-explorer/{C:4}/?id={C:1}#display={C:5}" appendQueryString="False" redirectType="Permanent" />
                            
                        </rule>
                        
                    </rules>
                    
                </rewrite>

                <!-- <httpRedirect enabled="false" destination="gcappbesp307.health.dohmh.nycnet" exactDestination="true" /> -->

                <caching enabled="true" enableKernelCache="true" />
                <httpCompression sendCacheHeaders="true" noCompressionForProxies="false" staticCompressionIgnoreHitFrequency="true" />
                <urlCompression doDynamicCompression="false" />

            </system.webServer>
            <system.net>
                <defaultProxy useDefaultCredentials="true">
                    <proxy usesystemdefault="False" proxyaddress="http://172.16.12.12:8080" bypassonlocal="True" />
                </defaultProxy>
            </system.net>
            <runtime>
                <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
                    <dependentAssembly>
                        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
                        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
                    </dependentAssembly>
                    <dependentAssembly>
                        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
                        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
                    </dependentAssembly>
                </assemblyBinding>
            </runtime>
            <entityFramework>
                <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
                <providers>
                    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
                </providers>
            </entityFramework>
        </configuration>