<h3 class="h3 cp-sticky-header">Did congestion pricing affect air quality <span id="site-prep">near the</span> <span style="color:blue" id="site-name">SITE</span>?</h3>

<div class="row justify-content-center mt-2">
    <div class="col-12 col-md-2">
        <div class="sticky-top" style="top: 42px;">
            <div id="cpSiteButtons" class="btn-group-vertical w-100" style="gap: 6px;" role="group" aria-label="Choose site"></div>
        </div>
    </div>

    <div class="col-12 col-md-10">

        <div id="EJ_text" class="fs-rg">
            <p></p>
        </div>

        <hr class="my-1">

        <p class="fs-md">Data source: <span class="badge badge-pill badge-light fs-sm" style="color: #007153"><i class="fas fa-smog mr-1" aria-hidden="true"></i>Integrated monitors</span></p>

            <div id="cpVis" style="width: 100%; max-width: 1000px;" class="my-2"></div>

            <div id="aqChangeVis" style="width: 100%; max-width: 1000px;" class="my-2 border-top border-bottom py-2"></div>

    </div>
</div>
