<div id="cpRegional" class="cp-inline-map"></div>

<style>
    #cpRegional {
        width: 100%;
        height: 400px;
    }
</style>

<script>
    (function () {
        if (typeof L !== 'object' || typeof d3 !== 'object') {
            console.error('Leaflet or D3 is not available for cpRegional.');
            return;
        }

        var mapElement = document.getElementById('cpRegional');
        if (!mapElement || mapElement.dataset.mapInitialized === 'true') {
            return;
        }

        mapElement.dataset.mapInitialized = 'true';

        var map = L.map('cpRegional', { minZoom: 2, maxZoom: 16 }).setView([41.118333, -73.336667], 8);

        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
        }).addTo(map);

        var regionalDataUrl = '{{ relURL "data-features/congestion-pricing-report/embeds/RegionalSites.csv" }}';
        var stateColorMap = {
            'New York': '#2b6cb0',
            'New Jersey': '#276749',
            'Connecticut': '#9b2c2c'
        };

        d3.csv(regionalDataUrl).then(function (sites) {
            sites.forEach(function (siteData) {
                var state = siteData.State || 'New York';
                var fillColor = stateColorMap[state] || '#2b6cb0';

                var site = L.circleMarker([Number(siteData.Lat), Number(siteData.Long)], {
                    radius: 8,
                    fillColor: fillColor,
                    color: '#333',
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.9
                })
                    .bindPopup('<strong>' + siteData['Site Name'] + '</strong><br>' + siteData.County + ' County, ' + siteData.State + '<br><strong>Monitor type:</strong> ' + siteData.Type)
                    .addTo(map);

                site.on('click', function (event) {
                    map.setView(event.latlng, 13);
                });
            });

            map.invalidateSize();
        });
    })();
</script>