{{- $layout := .layout -}}

<style>
    .accordion-group .card {
        background-color: #f2f2f2;
        margin: 0px;
    }
</style>

{{- if eq $layout "double" -}}
    <div class="row">
        <div class="col-12">
            <!-- Topics by category -->
            <div class="accordion-group" role="tablist" id="accordion-02">
                <div class="card mb-1">

                    <strong><a class="card-header collapse"
                         id="acc-button-01" data-toggle="collapse"
                         href="#panel-acc-button-01" role="tab"
                         aria-expanded="false"
                         aria-controls="panel-acc-button-01">
                         <span class="title" role="heading"
                             aria-level="3">Air quality and health</span>
                     </a></strong>

                     <div class="collapse show" id="panel-acc-button-01"
                         role="tabpanel" aria-labelledby="acc-button-01"
                         data-parent="#accordion-02">

                         <div class="card-body bg-white">
                             <ul>
                                 {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "airquality")) "Title" "asc") }}
                                     <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                     </li>
                                 {{end}}
                                 </ul>
                         </div>

                     </div>
                     <!-- .collapse -->

                 </div>
                 <!-- .AQ card -->

                 <div class="card mb-1">

                    <strong><a class="card-header   collapse collapsed"
                        id="acc-button-07" data-toggle="collapse"
                        href="#panel-acc-button-07" role="tab"
                        aria-expanded="false"
                        aria-controls="panel-acc-button-07">
                        <span class="title" role="heading"
                            aria-level="3">Child health</span>
                    </a></strong>

                    <div class="collapse" id="panel-acc-button-07"
                        role="tabpanel" aria-labelledby="acc-button-07"
                        data-parent="#accordion-02">

                        <div class="card-body bg-white">
                            <ul>
                                {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "childhealth")) "Title" "asc") }}
                                    <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                    </li>
                                {{end}}
                                </ul>
                        </div>

                    </div>
                    <!-- .collapse -->

                </div>
                <!-- .child health card -->

                 <div class="card mb-1">

                     <strong><a class="card-header collapse collapsed"
                         id="acc-button-02" data-toggle="collapse"
                         href="#panel-acc-button-02" role="tab"
                         aria-expanded="false"
                         aria-controls="panel-acc-button-02">
                         <span class="title" role="heading"
                             aria-level="3">Climate and health</span>
                     </a></strong>

                     <div class="collapse" id="panel-acc-button-02"
                         role="tabpanel" aria-labelledby="acc-button-02"
                         data-parent="#accordion-02">

                         <div class="card-body bg-white">
                             <ul>
                                 {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "climatehealth")) "Title" "asc") }}
                                     <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                     </li>
                                 {{end}}
                                 </ul>
                         </div>

                     </div>
                     <!-- .collapse -->

                 </div>
                 <!-- .Climate card -->

                 <div class="card mb-1">

                    <strong><a class="card-header collapse collapsed"
                        id="acc-button-09" data-toggle="collapse"
                        href="#panel-acc-button-09" role="tab"
                        aria-expanded="false"
                        aria-controls="panel-acc-button-09">
                        <span class="title" role="heading"
                            aria-level="3">Food and drink</span>
                    </a></strong>

                    <div class="collapse" id="panel-acc-button-09"
                        role="tabpanel" aria-labelledby="acc-button-09"
                        data-parent="#accordion-02">

                        <div class="card-body bg-white">
                            <ul>
                                {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "foodanddrink")) "Title" "asc") }}
                                    <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                    </li>
                                {{end}}
                                </ul>
                        </div>

                    </div>
                    <!-- .collapse -->

                </div>
                <!-- .food card -->

                 <div class="card mb-1">

                    <strong> <a class="card-header collapse collapsed"
                         id="acc-button-03" data-toggle="collapse"
                         href="#panel-acc-button-03" role="tab"
                         aria-expanded="false"
                         aria-controls="panel-acc-button-03">
                         <span class="title" role="heading"
                             aria-level="3">Housing and health</span>
                     </a></strong>

                     <div class="collapse" id="panel-acc-button-03"
                         role="tabpanel" aria-labelledby="acc-button-03"
                         data-parent="#accordion-02">

                         <div class="card-body bg-white">
                             <ul>
                                 {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "housing")) "Title" "asc") }}
                                     <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                     </li>
                                 {{end}}
                                 </ul>
                         </div>

                     </div>
                     <!-- .collapse -->

                 </div>
                 <!-- .Housing card -->

                 <div class="card mb-1">

                     <strong><a class="card-header  collapse collapsed"
                         id="acc-button-04" data-toggle="collapse"
                         href="#panel-acc-button-04" role="tab"
                         aria-expanded="false"
                         aria-controls="panel-acc-button-04">
                         <span class="title" role="heading"
                             aria-level="3">Health equity</span>
                     </a></strong>

                     <div class="collapse" id="panel-acc-button-04"
                         role="tabpanel" aria-labelledby="acc-button-04"
                         data-parent="#accordion-02">

                         <div class="card-body bg-white">
                             <ul>
                                 {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "social")) "Title" "asc") }}
                                     <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                     </li>
                                 {{end}}
                                 </ul>
                         </div>

                     </div>
                     <!-- .collapse -->

                 </div>
                 <!-- .HE card -->


                 <div class="card mb-1">

                    <strong><a class="card-header  collapse collapsed"
                        id="acc-button-06" data-toggle="collapse"
                        href="#panel-acc-button-06" role="tab"
                        aria-expanded="false"
                        aria-controls="panel-acc-button-06">
                        <span class="title" role="heading"
                            aria-level="3">Health outcomes</span>
                    </a></strong>

                    <div class="collapse" id="panel-acc-button-06"
                        role="tabpanel" aria-labelledby="acc-button-06"
                        data-parent="#accordion-02">

                        <div class="card-body bg-white">
                            <ul>
                                {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "healthoutcomes")) "Title" "asc") }}
                                    <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                    </li>
                                {{end}}
                                </ul>
                        </div>

                    </div>
                    <!-- .collapse -->

                </div>
                <!-- .Outcomes card -->




                 <div class="card mb-1">

                     <strong><a class="card-header  collapse collapsed"
                         id="acc-button-08" data-toggle="collapse"
                         href="#panel-acc-button-08" role="tab"
                         aria-expanded="false"
                         aria-controls="panel-acc-button-08">
                         <span class="title" role="heading"
                             aria-level="3">Pests and pesticides</span>
                     </a></strong>

                     <div class="collapse" id="panel-acc-button-08"
                         role="tabpanel" aria-labelledby="acc-button-08"
                         data-parent="#accordion-02">

                         <div class="card-body bg-white">
                             <ul>
                                 {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "pests")) "Title" "asc") }}
                                     <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                     </li>
                                 {{end}}
                                 </ul>
                         </div>

                     </div>
                     <!-- .collapse -->

                 </div>
                 <!-- .Pests card -->


                 <div class="card mb-1">

                    <strong><a class="card-header  collapse collapsed"
                        id="acc-button-05" data-toggle="collapse"
                        href="#panel-acc-button-05" role="tab"
                        aria-expanded="false"
                        aria-controls="panel-acc-button-05">
                        <span class="title" role="heading"
                            aria-level="3">Public space</span>
                    </a></strong>

                    <div class="collapse" id="panel-acc-button-05"
                        role="tabpanel" aria-labelledby="acc-button-05"
                        data-parent="#accordion-02">

                        <div class="card-body bg-white">
                            <ul>
                                {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "transportation")) "Title" "asc") }}
                                    <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                    </li>
                                {{end}}
                                </ul>
                        </div>

                    </div>
                    <!-- .collapse -->

                </div>
                <!-- .AD card -->

            </div>


            <!-- All topics -->
            <div class="accordion-group" role="tablist" id="accordion-03">
                <div class="card mb-1">

                    <strong><a class="card-header collapse collapsed"
                        id="acc-button-10-1" data-toggle="collapse"
                        href="#panel-acc-button-10-1" role="tab"
                        aria-expanded="false"
                        aria-controls="panel-acc-button-10-1">
                        <span class="title" role="heading"
                            aria-level="3">All Topics</span>
                    </a></strong>

                    <div class="collapse" id="panel-acc-button-10-1"
                        role="tabpanel" aria-labelledby="acc-button-10-1"
                        data-parent="#accordion-03">

                        <div class="card-body bg-white">
                            <ul>

                                {{/*  range through data explorer pages to add links to topic choosers  */ -}}

                                {{- range ( where $.context.Site.RegularPages.ByTitle "Section" "data-explorer") -}}

                                    {{- /*  don't add links to the data index or data reference pages  */ -}}

                                    {{- if not ( or ( strings.Contains .RelPermalink "data-index" ) ( strings.Contains .RelPermalink "indicator-catalog" ) ) -}}

                                        <li><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>

                                    {{ end -}}

                                {{- end -}}

                                </ul>
                        </div>

                    </div>
                    <!-- .collapse -->

                </div>
                <!-- .all card -->
            </div>
        </div>
    </div>

{{- else if eq $layout "single"}}
<div class="row no-gutters">
    <div class="col-12">

        <div class="accordion-group" role="tablist" id="accordion-01">

            <div class="card">

               <strong><a class=" collapse"
                    id="acc-button-01" data-toggle="collapse"
                    href="#panel-acc-button-01" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-01">
                    <span class="title" role="heading"
                        aria-level="3">Air Quality</span>
                </a></strong>

                <div class="collapse show" id="panel-acc-button-01"
                    role="tabpanel" aria-labelledby="acc-button-01"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "airquality")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .AQ card -->

            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-07" data-toggle="collapse"
                    href="#panel-acc-button-07" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-07">
                    <span class="title" role="heading"
                        aria-level="3">Child health</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-07"
                    role="tabpanel" aria-labelledby="acc-button-07"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "childhealth")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .child health card -->

            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-02" data-toggle="collapse"
                    href="#panel-acc-button-02" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-02">
                    <span class="title" role="heading"
                        aria-level="3">Climate</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-02"
                    role="tabpanel" aria-labelledby="acc-button-02"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "climatehealth")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .Climate card -->

            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-09" data-toggle="collapse"
                    href="#panel-acc-button-09" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-09">
                    <span class="title" role="heading"
                        aria-level="3">Food and drink</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-09"
                    role="tabpanel" aria-labelledby="acc-button-09"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "foodanddrink")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .food card -->

            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-04" data-toggle="collapse"
                    href="#panel-acc-button-04" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-04">
                    <span class="title" role="heading"
                        aria-level="3">Health equity</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-04"
                    role="tabpanel" aria-labelledby="acc-button-04"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "social")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .HE card -->

            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-06" data-toggle="collapse"
                    href="#panel-acc-button-06" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-06">
                    <span class="title" role="heading"
                        aria-level="3">Health outcomes</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-06"
                    role="tabpanel" aria-labelledby="acc-button-06"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "healthoutcomes")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .Outcomes card -->

            <div class="card border">

               <strong> <a class=" collapse collapsed"
                    id="acc-button-03" data-toggle="collapse"
                    href="#panel-acc-button-03" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-03">
                    <span class="title" role="heading"
                        aria-level="3">Housing</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-03"
                    role="tabpanel" aria-labelledby="acc-button-03"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "housing")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .Housing card -->


            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-08" data-toggle="collapse"
                    href="#panel-acc-button-08" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-08">
                    <span class="title" role="heading"
                        aria-level="3">Pests and pesticides</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-08"
                    role="tabpanel" aria-labelledby="acc-button-08"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "pests")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .Pests card -->



            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-05" data-toggle="collapse"
                    href="#panel-acc-button-05" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-05">
                    <span class="title" role="heading"
                        aria-level="3">Active design / Transportation</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-05"
                    role="tabpanel" aria-labelledby="acc-button-05"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>
                            {{ range (sort (where ( where $.context.Site.RegularPages "Section" "data-explorer") "Params.categories" "intersect" (slice "transportation")) "Title" "asc") }}
                                <li><a href="{{ .RelPermalink}}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                            </ul>
                    </div>

                </div>
                <!-- .collapse -->

            </div>
            <!-- .AD card -->









            <hr class="my-1">

            <div class="card border">

                <strong><a class=" collapse collapsed"
                    id="acc-button-10" data-toggle="collapse"
                    href="#panel-acc-button-10-2" role="tab"
                    aria-expanded="false"
                    aria-controls="panel-acc-button-10-2">
                    <span class="title" role="heading"
                        aria-level="3">All topics</span>
                </a></strong>

                <div class="collapse" id="panel-acc-button-10-2"
                    role="tabpanel" aria-labelledby="acc-button-10"
                    data-parent="#accordion-01">

                    <div class="card-body bg-white">
                        <ul>

                            {{/*  range through data explorer pages to add links to topic choosers  */ -}}

                            {{- range ( where $.context.Site.RegularPages.ByTitle "Section" "data-explorer") -}}

                                {{- /*  don't add links to the data index or data reference pages  */ -}}

                                {{- if not ( or ( strings.Contains .RelPermalink "data-index" ) ( strings.Contains .RelPermalink "indicator-catalog" ) ) -}}

                                    <li><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>

                                {{ end -}}

                            {{- end -}}

                        </ul>
                </div>

            </div>
                <!-- .collapse -->

            </div>
            <!-- .all card -->

        </div>
        <!-- .accordion-group -->

    </div>
</div>
{{ end }}