<footer class="bg-black" id="global-footer" role="contentinfo">

  <h2 class="sr-only">
      Page Footer
  </h2>

  <div class="bg-opacity-black-25 text-white" id="nyc-footer">

      <div class="container py-3 d-none" id="languages">

          <div class="row fs-md d-print-none">

              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="ar">عربى</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="bn">বাঙালি</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="zh-CN">中文</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="fr">français</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="ht">Kreyòl Ayisyen</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="ko">한국어</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="pl">Polskie</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="ru">русский</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="es">Español</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="ur">اردو</a></li>
                  </ul>
              </div>
          </div>

      </div>
      <!-- #languages -->

      <div class="container py-3 d-print-none" id="languages">

          <ul class="fs-md" role="list">
              <li><a class="lang-select text-reset" href="#" data-lang="ar">عربى</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="bn">বাঙালি</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="zh-CN">中文</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="fr">français</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ht">Kreyòl Ayisyen</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ko">한국어</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="pl">Polskie</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ru">русский</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="es">Español</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ur">اردو</a></li>
          </ul>

      </div>
      <!-- #languages -->

      <hr class="opacity-10" aria-hidden="true">

      <div class="container py-3">
          <div class="row">
              <div class="col-md-6 col-lg-8 mb-3 mb-lg-0">
                  <nav class="row fs-md d-print-none" role="navigation">
                      <div class="col-lg mb-3 mb-lg-0">
                          <ul class="extensible-list">
                              <li>
                                  <a class="text-reset" href="https://www1.nyc.gov/nyc-resources/agencies.page">
                                      <strong>Directory of City Agencies</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://a858-nycnotify.nyc.gov/notifynyc/">
                                      <strong>Notify NYC</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset"
                                      href="https://www1.nyc.gov/connect/mobile-applications.page">
                                      <strong>NYC Mobile Apps</strong>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <!-- .col -->

                      <div class="col-lg mb-3 mb-lg-0">

                          <ul class="extensible-list">
                              <li>
                                  <a class="text-reset" href="https://www1.nyc.gov/home/contact-us.page">
                                      <strong>Contact NYC Government</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://a856-citystore.nyc.gov/">
                                      <strong>CityStore</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://www.nyc.gov/nyc-resources/nyc-maps.page">
                                      <strong>Maps</strong>
                                  </a>
                              </li>
                          </ul>

                      </div>
                      <!-- .col -->

                      <div class="col-lg mb-3 mb-lg-0">

                          <ul class="extensible-list">
                              <li>
                                  <a class="text-reset"
                                      href="https://a127-ess.nyc.gov/psp/prdess/?cmd=login&languageCd=ENG&">
                                      <strong>City Employees</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://www1.nyc.gov/connect/social-media.page">
                                      <strong>Stay Connected</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset"
                                      href="https://www1.nyc.gov/nyc-resources/resident-toolkit.page">
                                      <strong>Resident Toolkit</strong>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <!-- .col -->

                  </nav>
              </div>
              <!-- .col -->

              <div class="col-md-6 col-lg-4">

                  <a class="mb-2" href="https://www1.nyc.gov" title="Go to nyc.gov" target="_blank" rel="noopener noreferrer">
                      {{ $logo := resources.Get "images/nyc-bubble-logo.svg" }}
                      <img class="mb-2" src="{{ $logo.RelPermalink }}" width="90" alt="NYC Logo">
                      <span class="sr-only">(opens in a new tab)</span>
                  </a>
                  <p class="fs-sm">© City of New York. 2022 All Rights Reserved,<br>NYC is a trademark and service mark of the City of New
                    York.</p>

                  <ul class="extensible-list horizontal fs-sm d-print-none">
                      <li>
                          <a class="text-reset" href="https://www1.nyc.gov/home/privacy-policy.page">Privacy
                              Policy</a>
                      </li>
                      <li>
                          <a class="text-reset" href="https://www1.nyc.gov/home/terms-of-use.page">Terms
                              of Use</a>
                      </li>
                      <li>
                          <a class="text-reset" href="https://www1.nyc.gov/site/mopd/index.page"
                              title="Mayor's Office for People with Disabilities">
                              <span class="sr-only">Learn more about Digital Accessibility
                                from the Mayor's Office for People with Disabilities.</span>
                              <span class="fab fa-lg fa-accessible-icon"></span>
                          </a>
                      </li>
                  </ul>

              </div>
              <!-- .col -->

          </div>
          <!-- .row -->

      </div>
      <!-- .container -->

  </div>
  <!-- #nyc-bottom-footer -->

</footer>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel" data-pagefind-ignore="all">Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <link href={{ relURL "pagefind/pagefind-ui.css" }} rel="stylesheet">
            <script src={{ relURL "pagefind/pagefind-ui.js" }} type="text/javascript"></script>
            <div id="search"></div>
            <script>

                window.addEventListener('DOMContentLoaded', (event) => {

                    new PagefindUI({
                        element: "#search",
                        showSubResults: true,
                        showImages: false,
                        baseUrl: baseURL,
                        showEmptyFilters: true,
                        debounceTimeoutMs: 500,
                        // autofocus: true,
                        processTerm: function (term) {

                            gtag('event', 'search', {
                                search_term: term
                            });

                            return term;

                        },
                        processResult: function (result) {

                            // ----------------------------------------------------------------------- //
                            // clean some fields
                            // ----------------------------------------------------------------------- //

                            // replace (in place) HTML entites in titles

                            result.meta.title = result.meta.title
                                .replace(/&#(\d+);/g, ((match, dec) => `${String.fromCharCode(dec)}`))
                                .replaceAll("&amp;", "&");
                            
                            // process sub-results

                            result.sub_results.forEach(sub => {

                                // replace (in place) default DE indicatore anchor with DE query string

                                sub.url = sub.url.replace("#IndicatorID-", "?id=");

                                // replace (in place) HTML entites in titles

                                sub.title = sub.title
                                    .replace(/&#(\d+);/g, ((match, dec) => `${String.fromCharCode(dec)}`))
                                    .replaceAll("&amp;", "&");

                            });

                            // ----------------------------------------------------------------------- //
                            // add Google Analytics tag to each result
                            // ----------------------------------------------------------------------- //

                            // Get all search results
                            var allResults = document.getElementsByClassName('pagefind-ui__result-link');

                            // add a click listener to each result
                            for (h = 0; h < allResults.length; h += 1) {

                                allResults[h].setAttribute('onclick',"gtag('event', 'search_click', { page_viewed: '" + allResults[h].href + "' });");

                            }

                            // log results to console for debugging

                            console.log("@ result:", result);
                            // result.sub_results.forEach(r => console.log("<> sub url:", r.url));

                        }
                    });

                    // set focus into box when loaded, b/c autofocus attr doesn't work on bootstrap modals

                    // https://getbootstrap.com/docs/4.3/components/modal/

                    const searchModal = document.getElementById('searchModal')
                    const searchInput = document.getElementsByClassName('pagefind-ui__search-input')[0]

                    $(searchModal).on('shown.bs.modal', () => {
                        searchInput.focus();
                        searchInput.select();
                    })


                });


            </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<script>


</script>