<footer class="bg-black" id="global-footer" role="contentinfo">

  <h2 class="sr-only">
      Page Footer
  </h2>

  <div class="bg-opacity-black-25 text-white" id="nyc-footer">

      <div class="container py-3 d-none" id="languages">

          <div class="row fs-md">

              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="ar">عربى</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="bn">বাঙালি</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="zh-CN">中文</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="fr">français</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="ht">Kreyòl Ayisyen</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="ko">한국어</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="pl">Polskie</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="ru">русский</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md-4 col-lg">
                  <ul class="extensible-list">
                      <li><a class="lang-select text-reset" href="#" data-lang="es">Español</a></li>
                      <li><a class="lang-select text-reset" href="#" data-lang="ur">اردو</a></li>
                  </ul>
              </div>
          </div>

      </div>
      <!-- #languages -->

      <div class="container py-3" id="languages">

          <ul class="fs-md" role="list">
              <li><a class="lang-select text-reset" href="#" data-lang="ar">عربى</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="bn">বাঙালি</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="zh-CN">中文</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="fr">français</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ht">Kreyòl Ayisyen</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ko">한국어</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="pl">Polskie</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ru">русский</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="es">Español</a></li>
              <li><a class="lang-select text-reset" href="#" data-lang="ur">اردو</a></li>
          </ul>

      </div>
      <!-- #languages -->

      <hr class="opacity-10" aria-hidden="true">

      <div class="container py-3">

          <div class="row">

              <div class="col-md-6 col-lg-8 mb-3 mb-lg-0">

                  <nav class="row fs-md" role="navigation">

                      <div class="col-lg mb-3 mb-lg-0">

                          <ul class="extensible-list">
                              <li>
                                  <a class="text-reset" href="https://www1.nyc.gov/nyc-resources/agencies.page">
                                      <strong>City Agencies</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://a858-nycnotify.nyc.gov/notifynyc/">
                                      <strong>Notify NYC</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset"
                                      href="https://www1.nyc.gov/connect/mobile-applications.page">
                                      <strong>NYC Mobile Apps</strong>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <!-- .col -->

                      <div class="col-lg mb-3 mb-lg-0">

                          <ul class="extensible-list">
                              <li>
                                  <a class="text-reset" href="https://www1.nyc.gov/home/contact-us.page">
                                      <strong>Contact NYC Government</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://a856-citystore.nyc.gov/">
                                      <strong>CityStore</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://maps.nyc.gov/doitt/nycitymap/">
                                      <strong>Maps</strong>
                                  </a>
                              </li>
                          </ul>

                      </div>
                      <!-- .col -->

                      <div class="col-lg mb-3 mb-lg-0">

                          <ul class="extensible-list">
                              <li>
                                  <a class="text-reset"
                                      href="https://a127-ess.nyc.gov/psp/prdess/?cmd=login&languageCd=ENG&">
                                      <strong>City Employees</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset" href="https://www1.nyc.gov/connect/social-media.page">
                                      <strong>Stay Connected</strong>
                                  </a>
                              </li>
                              <li>
                                  <a class="text-reset"
                                      href="https://www1.nyc.gov/nyc-resources/resident-toolkit.page">
                                      <strong>Resident Toolkit</strong>
                                  </a>
                              </li>
                          </ul>

                      </div>
                      <!-- .col -->

                  </nav>

              </div>
              <!-- .col -->

              <div class="col-md-6 col-lg-4">

                  <a class="mb-2" href="https://www1.nyc.gov" title="Go to nyc.gov" target="_blank">
                      {{ $logo := resources.Get "images/nyc-bubble-logo.svg" }}
                      <img class="mb-2" src="{{ $logo.Permalink }}" width="90" alt="NYC Logo">
                      <span class="sr-only">(opens in a new tab)</span>
                  </a>
                  <p class="fs-sm">City of New York - 2019 All Rights Reserved. NYC is a trademark and service
                      mark of the City of New York.</p>

                  <ul class="extensible-list horizontal fs-sm">
                      <li>
                          <a class="text-reset" href="https://www1.nyc.gov/home/privacy-policy.page">Privacy
                              Policy</a>
                      </li>
                      <li>
                          <a class="text-reset" href="https://www1.nyc.gov/home/terms-of-use.page">Terms
                              of Use</a>
                      </li>
                      <li>
                          <a class="text-reset" href="https://www1.nyc.gov/site/mopd/index.page"
                              title="Mayor's Office for People with Disabilities">
                              <span class="sr-only">Mayor's Office for People with Disabilities</span>
                              <span class="fab fa-lg fa-accessible-icon"></span>
                          </a>
                      </li>
                  </ul>

              </div>
              <!-- .col -->

          </div>
          <!-- .row -->

      </div>
      <!-- .container -->

  </div>
  <!-- #nyc-bottom-footer -->

</footer>