{{- /*  
    a more-or-less drop-in replacement for the pattern:
        $rsrc_secure := resources.Get "path/to/resource" | fingerprint "sha512" 
    
    returns a resource object with a shorter hash path, but with all the rest the same

*/ -}}

{{/*  get resource from supplied path  */}}

{{ $rsrc := resources.Get . }}

{{/*  fingerprinted file with Data.Integrity  */}}

{{ $rsrc_secure := $rsrc | fingerprint "sha512" }}

{{/*  call the name method to short-circuit whatever process causes the fingerprinted file to be written instead of the copied file ¯\_(ツ)_/¯  */}}

{{ $rsrc_secure.Name }}

{{/*  compute a short hash for the filename, for cache busting */}}

{{ $rsrc_hash := $rsrc.Content | xxhash }}

{{/*  path of file with short hash in the name  */}}

{{ $relperm := . }}

{{ $short_relperm := replaceRE `(\.rsrc$)` ( print "." $rsrc_hash ".rsrc" ) $relperm }}
{{ $short_perm := replaceRE `(\.rsrc$)` ( print "." $rsrc_hash ".rsrc" ) $relperm  }}

{{/*  copy & publish resource to the short_path location  */}}

{{ $rsrc_secure_short := "" }}

{{ with $rsrc_secure }}
    {{ with resources.Copy $short_relperm . }}
        {{ $rsrc_secure_short = . }}
    {{ end }}
{{ end }}

{{/*  return  */}}

{{ return $rsrc_secure_short }}