<!-- For keyboard users -->
<a class="sr-only sr-only-focusable skip-menu" href="#skip-header-target">Skip Header</a>

<header id="global-header" role="banner">

    <div class="bg-black text-white" id="nyc-top-header">

        <div class="container-fluid wide">

            <div class="row py-1 align-items-center justify-content-between">

                <div class="col-auto">
                    <p class="d-none d-md-flex fs-md">
                        <a class="text-reset" href="https://www1.nyc.gov/">
                            <strong>nyc.gov</strong>
                        </a>
                        <span class="mx-1" aria-hidden="true">></span>
                        <a class="text-reset" href="https://www1.nyc.gov/">
                            Health
                        </a>
                        <span class="mx-1" aria-hidden="true">></span>
                        <a class="text-reset" href={{ relURL "" }}>
                        EH Data Portal
                        </a>
                    </p>
                </div>
                <!-- .col -->

                <div class="col-auto">

                    <ul class="extensible-list horizontal fs-md">
                        <li>
                            <a class="text-reset" href="https://www1.nyc.gov/">
                                <strong>
                                    311
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a class="text-reset" href="https://www1.nyc.gov/home/search/index.page">
                                <strong>
                                    Search all NYC.gov
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="https://www1.nyc.gov/" title="Go to nyc.gov">
                                <img class="d-block" src={{ relURL "images/nyc-bubble-logo.svg" }} width="45" alt="NYC Logo">
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- .col -->

            </div>
            <!-- .row -->

        </div>
        <!-- .container-fluid -->

    </div>
    <!-- #nyc-top-header -->

    <div class="container-fluid collapse d-lg-block px-0 border-lg-top border-lg-bottom d-print-none" id="nav-primary">

        <div class="wide">

            <nav class="nav nav-pills border-right justify-content-center" role="navigation">

                {{- $currentPage := . -}}

            <span id="File.Path" style="display: none">{{ with $currentPage.File }}{{- .Path -}}{{ end }}</span>
            <span id="FirstSection.RelPermalink" style="display: none">{{ $currentPage.FirstSection.RelPermalink }}</span>

            <div class="nav-item-search border-right">
                <a class="nav-link" id="nav-item-01" href={{ relURL "" }}>
                <span class='text-primary'><i class='fa fa-home' aria-hidden='true'></i><span class="sr-only">Home</span></span>
                </a>
            </div>

                {{- range .Site.Menus.main -}}

                {{- if (ne .Name "Search") -}}

                <div class="nav-item {{- if (eq $currentPage.FirstSection.RelPermalink .URL) }} active {{- end -}}">

                    <a class="nav-link" href="{{ .URL }}" id="nav-item-{{ .Identifier }}">{{ .Pre }} {{ .Name }}</a>

                </div>

                {{- else -}}

                {{/*  <button class="btn nav-item-search d-none d-lg-block" type="button" title="Search"
                        data-toggle="collapse" data-target="#global-search"
                        aria-controls="global-search" aria-expanded="false">  */}}

                    <button type="button" data-toggle="modal" data-target="#searchModal" class="btn nav-item-search d-none d-lg-block" title="Search">

                        <span class="sr-only">Search</span>
                        <i class="fa fa-magnifying-glass fa-lg text-body mt-1"></i>

                    </button>

                {{/*  </button>  */}}

                {{- end -}}

                <!-- .nav-item -->
                {{- end -}}

            </nav>

        </div>

    </div>

    <div class="container-fluid-lg border-top collapse" id="global-search">

        <form class="narrow py-2" aria-label="Search" role="search">

            <div class="input-group">

                <label class="sr-only" for="global-search-bar">Search</label>

                <input class="form-control form-control-lg" id="global-search-bar" placeholder="Search">

                <div class="input-group-btn">

                    <button class="btn btn-primary btn-lg" type="button" title="Search">

                        <span class="sr-only">Search</span>
                        <span class="fas fa-arrow-right"></span>

                    </button>

                </div>

            </div>

        </form>


        <!-- .wide -->

</div>
</header>
<!-- #global-header -->