<div
  class="modal fade"
  id="noteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="noteModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalTitle" data-pagefind-ignore="all">
          Correction memo
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="my-2 p-1">
          <strong>Corrections to 2023 and 2024 Health Department NYC Heat-Related
            Mortality Reports</strong>
          
          <p>
            In December 2024, we identified an error in our heat mortality
            analytic code that resulted in an underestimate in the annual number
            of heat-exacerbated deaths above 82°F in our 2023 and 2024 NYC
            Heat-Related Mortality Reports. The error was due to a typo in the
            estimation of heat-exacerbated deaths resulting in an underestimated
            annual count of 340 deaths. We have corrected the error and also
            updated the analysis to better account for temporal patterns in
            Covid-19 mortality. These are the corrected estimates:
          </p>
          <ul>
            <li>
              From 2017 to 2021, there was an average of <strong>568 (95% confidence
              interval: 223, 874)</strong> heat-exacerbated deaths (caused indirectly by
              heat aggravating an underlying illness) per year <a href="{{ .Site.BaseURL | relURL }}/data-features/heat-report">(2024 NYC
                Heat-Related Mortality Report)</a>.
            </li>
            <li>
              From 2016 to 2020, there was an average of <strong>555 (95% confidence
              interval: 227, 871)</strong> heat-exacerbated deaths (caused indirectly by
              heat aggravating an underlying illness) per year <a href="{{ .Site.BaseURL | relURL }}/data-features/heat-report-archive/2023">(2023 NYC
                Heat-Related Mortality Report)</a>.
            </li>
            <li>
              Estimates of heat-exacerbated deaths in both the 2023 (2016-2020)
              and 2024 (2017-2021) reports accounted for about 3% of all natural
              cause deaths during the warm seasons from May through September.
            </li>
          </ul>
          <p>
            The overall pattern of deaths above 82°F over time is similar before
            and after the correction – decreasing since the 1970s followed by a
            plateau after 2000, and increasing in the past decade with similar
            rates for the most recent two 5-year periods. Patterns in
            heat-exacerbated mortality risk have not changed, and estimates have
            been updated in the reports. Trends in weather, community-level
            impacts, and heat stress deaths are also unchanged.
            <strong></strong>
              Our conclusions about how to prevent and reduce heat-related
              mortality remain the same.</strong
            >
          </p>
          <p>
            Our <a href="{{ .Site.BaseURL | relURL }}/data-features/heat-report-archive/2021">2021</a>
            and <a href="{{ .Site.BaseURL | relURL }}/data-features/heat-report-archive/2022">2022</a>
            reports were not affected. Estimates for the 2021
            report (347 average annual deaths) and 2022 report (364 average
            annual deaths) are smaller because they are averages of 9 years of
            data, including years when the numbers of heat-exacerbated deaths
            were lower. In 2023 we updated our analyses to use 5-year averages
            to better identify shorter-term changes in temperature and
            heat-related mortality trends, given the accelerating pace of rising
            temperatures. The shorter time period has a trade-off of more
            uncertainty, as seen in the wider confidence intervals around the
            estimates.
          </p>
          <p>
            We have updated the relevant text and figures of the 2023 and 2024
            reports and appendix. We have instituted additional internal data
            verification procedures to mitigate the potential for similar and
            other mistakes.
          </p>
          <p>We sincerely apologize for this error.</p>
          <p><a href="{{ .Site.BaseURL | relURL }}/pdf/heat-report-correction-memo.pdf">Download this correction memo (PDF)</a>.</p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
