<!-- Popper.js and Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Google Translate -->
<script>
  function googleTranslateElementInit() {
      new google.translate.TranslateElement({
          pageLanguage: 'en'
      }, 'google_translate_element');
  }
</script>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<!-- NYC template JS (RTL, search and language toggle, back to top)  -->
{{ $js := resources.Get "js/main.js" }}
{{ $js := resources.Get "js/search.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>