<!-- Popper.js and Bootstrap JS -->

<!-- need to include popper first; umd is non-module version -->

{{- $popper := resources.Get "node_modules/popper.js/dist/umd/popper.min.js" | resources.Fingerprint "sha512" }}
<script src="{{ $popper.RelPermalink }}" integrity="{{ $popper.Data.Integrity }}" crossorigin="anonymous"></script>

{{- $bootstrap := resources.Get "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" | resources.Fingerprint "sha512" }}
<script src="{{ $bootstrap.RelPermalink }}" integrity="{{ $bootstrap.Data.Integrity }}" crossorigin="anonymous"></script>


<!-- Google Translate -->
<script>
  function googleTranslateElementInit() {
      new google.translate.TranslateElement({
          pageLanguage: 'en'
      }, 'google_translate_element');

      // obliterate all google translate SVGs, which are constantly recalulating styles but are never shown
      document.querySelectorAll("div[class^=VI] svg").forEach(e => e.outerHTML = "");
  }
</script>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


{{- /*  NYC template JS (RTL, search and language toggle, back to top)  */}}

{{- $js := resources.Get "js/main.js" }}
{{- $secureJS := $js | resources.Fingerprint "sha512" }}

<script type="text/javascript" 
    src="{{ $secureJS.RelPermalink }}" 
    integrity="{{ $secureJS.Data.Integrity }}"></script>
