{{- /*  DataTables (core + Buttons + the html5 CSV export extension)  */}}

{{- /*  CSS  */}}

{{- $dataTablesCSS := resources.Get "node_modules/datatables.net-dt/css/jquery.dataTables.min.css" -}}
{{- $dataTablesButtonsCSS := resources.Get "node_modules/datatables.net-buttons-dt/css/buttons.dataTables.min.css" -}}
{{- $dtCSS := slice $dataTablesCSS $dataTablesButtonsCSS | resources.Concat "css/lib-datatables.css" | partial "short-fingerprint.html" }}

<link rel="stylesheet" href="{{ $dtCSS.RelPermalink }}" integrity="{{ $dtCSS.Data.Integrity }}">

{{- /*  JS  */}}

{{- $dataTables := resources.Get "node_modules/datatables.net/js/jquery.dataTables.min.js" }}
{{- $dataTablesButtons := resources.Get "node_modules/datatables.net-buttons/js/dataTables.buttons.min.js" }}
{{- $dataTablesButtonsHtml5 := resources.Get "node_modules/datatables.net-buttons/js/buttons.html5.min.js" }}

{{- $dataTablesBundleJS := slice $dataTables $dataTablesButtons $dataTablesButtonsHtml5 | resources.Concat "js/lib-datatables-bundle.js" | partial "short-fingerprint.html" }}

<script src="{{ $dataTablesBundleJS.RelPermalink }}" integrity="{{ $dataTablesBundleJS.Data.Integrity }}"></script>
