
{{- /* Prepraring neighborhood so it can work to define a path and context for creating a list of other reports in this neighborhood */}}

{{- $removeTrailingSlash := strings.TrimRight "/" .neighborhood_dir -}}
{{- $neighborhood_dir := (print "/" $removeTrailingSlash) -}}

{{- /*  set report filename as a var in the partial's scope  */}}

{{- $report_filename := .report_filename -}}

{{- /*  get reports dir  */}}

{{- $reports := site.GetPage $neighborhood_dir -}}

{{- /*  range through reports in dir to populate the nav, and also set the active report  */}}

{{- with $reports -}}

    {{- range $index, $page := ( sort .Pages "Title" "asc" ) -}}

        {{/*  {{- partial "warn_counter" (print $index " - page: " $page) }}  */}}

        <a href="{{ .RelPermalink }}" class="btn btn-sm btn-outline-primary btn-block{{ if (eq $report_filename $page.File.BaseFileName) }} active{{- end -}}" aria-current="page">
            
            {{- .Title -}}
            
        </a>

    {{- end -}}

{{- end -}}