
{{- $page_link := $.content.RelPermalink -}}
{{- $cats := $.content.Params.categories -}}
{{- $layout := .layout -}}

{{- $extraClass := .extraClass -}}
<!-- range through the section passed into this partial (key-topics) -->
{{- range first 4 (where $.content.Site.RegularPages "Section" .section) -}}
    {{- $page := . }}
    {{- $has_common_cats := intersect $cats .Params.categories | len | lt 0 -}}
        {{- if  $has_common_cats -}}

          {{- if eq $layout "singlelist" -}}
          <a class="text-black" href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
          <hr class="my-2">

          {{- end -}}

        {{- end -}}

{{- end -}}