{{/*  
    this partial takes 4 arguments as a dict:
        - neighborhood
        - borough
        - data - the actual data for this indicator x neighborhood
        - count - the nth indicator in this report topic, used for making unique element IDs
*/}}

<script>
    function renderComparisonChart(n,b,c,nid,bid,cid) {
        // pass into an array
        var values = []

        values.push(Number(n))
        values.push(Number(b))
        values.push(Number(c))

        // drop '*' from string!

        console.log('values:')
        console.log(values)

        // get maximum value
        var max = Math.max(...values)

        // denom for percent widths
        var denom = max * 1.2
        var nWidth = n / denom
        var bWidth = b / denom
        var cWidth = c / denom

        // style chart divs
        document.getElementById(nid).style.width = 100 * nWidth + '%' 
        document.getElementById(bid).style.width = 100 * bWidth + '%'
        document.getElementById(cid).style.width = 100 * cWidth + '%'

    }

    function checkTrend(x,y) {
        if (x == 0 ) {
            document.getElementById('t-'+y).classList.add('hide');
            document.getElementById('ta-'+y).classList.remove('hide');
            console.log(y)
        } else {}
    }

</script>


<!--Modal button also fires getURL() -->

<button data-toggle="modal" data-target="#modal-{{ .data.indicator_data_name }}-{{ .count }}" onclick='getURL({{ .data.IndicatorID }}, "{{ .data.indicator_data_name }}")' class="indicator-anchor">

    {{- $rank := cond ( eq .data.rankReverse true ) ( sub 43 .data.indicator_neighborhood_rank ) ( .data.indicator_neighborhood_rank )  -}}

    {{/*  {{ partial "warn_counter" (print .data.MeasureID " rankReverse: " .data.rankReverse) }}
    {{ partial "warn_counter" (print .data.MeasureID " raw rank: " .data.indicator_neighborhood_rank ) }}
    {{ partial "warn_counter" (print .data.MeasureID " new rank: " $rank ) }}  */}}

    {{- $long_rank := (print "Visualization showing neighborhood rank of " $rank " out of 42 for " .data.indicator_short_name " in " .neighborhood "." ) -}}
    {{- $short_rank := (print $rank " of 42") -}}

    <!-- Table row - Screen only -->
    <div class="row align-items-center d-print-none">
        <div class="col-6 col-md-5">
            <span class="indicator-short-name">{{ .data.indicator_short_name }}</span>
            <div class="print-only">{{- .data.indicator_long_name -}}</div>
        </div>
        <div class="col-6 col-md-4 topic-list">
            <img src="{{ site.Params.data_repo }}{{ site.Params.data_branch }}/neighborhood-reports/images/{{ .data.summary_bar_svg }}" alt="{{ $long_rank }}" width="100%" class="viz d-md-none mb-1">
            {{- if eq (string .data.data_value_rank) "1" -}}<span class="worse">Worse</span>
            {{- else if eq (string .data.data_value_rank) "2" -}}<span class="middle">Middle</span>
            {{- else -}}<span class="better">Better</span>
            {{- end -}}
        </div>
        <div class="d-none d-md-inline col-md-3">
            <img src="{{ site.Params.data_repo }}{{ site.Params.data_branch }}/neighborhood-reports/images/{{ .data.summary_bar_svg }}" alt="{{ $long_rank }}" class="viz">
        </div>
    </div>

    <!-- Table row - Print only -->
    <div class="print-only row">
        <div class="col-4 small border-right">
            <span class="indicator-short-name">{{ .data.indicator_short_name }}</span>
            <div style="font-size: 12px;">{{- .data.indicator_long_name -}}</div>
        </div>
        <div class="col-3 topic-list">
            <img src="{{ site.Params.data_repo }}{{ site.Params.data_branch }}/neighborhood-reports/images/{{ .data.summary_bar_svg }}" alt="{{ $long_rank }}" width="100%" class="viz d-md-none mb-1">
            {{- if eq (string .data.data_value_rank) "1" -}}<span class="worse">Worse</span>
            {{- else if eq (string .data.data_value_rank) "2" -}}<span class="middle">Middle</span>
            {{- else -}}<span class="better">Better</span>
            {{- end -}}
        </div>
        <div class="col-5 border-left">
            <div class="comparison">
                <div class="row">
                    <div class="col">
                        {{ .neighborhood }}: <span class="float-right">{{ .data.data_value_geo_entity }}</span><br>
                        {{ .borough }}: <span class="float-right">{{ .data.data_value_boro }}</span><br>
                        New York City: <span class="float-right">{{ .data.data_value_nyc }}</span>
                     </div>

                </div>
            </div>
            <p style="font-size: 12px;"><em>{{ .data.measurement_type }} {{ .data.units }}</em></p>
        </div>
    </div>

</button>

<!-- Indicator modal -->
<div class="modal fade report-modal" id="modal-{{ .data.indicator_data_name }}-{{ .count }}" tabindex="-1" role="dialog" aria-labelledby="indicatorModalLabel" aria-hidden="true">
   <script>
    // Returns each indicator's year formatted to print to page
     function getYear(x,y) {
        var endDate = new Date(x) ;
        console.log('end date:', endDate) ;
        var year = endDate.getYear() + 1900
        console.log(year)
        document.getElementById(y).innerHTML = year
    }
   </script>
   
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h2 class="modal-title fs-xl" id="indicatorModalLabel" data-pagefind-ignore="all">{{ .data.indicator_short_name }}</h2>
                <button type="button" class="close no-btn-style" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times-circle"></span>
                </button>
            </div>

            <div class="modal-body">
                <h2 class="fs-xl" data-pagefind-ignore="all">{{ .data.indicator_name }} <span class="font-weight-normal">(<span id="year-{{ urlize .data.indicator_short_name }}">YEAR</span>)</span></h2>
                <p>{{- .data.indicator_description | safeHTML -}}</p>
            </div>

            <script>
                // call the get year function and print it to each indicator's year spot
                getYear(`{{ .data.end_date }}`,`year-{{ urlize .data.indicator_short_name }}`)
            </script>

            <div class="modal-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"  style="width:35%; border-top:none!important">&nbsp;</th>
                        <th scope="col"style="width:40%;"><span class="">{{ .data.measurement_type }} {{ .data.units }}</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="text-primary fs-xl float-right">{{ .neighborhood }} <span class="ml-2 float-right">{{ .data.data_value_geo_entity }}</span></span></th>

                        <td>
                            <div id="n-{{ urlize .data.indicator_short_name }}" style="width:90%;" class="compBar neighb">
                                &nbsp;
                                <span class="sr-only">{{ .data.data_value_geo_entity }}</span>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><span class="fs-xl float-right">{{ .borough }} <span class="ml-2 float-right">{{ .data.data_value_boro }}</span></span></th>
                        <td>
                            <div id="b-{{ urlize .data.indicator_short_name }}" style="width:90%;" class="compBar nonNeighb">
                                &nbsp;
                                <span class="sr-only">{{ .data.data_value_boro }}</span>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><span class="fs-xl float-right">New York City <span class="ml-2 float-right">{{ .data.data_value_nyc }}</span></span></th>
                        <td>
                            <div id="c-{{ urlize .data.indicator_short_name }}" style="width:90%;" class="compBar nonNeighb">
                                &nbsp;
                                <span class="sr-only">{{ .data.data_value_nyc }}</span>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                {{- if isset .data "nbr_data_note" -}}
                <div class="data-note float-right">{{ .data.nbr_data_note }}</div>
                {{- end -}}

                <script>
                    renderComparisonChart({{ .data.unmodified_data_value_geo_entity }}, {{ .data.data_value_boro }}, {{ .data.data_value_nyc }},'n-{{ urlize .data.indicator_short_name }}','b-{{ urlize .data.indicator_short_name }}','c-{{ urlize .data.indicator_short_name }}')
                    // console.log('{{ .data.trend_flag }}', '{{ urlize .data.indicator_short_name }}')
                </script>

            </div>
            <hr>
            <div class="modal-body">
                <span class="home-label font-weight-bold">Comparison</span>
                <p class="fs-lg">For {{ lower .data.indicator_name }}, <strong class="text-primary">{{ .neighborhood }}</strong> is {{ if eq (string .data.data_value_rank) "1" }}<span class="worse">worse</span> than most neighborhoods {{- else if eq (string .data.data_value_rank) "2" -}} in the <span class="middle">middle</span> of NYC neighborhoods{{- else -}}<span class="better">better</span> than most neighborhoods{{ end }}.</p>
                <p class="fs-sm">  <em>{{ .data.measurement_type }} {{ .data.units }}</em></p>
                <div style="width:100%; height:30vmin; z-index:10000;" id="summary-{{ .data.indicator_data_name }}-{{ .count }}"></div>

            </div>
            <hr>
            <div class="modal-body" id="t-{{ urlize .data.indicator_short_name }}">
                <span class="home-label font-weight-bold">Trends over time</span>
                <p class="fs-sm"><em>{{ .data.measurement_type }} {{ .data.units }}</em></p>
                <div style="width:100%; height:50vmin; z-index:10000;display:block;" id="trend-{{ .data.indicator_data_name }}-{{ .count }}"></div>
                

                {{- if isset .data "nbr_data_note" -}}
                <div class="data-note mt-3">Some years of data may have unstable rates or estimates suppressed due to low numbers.</div>
                {{- end -}}
                            </div>
            <!-- Alt Trend section for single-year indicators -->
            <div class="modal-body hide" id="ta-{{ urlize .data.indicator_short_name }}">
                <span class="home-label font-weight-bold">Trends over time (not available)</span>
                <p class="fs-sm"><em>There's only a single year of data available for this indicator, so we can't show a trend.</em></p>
            </div>
            <script>
                checkTrend('{{ .data.trend_flag }}','{{ urlize .data.indicator_short_name }}')
            </script>
            <hr>
            <div class="modal-body">
                <span class="home-label font-weight-bold">By neighborhood</span>
                <p class="fs-sm"><em>{{ .data.measurement_type }} {{ .data.units }}</em></p>
                <div style="width:100%; height:60vmin; z-index:10000;" id="map-{{ .data.indicator_data_name }}-{{ .count }}"></div>
                {{- if isset .data "nbr_data_note" -}}
                <div class="data-note mt-3">Some neighborhoods may have estimates suppressed due to low numbers.</div>
                {{- end -}}
            </div>

            <div class="modal-body">
                <span class="home-label font-weight-bold">Source: </span><br> 
                <span class="fs-sm">{{ .data.data_source_list }}</span>
            </div>

            <!-- .modal-body -->
            <div class="flex-column p-2">
                {{- if isset .data "source_description" -}}<p class="fs-sm mb-4"><em>Source: {{ htmlUnescape .data.source_description }}</em></p>{{- end -}}
                <a id="{{ .data.indicator_data_name }}" style="display:none">
                <button type="button" class="btn btn-inline btn-outline-secondary px-4 float-left">Get the data</button></a>
                <button type="button" class="btn btn-primary px-4 float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .compBar {
        margin-top: 5px;
        padding-left: 5px;
        border-left: 3px solid darkgray;
        max-height: 36px;

    }

    .nonNeighb {
        background-color: #D8D8D8;
    }

    .neighb {
        background-color: #00923E;
    }
</style>

<!-- .modal -->

<script type="text/javascript">

    $( "#modal-{{ .data.indicator_data_name }}-{{ .count }}" ).on('shown.bs.modal', function() {

        {{ $envs := (slice "Production" "production" "prod_prod" "development") }}

        {{ if ( in $envs hugo.Environment ) -}}

            gtag('event', 'click_modal', {
                'modal_name': '{{ .data.indicator_short_name }}'
            });

        {{- end }}

        var opt = {"renderer": "svg"};

            // ---- summary ---- //

            // get most recent data for each neighborhood

            var summaryData =
                arqTable
                .filter(d => d.indicator_data_name == {{ .data.indicator_data_name }})
                .select("geo_join_id", "neighborhood", "unmodified_data_value_geo_entity", "nbr_data_note", "end_date")
                .dedupe()
                .groupby("neighborhood")
                .orderby("neighborhood", aq.desc("end_date"))
                .slice(0,1) // most recent row in neighborhood group
                .ungroup()
                .derive({unmodified_data_value_geo_entity: d => op.parse_float(d.unmodified_data_value_geo_entity)})
                .orderby("unmodified_data_value_geo_entity") // sort for ordered bar chart
                .select(aq.not("end_date"))
                .objects()


            vegaEmbed(
                "#summary-{{ .data.indicator_data_name }}-{{ .count }}",
                summarySpec,
                opt
            ).then((res) => {

                res.view.insert("summaryData", summaryData).run()

            }).catch(console.error);;


            // ---- map ---- //

            // uses summary data, but named dataset is in spec's '"transform" object

            var mapData = summaryData;


            vegaEmbed(
                "#map-{{ .data.indicator_data_name }}-{{ .count }}",
                mapSpec,
                opt
            ).then((res) => {

                res.view.insert("mapData", mapData).run()

            }).catch(console.error);


            // ---- trend ---- //

            // get all data points for this indicator

            var trendData =
                arqTable
                .filter(d => d.indicator_data_name == {{ .data.indicator_data_name }})
                .select("start_date", "time", "geo_join_id", "neighborhood", "unmodified_data_value_geo_entity", "nbr_data_note")
                .dedupe()
                .objects()


            vegaEmbed(
                "#trend-{{ .data.indicator_data_name }}-{{ .count }}",
                trendSpec,
                opt
            ).then((res) => {

                res.view.insert("trendData", trendData).run()

            }).catch(console.error);;

    });

    </script>
