<!--
    This related footer is modelled after the standard site-wide related-footer.html
    But, it looks for metadata stored in /data/globals/NR_footer
-->

{{- /* Make sure we know what report content to load and that content_yml is set. If not we dont display the content */}}

{{- if $.Params.content_yml -}}

{{- /* Variable to load the the data file from the content_yml frontmatter */}}

{{- $content := index $.Site.Data.globals.NR_footer $.Params.content_yml -}}

<section data-pagefind-ignore="all" class="mt-lg-5 d-print-none">
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto pr-lg-3">
                <div class="related-border mb-2">
                  <div class="mt-2">
                    <h2 class="h4">What is the City doing?</h2>
                    <hr class="my-2">
                  </div>
                  <div class="fs-lg">
                    {{- range $content.city -}}
                    <div class="text-black">{{ if .link }}<a href="{{ .link }}">{{ .copy }}</a>{{ else }}{{ .copy }}{{ end }}</div>
                    <hr class="my-2">
                    {{- end -}}
                </div>
                </div>
            </div>

            <div class="col-lg-4 pl-lg-3 h-100">
                <div class="related-border mb-2">
                  <div class="mt-2">
                    <h2 class="h4">What you can do</h2>
                    <hr class="my-2">
                  </div>
                  <div class="fs-lg">
                    {{- range $content.you -}}
                    <div class="text-black">{{ if .link }}<a href="{{ .link }}">{{ .copy }}</a>{{ else }}{{ .copy }}{{ end }}</div>
                    <hr class="my-2">
                    {{- end -}}
                </div>
                </div>
            </div>

            <div class="col-lg-3 mr-auto">
                <div class="related-border mb-2">
                  <div class="mt-2">
                    <h2 class="h4">More about</h2>
                    <hr class="my-2">
                  </div>
                  <div class="fs-lg">
                    {{- range $content.keytopic -}}
                     <a href={{ urls.JoinPath ( relURL "key-topics" ) .link }}>{{ .text }}</a>
                    <hr class="my-2">
                    {{- end -}}
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{- end -}}