{{- /* Make sure we know what report content to load and that content_yml is set. If not we dont display the content */}}

{{- if $.Params.content_yml -}}

{{- /* Variable to load the the data file from the content_yml frontmatter */}}

{{- $content := index $.Site.Data.globals.NR_footer $.Params.content_yml -}}

<div class="row d-print-none mb-4" data-pagefind-ignore="all">

    <div class="col-4">
        <div class="card card-left-border shadow-sm">
            <div class="card-body">
                <h4 class="h5">What is the City doing?</h4>
                    <ul class="list-group list-group-flush fs-sm">
                    {{- range $content.city -}}
                    <li class="list-group-item border-bottom py-1 bg-transparent">{{ if .link }}<a
                        href="{{ .link }}">{{- end -}}{{ .copy }}{{ if .link }}</a>{{- end -}}</li>
                        {{- end -}}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card card-left-border shadow-sm">
            <div class="card-body">
                <h4 class="h5">What can you do?</h4>
                                <ul class="list-group list-group-flush fs-sm">
                    {{- range $content.you -}}
                    <li class="list-group-item border-bottom py-1 bg-transparent">{{ if .link }}<a
                        href="{{ .link }}">{{- end -}}{{ .copy }}{{ if .link }}</a>{{- end -}}</li>
                        {{- end -}}
                </ul>
            </div>
        </div>
    </div>

        {{ if $content.keytopic }}
        <div class="col-4">
            <div class="card card-left-border shadow-sm">
            <div class="card-body">

            <h4 class="h5">More resources on:</h4>
                <ul class="list-group list-group-flush">

                {{ range $content.keytopic }}
                <li class="list-group-item border-bottom py-1 bg-transparent">
                    <a href="../../../key-topics/{{ .link }}">{{ .text }}</a>
                </li>
                {{ end }}
            </div>
            </div>
        </div>
    {{ end }}


</div>

{{- end -}}