<button class="d-flex btn btn-md text-left btn-outline-primary mt-1 w-100 text-decoration-none neighborhood-list-button p-2" onclick="showNeighborhoods()">
    <span class="flex-grow-1 text-lg">See neighborhood list</span>
    <span class="plus">&plus;</span>
    <span class="minus">&minus;</span>
</button>
<div class="hide" id="showNeighbs">
    <ul class="list-unstyled p-2 border border-top-0 border-primary neighborhood-list" id="neighborhoodList2"></ul>
</div>

<!-- Hidden, accessible list of clickable neighborhoods: rendered by JavaScript -->
<div class="row sr-only">
<h2>Select neighborhood</h2>
    <ul id="neighborhoodList">

    </ul>
</div>

<script>
    // populate accessible neighborhood-selection
    var ul = document.getElementById("neighborhoodList");
    var ul2 = document.getElementById("neighborhoodList2");

    neighborhoods.forEach(function (neighborhood) {
    var li = document.createElement("li");
    li.innerHTML = "<a href='" + {{ relURL "neighborhood-reports/" }} + neighborhood.page_name + "/" + "'>" + neighborhood.UHF_name + "</a>: " + neighborhood.Zipcodes
    ul.appendChild(li);
    ul2.appendChild(li)
    });

    function showNeighborhoods() {
        document.getElementById('showNeighbs').classList.toggle('hide')
        document.getElementById('showNeighbs').classList.toggle('show')
        let button = document.querySelector('.neighborhood-list-button');
        button.classList.toggle('active');

    }
</script>