<div id="pollutantTrendsEmbed">

  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn2 btn-outline-dark active" value="BC">BC</button>
      <button type="button" class="btn btn2 btn-outline-dark" value="NO">NO</button>
      <button type="button" class="btn btn2 btn-outline-dark" value="NO2">NO<sub>2</sub></button>
      <button type="button" class="btn btn2 btn-outline-dark" value="O3">O<sub>3</sub></button>
      <button type="button" class="btn btn2 btn-outline-dark" value="PM2.5">PM<sub>2.5</sub></button>
      <button type="button" class="btn btn2 btn-outline-dark" value="SO2">SO<sub>2</sub></button>
    </div>

  </div>

  <div class="row mt-1">
    <!-- Visualization container -->
    <div class="col-12">
      <button type="button" class="by-btns btn btn-sm btn-outline-secondary active my-0 d-inline-block" value="season" id="bySeasonButton" onclick="setSeason()">By season</button>

      <div class="float-right">
        <button type="button" class="by-btns btn btn-sm my-0 d-inline-block" value="source" id="bySourceButton" disabled="true">By level of:</button>

        <div id="sourceContainer" class="fs-sm d-inline-block">
          <!-- sources container -->
        </div>
     </div>

      <div id="newVis" style="width:100%" class="mt-1"></div>
    </div>

  </div>

  <style>
      .srcbtn {
      cursor: pointer;}
      .border {
          background-color:#6c7287;
          color: white;
      }

      .sourceContainer {
      display: inline-block;
    }
  </style>

  <script>

    // INITIALIZE VARIABLES
    var allPollutants = [
      {
        "pollutant": "BC",
        "name": "Black Carbon",
        "units": "micrograms per cubic meter",
        "shortUnits": "μg/m3",
        "Sources": ['Commercial Cooking', 'Industrial Areas', 'Traffic Density'],
        "note": "BC rose in spring and summer of 2023 due to wildfire smoke."
      },
      {
        "pollutant": "NO",
        "name": "Nitric Oxide",
        "units": "parts per billion",
        "shortUnits": "ppb",
        "Sources": ['Boiler Density','Traffic NOx Emissions'],
        "note": ""
      },
      {
        "pollutant": "NO2",
        "name": "Nitrogen Dioxide",
        "units": "parts per billion",
        "shortUnits": "ppb",
        "Sources": ['Traffic Density', 'Building Density'],
        "note": ""
      },
      {
        "pollutant": "O3",
        "name": "Ozone",
        "units": "parts per billion",
        "shortUnits": "ppb",
        "Sources": ['Traffic Density'],
        "note": "Ozone is only measured in the summer."
      },
      {
        "pollutant": "PM2.5",
        "name": "Fine Particles",
        "units": "micrograms per cubic meter",
        "shortUnits": "μg/m3",
        "Sources": ['Commercial Cooking','Traffic Density','Boiler PM2.5 Emissions'],
        "note": "PM2.5 rose in spring and summer of 2023 due to wildfire smoke."
      },
      {
        "pollutant": "SO2",
        "name": "Sulfur Dioxide",
        "units": "parts per billion",
        "shortUnits": "ppb",
        "Sources": ['Boilers Using Residual Oil','Night-Time Population Density'],
        "note": "SO2 is only measured in the winter. Since 2019, S02 levels have been too low to meaningfully analyze."
      }
    ]

    var chosenPollutant = allPollutants[0]
    var chosenSource = 'ALL'
    var sourceOrSeason = 'Season' // should be 'Season' or 'Source'


    // ESTABLISH INITIAL RUN CHART. TAKES CHOSENPOLLUTANT JSON, AND SOURCEORSEASON VARIABLE
    function runChart(cp,sos) {

      let filterFor = cp.pollutant
      let chartTitle = cp.name + ' (' + cp.units + ')'
      let units = cp.units
      let shortUnits = cp.shortUnits
      let name = cp.name

      console.log(`***Drawing chart for ${filterFor}, by ${sos}.`)
      console.log('Chosen source:', chosenSource)

      var basicFilter;
      var colorField;
      var tooltip;
      var note = cp.note
      var annualLineTransform

      // SET UP BASICS FOR SEASONAL DATA
      if (sos === 'Season') {
        basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Source === 'ALL' && datum.Season != 'ALL'`};
        colorField = "Season";
        tooltip = [ {"title": `${name}`, "field": "ValueWithUnits"},
                    {"title": "Time", "field": "Seasonyear"}]
        annualLineTransform = [{"filter": "datum.Source != 'ALL'"}];

        // Remove duplicate annual lines from seasonal-only pollutants
        if (filterFor === 'O3' || filterFor === 'SO2') {
          basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Source === 'ALL' && datum.Season != 'ALL'`};
        }


      } else if (sos === 'Source') {
        // SET UP BASICS FOR DATA BY SOURCE
        basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Season === 'ALL' && (datum.Source === '${chosenSource}' || datum.Source === 'ALL')`}
        colorField = "Tertile";
        tooltip = [
          {"title": "Neighborhoods with", "field": "TooltipText"},
          {"title": `${name}`, "field": "ValueWithUnits"},
          {"title": "Year", "field": "YearString"}
        ];
        annualLineTransform = [{"filter": "datum.Source === 'ALL'"}]
      }

      // SPECIFICS FOR SO2
      if (filterFor === 'SO2' && sos === 'Source') {
        basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Season === 'Winter' && (datum.Source === '${chosenSource}' || datum.Source === 'ALL')`}
        tooltip = [
          {"title": "Neighborhoods with", "field": "TooltipText"},
          {"title": `${name}`, "field": "ValueWithUnits"},
          {"title": "Time", "field": "Seasonyear"}
                  ],
          annualLineTransform = [{"filter": "datum.Source === 'ALL'"}]
      }

      // SPECIFICS FOR O3
      if (filterFor === "O3" && sos === 'Source') {
        basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Season === 'Summer' && (datum.Source === '${chosenSource}' || datum.Source === 'ALL')`}
        annualLineTransform = [{"filter": "datum.Source === 'ALL'"}]
      }

      // get date for x-axis

      var newVis = {
        "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
        "description": "Pollutant trends over time, by season or source",
        "height": 350,
        "width": "container",
        "title": {
          "text": chartTitle,
          "subtitlePadding": 10,
          "fontWeight": "normal",
          "anchor": "start",
          "fontSize": 12,
          "font": "sans-serif",
          "baseline": "top",
          "dy": -10,
          "subtitleFontSize": 13
        },
        "config": {
          "view": {"stroke": null},
          "axisX": {
            "labelAngle": 0,
            "grid": false
          },
          "axisY": {
            "domain": false,
            "ticks": false,
            "tickCount": 3,
            "orient": "left",
            "zindex": 0,
            "gridDash": [2]
          },
          "legend": {"columns": 6, "labelFontSize": 10, "symbolSize": 80}
        },
        "data": {
          "url": "embed/pollutant-trends-data-2023.csv"
        },
        "transform": [
          basicFilter,
          {
            "calculate": `format(datum.Value, '.2f') + ' ${shortUnits}'`,
            "as": "ValueWithUnits"
          },
          {
            "calculate": "utcFormat(datum.Time, '%Y')",
            "as": "YearString"
          },
          {
            "calculate": "datum.Season + ', ' + datum.YearString",
            "as": "Seasonyear"
          },
          {
            "calculate": "datum.Tertile + ' levels of ' + datum.Source",
            "as": "TooltipText"
          }
        ],
        "encoding": {
          "x": {
            "timeUnit": "utcyear",
            "field": "Time",
            "title": "",
            "axis": {"zindex": 1},
            "scale": {
              "padding": 60
            }
          },
          "y": {"field": "Value", "type": "quantitative", "title": ""},
          "color": {
            "condition": {
              "param": "hover",
              "field": colorField,
              "type": "nominal",
              "legend": null,
              "scale": {
                "domain": ["All","Winter", "Spring", "Summer","Fall","High","Medium","Low"],
                "range": [
                  "black",
                  "#003F5C",
                  "#FFA600",
                  "#FF8440",
                  "#7A4694",
                  "#810f7c",
                  "#8c96c6",
                  "#b3cde3"
                ]
              }
            },
            "value": "gray"
          },
          "opacity": {"condition": {"param": "hover", "value": 1}, "value": 0.35}
        },
        "layer": [
          {
            "description": "Transparent layer to trigger hover more easily",
            "params": [
              {
                "name": "hover",
                "select": {
                  "type": "point",
                  "fields": [`${colorField}`],
                  "on": "pointerover"
                }
              }
            ],
            "mark": {"type": "line", "stroke": "transparent", "strokeWidth": 15}
          },
          {
            "transform": annualLineTransform,
            "mark": {"type": "line", "strokeDash": [4, 4], "point": {"size": 35}},
            "encoding": {
              "x": {"timeUnit": "utcyear", "field": "Time"},
              "y": {"field": "Value", "type": "quantitative"},
              "color": {"value": "lightgray"},
              "tooltip": [
                {"title": `${name}`, "field": "ValueWithUnits"},
                {"title": "Annual average", "field": "YearString"}
              ]
            }
          },
          {
            "mark": {"type": "line", "point": {"size": 70}},
            "encoding": {
              "tooltip": tooltip
            }
          },
          {
            "encoding": {
              "x": {"aggregate": "max", "field": "Time"},
              "y": {"aggregate": {"argmax": "Time"}, "field": "Value"},
              "text": {
                "condition": {"param": "hover", "field": `${colorField}`, "empty": false},
                "value": ""
              }
            },
            "layer": [
              {
                "mark": {
                  "type": "text",             
                  "align": "left",
                  "dx": 10,
                  "dy": -5,
                  "fontSize": 12, 
                  "fontWeight": "bold"
                },
                "encoding": {"text": {"field": `${colorField}`, "type": "nominal"}}
              }
            ]
          },
          {
            "mark": {
              "type": "text",
              "fontSize": 11,
              "fontWeight": "normal",
              "align": "left",
              "baseline": "bottom",
              "dx": 5,
              "dy": 100
            },
            "data": {"values": [{}]},
            "encoding": {
              "text": {
                "value": [
                  note
                ]
              },
              "x": {"value": 0},
              "y": {"value": 300},
              "color": {"value": "black"},
              "opacity": {"value": 1} 
            }
          }
        ]
      }
  
      vegaEmbed('#newVis', newVis, {actions: true});
    }

    // INITIALIZE CHART AND SOURCES
    runChart(chosenPollutant,sourceOrSeason);
    writeSources(chosenPollutant);

    // LISTENER ON BUTTONS TO CHANGE POLLUTANTS AND RE-RUN CHART
    const selectButtons = document.querySelectorAll(".btn2")

    for (var i = 0; i < selectButtons.length; i++) {
      selectButtons[i].addEventListener("click", function() {
        for (let button of document.querySelectorAll('.btn2')) button.classList.remove('active');
        this.className += " active";
        chosenPollutant = allPollutants.filter(p => p.pollutant === this.value)
        chosenPollutant = chosenPollutant[0]
        writeSources(chosenPollutant)
        sourceOrSeason = 'Season'
        document.getElementById('bySeasonButton').classList.add('active')
        runChart(chosenPollutant,sourceOrSeason)
      })
    }


    function writeSources(x) {
      let sources = x.Sources;
      var cont = document.getElementById('sourceContainer');
      cont.innerHTML = ''; // Clear container
    
      for (let j = 0; j < sources.length; j++) {
        let thisSource = sources[j];
        let thisButton = document.createElement('button');
        thisButton.type = 'button';
        thisButton.classList.add('fs-sm', 'btn', 'btn-sm', 'srcbtn', 'btn-outline-light', 'text-dark', 'my-0');
        thisButton.textContent = thisSource;
      
        thisButton.addEventListener('click', function() {
          document.getElementById('bySeasonButton').classList.remove('active')
          for (let button of document.querySelectorAll('.srcbtn')) button.classList.remove('active');
          this.className += ' active'
          setSource(thisSource);
        });
      
        cont.appendChild(thisButton);
      }
    
    
      var sourceNote = '<div class="fs-xs mt-1">Data by sources shows data by neighborhoods with <strong>high</strong> concentration of these sources, <strong>medium</strong> concentrations, or <strong>low</strong> concentrations.</div>';
      // cont.innerHTML += sourceNote;
    }

    function setSource(x) {
      console.log('source set for ' + x)
      chosenSource = x
      sourceOrSeason = 'Source'
      runChart(chosenPollutant,sourceOrSeason)      
    }

    function setSeason() {
      document.getElementById('bySeasonButton').classList.add('active');
      for (let button of document.querySelectorAll('.srcbtn')) button.classList.remove('active');
      sourceOrSeason = 'Season'
      runChart(chosenPollutant,sourceOrSeason)
    }





    </script>
</div>