<div id="pollutantTrendsEmbed">

  <div class="row">
        <div class="col-12 mb-1">
          <div class="btn-group">
              <button type="button" class="btn btn2 btn-outline-dark active" value="BC">BC</button>
              <button type="button" class="btn btn2 btn-outline-dark" value="NO">NO</button>
              <button type="button" class="btn btn2 btn-outline-dark" value="NO2">NO<sub>2</sub></button>
              <button type="button" class="btn btn2  btn-outline-dark" value="O3">O<sub>3</sub></button>
              <button type="button" class="btn btn2 btn-outline-dark" value="PM2.5">PM<sub>2.5</sub></button>
              <button type="button" class="btn btn2 btn-outline-dark" value="SO2">SO<sub>2</sub></button>
          </div>

        </div>

        <div class="col-12 mb-2">
          <button type="button" class="by-btns btn btn-sm btn-outline-secondary active my-0 d-inline-block" value="season" id="bySeasonButton" onclick="setSeason()">By season</button>

          <div class="float-right">
            <button type="button" class="by-btns btn btn-sm my-0 d-inline-block" value="source" id="bySourceButton" disabled="true">By neighborhood level of:</button>

            <div id="sourceContainer" class="fs-sm d-inline-block">
              <!-- sources container -->
            </div>
         </div>


        </div>


    <div class="col-12">
      <div id="newVis" style="width:100%"></div>

      <div id="dataNote" class="fs-sm">
        <strong>Note:</strong> data are for neighborhoods with <strong>high, medium, or low</strong> amounts of emissions from the selected source.
      </div>

    </div>
  </div>

  <hr>

  <style>
      .srcbtn {
      cursor: pointer;}
      .border {
          background-color:#6c7287;
          color: white;
      }

      .sourceContainer {
      display: inline-block;
    }
  </style>

  <script>

    // INITIALIZE VARIABLES
    var allPollutants = [
      {
        "pollutant": "BC",
        "name": "Black Carbon",
        "units": "micrograms per cubic meter",
        "Sources": ['Commercial Cooking', 'Industrial Areas', 'Traffic Density']
      },
      {
        "pollutant": "NO",
        "name": "Nitric Oxide",
        "units": "parts per billion",
        "Sources": ['Boiler Density','Traffic NOx Emissions']
      },
      {
        "pollutant": "NO2",
        "name": "Nitrogen Dioxide",
        "units": "parts per illion",
        "Sources": ['Traffic Density', 'Building Density']
      },
      {
        "pollutant": "O3",
        "name": "Ozone",
        "units": "parts per billion",
        "Sources": ['Traffic Density']
      },
      {
        "pollutant": "PM2.5",
        "name": "Fine Particles",
        "units": "micrograms per cubic meter",
        "Sources": ['Commercial Cooking','Traffic Density','Boiler PM2.5 Emissions']
      },
      {
        "pollutant": "SO2",
        "name": "Sulfur Dioxide",
        "units": "parts per billion",
        "Sources": ['Boilers Using Residual Oil','Night-Time Population Density']
      }
    ]

    var chosenPollutant = allPollutants[0]
    var chosenSource = 'ALL'
    var sourceOrSeason = 'Season' // should be 'Season' or 'Source'


    // ESTABLISH INITIAL RUN CHART. TAKES CHOSENPOLLUTANT JSON, AND SOURCEORSEASON VARIABLE
    function runChart(cp,sos) {

      let filterFor = cp.pollutant
      let chartTitle = cp.name + ' (' + cp.units + ')'
      let units = cp.units
      let name = cp.name

      console.log(`***Drawing chart for ${filterFor}, by ${sos}.`)
      console.log('chosenSource', chosenSource)

      var basicFilter;
      var colorField;
      var tooltip;

      if (sos === 'Season') {
        basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Source === 'ALL'`};
        colorField = "Season";
        tooltip = [
          {"title": `${name}`, "field": "ValueWithUnits"},
          {"title": "Time", "field": "Seasonyear"}
                  ]
      } else if (sos === 'Source') {
        basicFilter = {"filter": `datum.Pollutant === '${filterFor}' && datum.Season === 'ALL' && datum.Source === '${chosenSource}'`}
        colorField = "Tertile";
        tooltip = [
          {"title": `${name}`, "field": "ValueWithUnits"},
          {"title": "Time", "field": "Seasonyear"},
          {"title": "Source", "field": "Source"},
          {"title": "Tertile", "field": "Tertile"}
        ]
      }

      console.log('filter', basicFilter)

      var newVis = {
        "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
        "description": "Pollutant trends over time, by season or source",
        "height": 350,
        "width": "container",
        "title": {
          "text": chartTitle,
          "subtitlePadding": 10,
          "fontWeight": "normal",
          "anchor": "start",
          "fontSize": 12,
          "font": "sans-serif",
          "baseline": "top",
          "dy": -10,
          "subtitleFontSize": 13
        },
        "config": {
          "view": {"stroke": null},
          "axisX": {
            "labelAngle": 0,
            "grid": false
          },
          "axisY": {
            "domain": false,
            "ticks": false,
            "tickCount": 3,
            "orient": "left",
            "zindex": 0,
            "gridDash": [2]
          },
          "legend": {"columns": 6, "labelFontSize": 10, "symbolSize": 80}
        },
        "data": {
          "url": "https://gist.githubusercontent.com/mmontesanonyc/9db5c63c2783a24dacce701ca850da13/raw/d312b0abd5f1f556ad8939648f47dcd241abdc14/ptt.csv"
        },
        "transform": [
          basicFilter,
          {
            "calculate": `format(datum.Value, '.2f') + ' ${units}'`,
            "as": "ValueWithUnits"
          },
          {
            "calculate": "timeFormat(datum.Time, '%Y')",
            "as": "YearString"
          },
          {
            "calculate": "datum.Season + ', ' + datum.YearString",
            "as": "Seasonyear"
          }
        ],
        "encoding": {
          "x": {
            "timeUnit": "year",
            "field": "Time",
            "title": "",
            "axis": {"zindex": 1},
            "scale": {"padding": 30}
          },
          "y": {"field": "Value", "type": "quantitative", "title": ""},
          "color": {
            "condition": {
              "param": "hover",
              "field": colorField,
              "type": "nominal",
              "legend": null
            },
            "value": "gray"
          },
          "opacity": {"condition": {"param": "hover", "value": 1}, "value": 0.35}
        },
        "layer": [
          {
            "description": "Transparent layer to trigger hover more easily",
            "params": [
              {
                "name": "hover",
                "select": {
                  "type": "point",
                  "fields": [`${colorField}`],
                  "on": "pointerover"
                }
              }
            ],
            "mark": {"type": "line", "stroke": "transparent", "strokeWidth": 15}
          },
          {
            "mark": {"type": "line", "point": {"size": 70}},
            "encoding": {
              "tooltip": [
                {"title": `${name}`, "field": "ValueWithUnits"},
                {"title": "Time", "field": "Seasonyear"}
              ]
            }
          },
          {
            "encoding": {
              "x": {"aggregate": "max", "field": "Time"},
              "y": {"aggregate": {"argmax": "Time"}, "field": "Value"}
            },
            "layer": [
              {
                "mark": {"type": "text", "align": "left", "dx": -25,"fontSize": 12, "fontWeight": "bold"},
                "encoding": {"text": {"field": `${colorField}`, "type": "nominal"}}
              }
            ]
          }
        ]
      }
  
      vegaEmbed('#newVis', newVis);
    }

    // INITIALIZE CHART AND SOURCES
    runChart(chosenPollutant,sourceOrSeason);
    writeSources(chosenPollutant);

    // LISTENER ON BUTTONS TO CHANGE POLLUTANTS AND RE-RUN CHART
    const selectButtons = document.querySelectorAll(".btn2")

    for (var i = 0; i < selectButtons.length; i++) {
      selectButtons[i].addEventListener("click", function() {
        for (let button of document.querySelectorAll('.btn2')) button.classList.remove('active');
        this.className += " active";
        chosenPollutant = allPollutants.filter(p => p.pollutant === this.value)
        chosenPollutant = chosenPollutant[0]
        writeSources(chosenPollutant)
        sourceOrSeason = 'Season'
        document.getElementById('bySeasonButton').classList.add('active')
        runChart(chosenPollutant,sourceOrSeason)
      })
    }


    function writeSources(x) {
      let sources = x.Sources;
      var cont = document.getElementById('sourceContainer');
      cont.innerHTML = ''; // Clear container
    
      for (let j = 0; j < sources.length; j++) {
        let thisSource = sources[j];
        let thisButton = document.createElement('button');
        thisButton.type = 'button';
        thisButton.classList.add('fs-sm', 'btn', 'btn-sm', 'srcbtn', 'btn-outline-light', 'text-dark', 'my-0');
        thisButton.textContent = thisSource;
      
        thisButton.addEventListener('click', function() {
          document.getElementById('bySeasonButton').classList.remove('active')
          for (let button of document.querySelectorAll('.srcbtn')) button.classList.remove('active');
          this.className += ' active'
          setSource(thisSource);
        });
      
        cont.appendChild(thisButton);
      }
    
    
      var sourceNote = '<div class="fs-xs mt-1">Data by sources shows data by neighborhoods with <strong>high</strong> concentration of these sources, <strong>medium</strong> concentrations, or <strong>low</strong> concentrations.</div>';
      // cont.innerHTML += sourceNote;
    }

    function setSource(x) {
      console.log('source set for ' + x)
      chosenSource = x
      sourceOrSeason = 'Source'
      runChart(chosenPollutant,sourceOrSeason)

      document.getElementById('dataNote').classList.remove('hide')

      
    }

    function setSeason() {
      document.getElementById('bySeasonButton').classList.add('active');
      for (let button of document.querySelectorAll('.srcbtn')) button.classList.remove('active');
      sourceOrSeason = 'Season'
      runChart(chosenPollutant,sourceOrSeason)
      document.getElementById('dataNote').classList.add('hide')

    }





    </script>
</div>