<div class="row mt-2">
    <div class="col-6">

    <div class="nav nav-tabs device-md fs-sm" role="tablist">
        <a class="nav-item nav-link active" id="tab-btn-01-a" href="#tab-01-a" data-bs-toggle="tab"
            aria-controls="tab-01-a" aria-selected="true" role="tab">
            CDs
        </a>
        <a class="nav-item nav-link" id="tab-btn-01-b" href="#tab-01-b" data-bs-toggle="tab"
            aria-controls="tab-01-b" aria-selected="false" role="tab">
            Council districts
        </a>
    </div>

    <div class="tab-content mb-2" id="tabs-01-content">
                    <div class="tab-pane fade show active" id="tab-01-a" aria-labelledby="tab-btn-01-a"
                        role="tabpanel">
                        <div class="border-start border-bottom border-end fs-sm" style="height: 250px; overflow-y:scroll;" id="CDButtons">
                            <!-- CDs get printed here -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-01-b" aria-labelledby="tab-btn-01-b" role="tabpanel" aria-hidden="true">
                        <div class="border-start border-bottom border-end fs-sm" style="height: 250px; overflow-y:scroll;" id="districtButtons">
                            <!-- Council Districts get printed here -->
                        </div>
                    </div>

                </div>
    </div>

    <div class="col-6 hide" id="overlapReveal">
        <div class="nav nav-tabs device-md fs-sm" role="tablist">
            <a class="nav-item nav-link active" id="tab-btn-01-a" href="#tab-02-a" data-bs-toggle="tab"
                aria-controls="tab-02-a" aria-selected="true" role="tab">
                Overlapping UHF42 neighborhoods
            </a>
        </div>
        <div class="tab-content mb-2" id="tabs-02-content">
                <div class="tab-pane fade show active" id="tab-02-a" aria-labelledby="tab-btn-02-a"
                    role="tabpanel">
                    <div class="border-start border-bottom border-end fs-sm" id="overlaps" style="height: 250px; overflow-y:scroll;">
                        <!-- Overlapping UHFs get printed here -->
                    </div>
                </div>
        </div>
        <em class="fs-xs">Not shown: neighborhoods with less than 5% overlap.</em>
    </div>
</div>

<!-- CCD to UHF overlap js -->
{{- $ccd_js := resources.Get "/js/ccd-to-uhf42.js" | partial "short-fingerprint.html" -}}
<script type="text/javascript" src="{{ $ccd_js.RelPermalink }}" integrity="{{ $ccd_js.Data.Integrity }}"></script>

<!-- CD to UHF overlap js -->
{{- $cd_js := resources.Get "/js/cd-to-uhf42.js" | partial "short-fingerprint.html" -}}
<script type="text/javascript" src="{{ $cd_js.RelPermalink }}" integrity="{{ $cd_js.Data.Integrity }}"></script>


<script>

    // print Community Districts to menu
    var CDholder = document.getElementById('CDButtons')

    CDtoUHF.forEach(cd => {
        let thisButton = `
            <a class="dropdown-item cd-items" href="#top" id='button-${cd.CD}' onclick='getUHFs("CD", ${cd.CD})'>${cd.CD_NAME}</a>
        `
        CDholder.innerHTML += thisButton

    })


    // print City Council Districts to menu
    var holder = document.getElementById('districtButtons')

    CCDtoUHF.forEach(ccd => {
          let thisButton = `
        <a class="dropdown-item ccd-items" href="#top" id='button-${ccd.CCD}' onclick='getUHFs("CCD", ${ccd.CCD})'>City Council District #${ccd.CCD}</a>
      `
      holder.innerHTML += thisButton
    })


    var thisOverlap ;
    function getUHFs(from, geo) {
        document.getElementById('overlapReveal').classList.remove('hide')

        var overlaps = document.getElementById('overlaps')
        overlaps.innerHTML = ''

        if (from === 'CCD') {

            console.log('Getting UHFs for City Council District ' + geo)
            // Style CCD selections
            var allButtons = document.querySelectorAll('.ccd-items')
            allButtons.forEach(btn => {
                btn.classList.remove('active')
                btn.classList.remove('text-white')
            })

            var selected = document.getElementById(`button-${geo}`)
            selected.classList.add('active')
            selected.classList.add('text-white')

            // Loop through source JS
            thisOverlap = CCDtoUHF.filter(neighborhood => neighborhood.CCD == geo)

        } else if (from === 'CD') {

            console.log('Getting UHFs for Community District ' + geo)
            // Style CD selections
                        var allButtons = document.querySelectorAll('.cd-items')
            allButtons.forEach(btn => {
                btn.classList.remove('active')
                btn.classList.remove('text-white')
            })

            var selected = document.getElementById(`button-${geo}`)
            selected.classList.add('active')
            selected.classList.add('text-white')

            // Loop through source JS
            thisOverlap = CDtoUHF.filter(cd => cd.CD == geo)

        } else {

            console.log('Error.')

        }

        console.log('This overlap:')
        console.log(thisOverlap[0])

        // Print matching overlaps to page
        thisOverlap[0].matchingUHFs.forEach(ol => {

            var uhfid = ol.UHF_id
            var name = ol.GEONAME
            var overl = ol.percent.toFixed(0)
            var dest = ol.page_name
            var popol = (from === 'CCD') 
                ? ol.pop_pct_of_ccd.toFixed(1) 
                : (from === 'CD') 
                    ? ol.pop_pct_of_cd.toFixed(1) 
                    : null;

            // set minimum overlap
            if (overl < 5) {
                return
                } else {
                overlaps.innerHTML += `
                <a href="{{ .Site.BaseURL }}/neighborhood-reports/${dest}" class="dropdown-item text-primary">
                    <span class="fw-bold">
                    ${name} 
                    </span> <br>
                    Overlap: ${overl}% area | ${popol}% population
                </a>`
                }
            }
        )
    }
</script>