<div class="row pt-0">
    <div class="col pt-0">
        <h3 class="text-muted fs-sm mt-2 border-bottom">Related:</h3>
    </div>
</div>
<div class="row" style="height: 350px; overflow-y: scroll;">
    <div class="col-md-4 col-sm-12">
        <div class="fs-sm mt-2" >
            <h4 class="fs-md text-muted"><i class="fas fa-passport text-muted mr-1" aria-hidden="true"></i>Data Stories</h4>
            <div class="fs-xs">
                {{- partial "related" (dict "section" "data-stories" "layout" "singlelist" "content" . ) -}}
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="fs-sm mt-2">
            <h4 class="fs-md text-muted"><i class="fas fa-map-marked-alt text-muted mr-1" aria-hidden="true"></i>Neighborhood Reports</h4>
            <div class="fs-xs">
                {{- partial "related" (dict "section" "neighborhood-reports" "layout" "singlelist" "content" . ) -}}
            </div>
        </div>

        <div class="fs-sm mt-2">
            <h4 class="fs-md text-muted"><i class="fas fa-star text-muted mr-1" aria-hidden="true"></i>Key Topics</h4>
            <div class="fs-xs">
                <!--sets variables-->
                {{- $page_link := .RelPermalink -}}
                {{- $cats := .Params.categories -}}

                {{- range where (where .Site.Pages "Section" "key-topics") ".File.BaseFileName" "_index" -}}
                <!--$page equals values we find when ranging through-->
                {{- $page := . -}}

                <!--set variable equal to intersection of categories: page that we're on, and pages we ranged through-->
                {{- $has_common_cats := intersect $cats .Params.categories | len | lt 0 -}}

                <!--Show commonalities, except for page we're on -->
                {{- if and $has_common_cats (ne $page_link $page.RelPermalink) -}}
                <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
                <hr class="my-1">
                {{- end -}} 
                {{- end -}}
            </div>

        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="fs-sm mt-2">
            <h4 class="fs-md text-muted"><i class="fas fa-chart-line text-muted mr-1" aria-hidden="true"></i>Data Explorer</h4>
            <div class="fs-xs">
                {{- partial "related" (dict "section" "data-explorer" "layout" "singlelist" "content" . ) -}}
            </div>
        </div>
    </div>

</div>