<!--
  The related footer looks for .Params.related (a 'related' element of content's frontmatter).
  If that exists, then it prints the related things, as well as the categories/key topics in a second column.
  If no related frontmatter exists, then it will just match on categories, using mod-related-main and mod-related-small.
-->

<section data-pagefind-ignore="all" class="mt-lg-5">
    <div class="container mb-5">
        <div class="row">

              <div class="col-lg-8 pr-lg-3">
                <div class="related-border mb-2">
                  <div class="mt-2">
                    <h4 class="h3">See more related to "{{ .Title }}"</h4>
                    <hr class="my-2">
                  </div>
                  <div class="fs-lg">
                    {{ if .Params.related }}
                      {{ range .Params.related }}
                        <a class="text-black" href="{{ .url }}">
                          <span class='text-primary data-stories mr-2'><i class='fas fa-passport' aria-hidden='true'></i></span>{{ .title }}
                        </a>
                        <hr class="my-2">
                      {{ end }}

                    {{ else }}
                    {{- partial "mod-related-main" (dict "section" "data-stories" "layout" "singlelisticon" "content" . ) -}}
                    {{ end }}
                  </div>
                </div>
              </div>
              <!-- .col for city -->
              {{ if .Params.categories }}
              <div class="col-lg-4 pl-lg-3">
                <div class="related-border">
                  <h4 class="h3 mt-2">You might also be intersted in</h4>
                  <hr class="my-2">
                </div>
                  <div>
                    {{- partial "mod-related-small" (dict "section" "key-topics" "layout" "singlelist" "content" . ) -}}
                </div>
                </div>
              </div>
              {{ end }}
              <!-- .col for data -->
        </div>
    </div>
</section>