{{/*
  Usage:
    {{ partial "render-table.html" (dict "file" (.Page.Resources.GetMatch "table.csv")) }}
    Will render a table from a data file stored in the content's /content folder. 
    Also called from the csvtable shortcode.
*/}}


{{- $file := .file -}}
{{- $data := $file | transform.Unmarshal (dict "delimiter" ",") -}}

<table class="table table-striped table-bordered">
  {{- range $i, $row := $data }}
    {{- if eq $i 0 }}
      <thead>
        <tr>
          {{- range $row }}
            <th>{{ . }}</th>
          {{- end }}
        </tr>
      </thead>
      <tbody>
    {{- else }}
        <tr>
          {{- range $row }}
            <td>{{ . }}</td>
          {{- end }}
        </tr>
    {{- end }}
  {{- end }}
  </tbody>
</table>
