{{/*
  Usage:
    {{ partial "render-table.html" (dict "file" (.Page.Resources.GetMatch "table.csv")) }}
*/}}

{{- $file := .file -}}
{{- $data := $file | transform.Unmarshal (dict "delimiter" ",") -}}

<table class="table table-striped table-bordered fs-sm">
  {{- range $i, $row := $data }}
    {{- if eq $i 0 }}
      <thead>
        <tr>
          {{- range $j, $cell := $row }}
            <th class="{{ if gt $j 0 }}text-right{{ end }}">{{ $cell }}</th>
          {{- end }}
        </tr>
      </thead>
      <tbody>
    {{- else }}
        {{- $first := index $row 0 }}
        {{- $lower := lower $first }}
        {{- $isTotal := or (in $lower "total") (in $lower "totals") }}

        <tr class="{{ if $isTotal }}font-weight-bold{{ end }}">
          {{- range $j, $cell := $row }}
            <td class="{{ if gt $j 0 }}text-right{{ end }}">{{ $cell }}</td>
          {{- end }}
        </tr>
    {{- end }}
  {{- end }}
  </tbody>
</table>
