<button data-toggle="modal" data-target="#modal-{{.ind.indicator_data_name}}-{{ .count }}" class="indicator-anchor">
    <div class="row align-items-center">
        <div class="col-6 col-md-5">
            <span class="indicator-short-name">{{ .ind.indicator_short_name }}</span>
        </div>
        <div class="col-6 col-md-4 topic-list">
            <img src="https://raw.githubusercontent.com/nychealth/EHDP-data/main/neighborhoodreports/images/{{ .ind.summary_bar_svg }}" alt="Visualization showing neighborhood rank of {{ .ind.indicator_neighborhood_rank }} out of 42." width="100%" class="viz d-md-none mb-1">
            {{ if eq (string .ind.data_value_rank) "1" }}<span class="worse">Worse</span>
            {{ else if eq (string .ind.data_value_rank) "2" }}<span class="middle">Middle</span>
            {{ else }}<span class="better">Better</span>
            {{ end }}
        </div>
        <div class="d-none d-md-inline col-md-3">
            <img src="https://raw.githubusercontent.com/nychealth/EHDP-data/main/neighborhoodreports/images/{{ .ind.summary_bar_svg }}" alt="Visualization showing neighborhood rank of {{ .ind.indicator_neighborhood_rank }} out of 42." class="viz">
        </div>
    </div>
</button>

<!-- modal -->
<div class="modal fade report-modal" id="modal-{{.ind.indicator_data_name}}-{{ .count }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h2 class="modal-title fs-xl" id="exampleModalLabel">{{ .ind.indicator_short_name }}</h2>
                <button type="button" class="close no-btn-style" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times-circle"></span>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="fs-xl">{{ .ind.indicator_name }}</h2>
                <p>In <strong>{{ .location }}</strong>, the {{ lower .ind.indicator_name }} is {{ if eq (string .ind.data_value_rank) "1" }}<span class="worse">Worse</span>{{ else if eq (string .ind.data_value_rank) "2" }}<span class="middle">Middle</span>{{ else }}<span class="better">Better</span>{{ end }} compared to the NYC average.</p>
                {{ .ind.indicator_description | safeHTML }}
            </div>
            <hr>
            <div class="modal-body">
                <h3>Neighborhood Comparison</h3>
                <div class="row comparison">
                    <div class="col-sm-4 text-primary">{{ .location }} <span class="indicator-value">{{ .ind.data_value_geo_entity }}</span></div>
                    <div class="col-sm-4">{{ .borough }} <span class="indicator-value">{{ .ind.data_value_borough }}</span></div>
                    <div class="col-sm-4">New York City <span class="indicator-value">{{ .ind.data_value_nyc }}</span></div>
                </div>
                <p><em>{{ .ind.measurement_type}} {{ .ind.units}}</em></p>
                
                
                {{ if isset .ind "nabe_data_note" }}
                <div class="data-note">{{ .ind.nabe_data_note }}</div>
                {{ end }}
                
                
            </div>
            <hr>
            <div class="modal-body">
                <h3>{{ .ind.indicator_name }}</h3>
                <p>  <em>{{ .ind.measurement_type}} {{ .ind.units}}</em></p>
                <div style="width:100%; height:30vmin; z-index:10000;" id="summary-{{.ind.indicator_data_name}}-{{ .count }}"></div> 
                
                
            </div>
            <hr>
            <div class="modal-body">
                
                <h3>Trends Over Time</h3>
                <p><em>{{ .ind.measurement_type}} {{ .ind.units}}</em></p>
                <div style="width:100%; height:50vmin; z-index:10000;" id="trend-{{.ind.indicator_data_name}}-{{ .count }}"></div> 
                
            </div>
            <hr>
            <div class="modal-body">
                
                <h3>By Neighborhood</h3>
                <p><em>{{ .ind.measurement_type}} {{ .ind.units}}</em></p>
                <div style="width:100%; height:60vmin; z-index:10000;" id="map-{{.ind.indicator_data_name}}-{{ .count }}"></div>
                
            </div>
            <!-- .modal-body -->
            <div class="modal-footer flex-column">
                {{ if isset .ind "source_description" }}<p class="fs-sm mb-4"><em>Source: {{ htmlUnescape .ind.source_description }}</em></p>{{ end }}
                <button type="button" class="btn btn-primary px-6" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- .modal -->

<script type="text/javascript">
    
    $( "#modal-{{.ind.indicator_data_name}}-{{ .count }}" ).on('shown.bs.modal', function() {
        
        var opt = {"renderer": "svg"};

        // loading report-level CSV data
        
        aq.loadCSV(

            // this is loaded when an indicator is clicked, but it will be cached
            
            "https://raw.githubusercontent.com/nychealth/EHDP-data/main/neighborhoodreports/data/" + report_name + "_data.csv"
        
        ).then(data => {
            
            arqTable = data;
            

            // ---- summary ---- //

            // get most recent data for each neighborhood
            
            var summaryData = 
                arqTable
                .filter(d => d.data_field_name == {{.ind.indicator_data_name}})
                .select("geo_join_id", "neighborhood", "data_value", "message", "end_date")
                .dedupe()
                .groupby("neighborhood")
                .orderby("neighborhood", aq.desc("end_date"))
                .slice(0,1) // most recent row in neighborhood group
                .ungroup()
                .orderby("data_value") // sort for ordered bar chart
                .select(aq.not("end_date"))
                .objects()
                
            console.log("summaryData", summaryData);
            
            d3.json("{{site.BaseURL}}visualizations/spec/summarySpec.json").then(data => {
                
                summarySpec = data;

                // highlight current neighborhood

                summarySpec.encoding.color.condition.test = "datum.neighborhood=='" + NeighborhoodName + "'";
                
            }).then(() => {
                
                vegaEmbed(
                    "#summary-{{.ind.indicator_data_name}}-{{ .count }}", 
                    summarySpec, 
                    opt
                ).then((res) => {
                    
                    res.view.insert("summaryData", summaryData).run()

                }).catch(console.error);;
                
            });
            

            // ---- map ---- //

            // uses summary data, but named dataset is in spec's '"transform" object

            var mapData = summaryData;
            
            d3.json("{{site.BaseURL}}visualizations/spec/mapSpec.json").then(data => {
                
                mapSpec = data;
                
                // highlight current neighborhood

                mapSpec.layer[1].encoding.stroke.condition.test = "datum.neighborhood=='" + NeighborhoodName + "'";
                
                
            }).then(() => {
                
                vegaEmbed(
                    "#map-{{.ind.indicator_data_name}}-{{ .count }}", 
                    mapSpec, 
                    opt
                ).then((res) => {
                    
                    res.view.insert("mapData", mapData).run()
                    
                }).catch(console.error);;
                
            });

            
            // ---- trend ---- //

            // get all data points for this indicator
            
            var trendData = 
                arqTable
                .filter(d => d.data_field_name == {{.ind.indicator_data_name}})
                .select("start_date", "time", "geo_join_id", "neighborhood", "data_value", "message")
                .dedupe()
                .objects()
            
            d3.json("{{site.BaseURL}}visualizations/spec/trendSpec.json").then(data => {
                
                // make a deep copy of the spec
                
                trendSpec = data;
                
                // highlight current neighborhood

                trendSpec.layer[1].encoding.color.condition.test = "datum.neighborhood=='" + NeighborhoodName + "'";
                
            }).then(() => {
                
                vegaEmbed(
                    "#trend-{{.ind.indicator_data_name}}-{{ .count }}", 
                    trendSpec, 
                    opt
                ).then((res) => {
                    
                    res.view.insert("trendData", trendData).run()
                    
                }).catch(console.error);;
                
            });
            
        });
            
    });
        
    </script>
    