<div class="row no-gutters">
    <div class="col-12">
        <p>You can download an archive of hourly PM2.5 readings.</p>
        <p>Choose the month, year, and data format (JSON or CSV) below.</p>
    </div>

    <div class="col-3 mx-auto">
        <div class="dropdown">
            <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="#">2023</a>
              <a class="dropdown-item" href="#">2022</a>
              <a class="dropdown-item" href="#">2021</a>
              <a class="dropdown-item" href="#">2020</a>
              <a class="dropdown-item" href="#">2019</a>
            </div>
          </div>
    </div>

    <div class="col-3 mx-auto">
        <div class="dropdown">
            <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose month
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" href="#">January</a>
              <a class="dropdown-item" href="#">Febuary</a>
              <a class="dropdown-item" href="#">March</a>
              <a class="dropdown-item" href="#">April</a>
              <a class="dropdown-item" href="#">May</a>
              <a class="dropdown-item" href="#">June</a>
              <a class="dropdown-item" href="#">July</a>
              <a class="dropdown-item" href="#">August</a>
              <a class="dropdown-item" href="#">September</a>
              <a class="dropdown-item" href="#">October</a>
              <a class="dropdown-item" href="#">November</a>
              <a class="dropdown-item" href="#">December</a>
            </div>
          </div>
    </div>

    <div class="col-3 mx-auto">
        <div class="dropdown">
            <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose format
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
              <a class="dropdown-item" href="#">CSV</a>
              <a class="dropdown-item" href="#">JSON</a>
            </div>
          </div>
    </div>

    <div class="col-12">
        <span class="home-label font-weight-bold">URL:</span><br>
        <div class="border p-1">
            <code>https://azdohv2staticweb.blob.core.windows.net/$web/hist/csv/2019/10/hourlyMonitoring.csv</code> <button class="btn btn-outline-primary"><i class="fas fa-copy"></i></button>
        </div>
    </div>

    <div class="col-3 mx-auto">
        <button class="btn btn-outline-primary btn-block" disabled><i class="fas fa-download mr-1" aria-hidden="true"></i>Download</button>
    </div>
</div>


