{{- $subscribe_form_url := "https://docs.google.com/forms/d/e/1FAIpQLSfUg3JE5ODNc6aqBPJwM8mZ80TYtK6ISw-OM7PBwKuoN3M--g/viewform?embedded=true" -}}

<div class="modal" tabindex="-1" role="dialog" id="subscribeModal" data-subscribe-form-url="{{ $subscribe_form_url }}">
    <div class='modal-dialog subscribe-modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-body subscribe-modal-body'>
                <div class='subscribe-form-placeholder d-flex align-items-center justify-content-center h-100'>
                    <p class='mb-0'>Loading subscription form...</p>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-outline-primary close-dialog" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>