<!-- Health Topics link -->
<div class="mb-2">
    <p class="fs-sm"><a href="#">Get Health Department resources about {{ .Title }}</a></p>
</div>

<!-- Take Action link --> 
<div class="mb-2">
    <span class="home-label">Take action</span>
<p><a href="../../take-action/email-electeds" class="btn btn-sm btn-outline-primary"><i class="fas fa-envelope-open-text mr-1"></i>Email your elected officials</a>
</p>
</div>

<!-- 311 Links -->
<div class="mb-2">
    <span id="311label" class="home-label"></span>
    <div id="311" class="destination311"></div>
</div>

<!-- socialshare -->
<div class="mb-2">
    <span class="home-label">Share with a friend:</span>
    {{- partial "socialshare" . -}}

</div>