{{ define "main" }}

<article class="container-fluid overflow-hidden" id="primary-content">

  <div class="row">
    <div class="col-md-10 col-sm-12 mx-auto">
      <!--start main column-->
        <div class="row">
            <div class="col-10">
                <h1>Oops!</h1><br>
                <p>This isn't a page on this site. 
                    {{ with .Site.GetPage "_index.md" }}
                    <a href="{{ .URL }}">
                        {{ .Title }}
                    </a>.{{ end }}</p>
            </div>
          
        </div>

    </div>
    <!--end main column-->
  </div>
  
</article>
{{ end }}
