{{ define "main" }}

<article class="container-fluid overflow-hidden" id="primary-content">

  <div class="row mt-4">
    <div class="col-md-8 card content-card">
      <h1 class="fs-lg text-info"><i class="fas fa-star mr-1" aria-hidden="true"></i>Featured:</h1>
      <div class="card-content">
        <a href="{{ .Params.featured_link }}">
        <div style="width:100%; height:80%; background-image: URL(images/{{ .Params.featured_image }}); background-size: cover"></div>
        </a>


      <div class="card-body">
        <h1 class="card-title text-primary">{{ .Params.featured_title }}</h1>
        <span class="card-text">{{ .Params.featured_text }}</span>
        <span class="card-link"><a href="{{ .Params.featured_link }}">Get the data ></a></span>
          
          

      </div>
    </div>
    </div>

    <div class="col-md-4 card content-card">
      <h2 class="fs-lg text-info"><i class="fas fa-passport mr-1" aria-hidden="true"></i>New data stories:</h2>
      <div class="card-content mb-4">
        <div class="card-body">
          {{- range first 3 ((where .Site.RegularPages "Section" "data-stories")) -}}

          <div class="row no-gutters mt-2">
            <div class="col-4 border mh-100">
              {{ $src := .Resources.GetMatch .Params.image }}
                  {{ $image := $src.Resize "740x"}}
                  <div style="width:100%; height:100%; background-image: URL({{ $image.Permalink }}); background-size: cover"></div>
            </div>

            <div class="col-8 ml-auto h-100 pl-1">
              <p class="fs-sm"><strong class="text-primary">{{ .Title }} </strong>: {{ .Content | plainify | truncate 75 | htmlUnescape }} <a href="{{ .RelPermalink }}" class="text-info font-weight-bold">Read more ></a> </p>
            </div>
          </div>

        {{- end -}}
        </div>
      </div>

      <h2 class="fs-lg text-info"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>Recently updated data:</h2>
      <div class="card-content">
        <div class="card-body">

            <div class="row no-gutters p-0">
              {{- range .Params.recently_updated -}}
              <a href="{{ .Link }}" class="btn btn-sm btn-block btn-outline-primary">{{ .Name }}</a>
              {{- end -}}
            </div>

          <p class="float-right fs-sm text-info mt-2"><a href="/data-explorer" class="text-info font-weight-bold">Get all data ></a></p>
        </div>
      </div>

      </div>
    </div>

  </div>

  <div class="row my-6">
    <div class="col-md-7 mx-auto">
      <h2 class="text-info fs-xl">Explore your city - through data</h1>
      <p class="text-muted"><span class="text-primary font-weight-bold">The environment is everything around us:</span> our air and water, the climate, our city's buildings and streets, and the society that we live in:</p>

      <hr class="mt-2 mb-1">

      {{- range first 7 (where (where .Site.Pages "Section" "key-topics") ".File.BaseFileName" "_index") -}}
      {{- if ne .Title "Key Topics in Environmental Health" -}}
     <a href="{{ .RelPermalink }}" class="btn btn-sm btn-outline-light text-primary mt-1 mx-1">{{ .Title }}</a>
      {{- end -}}
      {{- end -}}

      <a href="key-topics" class="btn btn-sm btn-outline-info mt-1 mx-1">More topics <i class="fas fa-arrow-right ml-1" aria-hidden="true"></i></a>

      <hr class="mt-1 mb-2">


      <p class="text-muted">We collect data from many different sources and put them together to show you how <span class="font-weight-bold text-primary">the environment shapes our health</span>. </p>

    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-4">
      <div style="height:350px; width: 100%; border: 1px solid black">
        Data stories
      </div>
    </div>

    <div class="col-md-4">
      <div style="height:350px; width: 100%; border: 1px solid black">
        Neighborhood reports
      </div>
    </div>

    <div class="col-md-4">
      <div style="height:350px; width: 100%; border: 1px solid black">
        Data explorer
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-7 mx-auto">
      <div class="row">
        <div class="col-md-6 my-2">
          <div class="card bg-lightgray mt-1">
            <div class="card-body">
              <h5 class="card-title text-muted fs-sm">Get updates and announcements</h5>
              <p class="fs-sm">
              <em>We will send occasional announcements. We won't share your email address with anybody. </em></p>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUg3JE5ODNc6aqBPJwM8mZ80TYtK6ISw-OM7PBwKuoN3M--g/viewform?embedded=true" class="btn btn-outline-gray btn-block btn-sm mt-2">Sign up here</a>
    
            </div>
          </div>
        </div>
    
        <div class="col-md-6 my-2">
          <div class="card bg-lightgray mt-1">
            <div class="card-body">
              <h5 class="card-title text-muted fs-sm">About us</h5>
                <p class="fs-sm">Learn more about the Environment & Health Data Portal, and the Health Department team behind it.</p>
                {{- with .Site.GetPage "about/about.md" -}}
                <a href="{{ .RelPermalink }}" class="btn btn-outline-gray btn-block btn-sm mt-2">About
                  Us<i class="fas fa-chevron-circle-right ml-1" aria-hidden="true"></i></a>
                  {{- end -}}
                </div>
              </div>
        </div>

        <div class="col-md-6 my-2">
          <div class="card bg-lightgray mt-1">
            <div class="card-body">
              <h5 class="card-title text-muted fs-sm">Visit our Github repo</h5>
                <p class="fs-sm">Know code? Want raw data? Found a bug? Visit our Github repo, file an issue, and download raw data.</p>
                <a href="https://www.github.com/nychealth/EH-dataportal" class="btn btn-outline-gray btn-block btn-sm mt-2">Github<i class="fas fa-chevron-circle-right ml-1" aria-hidden="true"></i></a>
    
                </div>
          </div>
        </div>


        <div class="col-md-6 my-2">
          <div class="card bg-lightgray mt-1">
            <div class="card-body">
              <h5 class="card-title text-muted fs-sm">Join our team</h5>
                <p class="fs-sm">Passionate about health, environmental justice, and technology? Check out our open positions.</p>
                {{- with .Site.GetPage "about/jobs.md" -}}
                <a href="{{ .RelPermalink }}" class="btn btn-outline-gray btn-block btn-sm mt-2">Jobs<i class="fas fa-chevron-circle-right ml-1" aria-hidden="true"></i></a>
                  {{- end -}}
                </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  {{- if eq hugo.Environment "production" -}} 

  <div class="row my-4">
    <div class="col-md-4 mx-auto">
      <div class="d-inline-block bg-light p-2" style="width:100%;">
        <p class="fs-md">Prefer to use our old site? <b><a id="want_old_site_home" onclick="setCookieHome()">Click here.</a></b></p>
        </div>
    </div>
  </div>
  
  <script>
    
    // set cookie on click
    
    const setCookieHome = () => {
      document.cookie = "want_old_site=true; path=/IndicatorPublic/";
    }
    
    // redirect to home page
    
    document.querySelector("#want_old_site_home").href = "/IndicatorPublic/";
    
  </script>

{{- end -}} 

       
</article>
{{- end -}}
                
{{ define "js_bot" }}

{{/*  {{- if eq hugo.Environment "data_staging" -}}   */}}

  {{/*  {{- $js := resources.Get "js/accessible-autocomplete.min.js" }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  {{- $js := resources.Get "js/accessible-autocomplete.min.js.map" }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  {{- $js := resources.Get "js/uhflist.js" }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>  */}}

{{/*  {{ else }}  */}}

  {{- $js := resources.Get "js/accessible-autocomplete.min.js" -}}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

  {{/*  {{- $js := resources.Get "js/accessible-autocomplete.min.js.map" -}}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>  */}}

  {{- $js := resources.Get "js/uhflist.js" -}}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- end -}}