{{- define "main" -}}

<article class="container-fluid overflow-hidden" id="primary-content">
  
  <div class="row">
    <div class="col-md-10 col-sm-12 mx-auto">
      <!--start main column-->

      <div class="row mt-4">
        <div class="col">
          <h2 style="color:#197BBD"><i class="fas fa-atlas mr-1" aria-hidden="true"></i>Data
            Stories</h2>
            <p class="home-label">Latest data stories</em></p>
        </div>
      </div>

      <div class="row mt-2">
        {{- range first 3 ((where .Site.RegularPages "Section" "data-stories")) -}}
        <div class="col-md-4 mb-2">
          <div class="card bg-lightgray cardshadow" style="border-left: 10px solid #197BBD!important;">
              <div class="card-body" style="background-image: URL({{ .File.Dir }}/{{ .Params.image }}); height: 175px;background-size: cover; ">
                </div>
              <div class="card-footer">
                <p class="card-text fs-sm">
                  <strong style="color: #197BBD!important;">NEW:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  <p class="card-text fs-sm">{{ .Content | truncate 75 | plainify}} <a href="{{ .RelPermalink }}" class="float-right">Read more...</a></p> 
                </p>
              </div>
              </div>
        </div>
        {{- end -}}

      </div>

      <div class="row my-2">
        <div class="col">
          <a href="/data-stories/" style="float:right;color:#197BBD">Browse
            all data stories<i class="fas fa-chevron-circle-right ml-1" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-9 mx-auto">
          <hr style="border-top: 3px solid #998bc0; border-radius: 5px;">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-md-6">
          <p class="home-label">Learn</p>
          <div class="card bg-lightgray mb-2 p-2 h-85" style="border-left: 10px solid #545454!important;">
            <h3 style="color:#545454"><i class="fas fa-star mr-1" aria-hidden="true"></i>Key
              Topics</h3>            
            <div class="card-body">
              <p class="card-text fs-sm">
                Core issues that affect our city, our health, our lives.
              </p>
                {{- range first 5 (where (where .Site.Pages "Section" "key-topics") ".File.BaseFileName" "_index") -}}
                {{- if ne .Title "Key Topics in Environmental Health" -}}
                  <a class="btn btn-outline-gray btn-block btn-sm has-icon disperse mt-1" href="{{ .Permalink }}">
                    <span class="fas fa-angle-right"></span>
                    <span class="title">{{- .Title -}}</span>
                  </a>
                {{- end -}}
                {{- end -}}
                <p class="mt-2">
                  <a href="/key-topics/" style="float:right;color:#545454!important">All Key Topics<i class=" ml-1 fas fa-chevron-circle-right" aria-hidden="true"></i></a>
                </p>

            </div>          
          </div>
          <!-- .card -->
        </div>
        <!-- .col -->

        <div class="col-md-6">

          <p class="home-label">Discover</p>
          <div class="card bg-lightgray mb-2 p-2 h-85" style="border-left: 10px solid #DC645C!important;">
            <h3 style="color:#DC645C"><i class="fas fa-map-marked-alt mr-1" aria-hidden="true"></i>Neighborhood Reports</h3>
            
            
            <div class="card-body">
              <p class="card-text fs-sm">
                Get data for your neighborhood.
              </p>
              
              <form action="/neighborhood-reports" method="get" class="autocomplete-form">
                <div class="row no-gutters mb-2">
                  <div class="d-block" style="width:100%">
                    <label for="last-neighborhood" class="font-weight-bold h4 mb-1 fs-sm"><p>Choose a
                      neighborhood:</p></label>
                  </div>

                    <div class="autocomplete-wrapper" class="d-inline mr-1" style="width:80%;">

                        <select name="last-neighborhood" id="last-neighborhood" >
                          <option value="">Select a neighborhood</option>
                        </select>
                      </div>
                      <button type="submit" class="btn-primary btn d-inline">Go</button>

                    
                  </div>
                  <strong class="fs-sm">Or browse by topic:</strong><br>
                  <a href="neighborhood-reports/asthma" class="">Asthma</a> |  <a href="neighborhood-reports/activedesign">Active design</a> | <a href="neighborhood-reports/climateandhealth">Climate and health</a> | <a href="neighborhood-reports/housing">Housing and health</a> | <a href="neighborhood-reports/outdoorair">Outdoor Air and health</a>

                </form>
              </div>

            <!-- .collapse -->
            
          </div>
          <!-- .card -->

        </div>

      </div>
      <!-- .row -->

      <div class="row">
        <div class="col">
          <p class="home-label mt-4">Analyze</p>
          <div class="card bg-lightgray mb-2 p-2" style="border-left: 10px solid #00923E!important;">
            <h3 style="color:#00923E"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>Explore
              Data</h3>            
            <div class="card-body">
              <p class="card-text fs-sm">
                Over 250 datasets for over 50 environmental health topics. Explore, visualize, and download data sets - so you can find the story.
              </p>
              <div class="row">
                


                <div class="col-md-4">
                  <div class="card cardshadow">
                    <div class="card-body">
                      <img src="images/data-map-2.png" alt="An example of a data map.">
                    </div>
                    <div class="card-footer">
                      <h5 class="card-title text-primary">Get maps...</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card cardshadow">
                    <div class="card-body">
                      <img src="images/trend-chart-2.png" alt="An example of a trend chart showing data over time.">
                    </div>
                    <div class="card-footer">
                      <h5 class="card-title text-primary">...trends...</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card cardshadow">
                    <div class="card-body">
                      <img src="images/links-chart-2.png" alt="An example of a scatterplot, showing the relationship between two datasets.">
                    </div>
                    <div class="card-footer">
                      <h5 class="card-title text-primary">...and explore links.</h5>
                    </div>
                  </div>
                </div>
              </div>

              <p class="mt-2"><a href="/data-explorer/" style="float:right;">Browse
                all data sets<i class="fas fa-chevron-circle-right ml-1" aria-hidden="true"></i></a></p>
              </div>
              
          </div>
          <!-- .card -->
        </div>
      </div>

      <div class="row my-4">
        <div class="col-9 mx-auto">
          <hr style="border-top: 3px solid #998bc0; border-radius: 5px;">
        </div>
      </div>
        

        
        <!--BOTTOM CARDS-->
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="card bg-lightgray mt-4">
              <div class="card-body">
                <h5 class="card-title text-muted fs-sm"><i class="far fa-question-circle"></i>&nbsp;What's "the
                  environment?"</h5>
                  <p class="fs-sm">It's
                    everything around us -
                    the climate, the air and
                    water, the buildings and streets, and the society we live in - that shapes
                    our lives and our
                    health. Explore your city here.</p>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="card bg-lightgray my-4">
                  <div class="card-body">
                    <h5 class="card-title text-muted fs-sm"><i class="fas fa-info-circle"></i>&nbsp;About us
                    </h5>
                    <p class="card-text fs-sm">About the Tracking Program.
                    </p>
                    {{- with .Site.GetPage "about/about.md" -}}
                    <a href="{{ .Permalink }}" class="btn btn-outline-gray btn-sm mt-2" style="float:right">About
                      Us<i class="fas fa-chevron-circle-right ml-1" aria-hidden="true"></i></a>
                      {{- end -}}
                    </div>
                  </div>
                </div>
                
              </div>
              
              <!-- <div class="row mb-4">
                <div class="col-md-6 col-sm-12 mb-2">
                  
                  <div class="card bg-lightgray h-100">
                    <div class="card-body">
                      <h5 class="card-title text-muted"><i class="fas fa-book-open"></i>&nbsp;Teaching
                        resources</h5>
                        <p class="card-text fs-sm">Lesson plans and classroom tools that use our data.</p>
                        <hr>
                        <a href="" class="btn btn-outline-gray btn-sm mt-2" style="float:right">Go to
                          Teaching
                          Resources&nbsp;<i class="fas fa-chevron-circle-right"></i></a>
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="col-md-6 col-sm-12 mb-2">
                      
                      <div class="card bg-lightgray h-100 ">
                        <div class="card-body">
                          <h5 class="card-title text-muted"><i class="fab fa-buromobelexperte"></i>&nbsp;Data
                            downloads</h5>
                            <p class="card-text fs-sm">Customize and download datasets for your own research.
                            </p>
                            <hr>
                            <a href="" class="btn btn-outline-gray btn-sm mt-2" style="float:right">Go to Data
                              Downloads&nbsp;<i class="fas fa-chevron-circle-right"></i></a>
                            </div>
                          </div>
                          
                        </div>
                      </div> -->
                    </div>
                    <!--end main column-->
                  </div>
                  
                </article>
                {{- end -}}
                
                {{- define "js_bot" -}}
                
                {{- $js := resources.Get "js/accessible-autocomplete.min.js" -}}
                {{- $secureJS := $js -}}
                <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
                
                {{- $js := resources.Get "js/accessible-autocomplete.min.js.map" -}}
                
                {{- $js := resources.Get "js/uhflist.js" -}}
                {{- $secureJS := $js -}}
                <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
                
                <script type="text/javascript">
                  // https://www.aspsnippets.com/Articles/Populate-DropDownList-from-JSON-Array-using-JavaScript.aspx
                  function PopulateDropDownList() {
                    //Build an array containing Neighborhood records.
                    //UHFList.js contains a variable 'neighborhoods' with names zips and ids
                    
                    var ddlNeighborhoods = document.getElementById("last-neighborhood");
                    
                    //Add the Options to the DropDownList.
                    for (var i = 0; i < neighborhoods.length; i++) {
                      var option = document.createElement("OPTION");
                      
                      //Set Neighborhood Name in Text part.
                      option.innerHTML = neighborhoods[i].namezip;
                      
                      //Set Neighborhood Id in Value part.
                      option.value = neighborhoods[i].page_name;
                      
                      //Add the Option element to DropDownList.
                      ddlNeighborhoods.options.add(option);
                    }
                  }
                </script>
                <script type="text/javascript">
                  PopulateDropDownList();
                  var selectEl = document.querySelector('#last-neighborhood')
                  accessibleAutocomplete.enhanceSelectElement({
                    autoselect: true,
                    confirmOnBlur: true,
                    defaultValue: "",
                    minLength: 2,
                    selectElement: selectEl
                  })
                  
                  // this takes the form and on submit, sends page to a new location.
                  var searchForm = document.getElementById('last-neighborhood-select') // this is last-neighborhood-select because of changes applied by the AA JS.
                  document.querySelector('form.autocomplete-form').addEventListener("submit", function (e) {
                    e.preventDefault(); // prevent page re-load
                    var locVal = searchForm.options[searchForm.selectedIndex].value;
                    window.location = '{{ $.Site.Params.devpath }}/neighborhood-reports/'+ DOMPurify.sanitize(locVal);
                  });
                </script>
                
                {{- end -}}