{{ define "main" }}

<article class="container-fluid p-0 overflow-hidden" id="primary-content">
  <div class="row no-gutters">
    <div class="container wide">
      <div class="py-4 mb-4 border-bottom">
        <div class="row">
          <div class="col-md-6 px-20">
            <div class="row px-2">
              <h2 class="">Explore your city - through data.</h2>
              <p class="text-muted my-2">
                <span class="font-weight-bold">The environment is everything around us</span> - our air and water, the climate, our city's buildings and streets, and the society that we live in:
              </p>
            </div>

            <div class="row">
              <div class="col-md-6 px-20">
                <ul class="list-unstyled font-weight-bold">
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/airquality" }}>Air quality</a></li>
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/climatehealth" }}>Climate</a></li>
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/social" }}>Inequality</a></li>
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/pests" }}>Pests</a></li>
                </ul>
              </div>
              <div class="col-md-6 px-20">
                <ul class="list-unstyled font-weight-bold">
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/transportation" }}>Public space</a></li>
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/housing" }}>Housing</a></li>
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/childhealth" }}>Child health</a></li>
                  <li class="link-w-underline px-0"><a href={{ relURL "key-topics/foodanddrink" }}>Food and drink</a></li>
                </ul>
              </div>
              <div class="d-flex mt-3 w-100 mb-4 mb-md-0 pl-2">
                <a class="btn btn-primary" href={{ relURL "key-topics" }}>See all topics<i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 px-20">
            <div class="card content-card">
              <div class="card-content primary">
                <div class="position-relative" style='height: 330px; width: 100%; background-image: url({{ relURL ( urls.JoinPath "images" .Params.featured_image ) }}); background-position: center; background-size: cover;'>
                  <div class="overlay-trends">
                    <!-- Can use overlay-trends, overlay-map or overlay-topics -->
                  </div>
                </div>
                <div class="card-body">
                  <h3><a href="{{ relURL .Params.featured_link }}">{{ .Params.featured_title }}</a></h3>
                  <p>{{ .Params.featured_text }}</p>
                  <div class="d-flex justify-content-end mb-4 mb-md-0">
                    <!-- <a class="fs-sm font-weight-bold" href={{ relURL "data-stories" }}>All data stories<i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container wide">
      <div class="row">
        <div class="col-lg-4 px-20">
          <h2 class="fs-xl data-stories border-bottom pb-2"><i class="fas fa-passport mr-1" aria-hidden="true"></i>New data stories</h2>
          <div class="card-content mb-4">
            <div>
              {{- range first 3 ((where .Site.RegularPages "Section" "data-stories")) -}}

              <a href="{{ .RelPermalink }}" class="row no-gutters border-bottom py-3">
                <div class="col-4">
                  {{ $src := .Resources.GetMatch .Params.image }}
                  {{ $image := $src.Resize "740x"}}
                  <img src="{{ $image.RelPermalink }}">
                </div>

                <div class="col-8 ml-auto h-100 pl-2">
                  <p class="text-black fs-md"><span class="font-weight-bold">{{ .Title }}</span> {{ .Content | plainify | truncate 100 | htmlUnescape }} </p>
                </div>
              </a>

                {{- end -}}
                <div class="d-flex justify-content-end mt-1 mb-4 mb-md-0">
                  <a href={{ relURL "data-stories" }} class="font-weight-bold">All data stories <i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-20">

          <h2 class="fs-xl data-explorer border-bottom pb-2"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>Recently updated data</h2>

          {{- range .Site.Data.recently_updated_data.featured -}}
          <div class="link-w-underline">
            <a href="{{ relURL .link }}">{{ .copy }}</a>
          </div>
          {{- end -}}

          <div class="d-flex justify-content-end mt-1 mb-4">
            <a class="font-weight-bold" href={{ relURL "data-explorer" }}>All data <i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
          </div>


        </div>
        <div class="col-lg-4 px-20">
          <div class="shadow-sm mb-3 p-3 card-left-border">
            <div class="row no-gutters">
              <div class="col-11">
                <h3 class="text-black fs-xl pr-2 mb-2">Get updates and announcements</h3>
              </div>
              <div class="col-1">
                <i class="fas fa-bullhorn h2 text-primary" aria-hidden="true"></i>
              </div>
            </div>
            <p class="text-black mb-4"><a class="font-weight-bold" href="https://forms.gle/qcQvmLUWvBwjkFMRA" target="_blank">Sign up here!</a> We won't share your email address.</p>
          </div>

          <div class="shadow-sm mb-3 p-3 card-left-border">
            <div class="row no-gutters">
              <div class="col-11">
                <h3 class="text-black fs-xl pr-2 mb-2">Find what you need</h3>
              </div>
              <div class="col-1">
                <i class="fas fa-search h2 text-primary" aria-hidden="true"></i>

              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block mt-1" data-toggle="modal" data-target="#searchModal" class="btn nav-item-search d-none d-lg-block" title="Search">
              <i class="fas fa-search mr-1" aria-hidden="true"></i>Search the site
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container wide">
      <div class="row">
        <div class="col-12 mb-2">
          <h3>Tools</h3>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card content-card">
            <div class="card-content data-stories mb-4">
              <a class="position-relative" href={{ relURL "data-stories" }}>
                <div class="tab-data-stories h-100 w-100 position-absolute"></div>
                <img class="card-img-top" src={{ relURL "images/image_tab_data_stories.jpg" }}>
              </a>
              <div class="card-body">
                <h3 class="card-title">Data stories</h3>
                <p>Explainers on important health issues.</p>
                <div class="d-flex justify-content-end">
                  <a class="fs-sm font-weight-bold" href={{ relURL "data-stories" }}>All data stories<i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card content-card">
            <div class="card-content data-features mb-4">
              <a class="position-relative" href={{ relURL "data-features" }}>
                <div class="tab-data-features h-100 w-100 position-absolute"></div>
                <img class="card-img-top" src={{ relURL "images/image_key_topics.jpg" }}>
              </a>
              <div class="card-body">
                <h3 class="card-title">Data Features</h3>
                <p>Custom interactives, dashboards and reports.</p>
                <div class="d-flex justify-content-end">
                  <a class="fs-sm font-weight-bold" href={{ relURL "data-features" }}>Get data <i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card content-card">
            <div class="card-content n-reports mb-4">
              <a class="position-relative" href={{ relURL "neighborhood-reports" }}>
                <div class="tab-neighborhood-reports h-100 w-100 position-absolute"></div>
                <img class="card-img-top" src={{ relURL "images/image_tab_neighborhood_reports.jpg" }}>
              </a>
              <div class="card-body">
                <h3 class="card-title">Neighborhood Reports</h3>
                <p>Data on key neighborhood issues.</p>
                <div class="d-flex justify-content-end">
                  <a class="fs-sm font-weight-bold" href={{ relURL "neighborhood-reports" }}>Search here <i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-lg-3 col-sm-6">
          <div class="card content-card">
            <div class="card-content data-explorer mb-4">
              <a class="position-relative" href={{ relURL "data-explorer" }}>
                <div class="tab-data-explorer h-100 w-100 position-absolute"></div>
                <img class="card-img-top" src={{ relURL "images/image_tab_key_topics.jpg" }}>
              </a>
              <div class="card-body">
                <h3 class="card-title">Data Explorer</h3>
                <p>Maps, trends, tables, and more: hundreds of datasets.</p>
                <div class="d-flex justify-content-end">
                  <a class="fs-sm font-weight-bold" href={{ relURL "data-explorer" }}>Get data <i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mt-4 py-4 w-100" style="background-color: #EEEDEA;">
      <div class="container wide">
        <div class="row">
          <div class="col-md-11 mx-auto">
            <div class="row">
              <div class="col-md-4 my-2">
                <div class="card card-left-border shadow-sm h-100">
                  <div class="card-body">
                    <h5 class="card-title fs-sm mb-1">About us</h5>
                    <p class="fs-sm flex-grow-1">Learn more about the Environment & Health Data Portal, and the Health Department team behind it.</p>
                    {{- with .Site.GetPage "about/_index.md" -}}
                      <div class="d-flex justify-content-end">
                        <a class="fs-sm font-weight-bold" href="{{ .RelPermalink }}">About Us<i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                      </div>
                      {{- end -}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 my-2">
                <div class="card card-left-border shadow-sm h-100">
                  <div class="card-body">
                    <h5 class="card-title fs-sm mb-1">Visit our Github repo</h5>
                    <p class="fs-sm flex-grow-1">Found a bug? Know code? Visit our Github repo to get code, file an issue, or download data.</p>
                    <div class="d-flex justify-content-end">
                      <a class="fs-sm font-weight-bold" href="https://www.github.com/nychealth/EH-dataportal">Github<i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-4 my-2">
                <div class="card card-left-border shadow-sm h-100">
                  <div class="card-body">
                    <h5 class="card-title fs-sm mb-1">Join our team</h5>
                    <p class="fs-sm flex-grow-1">Passionate about health, environmental justice, and technology? Check out our open positions.</p>
                    {{- with .Site.GetPage "about/jobs.md" -}}
                      <div class="d-flex justify-content-end">
                        <a href="{{ .RelPermalink }}" class="fs-sm font-weight-bold">Jobs <i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                      </div>
                    {{- end -}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Invisible button to trigger modal -->
  <button id="openModalBtn" type="button" class="btn btn-primary hide" data-toggle="modal" data-target="#wxModal">Open Modal</button>

  <div class="modal" tabindex="-1" role="dialog" id="wxModal">
    <div class='modal-dialog modal-lg modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-body'>
              <p><span class="font-weight-bold">It's hot! The forecast high is <span id="forecasthigh" style="background-color:red;font-weight:bold;" class="p-1 text-white">XX</span></span>. Get resources on heat and health:
                <ul>
                  <li><a href={{ relURL "data-features/heat-syndrome" }}>Realtime heat illness data</a></li>
                  <li><a href={{ relURL "data-features/hvi" }}>The Heat Vulnerability Index</a></li>
                  <li><a href={{ relURL "key-topics/climatehealth" }}>All Climate and Health data and resources</a> </li>
                </ul>
              </p>
            </div>
            <hr>
            <button type="button" class="btn btn-outline-primary close-dialog" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

  <!-- Invisible button to trigger modal -->
  <button id="openModalBtn2" type="button" class="btn btn-primary hide" data-toggle="modal" data-target="#aqiModal">Open Modal</button>

<div class="modal" tabindex="-1" role="dialog" id="aqiModal">
  <div class='modal-dialog modal-lg modal-dialog-centered' role='document'>
      <div class='modal-content'>
          <div class='modal-body'>
              <p><span class="font-weight-bold">Today's air quality is <span id="aqimeaning" class="p-1">AQI interpretation</span></span>. Get data on air quality:
                <ul>
                  <li><a href={{ relURL "data-features/realtime-air-quality" }}>Realtime air quality</a></li>
                  <li><a href={{ relURL "data-features/neighborhood-air-quality" }}>Your neighborhood's air quality</a></li>
                  <li><a href={{ relURL "key-topics/airquality" }}>All Air Quality data and resources</a></li>
                </ul>
              </p>
          </div>
          <hr>
          <button type="button" class="btn btn-outline-primary close-dialog" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>



</article>

{{- end -}}

{{ define "js_bot" }}


{{- $js := resources.Get "js/accessible-autocomplete.min.js" -}}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- $js := resources.Get "js/uhflist.js" -}}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

<script>

  function initialize() {
    // Get weather API to retrieve forecast high
    fetch('https://api.weatherapi.com/v1/forecast.json?key=0d4a042ad8ec468da7b135156231711&q=NYC&days=1&aqi=yes&alerts=no')
      .then(response => {return response.json()})
      .then(data => {
      // console.log(data)
      console.log('forecast high: ' + data.forecast.forecastday[0].day.maxtemp_f)

      if (data.forecast.forecastday[0].day.maxtemp_f > 90) {
          console.log('forecast max is: ' + data.forecast.forecastday[0].day.maxtemp_f)
          fireHeatModal(data.forecast.forecastday[0].day.maxtemp_f)
          document.getElementById('forecasthigh').innerHTML = data.forecast.forecastday[0].day.maxtemp_f + '°F'
      } else {}

    })

    // get AQI API to retrieve forecast AQI
    fetch('https://www.airnowapi.org/aq/observation/zipCode/current/?format=application/json&zipCode=10013&distance=25&API_KEY=B34C7BA1-26C7-4DD2-9B1C-AAFD7AF4F12F')
    .then(response => {return response.json()})
    .then(data => {
      // console.log(data) 
      var aqi1 = data[0].Category.Number
      var aqi2 = data[1].Category.Number
      var aqi

      aqi1 >= aqi2 ? (aqi = aqi1) : (aqi = aqi2)

      console.log('aqi: ' + aqi)

      aqi > 2 ? fireAQmodal(aqi) : {}

    });

  };

  function fireHeatModal(x) {
      var button = document.getElementById('openModalBtn');
      button.addEventListener('click', function() {
          console.log('heat modal fired. forecast high: ' + x);
      });
  
      button.click();

  }

  function fireAQmodal(aqi) {
    var button = document.getElementById('openModalBtn2')
    button.addEventListener('click', function() {
      console.log('aq modal fired. aqi: ', aqi)
    });

    // style the AQI modal
    var aqiMeaning = document.getElementById('aqimeaning')
    var aqiInterpretation; 
    if (aqi == '1') {
      aqiInterpretation = 'Good'
      aqiMeaning.style['background-color'] = '#00E400'
    } else if (aqi == '2') {
      aqiInterpretation = 'Moderate'
      aqiMeaning.style['background-color'] = '#FFFF00'
    } else if (aqi == '3') {
      aqiInterpretation = 'Unhealthy for sensitive groups'
      aqiMeaning.style['background-color'] = '#FF7E00'
    } else if (aqi == '4') {
      aqiInterpretation = 'Unhealthy'
      aqiMeaning.style['background-color'] = '#FF0000'
      aqiMeaning.style.color = 'white'
    } else if (aqi == '5') {
      aqiInterpretation = 'Very unhealthy'
      aqiMeaning.style['background-color'] = '#993399'
      aqiMeaning.style.color = 'white'
    } else if (aqi == '6') {
      aqiInterpretation = 'Hazardous'
      aqiMeaning.style['background-color'] = '#7E0023'
      aqiMeaning.style.color = 'white'
    }
    aqiMeaning.innerHTML = aqiInterpretation

    button.click();
  }

  // send it
  initialize();


</script>

{{- end -}}