{{- define "main" -}}

<article class="container-fluid de-wrapper" id="skip-header-target" data-pagefind-ignore="all">

    <section>

        <!-- Section.html doesn't have the left-side indicator box and legend overlays-->


        <!-- For visual continuity, Section.html has the right-side green bar, but no tab content -->

        <div class="row position-relative" style="z-index: 2;">

            <div class="position-absolute de-tabs fs-sm">
                <div class="d-flex flex-column flex-md-row justify-content-end ">

                    {{- partial "de-tab-button" . -}}

                </div>
            </div>

            <div id="map">
                <!-- map -->
            </div>

        </div>

    </section>

</article>

{{- $basemap            := resources.Get "js/data-explorer-new/basemap.js" -}}
{{- $basemap_secure     := $basemap | partial "short-fingerprint.html" -}}
<script type="text/javascript" src="{{ $basemap_secure.RelPermalink }}" integrity="{{ $basemap_secure.Data.Integrity }}" defer></script>

{{- $selector            := resources.Get "js/data-explorer-new/topic-indicator-selector.js" -}}
{{- $selector_secure     := $selector | partial "short-fingerprint.html" -}}
<script type="text/javascript" src="{{ $selector_secure.RelPermalink }}" integrity="{{ $selector_secure.Data.Integrity }}" defer></script>


<script>
// fire modal
  $(document).ready(function() {

    let url = new URL(window.location.href);

    // Add the parameter
    url.searchParams.set('home', 'true');

    $('#topicSelector').modal('show'); // fire Topic Selector
  });

// ----------------------------------------------------------------------- //
// chart resize
// ----------------------------------------------------------------------- //

function updateChartPlotSize() {
    setTimeout(() => {
        window.dispatchEvent(new Event('resize'));
    }, 200)
}

</script>

{{ end }}