{{- define "main" -}}

<article class="container-fluid de-wrapper" id="skip-header-target" data-pagefind-ignore="all">

    <section>

        <div class="row position-relative" style="z-index: 2;">

            {{- partial "de-indicator-info" . -}}

            {{- partial "de-tabs" . -}}

            <div id="map">
                <!-- map -->
            </div>

        </div>

    </section>

</article>


{{- partial "de-print-chart-modal" . -}}

<!-- Populate indicator selection modal for this page -->

{{- $indicatorsJSON := slice -}}

{{- range .Params.indicators }}
    {{- $indicatorsJSON = $indicatorsJSON | append (dict "header" .header "indicators" .IndicatorID) -}}
{{- end }}

{{- $json := $indicatorsJSON | jsonify -}}


<!-- JAVASCRIPT FILES -->

{{- /*  non-bundled DE code - get resource, fingerprint, include  */}}

{{- $global    := resources.Get "js/data-explorer-new/global.js" -}}
{{- $app       := resources.Get "js/data-explorer-new/app.js" -}}
{{- $geo       := resources.Get "js/data-explorer-new/geography.js" -}}
{{- $data      := resources.Get "js/data-explorer-new/data.js" -}}
{{- $measures  := resources.Get "js/data-explorer-new/measures.js" -}}
{{/*  {{- $choroData := resources.Get "js/data-explorer-new/choroData.js" -}}  */}}
{{/*  {{- $choro     := resources.Get "js/data-explorer-new/choro.js" -}}  */}}
{{- $table     := resources.Get "js/data-explorer-new/table.js" -}}
{{- $map       := resources.Get "js/data-explorer-new/map.js" -}}
{{- $311       := resources.Get "js/data-explorer-new/311.js" -}}
{{- $selector  := resources.Get "js/data-explorer-new/topic-indicator-selector.js" -}}
{{- $menus     := resources.Get "js/data-explorer-new/menu.js" -}}
{{- $bar       := resources.Get "js/data-explorer-new/bar.js" -}}
{{- $trend     := resources.Get "js/data-explorer-new/trend.js" -}}
{{/*  {{- $correlate := resources.Get "js/data-explorer-new/correlate.js" -}}  */}}


{{- $global_secure    := $global | partial "short-fingerprint.html" -}}
{{- $app_secure       := $app | partial "short-fingerprint.html" -}}
{{- $geo_secure       := $geo | partial "short-fingerprint.html" -}}
{{- $data_secure      := $data | partial "short-fingerprint.html" -}}
{{- $measures_secure  := $measures | partial "short-fingerprint.html" -}}
{{/*  {{- $choroData_secure := $choroData | partial "short-fingerprint.html" -}}  */}}
{{/*  {{- $choro_secure     := $choro | partial "short-fingerprint.html" -}}  */}}
{{- $table_secure     := $table | partial "short-fingerprint.html" -}}
{{- $map_secure       := $map | partial "short-fingerprint.html" -}}
{{- $311_secure       := $311 | partial "short-fingerprint.html" -}}
{{- $selector_secure  := $selector | partial "short-fingerprint.html" -}}
{{- $menus_secure     := $menus | partial "short-fingerprint.html" -}}
{{- $bar_secure       := $bar | partial "short-fingerprint.html" -}}
{{- $trend_secure     := $trend | partial "short-fingerprint.html" -}}
{{/*  {{- $correlate_secure := $correlate | partial "short-fingerprint.html" -}}  */}}


<script type="text/javascript" src="{{ $global_secure.RelPermalink }}" integrity="{{ $global_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $app_secure.RelPermalink }}" integrity="{{ $app_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $geo_secure.RelPermalink }}" integrity="{{ $geo_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $data_secure.RelPermalink }}" integrity="{{ $data_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $measures_secure.RelPermalink }}" integrity="{{ $measures_secure.Data.Integrity }}"></script>
{{/*  <script type="text/javascript" src="{{ $choroData_secure.RelPermalink }}" integrity="{{ $choroData_secure.Data.Integrity }}"></script>  */}}
{{/*  <script type="text/javascript" src="{{ $choro_secure.RelPermalink }}" integrity="{{ $choro_secure.Data.Integrity }}"></script>  */}}
<script type="text/javascript" src="{{ $table_secure.RelPermalink }}" integrity="{{ $table_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $map_secure.RelPermalink }}" integrity="{{ $map_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $311_secure.RelPermalink }}" integrity="{{ $311_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $selector_secure.RelPermalink }}" integrity="{{ $selector_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $menus_secure.RelPermalink }}" integrity="{{ $menus_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $bar_secure.RelPermalink }}" integrity="{{ $bar_secure.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $trend_secure.RelPermalink }}" integrity="{{ $trend_secure.Data.Integrity }}"></script>
{{/*  <script type="text/javascript" src="{{ $correlate_secure.RelPermalink }}" integrity="{{ $correlate_secure.Data.Integrity }}"></script>  */}}


<script>
    // Hugo JSON becomes a real JS object
    const these_indicators = {{ $json | safeJS }};

    // Immediately call your function
    printIndicators(these_indicators, "{{ .RelPermalink }}");

    checkURL()
    
</script>

{{ end }}