
</div>
<div class="wide my-4">
<iframe title="{{ index .Params 0}}" aria-label="Interactive chart" id="datawrapper-chart-O0SUA" src="//datawrapper.dwcdn.net/{{ index  .Params 1}}" scrolling="no" frameborder="0"
style="width: 0; min-width: 100% !important; border: none;" height="{{  index .Params 2}}"></iframe> <script type="text/javascript">!function () { "use strict"; window.addEventListener("message", function (a) { if (void 0 !== a.data["datawrapper-height"]) for (var e in a.data["datawrapper-height"]) { var t = document.getElementById("datawrapper-chart-" + e) || document.querySelector("iframe[src*='" + e + "']"); t && (t.style.height = a.data["datawrapper-height"][e] + "px") } }) }();
</script>
</div>
<div class="narrow">