{{ define "main" }}


<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key_topics/">Key Topics</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ou>
            </nav>
        </div>

        <div class="col-md-2 mr-auto"></div>

    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12 ml-auto">

            <div class="row">
                <h2><i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>
                    {{ .Title }}</h2>
        
                {{ .Content}}
            </div>

            <div class="row mt-2">
                <!--Conditional if code only executes contents (related partial) if that intersection content exists. So it removes header if null content-->
                {{ if where ( where .Site.RegularPages "Section" "data_stories") ".Params.categories" "intersect" ( slice .Params.relatedCategory ) }}
                <div class="col-md-6 pl-0">
                    <h3><i class="fas fa-passport mr-1" aria-hidden="true"></i>Data Stories</h3>
                    <div class="card content-card mb-4">
                        <div class="card-content">
                            <div class="card-body">
                                    <p class="card-text">        

                                        {{ partial "related" (dict "section" "data_stories" "layout" "card" "content" . ) }}

                                            <a style="float:right" class="my-2" href="/data_stories/">See all Data Stories<span class="fas fa-angle-right ml-1" aria-hidden="true"></span></a>

                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                <!--end conditional here-->



                <div class="col-md-6 pl-0">
                    {{ if where ( where .Site.RegularPages "Section" "neighborhood_reports") ".Params.categories" "intersect" ( slice .Params.relatedCategory ) }}
                        <h3><i class="fas fa-map-marked-alt mr-1" aria-hidden="true"></i>Neighborhood Reports</h3>
                        {{ partial "related" (dict "section" "neighborhood_reports" "layout" "button" "content" . ) }}
                        <hr class="my-2">
                    {{ end }}

                    {{ if where ( where .Site.RegularPages "Section" "key_topics") ".Params.categories" "intersect" ( slice .Params.relatedCategory ) }}
                        <h3><i class="fas fa-chart-bar mr-1" aria-hidden="true"></i>Data Features</h3>
                        {{ partial "related" (dict "section" "key_topics" "layout" "button" "content" . ) }}     
                    {{ end }}

                </div>






            </div>




            <div class="row mt-4 mb-4">

                    <h3><i class="fas fa-chart-line pr-1" aria-hidden="true"></i>Get the data: <span class="text-muted">Related datasets in the Data Explorer</span></h3>

                    <hr>
                    {{ partial "related" (dict "section" "data_explorer" "layout" "list" "content" . ) }}
                   
                    

            </div>



    
        </div>


        <div class="col-md-3 mr-auto text-right">
            <h4>Other Key Topics</h4>
            <hr>
            {{ range where (where .Site.Pages "Section" "key_topics") ".File.BaseFileName" "_index" }}
           <p class="my-2"><a href="{{ .URL}}">{{ .Title }}</a></p>
            {{ end}}
            
        </div>
    

    </div>







</article>





{{end}}