{{- define "main" -}}

<div class="mt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 mx-auto col-sm-12">
        <!-- content goes here -->
        <nav aria-label="breadcrumb" class="mb-2">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
              <li class="breadcrumb-item"><a href={{ relURL "neighborhood-reports" }}>Neighborhood Reports</a></li>
              <li class="breadcrumb-item active"><a href="{{ relURL .RelPermalink }}">{{ .Title }}</a></li>
          </ul>
        </nav>

        <h1 class="report-title border-bottom mt-4" data-pagefind-ignore="all">Neighborhood Reports for
          <span class="sub-title">{{ .Title }}</span>
        </h1>

        {{- $uhflist := ( resources.Get "js/uhflist.json" ) | transform.Unmarshal -}}

        {{/*  get neighborhood name  */}}

        {{- $neighborhood_dir := .Page.File.Dir | path.Base | lower -}}

        {{- /*  get zip codes - first get element for neighborhood, then extract zip codes  */ -}}
        {{- /*  "where" returns an array, so you need to unbox it with index 0  */ -}}

        {{- $zip_codes := ( index ( where $uhflist "page_name" $neighborhood_dir ) 0 "Zipcodes" ) -}}


        <p class="report-description fs-lg mt-2 mb-4">{{ .Title }} includes ZIP Codes: <span id="zips" class="home-label font-weight-bold">{{- $zip_codes -}}.</span></p>

        <div class="row">
          <div class="col-md-9">

            <div class="row">

              {{- range .Pages -}}

                <div class="card content-card mb-4 col-sm-6 col-md-4">
                  <div class="card-content">

                    {{- if .Params.seo_image -}}
                    {{- $src := resources.Get .Params.seo_image -}}
                    {{- $image := $src.Fill "740x400" -}}

                    <a href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" class="card-img-top" alt="City photograph for the {{ lower .Title }} report"></a>
                    {{- end -}}

                    <div class="card-body" data-pagefind-ignore="all">
                      <h2 class="card-title fs-md"><a href="{{ .RelPermalink }}" class="text-primary">{{ .Title }}</a></h2>
                      <p class="card-text fs-md">
                          {{ .Summary }}
                          <a href="{{ .RelPermalink }}">See&nbsp;Report&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        </p>
                    </div>
                  </div>
                </div>

              {{- end -}}
            </div>


          </div>

          <div class="col-md-3">
            <div class="border mb-2 nr-map-highlight">
              {{- partial "nr-map-highlight" . -}}
            </div>
          </div>

        </div>


      </div>

    </div>





  </div>
</div>


            <!--
            {{- range .Pages -}}
            <div class="row no-gutters mb-3" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 10px 0 rgba(0, 0, 0, 0.17);">
              <div class="col-4 border mh-100">
                {{- if .Params.seo_image -}}
                {{- $src := resources.Get .Params.seo_image -}}
                {{- $image := $src.Fill "740x400" -}}

                <a href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" class="card-img-top" alt="City photograph for the {{ lower .Title }} report"></a>
                {{- end -}}
              </div>

              <div class="col-8 ml-auto h-100 p-1">
                <p class="h4"><a class="link-track text-primary font-weight-bold" href="">{{ .Title }}</a></p>
                 <p class="fs-md">{{ .Summary }}
                  <a href="{{ .RelPermalink }}">See Report ></a>
                </p>
              </div>
            </div>
            {{- end -}}
            -->

<script type="text/javascript">

</script>

{{- end -}}