{{- define "main" -}}

<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mx-auto col-sm-12">
        <!-- content goes here -->
        <nav aria-label="breadcrumb" class="mt-2 mb-3">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
              <li class="breadcrumb-item"><a href={{ relURL "neighborhood-reports" }}>Neighborhood Reports</a></li>
              <li class="breadcrumb-item active"><a href="{{ relURL .RelPermalink }}">{{ .Title }}</a></li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-md-4">
            <div style="height: 450px">
                {{- partial "nr-leaflet" . -}}
            </div>

          </div>

          <div class="col-md-8">
            <h1 class="report-title border-bottom" data-pagefind-ignore="all">Neighborhood Reports for
              <span class="sub-title">{{ .Title }}</span>
            </h1>

            ZIP Codes: {{ partial "nr-insert-zips" . }}

            <div class="row no-gutters mt-4">

              {{- range .Pages -}}

                <div class="card card-left-border shadow-sm col-11 mr-auto mb-4 p-0" data-pagefind-ignore="all">

                  <div class="row no-gutters">

                    <div class="col-8 h-100 p-1">
                      <h2 class="card-title fs-md"><a href="{{ .RelPermalink }}" class="text-primary">{{ .Title }}</a></h2>
                      <p class="card-text fs-md">
                          {{ .Summary }}
                          </p>
                         <p class="fs-md text-right"> <a href="{{ .RelPermalink }}">See&nbsp;Report&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        </p>
                    </div>

                                          {{- if .Params.seo_image -}}
                      {{- $src := resources.Get .Params.seo_image -}}
                      {{- $image := $src.Fill "740x400" -}}

                    <div class="col-4 h-100" style="background-image: url({{ $image.RelPermalink }});background-size: cover;">



                    </div>
                    {{- end -}}
                  </div>

                </div>

              {{- end -}}
            </div>

          </div>
        </div>

      </div>

    </div>





  </div>
</div>


            <!--
            {{- range .Pages -}}
            <div class="row no-gutters mb-3" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 10px 0 rgba(0, 0, 0, 0.17);">
              <div class="col-4 border mh-100">
                {{- if .Params.seo_image -}}
                {{- $src := resources.Get .Params.seo_image -}}
                {{- $image := $src.Fill "740x400" -}}

                <a href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" class="card-img-top" alt="City photograph for the {{ lower .Title }} report"></a>
                {{- end -}}
              </div>

              <div class="col-8 ml-auto h-100 p-1">
                <p class="h4"><a class="link-track text-primary font-weight-bold" href="">{{ .Title }}</a></p>
                 <p class="fs-md">{{ .Summary }}
                  <a href="{{ .RelPermalink }}">See Report ></a>
                </p>
              </div>
            </div>
            {{- end -}}
            -->

{{- end -}}