{{- define "main" -}}

<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 mx-auto col-sm-12">
        <!-- content goes here -->
        <nav aria-label="breadcrumb" class="mt-2 mb-3">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
              <li class="breadcrumb-item"><a href={{ relURL "neighborhood-reports" }}>Neighborhood Reports</a></li>
              <li class="breadcrumb-item active"><a href="{{ relURL .RelPermalink }}">{{ .Title }}</a></li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-md-4">
            <div style="height: 450px">
                {{- partial "nr-leaflet" . -}}
            </div>

          </div>

          <div class="col-md-8">
            <h1 class="report-title border-bottom" data-pagefind-ignore="all">Neighborhood Reports for
              <span class="sub-title">{{ .Title }}</span>
            </h1>

            <div class="fs-md"><span style="font-weight:bold;color:darkslategrey">ZIP Codes:</span> {{ partial "nr-insert-zips" . }}
            </div>

            <div class="row mt-4"> <!-- Do we need the no-gutters? I think this is the card parent row -->

              {{- range .Pages -}}

                <div class="card content-card mb-3 col-md-4 col-sm-6" data-pagefind-ignore="all">
                  <div class="card-content primary">
                  {{- if .Params.seo_image -}}
                  {{- $src := resources.Get .Params.seo_image -}}
                  {{- $image := $src.Resize "740x" -}}

                <div style="width: 100%; height: 200px; background-image: url({{ $image.RelPermalink }});background-size:cover">



                </div>
                {{- end -}}
                  <div class="card-body p-2">
                      <h2 class="card-title fs-md"><a href="{{ relURL "neighborhood-reports/" }}{{ .File.BaseFileName }}/?neighborhood={{ $.Title | urlquery }}" class="text-primary fs-lg">{{ .Title }}</a></h2>
                      <p class="card-text fs-sm">
                          {{ .Summary | truncate 150}}
                          </p>
                         <p class="fs-sm text-right"> <a href="{{ relURL "neighborhood-reports/" }}{{ .File.BaseFileName }}/?neighborhood={{ $.Title | urlquery }}">See&nbsp;report&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        </p>                   
                    </div>
                  </div>
                </div>

              {{- end -}}
            </div>

          </div>
        </div>

      </div>

    </div>





  </div>
</div>


            <!--
            {{- range .Pages -}}
            <div class="row no-gutters mb-3" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 10px 0 rgba(0, 0, 0, 0.17);">
              <div class="col-4 border mh-100">
                {{- if .Params.seo_image -}}
                {{- $src := resources.Get .Params.seo_image -}}
                {{- $image := $src.Fill "740x400" -}}

                <a href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" class="card-img-top" alt="City photograph for the {{ lower .Title }} report"></a>
                {{- end -}}
              </div>

              <div class="col-8 ml-auto h-100 p-1">
                <p class="h4"><a class="link-track text-primary font-weight-bold" href="">{{ .Title }}</a></p>
                 <p class="fs-md">{{ .Summary }}
                  <a href="{{ .RelPermalink }}">See Report ></a>
                </p>
              </div>
            </div>
            {{- end -}}
            -->

{{- end -}}