{{- define "main" -}}

<style>
    .card-header {
        padding: 0.5rem 0.5rem; 
        background: white!important;
    }

    .card-header a {
        color: black;
        text-decoration: none;
    }

    .report-section {
        border-top: 5px solid #008939!important;
    }

    .card-header:hover {
        background-color: #EFFAF4 !important;
        text-decoration: none;
    }

    .card-header .btn:hover {
        text-decoration: none;
    }

    .comp-good::before {
    content: "✅ ";
    }

    .better-sm::before {
    content: "✅ ";
    }

    .comp-bad::before {
    content: "‼️ ";
    }

    .worse-sm::before {
    content: "‼️ ";
    }

    .comp-null::before {
    content: "⚪ ";
    }

    .middle-sm::before {
    content: "⚪ ";
    }

    .no-bullets li {
        list-style:none;
        padding-left: 0px;
    }

    .card-body-no-top {
        padding-top: 0px!important;
        padding-left: 12px!important;
    }

    @media print {
        .col-print-12 {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

</style>


{{- /* ==== qrcode ==== */}}

{{- $qrcode := resources.Get "node_modules/qrcode-generator/dist/qrcode.js" | partial "short-fingerprint.html" }}
<script src="{{ $qrcode.RelPermalink }}" integrity="{{ $qrcode.Data.Integrity }}" crossorigin="anonymous"></script>


{{- /* ==== get topics and measures for this report ==== */}}

{{- $report_topics := ( index ( index $.Site.Data.globals.NR_content $.Params.content_yml) "report_topics" ) -}}


{{- /*  ==== javascript for producing VL charts ====  */}}

<script>
    let topicIndicators;
    let sti;
    let thisInd;
    let NeighborhoodName = "{{ $.Params.neighborhood }}"; // setting for use in visualizations

    // this gets a json of topics and nested indicators
    async function get_topic_indicators() {
        d3.json('{{ relURL "IndicatorMetadata/topic_indicators.json" }}').then(data => {
            topicIndicators = data
        });
    }

    get_topic_indicators();

    // this is called when an indicator is clicked. it produces the indicator's data-explorer URL and sends it to the modal in nr-indicator.html.

    const getURL = async (indID, dataname) => {

        console.log("getURL:", indID, dataname);

        let thisTopic = '';
        let topicArray = [];
        let ind = Number(indID)
        let URL;

        // console.log('getURL running for ' + ind)

        for (let y in topicIndicators) {

            topicArray = topicIndicators[y].IndicatorID

            if (topicArray.includes(ind)) {

                thisTopic = y
                // console.log('topic is: ' + ind + ": " + thisTopic)
                URL = {{ relURL "data-explorer/" }} + thisTopic + "/?id=" + ind; // creates URL
                document.getElementById(indID).style.display = "inline-block";
                document.getElementById(indID).href = URL; // sends it to unique ID - Get the Dataset button

                return

            } else {
                // console.log('for ' + ind + ", no topic.")
                // document.getElementById(dataname).style.display = "none";
            }
        }
    }

    // ==== loading specs ==== //

    // ---- summary ---- //

    let summarySpec;

    d3.json({{ relURL "js/neighborhood-reports/spec/summarySpec.json" }} ).then(data => {

        summarySpec = data;

        // highlight current neighborhood

        summarySpec.encoding.color.condition.test = "datum.neighborhood=='" + NeighborhoodName + "'";

    })

    // ---- map ---- //

    let mapSpec;

    d3.json({{ relURL "js/neighborhood-reports/spec/mapSpec.json" }} ).then(data => {

        mapSpec = data;

        // highlight current neighborhood

        mapSpec.layer[2].encoding.stroke.condition.test = "datum.neighborhood == '" + NeighborhoodName + "'";

        // set data branch for geo files

        mapSpec.transform[0].from['data'].url = "{{ site.Params.data_repo }}{{ site.Params.data_branch }}/geography/UHF42.topo.json"
        mapSpec.layer[0].data.url = "{{ site.Params.data_repo }}{{ site.Params.data_branch }}/geography/borough.topo.json"

    });

    // ---- trend ---- //

    let trendSpec;

    d3.json({{ relURL "js/neighborhood-reports/spec/trendSpec.json" }} ).then(data => {

        trendSpec = data;

        // highlight current neighborhood

        trendSpec.layer[1].encoding.color.condition.test = "datum.neighborhood=='" + NeighborhoodName + "'";

    });

</script>


{{- /*  ==== HTML for producing report ====  */}}

{{- /*  create zip code var in outer scope  */}}

{{ $zip_codes := "" -}}

{{- /*  variables for nr-sub_nav partial  */}}

{{- /*  set hugo provided vars as local vars so that we can use them in different scopes  */}}

{{- $neighborhood_dir := .Parent.File.Dir -}}
{{- $report_filename := .File.BaseFileName -}}


<section class="container-fluid" id="skip-header-target" data-pagefind-ignore="all">

    <div class="row">
        <div class="col-lg-12 mx-auto col-12">
            <nav aria-label="breadcrumb" class="mt-2 mb-3 d-print-none">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item d-none d-sm-block"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "neighborhood-reports" }}>Neighborhood Reports</a></li>
                    <li class="breadcrumb-item"><a href="../" id="neighbLink">{{ $.Params.neighborhood }}</a></li>
                    <li class="breadcrumb-item active d-none d-sm-block"><a href="{{ .RelPermalink }}">{{ $.Params.title }}</a></li>
                </ul>
            </nav>

            <div class="row">
                <div class="col-md-4 d-print-none">
                    <div class="border" style="height: 450px; width:100%">
                        {{ partial "nr-leaflet" . }}
                        
                    </div>

                    <div class="fs-md my-1">
                        <span style="font-weight:bold;color:darkslategrey">ZIP Codes:</span> {{ partial "nr-insert-zips" . }}
                    </div>


                    <div class="report-section card-body-no-top my-2">

                        <table class="table fs-sm">
                        <thead class="sr-only">
                        <tr>
                            <th>Metric</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Population</td>
                            <td id="popPrint" class="text-right">XX,XXX</td>
                        </tr>
                        <tr>
                            <td>Over age 65</td>
                            <td id="oldPrint" class="text-right">YY%</td>
                        </tr>
                        <tr>
                            <td>Under age 18</td>
                            <td id="youngPrint" class="text-right">YY%</td>
                        </tr>
                        <tr>
                            <td>Median income</td>
                            <td id="incPrint" class="text-right">$XX,YYY</td>
                        </tr>
                        <tr>
                            <td>Poverty</td>
                            <td id="povPrint" class="text-right">YY%</td>
                        </tr>
                        <tr>
                            <td>Graduated high school</td>
                            <td id="gradPrint"  class="text-right">YY%</td>
                        </tr>
                        <tr>
                            <td>Limited English</td>
                            <td id="engPrint"  class="text-right">YY%</td>
                        </tr>
                        <tr>
                            <td>Owner-occupied homes</td>
                            <td id="ownPrint"  class="text-right">YY%</td>
                        </tr>
                        <tr>
                            <td>Rent-burdened households</td>
                            <td id="rentPrint" class="text-right">YY%</td>
                        </tr>
                        </tbody>
                        </table>
                        <span class="fs-xs" style="color:darkslategray;"><strong>Source:</strong> American Community Survey</span>

                    </div>

                </div>

                <div class="col-md-8 col-print-12">
                    <div class="row no-gutters d-print-none">
                        <div class="col-sm mb-2 mr-1 mb-lg-0">
                        <button class="btn btn-sm btn-block btn-outline-primary text-decoration-none btn-light-green-bg py-2 output-topic-button" id="Active">Active design</button>
                        </div>
                        <div class="col-sm mb-2 mr-1 mb-lg-0">
                        <button class="btn btn-sm btn-block btn-outline-primary text-decoration-none btn-light-green-bg py-2 output-topic-button" id="Asthma">Asthma</button>
                        </div>
                        <div class="col-sm mb-2 mr-1 mb-lg-0">
                        <button class="btn btn-sm  btn-block btn-outline-primary text-decoration-none btn-light-green-bg py-2 output-topic-button" id="Climate">Climate</button>
                        </div>
                        <div class="col-sm mb-2 mr-1 mb-lg-0">
                        <button class="btn btn-sm btn-block btn-outline-primary text-decoration-none btn-light-green-bg py-2 output-topic-button" id="Housing">Housing</button>
                        </div>
                        <div class="col-sm mb-2 mr-1 mb-lg-0">
                        <button class="btn btn-sm btn-block btn-outline-primary text-decoration-none btn-light-green-bg py-2 output-topic-button" id="Outdoor">Outdoor Air</button>
                        </div>
                    </div>

                    <h1 class="h2 mt-3">{{ $.Params.title }} <span style="font-weight:normal">in</span></h1>
                        <span class="h2 sub-title text-primary">{{ $.Params.neighborhood }}</span>

                    <hr>
                    {{ $pagetitle := $.Params.title }}
                        {{ if in $pagetitle "Asthma" }}
                            {{ with .Site.GetPage "/neighborhood-reports/Asthma_and_the_Environment.md" }}

                            <p>{{ .Content }}</p>
                        
                            {{ end }}
                        {{ else if in $pagetitle "Active" }}
                            {{ with .Site.GetPage "/neighborhood-reports/Active_Design_Physical_Activity_and_Health.md" }}

                        <p>{{ .Content }}</p>
                    
                            {{ end }}
                        {{ else if in $pagetitle "Outdoor" }}

                            {{ with .Site.GetPage "/neighborhood-reports/Outdoor_Air_and_Health.md" }}

                        <p>{{ .Content }}</p>
                    
                            {{ end }}
                        {{ else if in $pagetitle "Housing" }}
                        {{ with .Site.GetPage "/neighborhood-reports/Housing_and_Health.md" }}

                        <p>{{ .Content }}</p>
                    
                            {{ end }}
                        {{ else if in $pagetitle "Climate" }}
                        {{ with .Site.GetPage "/neighborhood-reports/Climate_and_Health" }}

                        <p>{{ .Content }}</p>
                    
                            {{ end }}
                        {{ else }}
                            {{ $.Params.summary }}
                    {{ end }}

                    <div class="d-print-none">
                        <button onclick="window.print()" class="btn btn-sm btn-report mt-2" target="_blank"><i class="fas fa-print mr-1"></i>Print</button>
                        <button onclick="downloadData()" class="btn btn-sm btn-report mt-2" target="_blank"><i class="fa fa-download mr-1"></i>Download <span class="sr-only">(opens in a new tab)</span></button>
                        <button class="btn btn-sm btn-report mt-2 float-right"   data-toggle="modal" data-target="#modal-rank"target="_blank"><i class="fas fa-question-circle mr-1" aria-hidden="true"></i>Comparisons <span class="sr-only">(opens in a new tab)</span></button>
                    </div>


                    <!-- Revised, programmatic output -->
                    {{- range $index, $rt := $report_topics -}}
                        {{ $accordionIndex := $index }}
                        
                        <div class="accordion my-4 report-section pt-2 border-left border-right border-bottom" id="accordion-{{ $index }}">

                            <div class="px-2 pb-2">
                                <h4 class="fs-rg">
                                    <!-- Print report_topic in sentence case --> 
                                    {{- $lower := lower $rt.report_topic -}}
                                    {{- $first := upper (substr $lower 0 1) -}}
                                    {{- $rest := substr $lower 1 -}}
                                    {{- printf "%s%s" $first $rest -}}

                                </h4>
                                <p class="fs-sm">
                                    {{- $rt.report_topic_description -}}
                                </p>
                            </div>


                                        {{- /*  filter measures for this topic  */}}

                                        {{- /*  length = number of indicators in this report topic x 42 neighborhoods  */}}

                                        {{ $count := math.Counter }}

                                        {{ $clean_report_topic := replace $rt.report_topic ":" "" }}

                                        {{ $data_path := print site.Params.data_repo site.Params.data_branch "/neighborhood-reports/data/report/" $.Params.content_yml " " $clean_report_topic ".json" }}

                                        {{ $topic_data := dict }}

                                        {{ with resources.GetRemote $data_path }}
                                            {{ $topic_data = transform.Unmarshal . }}
                                        {{ else }}
                                            {{ warnf "Unable to get remote resource %q" $data_path }}
                                        {{ end }}

                                        {{- /*  filter by neighborhood  */}}

                                        {{- /*  length = number of indicators in this report topic  */}}

                                        {{- $neighborhood_topic_data := where $topic_data "neighborhood" $.Params.neighborhood -}}

                                        {{- /*  range through indicators to build this topic  */}}

                                        {{ range $index, $row := (sort $neighborhood_topic_data "data_value_rank" "desc") }}

                                            {{- /*  length = 1  */}}

                                            {{- $count := add $index 1 -}}

                                            {{- partial "nr-indicator-new.html" (dict "neighborhood" $.Params.neighborhood "borough" $row.borough_name "data" $row "count" $count "accordionIndex" $accordionIndex "index" $index  ) -}}

                                        {{- end -}}

                                        {{ $zip_codes =  index $neighborhood_topic_data 0 "zip_code" -}}

                        
                        </div>

                    {{- end -}}

                    {{/*  adding QR code to print version  */}}

                    <div class="row print-only">
                        <div class="col-12">
                            <p class="text-center">View this report online:</p>
                        </div>
                    </div>

                    <div class="row print-only">
                        <div class="col-12">

                            <div id="qrcode" class="text-center">

                                <script>

                                    let qr = qrcode(10, "H");

                                    qr.addData(location.href);
                                    qr.make();

                                    document.getElementById('qrcode').innerHTML = qr.createImgTag();
                                    
                                </script>
                            
                            </div>
                        </div>

                    </div>


                </div>
            </div>





    <!-- .row -->


        </div>



    </div>

    <script>

        let report_name = "{{ $.Params.title }}"

        // loading report CSV data here, so it only loads once per location

        {{- /*  use NR_content folder YAML to group indicators by report. Then we can remove report title etc. from database but still get data by report  */}}

        let arqTable;
        let downloadLoc = {{ ( print site.Params.data_repo site.Params.data_branch "/neighborhood-reports/data/viz/" $.Params.content_yml ".json" ) }}

        // loading report-level CSV data

        aq.loadJSON(
            downloadLoc,
            { autoMax: 10000,  parse: { time: String } }
        )
        .then(data => {

            arqTable = data

            // console.log("arqTable", arqTable);

        })

        // set data download location
        let reportData;
        let download;

        // create an element, create the CSV, and download it
        function downloadData() {

            download = arqTable
                .select(aq.not('report_id','indicator_id','indicator_data_name','start_date','end_date')) // drop unnecessary columns
                .filter(d => d.neighborhood == '{{ $.Params.neighborhood }}')

            let downloadTableCSV = download.toCSV(); // format as CSV
            // Data URI
            let csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(downloadTableCSV);
            let hiddenElement = document.createElement('a');
            hiddenElement.href = csvData;
            hiddenElement.target = '_blank';
            hiddenElement.download = 'NYC EH Data Portal - Neighborhood Report - ' + report_name + " - {{ $.Params.neighborhood }}.csv";
            hiddenElement.click();

            gtag('event', 'file_download', {
                'file_name': hiddenElement.download,
                'file_extension': '.csv',
                'link_text': 'Download Report Data'
            });

        };

    </script>

</section>

{{- /* Make sure we know what report content to load and that content_yml is set. If not we dont display the content */}}

{{- if $.Params.content_yml -}}

{{- /* Variable to load the the data file from the content_yml frontmatter */}}

{{- $content := index $.Site.Data.globals.NR_footer $.Params.content_yml -}}

<section class="related-reading d-print-none" data-pagefind-ignore="all">
    <div class="container">
        <div class="row">

            <div class="col-lg">
                <div class="card bg-white text-black mb-2">
                    <div class="card-header">What is the City doing?</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{- range $content.city -}}
                            <li class="list-group-item border-0 py-1 bg-transparent">{{ if .link }}<a
                                href="{{ .link }}">{{- end -}}{{ .copy }}{{ if .link }}</a>{{- end -}}</li>
                                {{- end -}}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col for city -->

            <div class="col-lg">
                <div class="card bg-white text-black mb-2">
                    <div class="card-header">What can you do?</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{- range $content.you -}}
                            <li class="list-group-item border-0 py-1 bg-transparent">{{ if .link }}<a
                                href="{{ .link }}">{{- end -}}{{ .copy }}{{ if .link }}</a>{{- end -}}</li>
                                {{- end -}}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col for you -->

            <div class="col-lg">
                <div class="card bg-white text-black">
                    <div class="card-header">More NYC neighborhood data</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{- range $content.data -}}
                            <li class="list-group-item border-0 py-1 bg-transparent">{{ if .link }}<a
                                href="{{ .link }}">{{- end -}}{{ .copy }}{{ if .link }}</a>{{- end -}}</li>
                                {{- end -}}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col for data -->

            <!-- .row -->
        </div>
    </div>
</section>
{{- end -}}

<!-- Modal-Rank -->
<div class="modal fade report-modal" id="modal-rank" tabindex="-1" role="dialog" aria-labelledby="rankModalLabel"
     aria-hidden="true" data-pagefind-ignore="all">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h4" id="rankModalLabel">Indicator ranking</div>
                <button type="button" class="close no-btn-style" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times-circle"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>For each dataset, we divide neighborhoods up into <strong>tertiles</strong>, or thirds.</p>
                <p><strong>Higher</strong> means that for that dataset, the neighborhood is in the lowest third of all neighborhoods. </p>
                <p><strong>Lower</strong> means that for that dataset, the neighborhood is in the lowest third of all neighborhoods.</p>

                <p>These are only based on the distribution of data values, not the range. The absolute values of
                    indicators in different categories may not be all that different.</p>

                <img src="{{ .Site.BaseURL }}images/tertile-example.png" style="width:100%" alt="An example bar chart. The one-third of neighborhoods with the lowest values are labelled Lower. The one-third of neighborhoods with the highest values are labelled Higher.">

            </div>
            <!-- .modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary px-6" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- HANDLE TOPIC BUTTONS output-topic-button -->
<script>

// FIRST, APPLY ACTIVE CLASS TO THE BUTTON FOR THE CHOSEN REPORT
console.log('**getting report topic')

    // look up matching key from topicSlugs
    let matchingKey = null;

    for (const [key, value] of Object.entries(topicSlugs)) {
    if (value === chosenReport) {
        matchingKey = key;
        break;
    }
    }

    document.getElementById(matchingKey).classList.add('active')

// NOW, ADD EVENT LISTENER TO BUTTONS - AND REDIRECT ON CLICK
const buttons = document.querySelectorAll('.output-topic-button');

buttons.forEach(button => {
    button.addEventListener('click', () => {
        console.log('button clicked for: ', button.id)

        // change URL destination in a way that matches topicSlugs 
        const reportDestination = topicSlugs[button.id] || null;

        // assemble new url
        const pageURL = window.location.pathname.match(/neighborhood-reports.*/)[0]
        var urlParts = pageURL.split('/')

            urlParts.pop();
            urlParts.pop();
            console.log(urlParts)

        var newURL = `{{ .Site.BaseURL }}` + urlParts[0] + '/' + urlParts[1] + '/' + reportDestination + '/'
        console.log(newURL)

        window.location.href = newURL

    });
});


</script>





<!-- RENDER MAP, RENDER DEMOGRAPHICS -->
<script>
   $(document).on('shown.bs.collapse', '.collapse', function (e) {
    console.log('Any accordion opened:', e.target.id);
  });



  const renderNRMap = (
        data,
        destination,
        legendLabel,
        indicatorTitle,
        geocode
    ) => {

    console.log('running renderNRMap in ', destination)

    let mapSpec = {
    "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
    "title": {
        "text": '',
        "subtitlePadding": 10,
        "fontWeight": "bold",
        "anchor": "start",
        "fontSize": 14,
        "font": "sans-serif",
        "baseline": "top",
        "subtitle": '',
        "subtitleFontSize": 13
    },
    "data": {
        "values": data,
        "format": {"parse": {"Value": "number"}}
    },
    "config": {
        "concat": {"spacing": 20},
        "view": {"stroke": "transparent"},
        "axisY": {"domain": false, "ticks": false, "labelBaseline": "bottom"},
        "legend": {"disable": true},
        "scale": {"invalid": {"color": {"value": "#808080"}}}
    },
    "projection": {"type": "mercator"},
    "transform": [{"calculate": "datum.DisplayValue + ' %'", "as": "valueLabel"}],
    "vconcat": [
        {
        "layer": [
            {
            "height": 350,
            "width": "container",
            "data": {
                "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/borough.topo.json",
                "format": {"type": "topojson", "feature": "collection"}
            },
            "mark": {
                "type": "geoshape",
                "stroke": "#fafafa",
                "fill": "#C5C5C5",
                "strokeWidth": 0.5
            }
            },
            {
            "height": 350,
            "width": "container",
            "data": {
                "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/UHF42.topo.json",
                "format": {"type": "topojson", "feature": "collection"}
            },
            "mark": {
                "type": "geoshape",
                "stroke": "#a2a2a2",
                "fill": "#e7e7e7",
                "strokeWidth": 0.5
            }
            },
            {
            "height": 350,
            "width": "container",
            "mark": {"type": "geoshape", "invalid": null},
            "params": [
                {
                "name": "highlight",
                "select": {
                    "type": "point",
                    "on": "mouseover",
                    "clear": "mouseout"
                }
                }
            ],
            "transform": [
                {
                "lookup": "geo_join_id",
                "from": {
                    "data": {
                    "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/UHF42.topo.json",
                    "format": {"type": "topojson", "feature": "collection"}
                    },
                    "key": "properties.GEOCODE"
                },
                "as": "geo"
                }
            ],
            "encoding": {
                "shape": {"field": "geo", "type": "geojson"},
                "color": {
                "bin": false,
                "field": "unmodified_data_value_geo_entity",
                "type": "quantitative",
                "scale": {"scheme": {"name": "viridis", "extent": [1, 0]}},
                "legend": {
                    "direction": "horizontal",
                    "orient": "top-left",
                    "title": legendLabel,
                    "fontWeight": "normal",
                    "tickCount": 3,
                    "offset": -25,
                    "gradientLength": 200
                }
                },
                "stroke": {
                "condition": {
                    "test": `datum.geo_join_id == ${geocode}`,
                    "value": "cyan"
                },
                "value": "#2d2d2d"
                },
                "strokeWidth": {
                "condition": {
                    "test": `datum.geo_join_id == ${geocode}`,
                    "value": 2.5
                },
                "value": 0.5
                },
                "tooltip":[
                    {"field":"neighborhood", "title": "Neighborhood", "type":"nominal"},
                    {"field":"unmodified_data_value_geo_entity", "title": legendLabel, "type":"quantitative"}
                ]
            }
            }
        ]
        },
        {
        "height": 100,
        "width": "container",
        "config": {"axisY": {"labelAngle": 0, "labelFontSize": 13}},
        "mark": {"type": "bar", "tooltip": true, "stroke": "#161616"},
        "params": [
            {
            "name": "highlight",
            "select": {"type": "point", "on": "mouseover", "clear": "mouseout"}
            }
        ],
        "encoding": {
            "y": {
            "field": "unmodified_data_value_geo_entity",
            "type": "quantitative",
            "title": null,
            "axis": {"labelAngle": 0, "labelFontSize": 11, "tickCount": 3}
            },
            "tooltip":[
                {"field":"neighborhood", "title": "Neighborhood", "type":"nominal"},
                {"field":"unmodified_data_value_geo_entity", "title": legendLabel, "type":"quantitative"}
            ],
            "x": {"field": "geo_join_id", "sort": "y", "axis": null},
            "color": {
            "bin": false,
            "field": "unmodified_data_value_geo_entity",
            "type": "quantitative",
            "scale": {"scheme": {"name": "viridis", "extent": [1, 0]}},
            "legend": false
            },
            "stroke": {
            "condition": {
                "test": `datum.geo_join_id == ${geocode}`,
                "value": "cyan"
            },
            "value": "#2d2d2d"
            },
            "strokeWidth": {
            "condition": {
                "test": `datum.geo_join_id == ${geocode}`,
                "value": 2.5
            },
            "value": 0
            }
        }
        }
    ]
    }

    vegaEmbed(destination,mapSpec,{actions: true})
}

    
   function renderDemographics(x,y) {
        const here = x.filter((neighb) => neighb.UHF_id === y)

        document.getElementById('popPrint').innerHTML = Number(here[0].TotalPopulation).toLocaleString()
        document.getElementById('incPrint').innerHTML = '$XX,YYY'
        document.getElementById('povPrint').innerHTML = Number(here[0].PovertyPercent).toFixed(1) + '%'
        document.getElementById('gradPrint').innerHTML = Number(here[0].PercentGraduatedHighSchool).toFixed(1) + '%'
        document.getElementById('engPrint').innerHTML = Number(here[0].PercentLimitedEnglish).toFixed(1) + '%'
        document.getElementById('ownPrint').innerHTML = Number(here[0].OwnerOccupiedPercent).toFixed(1) + '%'
        document.getElementById('rentPrint').innerHTML = Number(here[0].PercentRentBurdened).toFixed(1) + '%'

    }

    renderDemographics(neighborhoods, chosenGeo)
    // 'neighborhoods' is a variable set in uhflist.js

</script>


{{- end -}}