{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 mr-auto"></div>
    </div>

    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto mb-4">
                <h1>{{ .Title }}</h1>
                    {{- .Content  -}}

                    {{- with .Resources.GetMatch "0-summary-intro.md" -}}
                        {{ .Content }}
                    {{- end -}}
    
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <hr class="my-2 px-6">
        </div>
    </div>


    <div class="row my-3">
        <div class="col-md-10 col-sm-12 mx-auto my-1">
            <h2>Heat Stress Deaths</h2>
        </div>

        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "1-heat-stress-deaths.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "1-fig1.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>


    <div class="row my-3">
        <div class="col-md-10 col-sm-12 mx-auto my-1">
            <h3>Demographics</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "2-demographics.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "2-fig2.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-10 col-sm-12 mx-auto my-1">
            <h3>Health Risk Factors</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "3-healthriskfactors.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "3-table1.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-10 col-sm-12 mx-auto my-1">
            <h3>Heat Exposure Circumstances</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "4-exposure.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "4-table2.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <hr class="my-2 px-6">
        </div>
    </div>

    <div class="row mt-1 mb-3">
        <div class="col-md-10 col-sm-12 mx-auto my-1">
            <h3>Heat Exacerbated Deaths</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "5-heat-ex-deaths.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "5-fig-3-4.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-10 col-sm-12 mx-auto my-1">
            <h3>Risk Factors Associated With Heat-Exacerbated Deaths</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "6-risk.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "6-fig-5-6.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-10 mx-auto col-sm-12 my-1">
            <h3>Hotter summers</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "7-hotter-summers.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>
        <div class="col-md-5 mr-auto">
            <div class="p-2 border">
                {{- with .Resources.GetMatch "7-fig-7.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <hr class="my-2 px-6">
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-10 mx-auto col-sm-12 my-1">
            <h3>Community-Level Impacts</h3>
        </div>
        <div class="col-md-5 ml-auto col-sm-12">
            {{- with .Resources.GetMatch "9-impacts.md" -}}
                {{ .Content }}
            {{- end -}}
        </div>

        <div class="col-md-5 mr-auto col-sm-12">
            <div class="p-2 border mt-2">
                {{- with .Resources.GetMatch "9-maps.md" -}}
                {{ .Content }}
                {{- end -}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto">
            <hr class="my-2 px-6">
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-7 mx-auto col-sm-12">
            {{- with .Resources.GetMatch "10-conclusion.md" -}}
            {{ .Content }}
            {{- end -}}
        </div>
    </div>



</article>

{{- end -}}