{{- define "main" -}}

<link rel="stylesheet" href={{ relURL "css/accessible-autocomplete.min.css" }}>

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 mr-auto"></div>
    </div>

    <div class="row">
        <div class="col-11 mx-auto pl-0 mb-2">
            <h1 class="h2" data-pagefind-weight="10.0">
                <i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}
            </h1>

            <div class="row" data-pagefind-weight="7.0">
                <div class="col-md-6">
                    <p>We combine data from our air quality monitoring network, NYCCAS, with other data to understand what
                        makes one neighborhood's air quality different from another's. We found that building emissions,
                        building density, industrial areas, and traffic density are associated with differences in air
                        quality.</p>
                </div>
                <div class="col-md-6">
                    <p>If we don't have an air quality monitor in one neighborhood, but we know its building density, its
                        industrial area, and its traffic, then we can model (estimate or predict) its air quality - based on
                        monitored air quality in similar neighborhoods.</p>
                </div>
            </div>

            <hr class="my-2">

        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-6 mx-auto l-green-border">

            <div class="fs-sm pb-1"><span class="home-label font-weight-bold">Enter a neighborhood to get data:</span></div>

            <div class="btn-group" role="group" style="width:100%;">

                <input 
                    id="flex_search"
                    type='search'
                    class='flexdatalist form-control'
                    name='indicator_name_suggestion'
                />

                <button id="clear" class="btn btn-md btn-warning">Clear</button>
            </div>


            <p class="float-right"><em class="fs-sm"><a
                href={{ relURL "data-stories/geographies" }}>Read about Neighborhood Tabulation Areas.</a></em> </p>



            <div class="mt-4" id="showNeighb">
                <div class="row">
                    <div class="col-4">
                        <p><span class="home-label font-weight-bold">Your neighborhood:</span></p>
                    </div>
                    <div class="col-8">
                        <p><span class="h5" id="NTA2">[SELECT A NEIGHBORHOOD ABOVE]</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p><span class="home-label font-weight-bold">ZIP Codes:</span></p>
                    </div>
                    <div class="col-8">
                        <p><span id="zips" class="h6">[SELECT A NEIGHBORHOOD ABOVE]</span></p>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!-- new Layout -->
    <div class="row my-4">
        <div class="col-md-10 mx-auto">
            <h3><i class="fas fa-smog mr-1"></i>Air quality in <span id="NTA3" class="">your neighborhood</span> </h3>

            <div class="row mt-2 l-green-border">
                <div class="col-12 my-2">
                    <h4>PM2.5 (fine particles)</h4>
                    <p class="fs-md"><b>PM2.5</b> worsens lung and heart diseases and are linked to cancer and
                        premature death. NYC meets the EPA's annual average standard (measured in micrograms per cubic
                        meter, or μg/m<sup>3</sup>), but short-term concentrations sometimes exceed this threshold.</p>

                </div>
                <div class="col-sm-7 col-xs-12">
                    <div class="" style="width:100%;height:150px;" id="PMDestination">Chart</div>
                </div>
                <div class="col-2 ml-auto">
                    <p class="mt-3"><span class="home-label font-weight-bold" id="youLabel1">Your neighborhood:</span></p>
                    <p><span class="home-label">NYC average:</span></p>
                    <p><span class="home-label">EPA standard:</span></p>
                </div>
                <div class="col-2 mr-auto">
                    <p class="mt-3"><span class="h5"><span id="thisPM">XXX</span>  μg/m<sup>3</sup></span></p>
                    <p><span class="h5">5.8 μg/m<sup>3</sup></span></p>
                    <p><span class="h5">9 μg/m<sup>3</sup></span></p>
                </div>
            </div>

            <div class="row mt-4 l-green-border">
                <div class="col-12 my-2">
                    <h4>Nitrogen dioxide</h4>
                    <p class="fs-md"><b>Nitrogen dioxide</b> is linked to asthma hospitalizations and other respiratory conditions.
                        NYC meets the EPA's annual standard (measured in parts per billion, or ppb), but short-term
                        concentrations sometimes exceed this threshold.</p>
                </div>

                <div class="col-sm-7 col-xs-12">
                    <div class="" style="width:100%;height:150px;" id="NODestination">Chart</div>
                </div>
                <div class="col-2 ml-auto">
                    <p class="mt-2"><span class="home-label font-weight-bold" id="youLabel2">Your neighborhood:</span></p>
                    <p><span class="home-label">NYC average:</span></p>
                    <p><span class="home-label">EPA standard:</span></p>
                </div>
                <div class="col-2 mr-auto">
                    <p class="mt-2"><span class="h5"><span id="thisNO2">XXX</span> ppb</span></p>
                    <p><span class="h5">14.7 ppb</span></p>
                    <p><span class="h5">53 ppb</span></p>
                </div>
                <p class="fs-sm ml-1"><em>PM2.5 and NO2 data are from 2022.</em></p>
            </div>

            <hr class="my-4">

            <div class="row mt-2 l-green-border">
                <div class="col-12 mb-2">
                    <h3><i class="fa fa-question-circle mr-1"></i>What affects air quality in <span id="NTA4" class="">your neighborhood</span>?</h3>

                </div>

                <div class="col-sm-7 col-xs-12">

                    <div style="background-color:#f1f1f1; width:100%" class="p-1">
                        <span id="mapTitle" class="h5">Building emissions</span>
                        <div class="float-right fs-rg">
                            <span class="badge badge-better border">1 (Low)</span>
                            <span class="badge badge-medium">2 (Medium)</span>
                            <span class="badge badge-worse">3 (High)</span>
                        </div>
                    </div>
                    


                    <!-- Map -->
                    <div id="mapHolder" style="width:100%; height: 500px;"></div>

                </div>

                <div class="col-sm-5 col-xs-12" data-pagefind-weight="7.0">
                    <div class="sourceBox sourceBox-active" id="sourceBox1" onclick="changeSource(1)">
                        <h3 class="fs-rg">Buliding emissions: <span class="badge" id="BE">XXX</span></h3>
                        <p class="fs-md">Like vehicles, buildings burn fuel: their boilers run on oil or gas to produce heat and hot water. These boilers emit pollutants that affect your neighborhood's air quality.
                        </p>
                    </div>

                    <div class="sourceBox" id="sourceBox2" onclick="changeSource(2)">
                        <h3 class="fs-rg">Commercial cooking: <span class="badge" id="CC">XXX</span></h3>
                        <p class="fs-md">Commercial cooking density - specifically, the density of restaurant permits to use charbroilers or open-fire grills without equipment to trap smoke and PM2.5 - is associated with higher levels of PM2.5 in the neighborhood.
                        </p>
                    </div>

                    <div class="sourceBox" id="sourceBox3" onclick="changeSource(3)">
                        <h3 class="fs-rg">Industrial area: <span class="badge" id="IA">XXX</span></h3>
                        <p class="fs-md">Manufacturing can emit pollutants, construction can kick up particulate matter, and increased truck traffic can produce more emissions.
                        </p>
                    </div>

                    <div class="sourceBox" id="sourceBox4" onclick="changeSource(4)">
                        <h3 class="fs-rg">Traffic density: <span class="badge" id="TD">XXX</span></h3>
                        <p class="fs-md">Traffic produces "tailpipe emissions" like PM2.5, NOx and carbon monoxide (CO), and tire wear and braking release additional particulate matter into the air.
                        </p>
    
                    </div>

                </div>
                <p class="fs-sm ml-1"><em>Industrial area data is from 2022; commercial cooking, traffic, and building data are from 2019.</em></p>

            </div>

            <div class="row">
                <div class="col-sm-3 ml-auto"><a href="aqe-nta.csv" class="btn btn-block btn-outline-primary"><i class="fas fa-download mr-1" aria-hidden="true"></i>Download these data</a></div>
        
            </div>

        </div>

    </div>



    <hr class="my-4">

    <div class="row mb-2">
        <div class="col-md-8 mx-auto">
            <h4>More Air Quality resources</h4>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 ml-auto">
            <div class="card content-card">
                <div class="card-content p-2">
                    <h5>NYCCAS Annual Report</h5>
                    <p class="fs-md">Key findings from NYC's comprehensive air quality monitoring program, including pollutant trends and local sources.</p>

                    <p class="fs-md"><a href={{ relURL "data-features/nyccas" }}>Read more ></a> </p>
                </div>

            </div>


        </div>

        <div class="col-md-4 mr-auto">
            <div class="card content-card">
                <div class="card-content p-2">
                    <h5>Real-Time Air Quality</h5>
                    <p class="fs-md">Get hourly PM2.5 readings from real-time air quality monitors in strategic spots around the city.</p>
                    <p class="fs-md"><a href="../realtime">Get the data ></a></p>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

    <style>
        .sourceBox {
            padding: 10px;
        }

        .sourceBox:hover {
            background-color: #f1f1f1;
            cursor: pointer
        }

        .sourceBox-active {
            background-color: #f1f1f1;
        }

        .surround {
            color: #fff;
            text-shadow:
              3px 3px 0 #000,
              -3px 3px 0 #000,
              -3px -3px 0 #000,
              3px -3px 0 #000;
        }

        .square {
            display: inline-block;
            height: 15px;
            width: 15px;
            background-color: cyan;
            border: 1px solid darkgray
        }

        .yourN {
            border-bottom: 3px solid cyan;
        }
    </style>

</article>

<!--This code uses the JS file specified in the page's frontmatter-->

<script type="text/javascript" src="{{ .Params.customJS }}"></script>

<!-- flexdatalist -->

{{- $flexdatalist_css := resources.Get "node_modules/jquery-flexdatalist/jquery.flexdatalist.min.css" -}}
<link rel="stylesheet" href="{{ $flexdatalist_css.RelPermalink }}"/>

{{- $flexdatalist_js := resources.Get "node_modules/jquery-flexdatalist/jquery.flexdatalist.min.js" -}}
<script type="text/javascript" src="{{ $flexdatalist_js.RelPermalink }}"></script>

{{- end -}}