{{- define "main" -}}

<link rel="stylesheet" href={{ relURL "css/accessible-autocomplete.min.css" }}>

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto  mb-2">
            <nav aria-label="breadcrumb" class="mt-2 mb-3">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>


            <h1 class="h2" data-pagefind-weight="10.0">
                {{ .Title }}
            </h1>

            <div data-pagefind-weight="7.0">
                <p>We combine data from our air quality monitoring network, NYCCAS, with other data to understand what
                    makes one neighborhood's air quality different from another's. We found that building emissions,
                    building density, industrial areas, and traffic density are associated with differences in air
                    quality.</p>
    
                    <p>If we don't have an air quality monitor in one neighborhood, but we know its building density, its
                        industrial area, and its traffic, then we can model (estimate or predict) its air quality - based on
                        monitored air quality in similar neighborhoods.</p>

                    <div class="sr-only">
                        <div style="min-height:1028px" id="datawrapper-vis-5axZx"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/5axZx/embed.js" charset="utf-8" data-target="#datawrapper-vis-5axZx"></script><noscript><img src="https://datawrapper.dwcdn.net/5axZx/full.png" alt="" /></noscript></div>
                    </div>
                    </div>
    
                
    
                <div class="my-2" aria-hidden="true">
    
                    <div class="fs-sm pb-1"><span class="home-label font-weight-bold">Enter a neighborhood to get data:</span></div>
        
                    <div class="btn-group" role="group" style="width:100%;">
        
                        <input
                            id="flex_search"
                            type='search'
                            class='flexdatalist form-control'
                            name='indicator_name_suggestion'
                        />
        
                        <button id="clear" class="btn btn-md btn-warning">Clear</button>
                    </div>
        
        
                    <p class="float-right"><em class="fs-sm"><a
                        href={{ relURL "data-stories/geographies" }}>About Neighborhood Tabulation Areas.</a></em> </p>
    
                </div>
        </div>
    </div>


    <!-- new Layout -->
    <div class="row my-4" id="showData">
        <div class="col-md-10 mx-auto">
            <h3><i class="fas fa-smog mr-1"></i>Air quality in <span id="NTA3" class="">your neighborhood</span> </h3>
            <div class="fs-sm">ZIP Codes: <span id="zips"></span></div>

            <div class="row mt-2">
                <div class="col-12 my-2">
                    <h4>PM2.5</h4>
                    <p class="fs-md"><b>PM2.5</b>, also called fine particles, worsens lung and heart diseases and are linked to cancer and
                        premature death. NYC meets the EPA's annual average standard (measured in micrograms per cubic
                        meter, or μg/m<sup>3</sup>), but short-term concentrations sometimes exceed this threshold.</p>
                </div>

                <div class="col-md-6 col-sm-11">
                    <div class="px-1" style="width:100%;height:150px;" id="PMDestination">Chart</div>
                </div>
                <div class="col-md-3 col-sm-7 ml-auto">
                    <p class="mt-3"><span class="home-label font-weight-bold yourN" id="youLabel1">Your neighborhood:</span></p>
                    <p><span class="home-label">NYC average:</span></p>
                    <p><span class="home-label">EPA standard:</span></p>
                </div>
                <div class="col-md-2 col-sm-5 mr-auto">
                    <p class="mt-3"><span class="h5 text-primary"><span id="thisPM">XXX</span>  μg/m<sup>3</sup></span></p>
                    <p><span class="h5">5.8 μg/m<sup>3</sup></span></p>
                    <p><span class="h5">9 μg/m<sup>3</sup></span></p>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-8 mx-auto">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-2">
                    <h4>Nitrogen dioxide</h4>
                    <p class="fs-md"><b>Nitrogen dioxide</b> is linked to asthma hospitalizations and other respiratory conditions.
                        NYC meets the EPA's annual standard (measured in parts per billion, or ppb), but short-term
                        concentrations sometimes exceed this threshold.</p>
                </div>

                <div class="col-md-6 col-sm-11">
                    <div class="px-1" style="width:100%;height:150px;" id="NODestination">Chart</div>
                </div>
                <div class="col-md-3 col-sm-7 ml-auto">
                    <p class="mt-2"><span class="home-label font-weight-bold yourN" id="youLabel2">Your neighborhood:</span></p>
                    <p><span class="home-label">NYC average:</span></p>
                    <p><span class="home-label">EPA standard:</span></p>
                </div>
                <div class="col-md-2 col-sm-5 mr-auto">
                    <p class="mt-2"><span class="h5 text-primary"><span id="thisNO2">XXX</span> ppb</span></p>
                    <p><span class="h5">14.7 ppb</span></p>
                    <p><span class="h5">53 ppb</span></p>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-8 mx-auto">
                    <hr>
                </div>
            </div>

            <div class="row border p-1">
                <div class="col-12 mb-2">
                    <h3><i class="fa fa-question-circle mr-1"></i>What affects air quality in <span id="NTA4" class="">your neighborhood</span>?</h3>

                </div>

                <div class="col-md-7 col-sm-12">

                    <div style="background-color:#f1f1f1; width:100%" class="p-1">
                        <span id="mapTitle" class="h5">Building emissions</span>
                        <div class="float-right fs-rg">
                            <span class="badge badge-better border">1 (Low)</span>
                            <span class="badge badge-medium">2 (Medium)</span>
                            <span class="badge badge-worse">3 (High)</span>
                        </div>
                    </div>



                    <!-- Map -->
                    <div id="mapHolder" style="width:100%; height: 500px;"></div>

                </div>

                <div class="col-md-5 col-sm-12" data-pagefind-weight="7.0">
                    <div class="sourceBox sourceBox-active" id="sourceBox1" onclick="changeSource(1)">
                        <h3 class="fs-rg">Buliding emissions: <span class="badge" id="BE">XXX</span></h3>
                        <p class="fs-md">Like vehicles, buildings burn fuel: their boilers run on oil or gas to produce heat and hot water. These boilers emit pollutants that affect your neighborhood's air quality.
                        </p>
                    </div>

                    <div class="sourceBox" id="sourceBox2" onclick="changeSource(2)">
                        <h3 class="fs-rg">Commercial cooking: <span class="badge" id="CC">XXX</span></h3>
                        <p class="fs-md">Commercial cooking density - specifically, the density of restaurant permits to use charbroilers or open-fire grills without equipment to trap smoke and PM2.5 - is associated with higher levels of PM2.5 in the neighborhood.
                        </p>
                    </div>

                    <div class="sourceBox" id="sourceBox3" onclick="changeSource(3)">
                        <h3 class="fs-rg">Industrial area: <span class="badge" id="IA">XXX</span></h3>
                        <p class="fs-md">Manufacturing can emit pollutants, construction can kick up particulate matter, and increased truck traffic can produce more emissions.
                        </p>
                    </div>

                    <div class="sourceBox" id="sourceBox4" onclick="changeSource(4)">
                        <h3 class="fs-rg">Traffic density: <span class="badge" id="TD">XXX</span></h3>
                        <p class="fs-md">Traffic produces "tailpipe emissions" like PM2.5, NOx and carbon monoxide (CO), and tire wear and braking release additional particulate matter into the air.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-7 mx-auto">
                    <div class="asidebox">
                        <h4>About the data</h4>
                        <p>Data for PM2.5, NO2, and industrial areas are from 2022. Data on commercial cooking, traffic, and buildings are from 2019.  For details on data sources and measurements, see <a href="../nyccas">NYCCAS Annual Report</a>.               
                        </p>
                        <p><a href="aqe-nta.csv"><i class="fas fa-download mr-1" aria-hidden="true"></i>Download data<i class="fas fa-file-csv ml-1" aria-hidden="true"></i></a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .sourceBox {
            padding: 10px;
        }

        .sourceBox:hover {
            background-color: #f1f1f1;
            cursor: pointer
        }

        .sourceBox-active {
            background-color: #f1f1f1;
        }

        .surround {
            color: #fff;
            text-shadow:
              3px 3px 0 #000,
              -3px 3px 0 #000,
              -3px -3px 0 #000,
              3px -3px 0 #000;
        }

        .square {
            display: inline-block;
            height: 15px;
            width: 15px;
            background-color: cyan;
            border: 1px solid darkgray
        }

        .yourN {
            /* border-bottom: 3px solid cyan; */
        }
    </style>

</article>

<!-- Related footer -->
{{- partial "related-footer-2" . -}}

<!--This code uses the JS file specified in the page's frontmatter-->

<script type="text/javascript" src="{{ .Params.customJS }}"></script>

<!-- flexdatalist -->

{{- $flexdatalist_css := resources.Get "node_modules/jquery-flexdatalist/jquery.flexdatalist.min.css" -}}
<link rel="stylesheet" href="{{ $flexdatalist_css.RelPermalink }}"/>

{{- $flexdatalist_js := resources.Get "node_modules/jquery-flexdatalist/jquery.flexdatalist.min.js" -}}
<script type="text/javascript" src="{{ $flexdatalist_js.RelPermalink }}"></script>

{{- end -}}