{{- define "main" -}}

<style>
.cp-follow-wrap {
    position: relative;
}
.cp-sticky-header.cp-is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1025;
    background: rgba(255, 255, 255, 0.94);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-bottom: 2px solid #18a1cd;
    padding: 6px 24px;
    margin: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
    font-size: 0.9rem;
    text-align: center;
}
/* Headers that only exist for the sticky bar */
.cp-sticky-only {
    visibility: hidden;
}
.cp-sticky-only.cp-is-fixed {
    visibility: visible;
}
</style>

<article class="container-fluid" id="skip-header-target">

    <div class="row">

        <!--start main content section-->
        <div class="col-md-8 col-sm-12 mx-auto overflow-hidden fs-rg" id="primary-content">

            <div class="row mt-2 mb-3">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                            <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                        </ul>
                    </nav>
                </div>
            </div>

            <h1 class="h2 data-stories mb-3"><i class="fas fa-passport" aria-hidden="true"
                   style="margin-right: 10px"></i>{{ .Title }}</h1>
            <div class="container-fluid px-0">

                {{ $src := .Resources.GetMatch .Params.image }}
                {{ with $src }}
                    {{ $image := .Resize "1200x" }}
                    <img class="block mb-3" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
                        height="{{ $image.Height }}" alt="">
                {{ end }}
            </div>

            <div data-pagefind-weight="7.0">
                {{- .Content -}}
            </div>

            <div class="row">
                <div class="col-10 mx-auto">
                    <hr class="my-2 px-6" />
                </div>
            </div>

        </div>
        <!-- .col (main) -->

        <!-- two-column xx and xx -->

        <div class="col-md-8 col-sm-12 mx-auto my-1">
            <h2 class="h3 cp-sticky-header">Key sites</h2>
                <div class="row">
            <div class="col-6 mx-auto my-1">
                    <iframe src={{ relURL "congestion_pricing/embeds/congestion_pricing_monitoring.html" }} frameborder="no" style="width: 100%; height: 400px"></iframe>
                </div>
                <div class="col-6">
                    {{- with .Resources.GetMatch "key-sites.md" -}}
                        {{ .Content }}
                    {{- end -}}
                </div>
            </div>
        <div class="row mx-1">
            {{- with .Resources.GetMatch "ej-sites.md" -}}
            {{ .Content }}
            {{- end -}}
        </div>
        </div>

    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <hr class="my-2 px-6" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto my-1">
            <h3 class="h3 cp-sticky-header">Results from EJ sites</h3>
        </div>
    </div>

    <!-- neighborhood snapshots begin -->

    <div class="row my-1">
        <div class="col-md-11 mx-auto col-sm-12 mb-2">
            
                <div class="col-10"> 
                    {{ partial "cp-chart.html" . }}
                </div>

        <div class="row m-4"> 
            <div class="col-md-6 col-sm-12">
            <div class="card card-left-border shadow-sm mb-2 fs-sm">
              <div class="card-body">
              <p class="card-text"><h3 class="h5">Looking closer at daytime traffic patterns</h3>Traffic and truck-related pollutants (PM2.5, BC) decreased after CRZ tolling began during all periods of the day. While traffic was highest during morning rush hours, PM2.5 levels varied slightly over the day due to the influence of other sources like heating systems in buildings, restaurant cooking and construction.​</p>
              <div style="display:inline;" class="fs-md"><strong> Changes from congestion tolling:
                <span style="color:#00dca6;font-weight:normal">Morning rush</span>, <span style="color:#18a1cd;font-weight:normal">mid-day</span>, <span style="color:#15607a;font-weight:normal">evening rush</span> and <span style="color:#009076;font-weight:normal">overnight</span></strong>
                </div> 
              <div class="row">
                <div class="col-6 my-1">
                    <div style="min-height:251px" id="datawrapper-vis-WxfJB"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/WxfJB/embed.js" charset="utf-8" data-target="#datawrapper-vis-WxfJB"></script><noscript><img src="https://datawrapper.dwcdn.net/WxfJB/full.png" alt="Line chart" /></noscript></div>
                </div>
                <div class="col-6 my-1">
                    <div style="min-height:301px" id="datawrapper-vis-0jrLJ"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/0jrLJ/embed.js" charset="utf-8" data-target="#datawrapper-vis-0jrLJ"></script><noscript><img src="https://datawrapper.dwcdn.net/0jrLJ/full.png" alt="Line chart" /></noscript></div>
                </div>
            </div>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-sm-12">
            <div class="card card-left-border shadow-sm mb-2 fs-sm">
              <div class="card-body">
              <p class="card-text"><h3 class="h5">How did traffic and PM2.5 near the highways change?</h3> Total traffic on the Major Deegan was on average 7% lower in 2025 compared to 2024. Truck traffic was 9% lower. PM2.5 levels on the Major Deegan decreased by 26% after tolling began.​</p><br>
              <!-- note that these numbers do not line up so make sure the new/real data matches these claims --> 
              <div class="row justify-content-between">
                <div class="col-4 my-3">
                    <div style="min-height:157px" id="datawrapper-vis-uKU2j"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/uKU2j/embed.js" charset="utf-8" data-target="#datawrapper-vis-uKU2j"></script><noscript><img src="https://datawrapper.dwcdn.net/uKU2j/full.png" alt="Arrow Plot" /></noscript></div>
                </div>
                <div class="col-4 my-3">
                    <div style="min-height:127px" id="datawrapper-vis-kzIZl"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/kzIZl/embed.js" charset="utf-8" data-target="#datawrapper-vis-kzIZl"></script><noscript><img src="https://datawrapper.dwcdn.net/kzIZl/full.png" alt="Arrow Plot" /></noscript></div>
                </div>
                <div class="col-4 my-3">
                    <div style="min-height:110px" id="datawrapper-vis-vEUVy"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/vEUVy/embed.js" charset="utf-8" data-target="#datawrapper-vis-vEUVy"></script><noscript><img src="https://datawrapper.dwcdn.net/vEUVy/full.png" alt="Arrow Plot" /></noscript></div>
                </div>
            </div> 
              </div>
            </div>
          </div> 
        </div>
        </div>


    <!-- divider -->

    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <hr class="my-2 px-6" />
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-sm-12 mx-auto mb-2">
            <h3 class="h4 cp-sticky-header cp-sticky-only">Air pollution inside of the CRZ</h3>
            <div class="row">
                <div class="col-6">
<!--                    <img src="{{ .Params.fullurl }}images/map3.png" alt="" class="img-fluid" /> -->
    <div style="min-height:540px" id="datawrapper-vis-YFkVt"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/YFkVt/embed.js" charset="utf-8" data-target="#datawrapper-vis-YFkVt"></script><noscript><img src="https://datawrapper.dwcdn.net/YFkVt/full.png" alt="Locator map" /></noscript></div>
                </div>
                <div class="col-6">
                    {{- with .Resources.GetMatch "aq-inside-crz.md" -}}
                        {{ .Content }}
                    {{- end -}}
                    <div class="row justify-content-between mt-1">
                        <div class="col-4">
                            <div style="min-height:109px" id="datawrapper-vis-3F9Bw"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/3F9Bw/embed.js" charset="utf-8" data-target="#datawrapper-vis-3F9Bw"></script><noscript><img src="https://datawrapper.dwcdn.net/3F9Bw/full.png" alt="Arrow Plot" /></noscript></div>
                        </div>
                        <div class="col-4">
                            <div style="min-height:109px" id="datawrapper-vis-3F9Bw"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/3F9Bw/embed.js" charset="utf-8" data-target="#datawrapper-vis-3F9Bw"></script><noscript><img src="https://datawrapper.dwcdn.net/3F9Bw/full.png" alt="Arrow Plot" /></noscript></div>
                        </div>
                        <div class="col-4">
                            <div style="min-height:109px" id="datawrapper-vis-3F9Bw"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/3F9Bw/embed.js" charset="utf-8" data-target="#datawrapper-vis-3F9Bw"></script><noscript><img src="https://datawrapper.dwcdn.net/3F9Bw/full.png" alt="Arrow Plot" /></noscript></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2" style="margin-bottom: 8rem;">
                <div class="col-12">
                    {{ partial "cp-chart_crz.html" . }}
                </div>
            </div>
        </div>
    </div>

      <!-- <div class="col-md-8 mx-auto col-sm-12">
            <div class="l-green-border px-1 mb-4">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <div style="min-height:109px" id="datawrapper-vis-3F9Bw"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/3F9Bw/embed.js" charset="utf-8" data-target="#datawrapper-vis-3F9Bw"></script><noscript><img src="https://datawrapper.dwcdn.net/3F9Bw/full.png" alt="Arrow Plot" /></noscript></div>
                    </div>
                    <div class="col-3">
                        <div style="min-height:109px" id="datawrapper-vis-3F9Bw"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/3F9Bw/embed.js" charset="utf-8" data-target="#datawrapper-vis-3F9Bw"></script><noscript><img src="https://datawrapper.dwcdn.net/3F9Bw/full.png" alt="Arrow Plot" /></noscript></div>
                    </div>
                    <div class="col-3">
                        <div style="min-height:109px" id="datawrapper-vis-3F9Bw"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/3F9Bw/embed.js" charset="utf-8" data-target="#datawrapper-vis-3F9Bw"></script><noscript><img src="https://datawrapper.dwcdn.net/3F9Bw/full.png" alt="Arrow Plot" /></noscript></div>
                    </div>
                </div>


            </div>
        </div> -->

        <div class="row">

            <div class="col-md-8 col-sm-12 mx-auto mb-2">
                <h2></h2>
                <img src="{{ .Params.fullurl }}images/map5.png" alt="" align="right" width="500px" class="" />
                {{- with .Resources.GetMatch "aq-outside-crz.md" -}}
                    {{ .Content }}
                {{- end -}}

            </div>
        </div>



        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <hr class="my-2 px-4" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 mx-auto">

            <h2>Conclusion</h2>
            {{- with .Resources.GetMatch "conclusion.md" -}}
                {{ .Content }}
            {{- end -}}



        </div>

        <div class="row">
            <div class="col-8 mx-auto">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <hr class="my-2 px-6" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- .row -->

</article>
<!-- #primary-content -->

<!-- Related footer -->
{{- partial "related-footer" . -}}

{{- end -}}

{{ define "js_bot" }}
<script>
$(function() {
    var $window = $(window);
    var $headers = $('.cp-sticky-header');

    if (!$headers.length) return;

    // Wrap each header to preserve layout height when it goes fixed
    $headers.each(function() {
        var $h = $(this);
        $h.wrap('<div class="cp-follow-wrap" />');
        $h.parent().height($h.outerHeight());
    });

    function recordPositions() {
        $headers.each(function() {
            var $h = $(this);
            $h.data('origTop', $h.parent().offset().top)
              .data('origHeight', $h.outerHeight());
        });
    }

    // Initial measurement
    recordPositions();

    // Re-measure after full page load and after async charts (Vega) have rendered
    $(window).on('load', function() {
        recordPositions();
        setTimeout(function() { recordPositions(); update(); }, 1000);
    });

    // Re-measure on resize
    $(window).on('resize.cp-sticky', function() {
        recordPositions();
        update();
    });

    function update() {
        var scrollTop = $window.scrollTop();

        $headers.each(function(i) {
            var $h = $(this);
            var origTop = $h.data('origTop');
            var h = $h.data('origHeight');

            if (scrollTop < origTop) {
                $h.removeClass('cp-is-fixed').css('top', '');
            } else {
                var fixedTop = 0;
                var $next = $headers.eq(i + 1);

                if ($next.length) {
                    var nextOrigTop = $next.data('origTop');
                    if (scrollTop > nextOrigTop - h) {
                        // Next header is displacing this one
                        fixedTop = -(scrollTop - (nextOrigTop - h));
                    }
                }

                $h.addClass('cp-is-fixed').css('top', fixedTop + 'px');
            }
        });
    }

    $window.on('scroll.cp-sticky', update);
    update();
});
</script>
{{ end }}