{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
  <div class="row">
    <div class="col-md-11 mx-auto mt-4">
      <nav aria-label="breadcrumb" class="mb-4">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
          <li class="breadcrumb-item">
            <a href="/key-topics/climatehealth/">Climate and Health</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ .Title }}
          </li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-12 mb-2">
          <h1>{{ .Title }}</h1>
        </div>

        <div class="col-md-7">
          <p>{{ .Content }}</p>
        </div>

        <div class="col-md-5">
          <!--
          <div class="border p-1 mt-2">
            Learn more about: 
            <ul></ul>
              <li> Heat, air quality, and how to
                <a href="https://www.nyc.gov/site/doh/health/emergency-preparedness/emergencies-extreme-weather-heat.page#:~:text=Signs%20of%20Heat%20Illness&text=Heat%20stroke%20occurs%20when%20the,Confusion%2C%20hallucinations%20and%20disorientation">prevent weather-related illness.
                </a>
              </li>
              <li>
                <a href="../../climatehealth/hvi/">
                  Heat and the built environment in your
                  neighborhood.
                </a>
              </li>
              <li>
                <a href="../../airquality/realtime/">
                  Real-time air quality.</a
                >
              </li>
            </ul>
          </div>
        -->

          <div class="border p-1 mb-4">
            <strong
              ><i
                class="fas fa-exclamation-triangle mr-1"
                aria-hidden="true"
              ></i
              >Before we get started:</strong
            ><br />
            if you are feeling very hot, with nausea or vomiting, fast pulse,
            weakness or dizziness, you may need medical help.
            <a href="https://www.cdc.gov/disasters/extremeheat/warning.html"
              >See a full list of symptoms of heat-related illness</a
            >.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12">
      <img src="img/hero_6.svg" style="width: 100%" />
    </div>
  </div>

  <div class="row my-4">
    <!--left-hand sticky column-->
    <div class="col-md-4 ml-auto">
      <div class="sticky-top border p-2" style="z-index: 0">
        <p>
          Today's weather is:
          <span id="hot" class="font-weight-bold p-1">HOT</span>. <br />The
          current temp is <span id="currentTemp">XX</span> and the forecast high
          is <span id="maxTemp">YY</span> today.
          <a href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us"
            >Get a full weather forecast here</a
          >.
        </p>

        <hr class="my-2" />

        <p>
          The current air quality is:
          <span id="aqimeaning" class="font-weight-bold p-1"
            >AQI interpretation</span
          >.
        </p>

        <hr class="my-2" />

        <div class="" id="recsHolder">
          <span class="home-label font-weight-bold">About you:</span>
          <div class="fs-md pt-1">
            <div class="hide">
              <p>Over 80F: <span id="over80F" class="float-right"></span></p>
              <p>AQI: <span id="aqiNum" class="float-right"></span></p>
              <hr class="my-1" />
            </div>

            <p>
              <i class="fa-solid fa-mask-face mr-1 fs-lg" aria-hidden="true"></i
              >More sensitive to air pollution:
              <span id="sensitiveGroup" class="float-right"></span>
            </p>
            <p>
              <i
                class="fas fa-hand-holding-medical mr-1 fs-lg"
                aria-hidden="true"
              ></i>
              Uses electrical medical equipment:
              <span id="usesEME" class="float-right"></span>
            </p>
            <p>
              <i class="fas fa-hippo mr-1 fs-lg" aria-hidden="true"></i>
              Has an animal: <span id="hasAnimal" class="float-right"></span>
            </p>
            <p>
              <i
                class="fas fa-temperature-low mr-1 fs-lg"
                aria-hidden="true"
              ></i>
              Has AC: <span id="hasAC" class="float-right"></span>
            </p>
            <p>
              <i
                class="fas fa-money-bill-wave mr-1 fs-lg"
                aria-hidden="true"
              ></i>
              Limits AC use: <span id="limitsAC" class="float-right"></span>
            </p>
            <p>
              <i class="fas fa-fan mr-1 fs-lg" aria-hidden="true"></i>
              Has a fan: <span id="hasFan" class="float-right"></span>
            </p>
          </div>

          <!-- Recommendations pane -->
          <ul class="list-group fs-sm" id="sidebarRecs"></ul>
        </div>
      </div>
    </div>
    <!-- .col -->

    <!-- main content column -->
    <div class="col-md-7 overflow-hidden fs-rg mr-auto" id="primary-content">
      <div id="start">
        <div class="col-md-6 mx-auto">
          <button
            class="btn btn btn-block btn-outline-secondary mx-auto py-2"
            onclick="runQuestions()"
          >
            <i class="fas fa-arrow-circle-down mr-1" aria-hidden="true"></i>Get
            started
          </button>
        </div>
      </div>

      <div id="mainContent" class="my-4">
        <!-- JavaScript inserts question conetnt into this div -->
      </div>

      <div class="p-2 border mt-4 hide" id="finalInfo">
        <h4 id="messageResults">Let's take a look at your situation.</h4>
        <p>
          Here are some recommendations, tailored just for you, that can help
          keep you cool and safe in hot weather or bad air quality.
        </p>

        <div id="finalMessages">
          <!-- Final messages get printed here -->
        </div>

        <button class="btn btn-sm btn-outline-primary" onclick="setUpTest()">
          See other recommendations?
        </button>
      </div>

      <div id="testInfo" class="hide mt-4">
        <p>
          Use these buttons to change answers, and new recommendations will
          appear.
        </p>

        <button
          id="btn-sensitiveGroup"
          class="btn btn-sm btn-outline-primary testbtn mr-1 mb-1"
        >
          Sensitive group
        </button>
        <button
          id="btn-usesEME"
          class="btn btn-sm btn-outline-primary testbtn mr-1 mb-1"
        >
          Uses electrical medical equipment
        </button>
        <button
          id="btn-hasAnimal"
          class="btn btn-sm btn-outline-primary testbtn mr-1 mb-1"
        >
          Has an animal
        </button>
        <button
          id="btn-hasAC"
          class="btn btn-sm btn-outline-primary testbtn mr-1 mb-1"
        >
          Has AC at home
        </button>
        <button
          id="btn-limitsAC"
          class="btn btn-sm btn-outline-primary testbtn mr-1 mb-1"
        >
          Limits AC because of cost
        </button>
        <button
          id="btn-hasFan"
          class="btn btn-sm btn-outline-primary testbtn mr-1 mb-1"
        >
          Has a fan at home
        </button>

        <label for="temp">Current Temp:</label>
        <input
          type="number"
          id="input-currentTemp"
          name="temp"
          min="60"
          max="110"
          value=""
        />

        <label for="aqinum" class="ml-2">AQI:</label>
        <input
          type="number"
          id="input-aqinum"
          name="aqinum"
          min="1"
          max="6"
          value=""
        />
      </div>
    </div>
    <!-- .col (main) -->
  </div>
  <!-- .row -->
</article>
<!-- #primary-content -->

<!-- add JS -->
<script type="text/javascript" src="{{ .Params.config }}"></script>

<script type="text/javascript" src="{{ .Params.customJS }}"></script>

{{- end -}}
