{{- define "main" -}}

<style>
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.fill-1 {
  font-weight: bold;
  background-color: #FED976;
}

.color-1 {
  color: #FED976;
}

.fill-2 {
  font-weight: bold;
  background-color: #FEB24C;
}

.color-2 {
  color: #FEB24C;
}

.fill-3 {
  font-weight: bold;
  background-color: #FD8D3C;
}

.color-3 {
  color: #FD8D3C;
}

.fill-4 {
  font-weight: bold;
  background-color: #FC4E2A;
}

.color-4 {
  color: #FC4E2A;
}

.fill-5 {
  font-weight: bold;
  background-color: #E31A1C;
  color: white;
}

.color-5 {
  color: #E31A1C;
}

.btn.active {
font-weight: bold!important;
}
</style>

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto">
            <nav aria-label="breadcrumb" class="mt-2 mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>

            <h1 id="title">{{ .Title }}</h1>
            {{- .Content  -}}

            <div class="row mt-4" id="#display">
              <div class="col-md-3">
                <h6 class="">Storm surge</h6>
                <div class="border p-1 fs-sm" id="">
                  <p>Neighborhood-level vulnerability to storm surges, under sea level conditions and floodplains estimated for the selected time period.
                  </p>
                </div>

                <button class="btn btn-sm btn-block btn-outline-active text-body text-left my-0 fvi-selector text-align-left font-weight-normal" id="btn-FVI_storm_surge_present" onclick="updateChoropleth('FVI_storm_surge_present')">2020s</button>

                <button class="btn btn-sm btn-block btn-outline-active text-body text-left my-0 fvi-selector text-align-left font-weight-normal" id="btn-FVI_storm_surge_2050s" onclick="updateChoropleth('FVI_storm_surge_2050s')">2050s</button>

                <button class="btn btn-sm btn-block btn-outline-active text-body text-left my-0 fvi-selector text-align-left font-weight-normal" id="btn-FVI_storm_surge_2080s" onclick="updateChoropleth('FVI_storm_surge_2080s')">2080s</button>

                <h6 class="mt-4">Tidal flooding</h6>
                <div class="border p-1 fs-sm" id="">
                  <p>Neighborhood-level vulnerability to tidal flooding, under sea level conditions estimated for the selected time period.
                  </p>
                </div>

                <button class="btn btn-sm btn-block btn-outline-active text-body text-left my-0 fvi-selector text-align-left font-weight-normal" id="btn-FVI_tidal_2020s" onclick="updateChoropleth('FVI_tidal_2020s')" >2020s</button>

                <button class="btn btn-sm btn-block btn-outline-active text-body text-left my-0 fvi-selector text-align-left font-weight-normal" id="btn-FVI_tidal_2050s" onclick="updateChoropleth('FVI_tidal_2050s')">2050s</button>

                <button class="btn btn-sm btn-block btn-outline-active text-body text-left my-0 fvi-selector text-align-left font-weight-normal" id="btn-FVI_tidal_2080s" onclick="updateChoropleth('FVI_tidal_2080s')">2080s</button>

                <div class="border p-2 fs-sm mt-4">
                  <h6>Flood Vulnerability</h6>
                  <i class="fas fa-square mr-1 color-1" aria-hidden="true"></i>1: Lowest risk   <br>
                  <i class="fas fa-square mr-1 color-2" aria-hidden="true"></i>2                <br>
                  <i class="fas fa-square mr-1 color-3" aria-hidden="true"></i>3                <br>
                  <i class="fas fa-square mr-1 color-4" aria-hidden="true"></i>4                <br>
                  <i class="fas fa-square mr-1 color-5" aria-hidden="true"></i>5: Most risk     <br>


                </div>

              </div>

              <div class="col-md-9">
                <div id="map" class="" style="width:100%; height: 90vh"></div>

              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-6">
                <div class="asidebox">
                  <h2 class="h5">Susceptibility to harm</h2>
                  <p class="fs-sm">
                    The FVI combines the risk of physical exposure to different flooding types with socioeconomic factors that increase the risk of harm and affect how difficult it may be to prepare, evacuate or recover. These include factors like the proportion of people in a neighborhood who:
                    <ul>
                      <li>Are older or younger, have chronic illnesses, or have disabilities or mobility impairments.</li>
                      <li>May face disruption to food, income, or healthcare access - including people who are isolated or have language barriers, people who are socially or economically marginalized, or people with unstable living situations (including people living in institutional settings or who are incarcerated).</li>
                      <li>Own their home, which can increase cost and time it takes to recover. </li>
                    </ul>
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="asidebox">
                  <h2 class="h5">About the data</h2>
                  <p class="fs-sm">Each layer of the FVI is the result of the geometric average of the FSHRI combined with different physical exposure indices. Remember, a neighborhood with low risk for one type of flooding may still have high vulnerability to another type of flooding. The Flood Vulnerability Index (FVI) is part of the <a href="https://climate.cityofnewyork.us/initiatives/vulnerability-impacts-and-adaptation-analysis/">Climate Vulnerability, Impact, and Adaptation Analysis (VIA)</a> report from the Mayor's Office of Climate and Environmental Justice.
                  </p>
                  <p class="fs-sm"><a href="fvi.geojson"><i class="fas fa-download mr-1" aria-hidden="true"></i>Download the data (geoJSON)</a>.</p>
                </div>

              </div>
            </div>


        </div>
    </div>

    <div class="row" data-pagefind-weight="7.0">

      <div class="col-12">
      </div>


    </div>


</article>

<!-- Related footer -->
{{- partial "related-footer-2" . -}}

<!--bring in JS -->
<script type="text/javascript" src="fvigeojson.js"></script>

<script type="text/javascript" src="fvi.js"></script>


{{- end -}}