{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 mr-auto"></div>
    </div>

    <div class="row" data-pagefind-weight="7.0">
        <div class="col-md-8 col-sm-12 ml-auto">

            <div class="row">
                <h1 class="h2" data-pagefind-weight="10.0">
                    <i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}
                </h1>
                </div>
            </div>
            
            <div class="col-md-3 mr-auto text-right"> </div>
        </div>
        
        <div class="row my-1">
            <div class="col-md-6 ml-auto pl-0 col-sm-12">
                <p>Hot weather is dangerous. In New York City – and across the country – more people die from heat than from all other natural disasters combined. As our climate continues to warm, we expect more heat events that can put people’s lives at risk.</p>
                
                <p>In New York City, the risk of death from heat is unfairly distributed across neighborhoods. We identified neighborhood environmental and social factors associated with increased risk to create a heat vulnerability index. This can identify neighborhoods at highest risk and help inform neighborhood-level policies and programs that can protect people - sending resources to where they're needed the most.</p>
                
                <p>Use this Heat Vulnerability Explorer to look up your neighborhood's heat vulnerability and the neighborhood characteristics that affect it. </p>
                <hr>
                <p class="fs-sm mt-1"><a href="https://pubmed.ncbi.nlm.nih.gov/25782056/">Read more at <em>A Case-Only Study of Vulnerability to Heat Wave-Related Mortality in New York City (2000-2011)</em></a>.</p>
            </div>
            
            <div class="col-md-5 col-sm-12 mr-auto">

                <div style="font-size: 1rem;" class="pb-1">Enter a neighborhood to get data:</div>

                <div class="btn-group" role="group">

                    <input 
                        id="flex_search"
                        type='search'
                        class='flexdatalist form-control'
                        name='indicator_name_suggestion'
                    />

                    <button id="clear" class="btn btn-md btn-warning">Clear</button>

                </div>

                
                <div class="fs-md mt-3 pb-1"><strong>Your neighborhood:</strong></div>
                <span id="NTA" class="badge badge-primary mb-0">No neighborhood selected. Enter an address above</span> 
                <p class="fs-sm"><em>This is a Neighborhood Tabulation Area. <a href={{ relURL "data-stories/geographies" }}>Read about NTAs</a>.</em></p>
                
                <div class="fs-md pb-1"><strong>Heat vulnerability:</strong></div>
                <span id="hviVal" class="badge badge-primary h4 mb-0">No neighborhood selected. Enter an address above</span>
                <p class="fs-sm"><em>Neighborhoods are ranked from 1 (lowest risk) to 5 (highest risk).</em></p>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-5 ml-auto pl-0 col-sm-12">
                <h3 data-pagefind-weight="10.0">The Heat Vulnerability Index</h3>
                <p data-pagefind-weight="9.0">The Heat Vulnerability Index (HVI) shows neighborhoods whose residents are more at risk for dying during and immediately following extreme heat. It uses a statistical model to summarize the most important social and environmental factors that contribute to neighborhood heat risk. The factors included in the HVI are surface temperature, green space, access to home air conditioning, and the percentage of residents who are low-income or non-Latinx Black. <a href="#disparities">Differences in these risk factors across neighborhoods are rooted in past and present racism</a>.</p>
                
                <p>Neighborhoods are scored from <span class="badge" style="font-weight: bold; font-size: 1rem; color:#e9c213; background: dimgray; border-radius: 5px;"><i class="fas fa-square"></i>&nbsp;1 (lowest risk)</span> to <span class="badge" style="font-weight: bold; font-size: 1rem; color: #793834; background: lightgray; border-radius: 5px;"><i class="fas fa-square"></i>&nbsp;5 (highest risk)</span>. The neighborhood you selected is <span class="badge" style="font-weight: bold; font-size: 1rem; color: #00ffff; background: dimgray; border-radius: 5px;">outlined in blue</span>. Hover over the map to see each neighborhood's heat vulnerability score.</p>
                
                <p>Remember, all neighborhoods have residents at risk for heat illness and death.  A neighborhood with low vulnerability does not mean no risk.
                </p>

                
            </div>
            <div class="col-md-6 col-sm-12 mr-auto">
                <div class="vis2 mt-3" id="mapvis"></div>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-md-11 mx-auto pl-0 col-sm-12">
                <h3>What factors affect heat vulnerability in your neighborhood?</h3>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-5 ml-auto pl-0 col-sm-12">
                <div class="row no-gutters pb-1 fs-lg mr-2 border-bottom">
                    <div class="col">
                        <strong>Temperature</strong>
                    </div>
                </div>
                
                <div class="row no-gutters pb-1 fs-lg mr-2">
                    <div class="col-6">
                        <span id="tempVal" class="badge badge-primary">--° F</span>
                    </div>
                    <div class="col-6 text-right">
                        <span id="tempTert"><span class="badge badge-light">--- than most neighborhoods</span></span> 
                    </div>
                </div>
                
                <div class="row no-gutters py-1 mr-2">
                    <div class="col-12 mb-3">
                        <p><i class="far fa-question-circle"></i>&nbsp;<a href={{ relURL "data-explorer/climate/?id=2141" }}>Daytime summer surface temperature</a> is different from air temperature, and varies more by neighborhood: some neighborhoods are hotter than others. A higher surface temperature is associated with a higher risk of death from heat waves. <span class="badge badge-light">Median neighborhood: 87.0° F</span>
                        </p>
                    </div>
                </div>
                <!--End Temp-->
                
                <div class="row no-gutters pb-1 fs-lg mr-2 border-bottom">
                    <div class="col">
                        <strong>Green space</strong> 
                    </div>
                </div>
                
                <div class="row no-gutters pb-1 fs-lg mr-2">
                    <div class="col-6">
                        <span id="greenVal" class="badge badge-primary">--%</span>
                    </div>
                    <div class="col-6 text-right">
                        <span id="greenTert"><span class="badge badge-light">--- than most neighborhoods</span></span>
                    </div>
                </div>
                
                <div class="row no-gutters py-1 mr-2">
                    <div class="col mb-3">
                        <p><i class="far fa-question-circle"></i>&nbsp;Green space is <a href={{ relURL "data-explorer/active-design/?id=2157" }}>tree</a>, <a href={{ relURL "data-explorer/active-design/?id=2143" }}>grass, or shrub cover</a>. Green space helps cool a neighborhood, address the <a href={{ relURL "data-stories/localtemp" }} target="_blank">UHI</a>, and create a resilient city. It also has a small association with heat mortality, weaker than other components in the index. <span class="badge badge-light">Median neighborhood: 25.0%</span>
                        </p>
                    </div>
                </div>
                <!--END SECTION-->
            </div>
            
            <div class="col-md-6 col-sm-12 mr-auto">
                <div class="row no-gutters pb-1 fs-lg mr-2 border-bottom">
                    <div class="col">
                        <strong>Air conditioning</strong> 
                    </div>
                </div>
                
                <div class="row no-gutters pb-1 fs-lg mr-2">
                    <div class="col-6">
                        <span id="acVal" class="badge badge-primary">--%</span>
                    </div>
                    <div class="col-6 text-right">
                        <span id="acTert"><span class="badge badge-light">--- than most neighborhoods</span></span>
                    </div>
                </div>
                
                <div class="row no-gutters py-1 mr-2">
                    <div class="col mb-3">
                        <p><i class="far fa-question-circle"></i>&nbsp;Air conditioning is as necessary during extreme heat as heating is in winter. A neighborhood with a high percentage of <a href={{ relURL "data-explorer/climate/?id=2104" }}>households with air conditioners</a> means that more of its residents can be protected from extreme heat. <span class="badge badge-light">Citywide: 91.0%</span></p>
                    </div>
                </div>
                <!--END SECTION-->
                
                <div class="row no-gutters pb-1 fs-lg mr-2 border-bottom">
                    <div class="col">
                        <strong>Median income</strong> 
                    </div>
                </div>
                
                <div class="row no-gutters pb-1 fs-lg mr-2">
                    <div class="col-6">
                        <span id="incVal" class="badge badge-primary">$--</span>
                    </div>
                    <div class="col-6 text-right">
                        <span id="incTert"><span class="badge badge-light">--- than most neighborhoods</span></span> 
                    </div>
                </div>
                
                <div class="row no-gutters py-1 mr-2">
                    <div class="col mb-3">
                        <p><i class="far fa-question-circle"></i>&nbsp;Low income is a social factor that places people at risk of death during heat waves for many reasons. One reason is that people with limited financial resources may be less likely to afford owning or using an air conditioner during heat waves. <span class="badge badge-light">Citywide: $67,046</span>
                        </p>
                    </div>
                </div>
                <!--END SECTION-->
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-5 ml-auto pl-0 col-sm-12">
                <h4>Racial inequities in heat impacts</h4>
                <p>In NYC, Black people die of heat-related illness at a disproportionately high rate. Because of this, neighborhoods with more Black residents are more greatly impacted by extreme heat.
                </p>
                <p>Black New Yorkers suffer these disproportionate health impacts from heat due to social and economic disparities. These disparities stem from structural racism, which includes neighborhood disinvestment, racist housing policies, fewer job opportunities and lower pay, and less access to high-quality education and health care.  </p>
                <p>Overall, these systems limit access to resources that protect health. While many factors affect a neighborhood’s heat risk, Black New Yorkers are subjected to higher rates of poverty and lower access to air conditioning, green space, and neighborhood cooling resources. 
                </p>
                
            </div>
            <div class="col-md-6 col-sm-12 mr-auto">
                <iframe title="Heat-related deaths in NYC" aria-label="chart" id="datawrapper-chart-kuXB4" src="https://datawrapper.dwcdn.net/kuXB4/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="376"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
                </script> 
            </div>
        </div>
        <!--End row-->
        
        <div class="row mt-2">
            <div class="col-lg-6 mx-auto">
                <p>You can learn more about what the City is doing to address extreme heat and how the HVI is guiding that work in the <a href="https://climate.cityofnewyork.us/initiatives/planyc-getting-sustainability-done/">2023 PlaNYC: Getting Sustainability Done</a> report and at <a href="https://www1.nyc.gov/assets/orr/pdf/Cool_Neighborhoods_NYC_Report.pdf">Cool Neighborhoods NYC</a>. Communities can also use the index to advocate for services and resources.</p>
            </div>
        </div>
        
        <div class="row mt-2 fs-sm">
            <div class="col-lg-6 mx-auto mt-2">
                <div class="asidebox">
                    <p>In NYC, an <strong>extreme heat event</strong> is 2 or more days with a heat index reaching 95 °F, or 1 or more days reaching 100 °F.</p>
                    <p>To learn more about heat and health, visit <a href="https://www1.nyc.gov/site/doh/health/emergency-preparedness/emergencies-extreme-weather-heat.page">Extreme Heat and Health</a>. To stay safe in the heat, visit <a href="https://www1.nyc.gov/assets/em/html/beat-the-heat/beattheheat.html">Beat the Heat</a>.</p>
                </div>
            </div>
        </div>
        
        <div class="row mt-2">
            <div class="col-lg-6 mx-auto">
                <div style="border-radius: 5px;">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="NEW YORK CITY" data-label_2="WEATHER" data-theme="original" >NEW YORK CITY WEATHER</a>
                    <script>
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                    </script>
                </div>
            </div>
        </div>
        <br><br><br><br>
        
    </article>

<!-- This code uses the JS file specified in the page's frontmatter -->
<script type="text/javascript" src="{{ .Params.accessibleAutocomplete }}"></script>

<!-- flexdatalist -->

{{- $flexdatalist_css := resources.Get "node_modules/jquery-flexdatalist/jquery.flexdatalist.min.css" -}}
<link rel="stylesheet" href="{{ $flexdatalist_css.RelPermalink }}"/>

{{- $flexdatalist_js := resources.Get "node_modules/jquery-flexdatalist/jquery.flexdatalist.min.js" -}}
<script type="text/javascript" src="{{ $flexdatalist_js.RelPermalink }}"></script>

<link rel="stylesheet" href="custom.css"/>

<!-- HVI script -->

<script type="text/javascript" src="{{ .Params.customJS }}"></script>

{{- end -}}