{{- define "main" -}}

<style>
  .vega-embed {
    height: 100%;
  }

  #chart {
    width: 100%;
    height: 80vh;
  }
</style>

<article class="container-fluid" id="skip-header-target">
  {{ partial "df-front-block" . }}

  <a href="#accessibleTables" class="sr-only">Skip to accessible data tables.</a>

  <div class="row mb-4">
    <div class="col-11 mx-auto">

          <button class="btn btn-sm btn-outline-primary type-button" id="edvisits">
            ED visits
          </button>
          <button class="btn btn-sm btn-outline-primary  type-button" id="hospitalizations">
            Hospitalizations
          </button>
          <button class="btn btn-sm btn-outline-primary active type-button" id="deaths">
            Deaths
          </button>

            <button class="btn btn-sm btn-outline-secondary subtype-button ml-2" id="injuryOnly" data-injury="1">
              Injury-related only
            </button>
            <button class="btn btn-sm btn-outline-secondary active subtype-button" id="all" data-injury="0">
              All deaths
            </button>

            <button class="btn btn-sm btn-outline-info ml-2" id="showInjury">
              Highlight injuries
            </button>

            <hr class="my-1">


      <div class="row my-2">
        <div class="col-md-9">
            <div id="chart"></div>
        </div>

        <div class="col-md-3">
          <div id="prompt">
              Hover over a bubble to see data
          </div>

          <div id="readout" class="my-2 hide">
            <span class="fs-sm">Age:</span><br>
            <span class="font-weight-bold" id="agePrint">Xty2</span>
            <hr class="my-1">
            <span class="fs-sm">Cause of death:</span><br>
            <span class="font-weight-bold" id="causePrint">Fiddly diddly</span>
            <hr class=my-1>
            <span class="fs-sm">Death rate:</span><br>
            <span class="font-weight-bold" id="ratePrint">ZZZZ per 100,000 people</span>
            <hr class=my-1>
            <span class="fs-sm">Average annual deaths:</span><br>
            <span class="font-weight-bold" id="countPrint">XXYY</span>
            <hr class=my-1>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="sr-only" id="accessibleTables">
    <h2>Accessible data table</h2>
    {{ partial "render-accessible-table.html" (dict "csvPath" "data/mort-ranks.csv" "containerId" "csv-table-container-1") }}
  </div>

</article>

<script>
// GLOBAL VARIABLES
var outcome = 'deaths'      // deaths, visits, or hosps
var intent = 0              // injury true = 1
var highlight = 'off'       // on or off (injury highlight)

const injuryBtn = document.getElementById('showInjury');
let injuryOn = false; // record keeper

// TYPE BUTTONS
document.querySelectorAll('.type-button').forEach(btn => {
  btn.addEventListener('click', function () {
    // remove active from all type buttons
    document.querySelectorAll('.type-button').forEach(b => b.classList.remove('active'));

    // add active to clicked one
    this.classList.add('active');

    // log its id
    console.log(this.id);

    // update the text inside #all
    const allBtn = document.getElementById('all');
    if (allBtn) {
      allBtn.textContent = `All ${this.textContent.trim()}`;
    }
  });
});


// SUBTYPE BUTTONS
document.querySelectorAll('.subtype-button').forEach(btn => {
  btn.addEventListener('click', function () {

    // remove active from all subtype buttons
    document.querySelectorAll('.subtype-button').forEach(b => b.classList.remove('active'));

    // add active to clicked one
    this.classList.add('active');

    // update global intent based on data-injury
    intent = Number(this.dataset.injury);

    // show/hide #showInjury only when "All deaths" is selected
    if (intent === 0) {
      document.querySelector('#showInjury').classList.remove('d-none');
    } else {
      document.querySelector('#showInjury').classList.add('d-none');
    }

    console.log("intent:", intent);

    drawChart(outcome, intent, highlight)

  });
});

// HIGHLIGHT INJURY button
injuryBtn.addEventListener('click', function () {
  injuryOn = !injuryOn;        // flip state
  this.classList.toggle('active', injuryOn); // sync class

  highlight = injuryOn ? 'on' : 'off';

  console.log(highlight)
  // yourFunction(highlight); // call your function with "on" or "off"
  drawChart(outcome, intent, highlight)
});

function drawChart(outcome, intent, injuryHighlight) {

  console.log('Drawing chart for', outcome)
  console.log('Injury related?', intent)
  console.log('Highlighting injury?', injuryHighlight)



  var filter
  // injury FILTER condition
  if (intent == 1) {
    filter = "datum.InjuryRelated == 1"
    injuryHighlight = 'off'
  } else {
    filter = "datum.InjuryRelated == 0"
  }

  // injury highlight condition
  if (injuryHighlight === 'on') {
    color =  {"field": "Intent", "type": "nominal","legend": null}
  } else {
    color =  {"value": "#f5f5f5"}
  }



  var spec = {
  "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
  "height": "container",
  "width": "container",
  "data": {
    "url": "data/mort-ranks.csv"
  },
  "config": {
    "background": "#FFFFFF",
    "axisX": {
      "labelFontSize": 11,
      "titleFontSize": 15,
      "titleFont": "sans-serif",
      "titlePadding": 10,
      "titleFontWeight": "normal"
    },
    "axisY": {
      "labelFontSize": 11,
      "titleFontSize": 0,
      "labelAngle": 0,
      "titlePadding": 10,
      "titleFont": "sans-serif",
      "tickMinStep": 1,
      "domain": false,
      "ticks": false
    },
    /*
    "legend": {
      "columns": 6,
      "labelFontSize": 14,
      "symbolSize": 140,
      "orient": "bottom",
      "title": null
    },
    */
    "view": {"stroke": "transparent"},
    "range": {"category": ["#ffa600", "#f5f5f5", "#40826D", "#5d5d5d"]}
  },
  "transform": [
{
  "filter": filter
},
{
  "calculate": "(datum.agegroup == '<1' ? 1 : datum.agegroup == '1 - 4' ? 2 : datum.agegroup == '5 - 9' ? 3 : datum.agegroup == '10 - 14' ? 4 : datum.agegroup == '15 - 24' ? 5 : datum.agegroup == '25 - 34' ? 6 : datum.agegroup == '35 - 44' ? 7 : datum.agegroup == '45 - 54' ? 8 : datum.agegroup == '55 - 64' ? 9 : datum.agegroup == '65+' ? 10 : datum.agegroup == 'All ages' ? 12 : null)",
  "as": "xAxisNum"
},

    {"calculate": "datum.rate + ' per 100,000'", "as": "RateWith"}
    
    ],
  "mark": {"type": "circle"},
  "params": [
    {
      "name": "hover",
      "value": "#7C7C7C",
      "select": {"type": "point", "on": "mouseover"}
    },
    {
      "name": "hoverPoint",
      "select": {"type": "point", "on": "hover"}
    }
  ],
  "encoding": {
    "x": {
      "field": "agegroup",
      "type": "nominal",
      "sort": {"field": "xAxisNum"},
      "axis": {"ticks": true, "labelAngle": 0,"orient": "top","title": ""}
    },
    "y": {
      "field": "rank",
      "type": "quantitative",
      "sort": "descending",
      "scale": {"domain": [0.1, 10.5]},
      "axis": {"grid": false}
    },
    "size": {
      "field": "rate",
      "type": "quantitative",
      "scale": {"range": [200, 10000]},
      "legend": null
    },
    "stroke": {
      "condition": {"param": "hover", "empty": false, "value": "black"},
      "value": "#7C7C7C"
    },
    "strokeWidth": {
      "condition": {"param": "hover", "empty": false, "value": 2},
      "value": 0.5
    },
    "color": color
    /*
    "tooltip": [
      {"title": "Age", "field": "Age group", "type": "nominal"},
      {"title": "Rank", "field": "Rank", "type": "quantitative"},
      {"title": "Cause of death", "field": "Cause", "type": "nominal"},
      {"title": "Death rate", "field": "RateWith", "type": "nominal"},
      {
        "title": "Average annual deaths",
        "field": "AverageAnnualCount",
        "type": "quantitative"
      }
    ]
      */
  }
}

vegaEmbed('#chart', spec).then(result => {
  const view = result.view;

  // Mouse over event
  view.addEventListener('mouseover', event => {

    showOnHover(event)

  });

  // Mouse out event
  view.addEventListener('mouseleave', event => {

    clearOnHover()

    if (event.item && event.item.datum) {
      console.log('Mouse left:', event.item.datum);
      // do stuff when mouse leaves the mark
    }
  });
});


}

function showOnHover(event) {

  document.getElementById('readout').classList.remove('hide');    
  document.getElementById('prompt').classList.add('hide');

  if (event.item && event.item.datum) {
    const datum = event.item.datum;

    // console.log('Hovered over:', datum);

    document.getElementById('agePrint').innerHTML = datum['agegroup'];
    document.getElementById('causePrint').innerHTML = datum['cause_text'];

    // Format numbers with commas and no decimal places
    const rateFormatted = Number(datum['rate']).toLocaleString(undefined, {
      maximumFractionDigits: 1
    });
    const countFormatted = Number(datum['Annual_Average_Count']).toLocaleString(undefined, {
      maximumFractionDigits: 0
    });

    document.getElementById('ratePrint').innerHTML = rateFormatted + ' per 100,000 people';
    document.getElementById('countPrint').innerHTML = countFormatted;
  }
}

function clearOnHover() {
      document.getElementById('readout').classList.add('hide')
      document.getElementById('prompt').classList.remove('hide')
}

// INITIALIZE CHART
drawChart(outcome, intent, highlight)


</script>

<!-- Related footer -->
{{- partial "related-footer" . -}}

{{- end -}}
