{{- define "main" -}}

<style>
    .vega-embed {
    height: 100%;
}

.map-holder {
  width: 100%;
  height: 350px;
}
</style>

<article class="container-fluid" id="skip-header-target">

    {{ partial "df-front-block" . }}

    <div class="row mb-4">
        <div class="col-11 mx-auto">
          <div class="row my-2">
            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                    <p class="home-label mb-0">Minimum wage:</p>
                        <button class="wagecontrol btn btn-sm btn-outline-secondary active px-2" data-value="b30">$30</button>
                        <button class="wagecontrol btn btn-sm btn-outline-secondary px-2" data-value="a20">$20</button>         

                </div>

                <div class="col-6">
                    <p class="home-label mb-0">Scenario</p>
                        <button class="scenariocontrol btn btn-sm btn-outline-secondary active px-2" data-value="scen1">1</button>
                        <button class="scenariocontrol btn btn-sm btn-outline-secondary px-2" data-value="scen2">2</button>
                        <button class="scenariocontrol btn btn-sm btn-outline-secondary px-2" data-value="scen3">3</button>

                </div>

                <div class="col-12 mt-2">
                    <div class="asidebox mb-4 ">
                        <div id="scen1" class="fs-md">
                            <p><strong>Scenario 1:</strong> the higher minimum wage raises wages of people who previously earned less than the new minimum wage, but does not affect employment.</p>
                        </div>
                        <div id="scen2" class="fs-md">
                            <p><strong>Scenario 2:</strong> a higher minimum wage creates "spillover effects:" people earning near the new minimum wage also see wage increases.</p>
                        </div>
                            <div id="scen3" class="fs-md">
                            <p><strong>Scenario 3:</strong> a higher minimum wage has no spillover effects, and also results in a 15% loss of minimum wage jobs.</p>
                            </div>
                    </div>

                      <div class="asidebox">
                        <div id="b30" class="mwage fs-md">
                        <p>A <strong>$30 minimum wage</strong> could:</p>
                        <p>✅ Reduce citywide poverty from 33.5% to somewhere between 27.7 and 31.2%.</p>
                        <p>✅ Reduce the premature mortality rate (deaths before age 65, per 100,000 people) from 215.7 to between 195.4 and 207.6. This could <strong>prevent as many as 1,400 premature deaths</strong>.</p>
                        <p> <strong>These impacts would be largest in neighborhoods with higher poverty.</strong> </p>     
                        </div>

                        <div id="a20" class="mwage fs-md" style="display:none;">
                        <p>A <strong>$20 minimum wage</strong> could:</p>
                        <p>✅ Reduce citywide poverty from 33.5% to somewhere between 32.2 and 33.6%.</p>
                        <p>✅ Reduce the premature mortality rate (deaths before age 65, per 100,000 people) from 215.7 to between 211 and 216. This represents as much as 2.6% of all premature deaths in NYC (in 2023).</p>
                        <p>In 2023, there were about 11,000 premature deaths in NYC. </p>                      
                        </div>
                    </div>
                </div>

              </div>
            </div>

            <div class="col-md-8">
              <div class="row">
                  <div class="col-12">
                    <h3 class="h6">Poverty: <span style="font-weight:normal">Percent of households with family income under 200% Federal Poverty Level</span></h3>
                  </div>
                <div class="col-4 pt-2">
                    <div id="chartDest">
                    Chart goes here
                    </div>
                </div>
                <div class="col-8">
                  <div class="map-holder" id="mapDest">
                    map goes here
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8 mx-auto">
                  <hr>
                </div>
              </div>
              
              <div class="row mt-3">
                  <div class="col-12">
                    <h3 class="h6">Premature mortality: <span style="font-weight:normal">Deaths before age 65, per 100,000 people</span></h3>
                  </div>
                <div class="col-4 pt-2">
                    <div id="chartDest2">
                    Chart goes here
                    </div>
                </div>
                <div class="col-8">
                  <div class="map-holder" id="mapDest2">
                    map goes here
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8 mx-auto">
                  <hr>
                </div>
              </div>
            </div>
          </div>

        <div class="row mt-4">
            <div class="col-md-8 mr-auto">
                <p>Quisque neque est, ultrices et lacus aliquam, convallis ornare arcu. Curabitur efficitur metus et risus pharetra finibus. Vestibulum tincidunt nunc in efficitur vehicula. In hac habitasse platea dictumst. Proin semper est leo, eu malesuada ligula tincidunt sit amet. Nulla ac tincidunt magna, sit amet commodo quam. Cras a sapien a ante pharetra tristique. Quisque iaculis leo vitae dapibus rutrum. In eu sem vitae turpis pulvinar porta ut eu dui.</p>
            </div>

            <div class="col-12 mt-2">
            <div style="min-height:378px" id="datawrapper-vis-9QaVu"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/9QaVu/embed.js" charset="utf-8" data-target="#datawrapper-vis-9QaVu"></script><noscript><img src="https://datawrapper.dwcdn.net/9QaVu/full.png" alt="Table 1 (Table)" /></noscript></div>
            </div>
        </div>
        </div>
    </div>

</article>

<!-- Related footer -->
{{- partial "related-footer" . -}}


<script>
var wage = "b30";
var scenario = "scen1";


function redrawChart(settings) {
  drawChart(x,y,x)
}

function drawMap(w,s,v) {

  console.log(w,s,v)

  if (v === "Poverty") {
    var destination = "#mapDest"
    var subtitle = "Poverty"
    var variable = "poverty"
    var label = "%"
  } else {
    var destination = "#mapDest2"
    var subtitle = "Premature mortality"
    var variable = "prematuremort"
    var label = " per 100,000 people"
  }

  var mapSpec = {
  "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
  "title": {
    "text": "Title",
    "subtitlePadding": 10,
    "fontWeight": "normal",
    "anchor": "start",
    "fontSize": 0,
    "font": "sans-serif",
    "baseline": "top",
    "subtitle": subtitle,
    "subtitleFontSize": 0
  },
  "data": {
    "url": "data/data.csv"
  },
  "config": {
    "concat": {"spacing": 20},
    "view": {"stroke": "transparent"},
    "axisY": {"domain": false, "ticks": false, "labelBaseline": "bottom"},
    "scale": {"invalid": {"color": {"value": "#808080"}}}
  },
  "projection": {"type": "mercator"},
  "transform": [
    {"calculate": `datum.Value + '${label}'`, "as": "valueLabel"},
    {
      "filter": `datum.Wage === '${w}'`
    },
    {
      "filter": `datum.Scenario === '${s}'`
    },
    {
      "filter": `datum.Variable === '${variable}'`
    }
  ],
      "layer": [
        {
          "height": 350,
          "width": "container",
          "data": {
            "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/borough.topo.json",
            "format": {"type": "topojson", "feature": "collection"}
          },
          "mark": {
            "type": "geoshape",
            "stroke": "#fafafa",
            "fill": "#C5C5C5",
            "strokeWidth": 0.5
          }
        },
        {
          "height": 350,
          "width": "container",
          "data": {
            "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/CD.topo.json",
            "format": {"type": "topojson", "feature": "collection"}
          },
          "mark": {
            "type": "geoshape",
            "stroke": "#a2a2a2",
            "fill": "#e7e7e7",
            "strokeWidth": 0.5
          }
        },
        {
          "height": 350,
          "width": "container",
          "mark": {"type": "geoshape", "invalid": null},
          "params": [
            {
              "name": "highlight",
              "select": {
                "type": "point",
                "on": "mouseover",
                "clear": "mouseout"
              }
            }
          ],
          "transform": [
            {
              "lookup": "CD",
              "from": {
                "data": {
                  "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/CD.topo.json",
                  "format": {"type": "topojson", "feature": "collection"}
                },
                "key": "properties.GEOCODE"
              },
              "as": "geo"
            }
          ],
          "encoding": {
            "shape": {"field": "geo", "type": "geojson"},
            "color": {
              "bin": true,
              "field": "Value",
              "type": "quantitative",
              "scale": {"scheme": {"name": "viridis", "extent": [1, 0]}},
              "legend": {
                "direction": "horizontal",
                "orient": "top-left",
                "title": `${subtitle} (${label})`,
                "tickCount": 3,
                "offset": -25,
                "gradientLength": 150
              }
            },
            "stroke": {
              "condition": [
                {"param": "highlight", "empty": false, "value": "cyan"}
              ],
              "value": "#2d2d2d"
            },
            "strokeWidth": {
              "condition": [
                {"param": "highlight", "empty": false, "value": 1.25}
              ],
              "value": 0.5
            },
            "order": {
              "condition": [{"param": "highlight", "empty": false, "value": 1}],
              "value": 0
            },
            "tooltip": [
              {"field": "CD Name", "title": "Neighborhood"},
              {"field": "valueLabel", "title": `${subtitle}`}
            ]
          }
        }
      ]
}


  vegaEmbed(destination, mapSpec,{actions: false});

}

drawMap(wage,scenario,"Poverty")
drawMap(wage,scenario,"Premature")

function drawChart(w,s) {

  const newWage = w.includes('20') ? 'With $20 min wage' : w.includes('30') ? 'With $30 min wage' : 'Not sure'
  const wageVal = w.includes('20') ? '$20' : w.includes('30') ? '$30' : 'Not sure'


  var height = 325

  var povertySpec = {
  "$schema": "https://vega.github.io/schema/vega-lite/v6.json",
  "data": {
    "url": "https://gist.githubusercontent.com/mmontesanonyc/5a368f127bf226c42ec72c56e48fb955/raw/4d048c9798cff78c4d5b640a1315e606ad8028f9/minimumwage.csv"
  },
  "config": {
    "background": "#FFFFFF",
    "axisX": {
      "labelAngle": 0,
      "labelOverlap": "parity",
      "labelFontSize": 11,
      "titleFontSize": 13,
      "titleFont": "sans-serif",
      "titlePadding": 10,
      "domain": false,
      "ticks": true
    },
    "view": {"stroke": "transparent"},
    "axisY": {
      "domain": true,
      "domainColor": "lightgray",
      "ticks": true,
      "tickCount": 4
    }
  },
  "transform": [
    {"filter": `datum.MinWage==='${w}'`},
    // {"filter": "datum.Neighborhood!='NYC'"},
    {"filter": `datum.Scenario==='${s}'`},
    {"filter": "datum.Variable==='Poverty'"},
    {"calculate": "datum.Value/100", "as": "Value"},
    {
      "calculate": "datum.Neighborhood == 'veryhigh' ? 'Very high poverty neighborhoods (50%+)' : datum.Neighborhood == 'high' ? 'High poverty neighborhoods (35 to 49%)' : datum.Neighborhood == 'moderate' ? 'Moderate poverty neighborhoods (20 to 34%)' : datum.Neighborhood == 'low' ? 'Low poverty neighborhoods (Under 20%)' : 'All NYC'",
      "as": "PovLabel"
    },
    {
        "calculate": `datum.Time === 'Before' ? '$15' : '${wageVal}'`,
        "as": 'Wage'
    }
  ],
      "height": height,
      "width": "container",
      "mark": {
        "type": "line", 
        "point": {
          "filled": true,
          "size": 60
        }
      },
      "encoding": {
        "x": {
          "field": "Time",
          "type": "ordinal",
          "sort": ["before", "after"],
          "title": null,
          "axis": {
                  "labelExpr": `datum.value == 'Before' ? 'Current' : '${newWage}'`
                }
        },
        "y": {
          "field": "Value",
          "type": "quantitative",
          "title": null,
          "axis": {"format": ".0%"},
          "scale": {"domain": [0, 0.6]}
        },
        "color": {
            "condition": {
              "test": "datum.Neighborhood === 'NYC'",
              "value": "black"
            },
          "field": "Neighborhood",
          "type": "nominal",
          "title": "Neighborhood",
          "legend": null,
          "scale": {
                      "domain": ["low", "moderate", "high", "veryhigh"],
                      "range": ["#9ecae1", "#6baed6", "#8856a7", "#d01c8b"]
                    }
        },
        "strokeWidth": 3,
          "strokeDash": {
            "condition": [
              {
                "test": "datum.Neighborhood == 'NYC'",
                "value": [4,3]     // dashed pattern: 6px line, 3px gap
              }
            ]
          },
        "tooltip": [

          {"field": "PovLabel", "type": "ordinal", "title": "Area"},
          {
            "field": "Value",
            "type": "quantitative",
            "title": "Poverty",
            "format": ".0%"
          },
                    {
            "field": "Wage",
            "title": "Minimum wage"
          },
        ]
      }
}

var prematureMortSpec = {
  "$schema": "https://vega.github.io/schema/vega-lite/v6.json",
  "data": {
    "url": "https://gist.githubusercontent.com/mmontesanonyc/5a368f127bf226c42ec72c56e48fb955/raw/4d048c9798cff78c4d5b640a1315e606ad8028f9/minimumwage.csv"
  },
  "config": {
    "background": "#FFFFFF",
    "axisX": {
      "labelAngle": 0,
      "labelOverlap": "parity",
      "labelFontSize": 11,
      "titleFontSize": 13,
      "titleFont": "sans-serif",
      "titlePadding": 10,
      "domain": false,
      "ticks": true
    },
    "view": {"stroke": "transparent"},
    "axisY": {
      "domain": true,
      "domainColor": "lightgray",
      "ticks": true,
      "tickCount": 4
    }
  },
  "transform": [
    {"filter": `datum.MinWage==='${w}'`},
    // {"filter": "datum.Neighborhood!='NYC'"},
    {"filter": `datum.Scenario==='${s}'`},
    {"filter": "datum.Variable==='PrematureMort'"},
    {
      "calculate": "datum.Neighborhood == 'veryhigh' ? 'Very high poverty neighborhoods (50%+)' : datum.Neighborhood == 'high' ? 'High poverty neighborhoods (35 to 49%)' : datum.Neighborhood == 'moderate' ? 'Moderate poverty neighborhoods (20 to 34%)' : datum.Neighborhood == 'low' ? 'Low poverty neighborhoods (Under 20%)' : ' All NYC'",
      "as": "PovLabel"
    },
    {
      "calculate": "datum.Value + ' per 100,000 people'",
      "as": "ValueLabel"
    },
    {
        "calculate": `datum.Time === 'Before' ? '$15' : '${wageVal}'`,
        "as": 'Wage'
    }
  ],
      "height": height,
      "width": "container",
      "mark": {
        "type": "line", 
        "point": {
          "filled": true,
          "size": 60
        }
      },
      "encoding": {
        "x": {
          "field": "Time",
          "type": "ordinal",
          "sort": ["before", "after"],
          "title": null,
          "axis": {
                  "labelExpr": `datum.value == 'Before' ? 'Current' : '${newWage}'`
                }
        },
        "y": {
          "field": "Value",
          "type": "quantitative",
          "title": null,
          "scale": {"domain": [0, 400]}
        },
          "color": {
            "condition": {
              "test": "datum.Neighborhood === 'NYC'",
              "value": "black"
            },
          "field": "Neighborhood",
          "type": "nominal",
          "title": "Neighborhood",
          "legend": null,
          "scale": {
                      "domain": ["low", "moderate", "high", "veryhigh"],
                      "range": ["#9ecae1", "#6baed6", "#8856a7", "#d01c8b"]
                    }
        },
                "strokeWidth": 3,
          "strokeDash": {
            "condition": [
              {
                "test": "datum.Neighborhood == 'NYC'",
                "value": [4,3]     // dashed pattern: 6px line, 3px gap
              }
            ]
          },
        "tooltip": [

          {"field": "PovLabel", "type": "ordinal", "title": "Area"},
          {"field": "ValueLabel", "type": "nominal", "title": "Premature mortality"},
          {
            "field": "Wage",
            "title": "Minimum wage"
          }
        ]
      }
}


    vegaEmbed("#chartDest", povertySpec, { actions: false })
      .then(res => {
        window.addEventListener("resize", () => res.view.resize());
      });

          vegaEmbed("#chartDest2", prematureMortSpec, { actions: false })
      .then(res => {
        window.addEventListener("resize", () => res.view.resize());
      });

}

drawChart(wage,scenario);


// helper to wire up a group of buttons
function setupButtonGroup(selector, variableName) {
  const buttons = document.querySelectorAll(selector);

  buttons.forEach(btn => {
    btn.addEventListener("click", () => {
      // remove active from all in this group
      buttons.forEach(b => b.classList.remove("active"));
      // add active to the clicked one
      btn.classList.add("active");

      // update variable
      if (variableName === "wage") {
        wage = btn.dataset.value;
        // Show corresponding div, hide others
        const wageDivs = document.querySelectorAll(".mwage");
        wageDivs.forEach(div => {
          div.style.display = div.id === wage ? "block" : "none";
        });


      } else if (variableName === "scenario") {
        scenario = btn.dataset.value;

        // Show corresponding div, hide others
        const scenarioDivs = document.querySelectorAll("div[id^='scen']");
        scenarioDivs.forEach(div => {
          div.style.display = div.id === scenario ? "block" : "none";
        });
      }

      console.log(`wage: ${wage}, scenario: ${scenario}`);
      drawChart(wage, scenario);
      drawMap(wage,scenario,"Poverty");
      drawMap(wage,scenario,"PM")

    });
  });
}

// initialize both groups
setupButtonGroup(".wagecontrol", "wage");
setupButtonGroup(".scenariocontrol", "scenario");

// optional: on page load, hide all scenario divs except default
document.querySelectorAll("div[id^='scen']").forEach(div => {
  div.style.display = div.id === scenario ? "block" : "none";
});


</script>


{{- end -}}