{{- define "main" -}}

<style>
    thead, th, td {
        padding: 2px 25px;
        border-bottom: 1px solid lightgray;
      }
      
      h2, h3, h4 {
        margin-top: 40px;
      }
</style>

<script>
    // INGEST BIG AGENCY DATA FILE TO USE LATER
    var agencyData = [];

    // load CSV and assign to the global
    d3.csv("data/dummydata.csv").then(function(data) {
        agencyData = data;                                      // assign to global variable
        console.log("CSV loaded:", agencyData);                 // print to console
        document.dispatchEvent(new Event("agencyDataReady"));   // send an event that triggers other scripts
    });

    function renderAgencyTable(agencyName, targetId) {
        // filter
        const filtered = agencyData.filter(d => d.Agency === agencyName);

        // build table element
        let table = `<table border="1" cellpadding="5">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Agency</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>`;

        filtered.forEach(row => {
            table += `<tr>
                        <td>${row.Type}</td>
                        <td>${row.Agency}</td>
                        <td>${row.Amount}</td>
                    </tr>`;
        });

        table += `</tbody></table>`;

        // inject into the DOM
        document.getElementById(targetId).innerHTML = table;
    }
</script>

<article class="container-fluid" id="skip-header-target">

    <div class="row">

    {{ $weight := "" }}

    {{ with .Params.content_weight }}
        {{ $weight = . }}
    {{ end }}

        <div class="col-md-8 col-sm-12 mx-auto mb-6" data-pagefind-weight="{{ $weight }}">
            <div class="row">
                <div class="col-12 mx-auto mt-2 mb-3">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                            <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
        
                            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                        </ul>
                    </nav>
                </div>
            </div>

                <h1 class="h2" data-pagefind-weight="10.0">
                    {{ .Title }}
                </h1>

                {{- .Content  -}}

                <hr class="my-2">

                <div class="my-4">
                    <div class="accordion-group" id="sectionsAccordion">

                    {{ $sections := .Resources.Match "pesticides-sections/*.md" }}

                    {{ range $i, $s := $sections }}
                        {{ partial "pesticides-section.html" (dict "page" $s "index" $i) }}
                    {{ end }}
                    
                    </div>
                </div>

        </div>

    </div>

<!-- Modal for correction on 2023 Heat Mort Report --> 
{{ if .Params.modal }}
    {{ partial "heat-report-correction" . }}
{{ end }}

</article>

{{- if .Params.js -}}
    <script src="{{ .Params.js }}"></script>
{{- end -}}

{{- end -}}