{{- define "main" -}}

<style>
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.leaflet-marker-icon {
  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
}

</style>

<article class="container-fluid" id="skip-header-target">

    {{ partial "df-front-block" . }}

    <div class="row">
        <div class="col-md-11 mx-auto">

            <!-- Mobile controls --> 
            <div class="d-md-none my-2 border p-1">
              <p id="mobileText" class="fs-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue sagittis interdum. Etiam mollis sem nisi, eu pellentesque libero vestibulum ornare. Ut dapibus ante id augue luctus, a mattis sapien accumsan. Donec in ante leo. Nunc vitae aliquam nulla, consectetur consequat tellus. Praesent quis justo dolor. Praesent lacus urna, viverra sit amet auctor vitae, pretium vitae metus. Praesent tempus dolor ut dolor venenatis bibendum. Duis hendrerit, odio sed ultrices consequat, nisi turpis consectetur ante, in finibus dolor odio ut lorem. Nunc ac aliquam est. <a href="" id="mobileNext">Next</a>.
              </p>

            </div>

            <div id="map" class="my-1 mb-4" style="width:100%; height: 90vmin"></div>

    </div>

</article>


<!-- HTML holder for overlay HTML -->
<div id="legendHolder" class="hide">
  <div class="text-black d-none d-md-block" style="height: 100%; position: relative;">
    <div>
      <p id="thisText">
        <!-- Ingest text from config --> 
      </p>
    </div>


    <div class="sinkbox" style="width:100%;">

        <button class="btn btn-sm btn-outline-primary hide w45" id="lastButton">Go back</button>

        <button class="btn btn-sm btn-primary float-right w45" id="nextButton">Next step</button>

    </div>

  </div>



</div>

<style>
  .sinkbox {
    position: absolute; 
    bottom: 0;
  }

  .w45 {
    width: 45%;
  }

  .legend {
    max-width: 35%;
    height: 87vmin;
    background: #ffffff;
    opacity: 0.8
  }

  @media (max-width: 720px) {
  .legend {
    background: transparent;
    opacity: 1; /* reset so text/images aren’t faded */
  }
}
</style>



<!-- Related footer -->
{{- partial "related-footer" . -}}

<!--bring in JS -->
<script type="text/javascript" src="proxConfig.js"></script>

<script type="text/javascript" src="proximity.js"></script>

{{- end -}}