{{- define "main" -}}



<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-2 mb-3">
            <nav aria-label="breadcrumb" class="">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11 mx-auto" data-pagefind-weight="7.0">
            <h1 id="top" class="h2" data-pagefind-weight="10.0">{{ .Title }}</h1>
            <div class="row">
                <div class="col-md-8 mr-auto">
                    <p>{{ .Content }}</p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form id="geocode-form">
                        <input type="text" id="address" placeholder="Enter an address" style="width:80%;" required />
                        <button type="submit" class="btn btn-outline-primary" style="width: 18%;">Search</button>
                      </form>

                    <div id="map" class="border d-sm-none d-md-block mt-1">
                    </div>        
                </div>

                <div class="col-md-6">
                    <p><span id="message1"></span></p>
                </div>
            </div>
        </div>

    </div>


<style>
    #map {
        height: 55vh;
        max-width: 100%;
        max-height: 100%;
        margin-right: 6px;
    }

    .fwm {
        font-weight: 600
    }

    .misc-holder {
    border-left: 5px solid lightgray;
    padding-left: 5px;
    }
</style>

</article>

<!-- Related footer -->
{{- partial "related-footer-2" . -}}

<!--bring in rmz JS -->
<script type="text/javascript" src="neighborhood-rats.js"></script>

{{- end -}}