{{- define "main" -}}

<style>
    .monospace {
    font-family: Monospace
}
</style>

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-2 mb-3">
            <nav aria-label="breadcrumb" class="">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11 mx-auto" data-pagefind-weight="7.0">
            <h1 id="top" class="h2" data-pagefind-weight="10.0">{{ .Title }}</h1>
            <div class="row">
                <div class="col-md-8 mr-auto">
                    <p>{{ .Content }}</p>

                </div>
            </div>

            <div class="row mt-2 pt-2">
                <div class="col-md-6">
                    <form id="geocode-form">
                        <fieldset id="formDisable" class="m-0 p-0" style="border:none;">
                        <input type="text" id="address" placeholder="Enter an address" style="width:80%;" required />
                        <button type="submit" id="submitButton" class="btn btn-outline-primary" style="width: 18%;">Search</button>
                        <button class="btn btn-outline-primary hide" style="width: 18%;" id="resetButton" onclick="resetZoom()">Reset</button>      
                        </fieldset>
                      </form>

                    <div id="map" class="border d-sm-none d-md-block mt-1">
                    </div>  

                </div>

                <div class="col-md-6">
                    <div id="initialReadout" class="p-1 mb-4 fs-sm monospace l-green-border hide">
                            <p><span id="message1"></span></p>
                            <p><span id="message2"></span>&nbsp;<span id="message3"></span></p>
                            <p><span id="message4"></span></p>
                    </div>

                    <div id="notAnRMZ" class="l-green-border p-1 mb-4 hide">
                        <p>In this Community District: 
                            <ul>
                                <li><span id="cdpi" class="font-weight-bold">XX</span>% of properties were inspected for rats</li>
                                <li><span id="cdpf" class="font-weight-bold">XX</span>% of those inspected failed</li>
                                <li><span id="cdars" class="font-weight-bold">XX</span>% of those inspected failed for active rat signs</li>
                            </ul>
                        </p>

                        <p>If you see rats, you can <a href="https://portal.311.nyc.gov/article/?kanumber=KA-01107">file a 311 complaint about rat activity</a>. The Health Department will inspect the property, and may issue a violation requiring the property owner to fix problems.</p>

                    </div>

                    <div id="inAnRMZ" class="hide l-green-border mb-4 p-1">
                        <p>This address is <strong>in a Rat Mitigation Zone</strong>. These areas get inspected twice a year and get more work to fight rats. In this neighborhood:
                            <ul>
                                <li><span id="rmzpi" class="font-weight-bold">XX</span> properties were inspected for rats</li>
                                <li><span id="rmzf" class="font-weight-bold">XX</span>% of those inspected failed</li>
                                <li><span id="rmzars" class="font-weight-bold">XX</span>% of those inspected failed for active rat signs</li>
                            </ul>
                        <span class="fs-sm"><a href="">Get more data on Rat Mitigation Zones</a>.</span>
                    </p>

                    </div>

                    <div id="RIP" class="hide l-green-border p-1 mb-4">
                        <p>You can get your address's detailed inspection history at the <a href="">Rat Information Portal</a>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


<style>
    #map {
        height: 55vh;
        max-width: 100%;
        max-height: 100%;
        margin-right: 6px;
    }

    .fwm {
        font-weight: 600
    }

    .misc-holder {
    border-left: 5px solid lightgray;
    padding-left: 5px;
    }
</style>

</article>

<!-- Related footer -->
{{- partial "related-footer-2" . -}}

<!--bring in rmz JS -->
<script type="text/javascript" src="neighborhood-rats.js"></script>

<!--
 Resources:
 - Point In Polygon:         https://github.com/hayeswise/Leaflet.PointInPolygon
 - Nominatim:                https://nominatim.org/ 
 - Leaflet Control Geocoder: https://github.com/perliedman/leaflet-control-geocoder
-->


{{- end -}}