{{- define "main" -}}

<article class="container" id="skip-header-target">

    <div class="col-md-10 mx-auto mt-4">
        <h1 class="text-secondary"><i class='fas fa-chart-bar mr-1' aria-hidden='true'></i>Data Features</h1>
        <p>Just cool data stuff.</p>
        <h2>Latest Data Features</h2>
        {{ range where .Pages "File.BaseFileName" "in" (slice "index" "_index") }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <hr>
        {{- end -}}
    </div>
 
</article>

{{- end -}}