{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-features" }}>Data Features</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 mr-auto"></div>
    </div>

    <div class="row" data-pagefind-weight="7.0">
      <div class="col-md-6 col-sm-12 ml-auto">
        <h1><i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}</h1>
        {{- .Content  -}}

        <p>We track these outcomes citywide by using a system called <a href="#syndromicmodal" data-toggle="modal" class="badge badge-pill badge-warning">syndromic surveillance</a> which lets us know how many people who visit the emergency room (ED) are being affected by certain health conditions. About 10,000 patients visit the ED per day in NYC, and reasons for their visits are captured in hospital records. These reasons are de-identified and sent to the Health Department. The Health Department then searches the records for diagnostic codes (when available) and words describing why patients are at the ED to track specific health conditions in near real-time and understand citywide trends. <p></p>

        <p>Below are data on the number of <a href="#heatmodal" data-toggle="modal" class="badge badge-pill badge-warning">heat syndrome</a> visits to emergency departments, and the daily maximum temperature. <a href="#whatmodal" data-toggle="modal" class="badge badge-pill badge-warning">What do we use these data for?</a></p></p>

      </div>

        <div class="col-md-5 mr-auto">
          <div class="mt-4" style="border-radius: 5px;">
                
            <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="NEW YORK CITY" data-label_2="WEATHER" data-theme="original" >NEW YORK CITY WEATHER</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>

            
            <div class="mt-2 basic-callout p-2 fs-md">
              <p>Extreme heat is dangerous. It can cause illness, make chronic conditions worse, and even kill. Heat-related illnesses - including  heat exhaustion, muscle cramps, fainting, and heat stroke (the most serious form) - happen when the body cannot cool down enough. Heat can also worsen chronic conditions, such as cardiovascular diseases or kidney conditions.</p>

              <p>In NYC, an <strong>extreme heat event</strong> is two or more days with a heat index reaching 95 °F, or one or more days reaching 100 °F.</p>

              <p>To learn more about heat and health, visit <a href="https://www1.nyc.gov/site/doh/health/emergency-preparedness/emergencies-extreme-weather-heat.page">Extreme Heat and Health</a>. To stay safe in the heat, visit <a href="https://www1.nyc.gov/assets/em/html/beat-the-heat/beattheheat.html">Beat the Heat</a>.</p>
            </div>

        </div>

            </div>



    </div>

    <div class="row mt-2">
      <div class="col-11 mx-auto">
        <div class="row" style="background-color:#f1f1f1; padding: 10px; border-radius: 5px;">
          <h3>Daily data: <span id="yearHeader">2023</span></h3>

          <div class="float-right ml-auto">
            <button class="btn btn-sm btn-secondary yearButtons" id="2023button" onclick="changeYear(2023)">2023</button>
            <button class="btn btn-sm btn-outline-secondary yearButtons" id="2022button" onclick="changeYear(2022)">2022</button>
            <button class="btn btn-sm btn-outline-secondary yearButtons" id="2021button" onclick="changeYear(2021)">2021</button>
            <button class="btn btn-sm btn-outline-secondary yearButtons" id="2020button" onclick="changeYear(2020)">2020</button>
            <button class="btn btn-sm btn-outline-secondary yearButtons" id="2019button" onclick="changeYear(2019)">2019</button>
            <button class="btn btn-sm btn-outline-secondary yearButtons" id="2018button" onclick="changeYear(2018)">2018</button>
            <button class="btn btn-sm btn-outline-secondary yearButtons" id="2017button" onclick="changeYear(2017)">2017</button>

          </div>
        </div>

        <div class="row my-2" id="vis1">
          <!-- main line chart vis -->
        </div>

        <div class="row mt-4" style="background-color:#f1f1f1; padding: 10px; border-radius: 5px;">
          <H4>Data since 2017</H4>

          <div class="float-right ml-auto">
            <button class="btn btn-sm btn-outline-secondary mr-1 yearButtons" id="scattertoggle" onclick="toggleScatter(1)">Show time</button>
          </div>
      </div>
      
      <div class="row my-2" id="vis2">
        <!-- scatterplot vis -->
      </div>
      
      <div class="row my-4 fs-md" style="background-color: #f1f1f1; padding: 10px; border-radius: 5px;">
        <p><strong>Daily temperature</strong>: The maximum daily temperature is the heat index or temperature, whichever is higher, as recorded by the National Weather Service weather station at La Guardia Airport.</p>
      </div>


      </div>
    </div>


  <!-- Syndromic modal -->
  <div class="modal fade" id="syndromicmodal" tabindex="-1" role="dialog" aria-labelledby="syndromicmodaltitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="syndromicmodaltitle" data-pagefind-ignore="all">Syndromic surveillance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" data-pagefind-weight="5.0">
            <p>The Centers for Disease Control and Prevention (CDC) defines surveillance as "the ongoing, systematic collection, analysis, and interpretation of health-related data essential to planning, implementation, and evaluation of public health practice, closely integrated with the timely dissemination of these data to those responsible for prevention and control." A syndrome is a group of signs (something a health care provider can observe, like a rash, or body temperature) and symptoms (something a patient feels - like pain, or fatigue) that are often associated with a particular disease or condition.
            </p>
            <p>Heat syndrome is identified in surveillance data by looking for diagnostic codes for heat-related illness and by searching chief complaints (descriptions of why patients are at the ED) for words related to heat exposure and heat-related illness, such as overheating, sunstroke, and similar terms.
            </p>
            <p>Syndrome data are inherently non-specific and are not based on diagnostic testing. While the NYC syndromic surveillance system captures data on 100% of ED visits in the city (as of 5/1/16), the data are not comprehensive because some residents seek care outside the city. These data are not exact measures and should be used to understand trends, rather than to count cases. In addition, recent data are not final and are subject to change. In addition, heat-related illness cases in syndromic surveillance data provide a useful indicator of the lethal impacts of extreme heat events, but the number of HRI cases does not reflect the full burden of health impacts, such as increases in death or hospital visits for heat-sensitive chronic conditions, which are not available in near-real time.
                </p>
                <p>For more syndromes tracked by the Health Department, visit <a href="https://a816-health.nyc.gov/hdi/epiquery/visualizations?PageType=ps&PopulationSource=Syndromic">EpiQuery</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

      <!-- Heat syndrome modal -->
      <div class="modal fade" id="heatmodal" tabindex="-1" role="dialog" aria-labelledby="heatmodaltitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="heatmodaltitle" data-pagefind-ignore="all">Heat syndrome</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" data-pagefind-weight="5.0">
                <p>A heat syndrome is identified in surveillance data by looking for diagnostic codes for heat-related illness and by searching chief complaints (descriptions of why patients are at the ED) for words related to heat, such as overheating, sunstroke, and similar terms.                </p>
                <p>Syndromic data are inherently non-specific and are not based on diagnostic testing. They represent suspected rather than confirmed illness. While the NYC syndromic surveillance system captures data on 100% of ED visits in the city (as of 5/1/16), the data are not comprehensive because some residents seek care outside the city. These data are not exact measures and should be used to understand trends, rather than to count cases. Recent data are not final and are subject to change. In addition, heat-related illness cases in syndromic surveillance data provide a useful indicator of the lethal impacts of extreme heat events, but the number of HRI cases does not reflect the full burden of health impacts, such as increases in death or hospital visits for heat-sensitive chronic conditions, which are not available in near-real time.
                </p>
                <p>For more information, see the Council of State and Territorial Epidemiologists' <a href="https://cdn.ymaws.com/www.cste.org/resource/resmgr/pdfs/pdfs2/CSTE_Heat_Syndrome_Case_Defi.pdf">heat syndrome case definition</a>.</p>
                </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <!-- What modal -->
    <div class="modal fade" id="whatmodal" tabindex="-1" role="dialog" aria-labelledby="whatmodaltitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="whatmodaltitle" data-pagefind-ignore="all">What do we use these data for?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" data-pagefind-weight="5.0">
              <p>Tracking heat-related illness (HRI) in near-real time can help provide situational awareness, supplementing the weather forecast as an indicator of public health risk. HRI detected in emergency department syndromic surveillance data are strongly associated with hot weather and highly correlated with daily counts of HRI hospital discharge data. However, HRI counts detected in the ED syndromic surveillance data represent suspected rather than confirmed illness, and are most useful to track trends. For example, some records may be counted as cases when they are not HRI, while other HRI cases may go undetected due to differences in hospital coding practices or because of what patients say when they describe what is bothering them.  </p>
            </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</article>

<!--bring in JS -->
<script type="text/javascript" src="heatsyndrome.js"></script>

{{- end -}}