// Index page styles
.bg-lightgray {
    background-color: #fbfbfb !important;
    border-left: 10px solid #dddddd !important;
}


.hide {
    display: none;
}

/* All tile-color classes are for custom page cards*/
.tile-green {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: #749C8C;
    color: #FFF;
    box-shadow: 5px 5px 2px grey;
}

/* hover for page cards that are single full-div links*/
.tile-green:hover {
    background-color: #4e8771;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

.tile-red {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: #DC645C;
    color: #FFF;
    box-shadow: 5px 5px 2px grey;
}

.tile-red:hover {
    background-color: #b84139;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

.tile-blue {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: #197BBD;
    color: #FFF;
    box-shadow: 5px 5px 2px grey;
}

.tile-blue:hover {
    background-color: #035d99;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

.tile-white {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #ffffff;
    color: #000;
    box-shadow: 2px 2px 1px grey;
}

.tile-white:hover {
    background: #f4f4ff;
    box-shadow: 5px 5px 2px grey;
    cursor: pointer;
}

.tile-gray {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #f5f5f5;
    color: #000;
    box-shadow: 2px 2px 1px grey;
}

.tile-gray:hover {
    background: #f4f4ff;
    box-shadow: 5px 5px 2px grey;
    cursor: pointer;
}


.btn-outline-gray {
    color: #545454;
    border-color: #545454; }
.btn-outline-gray:hover {
        color: #fff;
        background-color: #545454;
        border-color: #545454; }
.btn-outline-gray:focus, .btn-outline-gray.focus {
        box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }
.btn-outline-gray.disabled, .btn-outline-gray:disabled {
        color: #545454;
        background-color: transparent; }
.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-gray.dropdown-toggle {
        color: #fff;
        background-color: #545454;
        border-color: #545454; }
.btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-gray.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }


// Breadcrumb style
.breadcrumb {
display: flex;
flex-wrap: wrap;
padding: $breadcrumb-padding-y $breadcrumb-padding-x;
margin-bottom: $breadcrumb-margin-bottom;
list-style: none;
background-color: $breadcrumb-bg;
@include border-radius($border-radius);
}

.breadcrumb-item {
// The separator between breadcrumbs (by default, a forward-slash: "/")
+ .breadcrumb-item::before {
display: inline-block; // Suppress underlining of the separator in modern browsers
padding-right: $breadcrumb-item-padding;
padding-left: $breadcrumb-item-padding;
color: $breadcrumb-divider-color;
content: "#{$breadcrumb-divider}";
}

// IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
// without `<ul>`s. The `::before` pseudo-element generates an element
// *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
//
// To trick IE into suppressing the underline, we give the pseudo-element an
// underline and then immediately remove it.
+ .breadcrumb-item:hover::before {
text-decoration: underline;
}
// stylelint-disable-next-line no-duplicate-selectors
+ .breadcrumb-item:hover::before {
text-decoration: none;
}

&.active {
color: $breadcrumb-active-color;
}
}


// Data story styles
#datastoryheader {
width: 100%;
height: 400px;
background-size: cover;
display: flex;
}

.titleheader {    
color: #fff;
text-align: center;
font-size: 3em;
background-color: rgba(132,132,132,0.5);
padding-top: 75px;
margin-bottom: 15px;
border-radius: 5px;
}

// Air Quality Explorer styles
.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.badge{transition:none}}a.badge:focus,a.badge:hover{text-decoration:none}.badge:empty{display:none}.btn .badge{position:relative;top:-1px}.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}.badge-primary{color:#fff;background-color:#007bff}a.badge-primary:focus,a.badge-primary:hover{color:#fff;background-color:#0062cc}a.badge-primary.focus,a.badge-primary:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.badge-secondary{color:#fff;background-color:#6c757d}a.badge-secondary:focus,a.badge-secondary:hover{color:#fff;background-color:#545b62}a.badge-secondary.focus,a.badge-secondary:focus{outline:0;box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}.badge-success{color:#fff;background-color:#28a745}a.badge-success:focus,a.badge-success:hover{color:#fff;background-color:#1e7e34}a.badge-success.focus,a.badge-success:focus{outline:0;box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.badge-info{color:#fff;background-color:#17a2b8}a.badge-info:focus,a.badge-info:hover{color:#fff;background-color:#117a8b}a.badge-info.focus,a.badge-info:focus{outline:0;box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.badge-warning{color:#212529;background-color:#ffc107}a.badge-warning:focus,a.badge-warning:hover{color:#212529;background-color:#d39e00}a.badge-warning.focus,a.badge-warning:focus{outline:0;box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.badge-danger{color:#fff;background-color:#dc3545}a.badge-danger:focus,a.badge-danger:hover{color:#fff;background-color:#bd2130}a.badge-danger.focus,a.badge-danger:focus{outline:0;box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.badge-light{color:#212529;background-color:#f8f9fa}a.badge-light:focus,a.badge-light:hover{color:#212529;background-color:#dae0e5}a.badge-light.focus,a.badge-light:focus{outline:0;box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.badge-dark{color:#fff;background-color:#343a40}a.badge-dark:focus,a.badge-dark:hover{color:#fff;background-color:#1d2124}a.badge-dark.focus,a.badge-dark:focus{outline:0;box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}

.badge-worse {
	background-color: #6e1e93;
	color: #fff;}

.badge-medium {
	background-color: #cc59ca;
	color: #fff;
}

.badge-better {
	background-color: #ffc2ff;
}
	

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #E2E2E2;
}

.vega-embed {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
  padding-right: 38px;
}

.map-srch {
  width: 100%;
}


.maplegend {
  background-color: white;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.legendlow {
  background-color:#ffc2ff; 
  height: 100%; 
  width: 25px;
}

.legendmedium {
  background-color:#cc59ca;
   height: 100%; 
   width: 25px;
}

.legendhigh {
  background-color:#6e1e93; 
  height: 100%; 
  width: 25px;
}

.greyitem {background-color: #E2E2E2;
padding: 10px;
height: 200px;}

.greyitem2 {background-color: #E2E2E2;
    padding: 10px;
    height: 575px;
    }

.dsquote {
    background-color: #f8eaff; 
    padding-left: 25px; 
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.greyblock {
    background-color: #f1f1f1;
    padding: 10px;
    height: 100%;
    border-radius: 3px;
    margin-top: 25;
    margin-bottom: 25px;
}

.mapselectbutton {
    cursor:pointer
}

.drawerbg {
    background-color: #f9f9f9;
    border-radius: 5px;
    border-left: 8px solid #e0e0e0;
}