// Index page styles
.bg-lightgray {
    background-color: #fbfbfb !important;
    border-left: 10px solid #dddddd !important;
}


.hide {
    display: none;
}

/* All tile-color classes are for custom page cards*/
.tile-green {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: #749C8C;
    color: #FFF;
    box-shadow: 5px 5px 2px grey;
}

/* hover for page cards that are single full-div links*/
.tile-green:hover {
    background-color: #4e8771;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

.tile-red {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: #DC645C;
    color: #FFF;
    box-shadow: 5px 5px 2px grey;
}

.tile-red:hover {
    background-color: #b84139;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

.tile-blue {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: #197BBD;
    color: #FFF;
    box-shadow: 5px 5px 2px grey;
}

.tile-blue:hover {
    background-color: #035d99;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

.tile-white {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #ffffff;
    color: #000;
    box-shadow: 2px 2px 1px grey;
}

.tile-white:hover {
    background: #f4f4ff;
    box-shadow: 5px 5px 2px grey;
    cursor: pointer;
}

.tile-gray {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #f5f5f5;
    color: #000;
    box-shadow: 2px 2px 1px grey;
}

.tile-gray:hover {
    background: #f4f4ff;
    box-shadow: 5px 5px 2px grey;
    cursor: pointer;
}


.btn-outline-gray {
    color: #545454;
    border-color: #545454; }
.btn-outline-gray:hover {
        color: #fff;
        background-color: #545454;
        border-color: #545454; }
.btn-outline-gray:focus, .btn-outline-gray.focus {
        box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }
.btn-outline-gray.disabled, .btn-outline-gray:disabled {
        color: #545454;
        background-color: transparent; }
.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-gray.dropdown-toggle {
        color: #fff;
        background-color: #545454;
        border-color: #545454; }
.btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-gray.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }

        .btn-outline-green {
            color: #00923E;
            border-color: #545454; }
        .btn-outline-green:hover {
            color: #00923E;
                background-color: #d1d1d1;
                border-color: #545454; }
        .btn-outline-green:focus, .btn-outline-green.focus {
                box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }
        .btn-outline-green.disabled, .btn-outline-green:disabled {
                color: #545454;
                background-color: transparent; }
        .btn-outline-green:not(:disabled):not(.disabled):active, .btn-outline-green:not(:disabled):not(.disabled).active, .show > .btn-outline-green.dropdown-toggle {
                color: #fff;
                background-color: #d1d1d1;
                border-color: #545454; }
        .btn-outline-green:not(:disabled):not(.disabled):active:focus, .btn-outline-green:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-green.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }

                .btn-outline-blue {
                    color: #197BBD;
                    border-color: #545454; }
                .btn-outline-blue:hover {
                    color: #197BBD;
                        background-color: #d1d1d1;
                        border-color: #545454; }
                .btn-outline-blue:focus, .btn-outline-blue.focus {
                        box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }
                .btn-outline-blue.disabled, .btn-outline-blue:disabled {
                        color: #545454;
                        background-color: transparent; }
                .btn-outline-blue:not(:disabled):not(.disabled):active, .btn-outline-blue:not(:disabled):not(.disabled).active, .show > .btn-outline-blue.dropdown-toggle {
                        color: #fff;
                        background-color: #d1d1d1;
                        border-color: #545454; }
                .btn-outline-blue:not(:disabled):not(.disabled):active:focus, .btn-outline-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-blue.dropdown-toggle:focus {
                        box-shadow: 0 0 0 0.15rem rgba(0, 146, 62, 0.5); }


// Breadcrumb style
.breadcrumb {
display: flex;
flex-wrap: wrap;
padding: $breadcrumb-padding-y $breadcrumb-padding-x;
margin-bottom: $breadcrumb-margin-bottom;
list-style: none;
background-color: $breadcrumb-bg;
@include border-radius($border-radius);
}

.breadcrumb-item {
// The separator between breadcrumbs (by default, a forward-slash: "/")
+ .breadcrumb-item::before {
display: inline-block; // Suppress underlining of the separator in modern browsers
padding-right: $breadcrumb-item-padding;
padding-left: $breadcrumb-item-padding;
color: $breadcrumb-divider-color;
content: "#{$breadcrumb-divider}";
}

// IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
// without `<ul>`s. The `::before` pseudo-element generates an element
// *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
//
// To trick IE into suppressing the underline, we give the pseudo-element an
// underline and then immediately remove it.
+ .breadcrumb-item:hover::before {
text-decoration: underline;
}
// stylelint-disable-next-line no-duplicate-selectors
+ .breadcrumb-item:hover::before {
text-decoration: none;
}

&.active {
color: $breadcrumb-active-color;
}
}


// Data story styles
#datastoryheader {
width: 100%;
height: 400px;
background-size: cover;
display: flex;
}

.titleheader {    
color: #fff;
text-align: center;
font-size: 3em;
background-color: rgba(132,132,132,0.5);
padding-top: 75px;
margin-bottom: 15px;
border-radius: 5px;
}

// Air Quality Explorer styles
.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.badge{transition:none}}a.badge:focus,a.badge:hover{text-decoration:none}.badge:empty{display:none}.btn .badge{position:relative;top:-1px}.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}.badge-primary{color:#fff;background-color:#007bff}a.badge-primary:focus,a.badge-primary:hover{color:#fff;background-color:#0062cc}a.badge-primary.focus,a.badge-primary:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.badge-secondary{color:#fff;background-color:#6c757d}a.badge-secondary:focus,a.badge-secondary:hover{color:#fff;background-color:#545b62}a.badge-secondary.focus,a.badge-secondary:focus{outline:0;box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}.badge-success{color:#fff;background-color:#28a745}a.badge-success:focus,a.badge-success:hover{color:#fff;background-color:#1e7e34}a.badge-success.focus,a.badge-success:focus{outline:0;box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.badge-info{color:#fff;background-color:#17a2b8}a.badge-info:focus,a.badge-info:hover{color:#fff;background-color:#117a8b}a.badge-info.focus,a.badge-info:focus{outline:0;box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.badge-warning{color:#212529;background-color:#ffc107}a.badge-warning:focus,a.badge-warning:hover{color:#212529;background-color:#d39e00}a.badge-warning.focus,a.badge-warning:focus{outline:0;box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.badge-danger{color:#fff;background-color:#dc3545}a.badge-danger:focus,a.badge-danger:hover{color:#fff;background-color:#bd2130}a.badge-danger.focus,a.badge-danger:focus{outline:0;box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.badge-light{color:#212529;background-color:#f8f9fa}a.badge-light:focus,a.badge-light:hover{color:#212529;background-color:#dae0e5}a.badge-light.focus,a.badge-light:focus{outline:0;box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.badge-dark{color:#fff;background-color:#343a40}a.badge-dark:focus,a.badge-dark:hover{color:#fff;background-color:#1d2124}a.badge-dark.focus,a.badge-dark:focus{outline:0;box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}

.badge-worse {
	background-color: #6e1e93;
	color: #fff;}

.badge-medium {
	background-color: #cc59ca;
	color: #fff;
}

.badge-better {
	background-color: #ffc2ff;
}
	

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #E2E2E2;
}

.vega-embed {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
  padding-right: 38px;
}

.map-srch {
  width: 100%;
}


.maplegend {
  background-color: white;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.legendlow {
  background-color:#ffc2ff; 
  height: 100%; 
  width: 25px;
}

.legendmedium {
  background-color:#cc59ca;
   height: 100%; 
   width: 25px;
}

.legendhigh {
  background-color:#6e1e93; 
  height: 100%; 
  width: 25px;
}

.greyitem {background-color: #E2E2E2;
padding: 10px;
height: 200px;}

.greyitem2 {background-color: #E2E2E2;
    padding: 10px;
    height: 575px;
    }

.dsquote {
    background-color: #f8eaff; 
    padding-left: 25px; 
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.greyblock {
    background-color: #f1f1f1;
    padding: 10px;
    height: 100%;
    border-radius: 3px;
    margin-top: 25;
    margin-bottom: 25px;
}

.mapselectbutton {
    cursor:pointer
}

.drawerbg {
    background-color: #f9f9f9;
    border-radius: 5px;
    border-left: 8px solid #e0e0e0;
}




// UHI data story:
.table th {
    color: rgb(88, 88, 88) !important;
}

.justabox {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 3px;
}

    .drawerbg {
        background-color: #f9f9f9;
        border-radius: 5px;
        border-left: 8px solid #e0e0e0;
    }

    :root {
        --spacing: 10px;
    }

    #illimg {
        filter: blur (5px);
        border-radius: 3px;
    }

    .databox {
        height: 100%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .outputbox {
        height: 30px;
        border: 1px dotted gray;
        width: 100%;
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        border-radius: 3px;
        text-align: center;
        font-size: 16pt;

    }

    input[type=range] {
        height: 36px;
        -webkit-appearance: none;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 25px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #D6D6D6;
        border-radius: 5px;
        border: 0px solid #000000;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        background: #18800D;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -2.5px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #D6D6D6;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 25px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #D6D6D6;
        border-radius: 5px;
        border: 0px solid #000000;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        background: #18800D;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 25px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #D6D6D6;
        border: 0px solid #000000;
        border-radius: 10px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-fill-upper {
        background: #D6D6D6;
        border: 0px solid #000000;
        border-radius: 10px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        background: #18800D;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #D6D6D6;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #D6D6D6;
    }

    .justabox {
        height: 15px;
        width: 15px;
        display: inline-block;
        margin-right: 3px;
    }

    .cooler {
        background-color: #0d0787;
        color: white;
        font-weight: 600;
        padding-left: 3px;
        padding-right: 3px;
    }

    .hotter {
        background-color: #f0f723;
        color: black;
        font-weight: 600;
        padding-left: 3px;
        padding-right: 3px;
    }

    /*
    .hlt {
        border-bottom: 2px solid darkgreen;
    } */

    .pinkdot {
        width: 8px;
        height: 8px;
        margin-left: 3px;
        margin-right: 7px;
        border-radius: 5px;
        background-color: hotpink;
        display: inline-block;
        margin-bottom: 3px;
    }

    .table th {
        color: rgb(88, 88, 88) !important;
    }

    .overlay1 {
        display: inline-block;
        width: 100%;
        height: 400px;
        background: -webkit-linear-gradient(top, rgba(41, 90, 1, 0.87) 0%, rgba(255, 255, 255, 0.164) 30%);
        /* Chrome10+,Safari5.1+ */
        z-index: 1;
    }

    .overlay2 {
        display: inline-block;
        width: 100%;
        height: 45px;
        background: -webkit-linear-gradient(bottom, rgba(41, 22, 22, 0.87) 0%, rgba(182, 107, 107, 0.40) 100%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    #illimg {
        position: relative;
        display: block;
        z-index: -1;
    }



    // violence data story css
    .vcard {
        margin-top: 5px;
        margin-bottom: 5px;
        border-left: 8px solid #5c8ea5;
        box-shadow: 10px 10px 5px 0px #dfdfdf;
        background-color: #ffffff;
        padding-bottom: 15px;
    }
    
    .sectionchanger {
        border: 5px solid #707070;
        margin-top: 50px;
    }
    
    .drawerbg {
        background-color: #d7e6e3;
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
    }
    
    .heavyline {
        border: 5px solid #707070;
        border-radius: 5px;
    }
    
    .vcard-title {
        background-color: #5c8ea5;
        padding: 15px;
        color: white;
        margin-bottom: 15px;
    }
    
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #b820bb!important;
    }
    
    
    .panel-grid-v {
        padding: 10px!important;
    }
    
    .panel-grid {
        padding: 10px!important;
        background-color: #f5f5f5!important;
    }
    
    .panel-grid-l {
        border-top: 2px dotted #757575;
        border-left: 2px dotted #757575;
        border-bottom: 2px dotted #757575;
    }
    
    .panel-grid-r {
        border-top: 2px dotted #757575;
        border-right: 2px dotted #757575;
        border-bottom: 2px dotted #757575;
    }
    
    .connector {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 150px;
    }
    
    .border-right-v {
        border-right: 2px dotted #6D8448;
    }
    
    
    .crossing-header-v {
        background-color: #fbd7de;
        padding: 15px;
        border-left: 2px dotted #ff335f;
        border-top: 2px dotted #ff335f;	
    
    }
    
    .content-red {
        padding-left: 15px!important;
        border-left: 2px dotted #ff335f;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fffcfd;
    }
    
    .crossing-header-red h2 {
        color: #991e39;
    }
    
    .crossing-header-red h3 {
        color: #991e39;
    }
    
    .offset-sticky {
        top: 60px;
        z-index: -1;
    }
    
    .quote {
        background-color: #f8eaff; 
        padding-left: 25px; 
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    }



    .greenfill {
        border-bottom: 5px solid #e4e4e4;
        background: #f8f8f8;
        padding: 5px;
        color: #00923E;;
        border-radius: 3px;
        width: 100%;
    }

// for topic-selectors on neighborhood reports landing
    .tab-container {
		display: none;
	  }
	  
	  .tab-container.open {
		display: block;
	  }

    .badge-light:hover {
        background-color: #dfe0e1;
    }

    .portalhr {
        border-top: 3px solid #998bc0;
        border-radius: 5px;
    }

    .activebadge {
        background-color: #007bff!important;
        color: white!important;
    }

    .storybadge {
        cursor:pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }


// pagination styles
.pagination {
    text-align: center;
}

    // .page-item.active a {
    //     background-color: #b820bb!important;
    //     color: white;
    //     font-weight: bold;
    //     padding-top: 7px;
    //     padding-bottom: 7px;
    // }

    //     .pagination li {
    //         display: inline;
    //     }

    //     .pagination a {
    //         font-size: 18px;
    //         padding: 0px 15px;
    //         color:#b820bb;
    //         background: rgb(238, 238, 238);
    //         margin: 0px 3px;
    //         box-shadow: 2px 5px 3px #bebebe;
    //         border-radius: 3px;
    //     }

    //     .pagination a:hover {
    //         color: white!important;
    //         font-weight: bold;
    //         text-decoration: none;
    //         background-color: #b820bb;
    //     }


        // item focus
        .itemfocus:hover {
            background-color: #EFFAF4;
            box-shadow: 2px 5px 3px #bebebe;
            margin-bottom: 5px;

        }



    // for keywords ingestion
    .keywords {
        font-size: 12px;
        color: grey;
    }





    // social-share CSS, gratefull adapted from: https://codingnconcepts.com/hugo/social-icons-hugo/

    .social-share {
        position: relative;
        top: -0.5em;
    }
     
    .social-share ul {
        margin: 0;
    }
     
    .social-share ul li p {
        display: none;
    }
     
    .social-share .share-icons li {
        padding: 0 !important;
        padding-bottom: 10px !important;
    }
     
    .social-share .share-btn {
        padding: 0.25em;
        width: 2em;
    }
     
    .social-share-nav .share-btn h3{
        color: #ffffff;
    }
    
    ul.share-icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
        margin-top: 1em;
    }
    
    ul.share-icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }
    
    ul.share-icons li:last-child {
        padding-right: 0;
    }
    
    ul.share-icons li > * {
        text-decoration: none;
        border: 0;
    }
    
    ul.share-icons li > *:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    
    ul.share-icons li > * .label {
        display: none;
    }
     
    .share-btn {
        display: inline-block;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
        outline: none;
        text-align: center;
        text-decoration: none;
    }
     
    .share-btn:hover {
        color: #ffffff !important;
    }
    
    .share-btn:active {
        position: relative;
        top: 2px;
        box-shadow: none;
        color: #e2e2e2;
        outline: none;
    }
    .share-btn .widget-social__link-icon {
        margin: 0;
    }
     
    .share-btn.twitter     { background: #55acee; }
    .share-btn.google-plus { background: #dd4b39; }
    .share-btn.facebook    { background: #3B5998; }
    .share-btn.linkedin    { background: #4875B4; }
    .share-btn.stumbleupon { background: #EB4823; }
    .share-btn.pinterest   { background: #BD081C; }
    .share-btn.reddit      { background: #ff5700; }
    .share-btn.email       { background: #444444; }
    .share-btn.whatsapp    { background: #25d366; }
    
    
    .share-btn.twitter:hover     { background: #4c9ad6; }
    .share-btn.google-plus:hover { background: #c64333; }
    .share-btn.facebook:hover    { background: #2f4779; }
    .share-btn.linkedin:hover    { background: #4069a2; }
    .share-btn.stumbleupon:hover { background: #d3401f; }
    .share-btn.pinterest:hover   { background: #AD0000; }
    .share-btn.reddit:hover      { background: #e54e00; }
    .share-btn.email:hover       { background: #363636; }

// Revises header styles within subtopic pages
.subtopiccontainer h3 {
    font-size: 18px;
    color: #656565;
}