{{- define "main" -}}


<article class="container-fluid overflow-hidden" id="primary-content">

  <div class="row my-4">
    <div class="col-md-11 col-sm-12 mx-auto">
      <!--start main column-->

      <nav aria-label="breadcrumb" class="mb-2">
        <ul class="breadcrumb mr-auto">
            <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>
        </ul>                
    </nav>

      <h1>{{- .Title -}}</h1>
        {{- .Content -}}

        <div class="row">
          <div class="col-lg-6 col-sm-12"><h4>1. Enter your address</h4>   

              <div class="srch input-group" role="search">
                  <input class="rad-all form-control form-control-lg" placeholder="Search Address" id="map-search">
              </div>

              <!-- Map gets drawn here -->
              <div id='mapLocator'></div>
              
        

          </div>

          <div class="col-lg-5 col-sm-12">
              <h4>&nbsp;</h4>
              <button class="btn btn-outline-primary btn-lg" id="outputButton">2. Get info:</button>  
              <br> <br>
              <p>City Council District: <span id="CCD" class="h4"></span> </p>
              <p>Community District: <span id="CD" class="h4"></span></p>



          </div>
      </div>




    </div>
    <!--end main column-->
  </div>

</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.4.0/papaparse.min.js"></script>
<script src="https://maps.nyc.gov/nyc-lib/v1.2.79/js/babel-polyfill.js"></script>
<script src="https://maps.nyc.gov/nyc-lib/v1.2.79/js/nyc-ol-lib.js"></script>

<script>
    // This initializes and draws the locator map
    var map = new nyc.ol.FrameworkMap({
    mapTarget: '#mapLocator',
    searchTarget: '#map-search',
    startAt: '125 Worth Street',
    geoclientUrl: 'https://maps.nyc.gov/geoclient/v1/search.json?app_key=74DF5DB1D7320A9A2&app_id=nyc-lib-example'
    // Developer portal app_key and id don't work, though the nycLib example works
    //geoclientUrl: 'https://maps.nyc.gov/geoclient/v1/search.json?app_key=cfed478bf47829a2951bc5a3bbc26422&app_id=2d2a1b38'
    });


  
  //Neighborhood Selector Button
  document.querySelector("#outputButton").addEventListener("click",dataChange); // listens for button clicks to change neighborhood, changes data

  // 
  function dataChange() {
    document.getElementById('CCD').innerHTML = map.location.data.cityCouncilDistrict;
    document.getElementById('CD').innerHTML = map.location.data.communityDistrict;
    console.log('Map geolocator produces the following data from map.location.data')
    console.table(map.location.data)
  }


</script>


{{- end -}}
