<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" dir="ltr">
<head>
  {{- partial "head.html" . }}
  {{ block "js_top" . -}}{{- end -}}
</head>

{{/*  {{ warnf ( print ( printf "[%d] " math.Counter ) ( string .RelPermalink ) ) }}  */}}

<body>

  <!--
    For data stories:
    - Regular Pages (individual data stories) to have header-ds.html
    - DS landing page & all others to have header.html
  -->
  
  {{- partial "header.html" . -}}



  <!-- tabindex="-1" makes <main> programmatically focusable, so the "Skip Header" link
       moves focus here rather than only scrolling the page to it. -->
  <main id="skip-header-target" tabindex="-1" role="main" data-pagefind-body>
    {{- block "main" . -}}{{- end -}}
    <ul id="results"></ul>
  </main>
  
  {{ partial "footer.html" . }}
  {{ partial "js_bottom.html" }}
  {{ block "js_bot" . }}{{ end }}
  
</body>
</html>
