<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{- partial "head.html" . -}}
    {{- block "js_top" . }}{{- end }}
  </head>
  <body>

    <!--
      For data stories: 
        - Regular Pages (individual data stories) to have header-ds.html
        - DS landing page & all others to have header.html
    -->

    {{ if or (ne .Section "data-stories") ( eq .RelPermalink "/data-stories/") }}
    {{- partial "header.html" . -}}
    {{ end}}


    {{ if and (eq .Section "data-stories") ( ne .RelPermalink "/data-stories/") }}
    {{- partial "header-ds.html" . -}}
    {{ end}}

    <main id="skip-header-target" role="main">
    {{- block "main" . }}{{- end }}
      <ul id="results"></ul>
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "js_bottom.html" -}}
    {{- block "js_bot" . }}{{- end }}
  </body>
</html>
