{{ define "main" }}

<article class="container" id="skip-header-target">

    <div class="col-md-10 mx-auto my-4">

        <h1><i class="fas fa-chart-line" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title}}</h1>
        {{ .Content }}

        <div class="row">
            <div class="col">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Topics A to Z</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-search mr-2" aria-hidden="true"></i>Search topics</a>
                    </li>
                  </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                            {{ range .Pages }}
                            <div class="col-md-4">
                                <p><a href="{{ .URL}}">{{ .Title}}</a></p>
                            </div>
                            {{end}}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-8 mx-auto">
                                <form class="autocomplete-form">
                                    <div class="row no-gutters">
                                    <label for="all-data" class="block col-sm-12 font-weight-bold h4 mb-3 sr-only">Search data</label>
                                    <div class="col-9">
                                        <div class="autocomplete-wrapper" width="100%">
                                        <select name="all-data" id="all-data">
                                            <option value="">Search data</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" class="btn-primary btn btn-block" style="height:39px;">Get data</button> 
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                  </div>
            </div>

        </div>

    </div>

</article>

{{ $js := resources.Get "js/accessible-autocomplete.min.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ $js := resources.Get "js/accessible-autocomplete.min.js.map" }}

<script type="text/javascript"> 
    // https://www.aspsnippets.com/Articles/Populate-DropDownList-from-JSON-Array-using-JavaScript.aspx
    function populateDropDownList() {          
           var ddlData = document.getElementById("all-data");
          {{ range .Pages }} // range through data_explorer pages
            var option = document.createElement("OPTION");
            //Set Neighborhood Name in Text part.
            option.innerHTML = {{ .Title}}
            // set the option value - this adds the environment variable to give it the base URL.
            option.value = '{{ .Site.Params.devpath}}/{{ .URL }}'
            //Add the Option element to DropDownList.
            ddlData.options.add(option);
          {{ end}}
       };

       populateDropDownList(); // runs the function above.

       // this handles AA highlighting.
       var selectEl = document.querySelector('#all-data')
        accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 2,
        selectElement: selectEl
            });


    // this takes the AA form and on submit, sends page to a new location.
    var dataSearchForm = document.getElementById('all-data-select') // this isn't all-data, but all-data-select because of changes applied by the AA JS.
    document.querySelector('form.autocomplete-form').addEventListener("submit", function (e) {
        e.preventDefault(); // prevent page re-load
        window.location.assign(dataSearchForm.options[dataSearchForm.selectedIndex].value)
      });
   </script>

{{end}}