
#my-div {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    //background-color: red;
    pointer-events: none;
    z-index:1000;
}