{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    
    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "key-topics" }}>Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 mx-auto pl-0">
            <h1 class="h2" data-pagefind-weight="10.0">{{ .Title }}</h1>
            <p>View beach water quality collected by the NYC Health Department.</p>
        </div>
    </div>
    
    <div class="row mt-2">
        <div class="col-12 px-0 py-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="true">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="map" role="tabpanel" aria-labelledby="map-tab">
                    <iframe width="100%" height="750px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src={{ relURL "beaches/map/index.html?mobileBreakPoint=500" }} onload="onIframeLoad();"></iframe>
                </div>
                
                <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 mx-auto pt-2">
                            {{- .Content -}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</article>

{{- end -}}