{{- define "main" -}}


<article class="container-fluid" id="skip-header-target">

  <div class="row">
    <div class="col-md-11 mx-auto mt-4">
        <nav aria-label="breadcrumb" class="mb-4">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                <li class="breadcrumb-item"><a href="/key-topics/climatehealth/">Climate and Health</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
            </ul>
        </nav>

            <h1>{{ .Title }}</h1>
            <p>{{ .Content }}</p>
    </div>
  </div>

  <div class="row">

    <!--left-hand sticky column-->
    <div class="col-md-4 ml-auto">

      <div class="sticky-top border p-2" style="z-index: 0">
        <span class="home-label font-weight-bold">Weather:</span><br>
        Currently: <span id="currentTemp2"></span><br>
        Forecast high: <span id="maxTemp2"></span>

        <hr class="my-2">

        <span class="home-label font-weight-bold">Air Quality Index:</span><br>
        <span id="aqimeaning2"></span>

        <hr class="my-2">

        <span class="home-label font-weight-bold">Recomendations for you:</span>

        <!-- Recommendations pane -->
        <ul class="list-group fs-sm">
          <li class="list-group-item" id="rec-1-1">You may need medical help <i class="fas fa-2x fa-regular fa-hospital float-right" aria-hidden="true"></i><br>
          </li>

          <li class="list-group-item">Turn on your fan
          <i class="fas fa-2x fa-solid fa-fan float-right" aria-hidden="true"></i>
          </li>

          <li class="list-group-item"> Open a window
          <i class="fas fa-2x fa-solid fa-store float-right" aria-hidden="true"></i>
          </li>

          <li class="list-group-item">You may want to visit a cooling center
          <i class="fas fa-2x fa-regular fa-building float-right" aria-hidden="true"></i>
          </li>

          <li class="list-group-item"> You may need medical attention
          <i class="fas fa-2x fa-solid fa-user-doctor float-right" aria-hidden="true"></i></li>

          <li class="list-group-item">Avoid strenuous activity
          <i class="fas fa-2x fa-solid fa-person-running float-right" aria-hidden="true"></i></li>

          <li class="list-group-item">Don't smoke or vape indoors
          <i class="fas fa-2x fa-solid fa-ban-smoking float-right" aria-hidden="true"></i></li>

          <li class="list-group-item">Wear a mask when you go outside
          <i class="fas fa-2x fa-solid fa-mask-face float-right" aria-hidden="true"></i></li>
        </ul>

        <style>
          .list-group .active {
            background-color:rgb(17, 181, 118)
          }
        </style>


      </div>
    </div>
    <!-- .col -->

    <!-- main content column -->
    <div class="col-md-7 overflow-hidden fs-rg mr-auto" id="primary-content">
      <div id="start">
        <h4>Let's get started.</h4>

        <div class="row">
          <div class="col-sm-6 border p-2">
            <p>Today's weather is <span id="hot" class="font-weight-bold p-1">HOT</span>. The current temp is <span id="currentTemp">XX</span> and it might reach <span id="maxTemp">YY</span> today. <a href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us">Get a full weather forecast here</a>.

          </div>

          <div class="col-sm-6 border p-2">
            <p>The current air quality is <span id="aqimeaning" class="font-weight-bold p-1">AQI interpretation</span>.

          </div>

        </div>

            <hr class="my-2">

        <div class="col-md-6 mx-auto">
          <button class="btn btn-sm btn-block btn-outline-secondary mx-auto" onclick="runQuestions()">Start questions</button>
        </div>
      </div>

      <div id="mainContent" class="my-4">
        <!-- JavaScript inserts question conetnt into this div -->
      </div>

      <div class="p-2 border mt-4 hide" id="finalInfo">
        <h4>Let's take a look at your situation.</h4>
        <hr class="my-2">
        <div class="fs-sm">
          <span class="home-label">Variables:</span>
          <p>Over 80F: <span id="over80F"></span></p>
          <p>AQI: <span id="aqiNum"></span></p>
          <hr>
          <p>Is overheating: <span id="isOverheating"></span></p>
          <p>Needs help now: <span id="needsHelp"></span></p>
          <p>Sensitive group: <span id="sensitiveGroup"></span></p>
          <hr>
          <p>Uses EME: <span id="usesEME"></span></p>
          <p>Risk behavior: <span id="doesBehavior"></span></p>
          <p>Old or young: <span id="isSensitiveAge"></span></p>
          <p>Has animal: <span id="hasAnimal"></span></p>
          <hr>
          <p>Has AC: <span id="hasAC"></span></p>
          <p>Limits AC use: <span id="limitsAC"></span></p>
          <p>AC Type:: <span id="typeAC"></span></p>
          <p>Has Fan: <span id="hasFan"></span></p>
          <p>Has window: <span id="hasWindow"></span></p>
        </div>
        <hr class="my-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non euismod sapien. Quisque ut hendrerit tortor. Curabitur non sem nec risus maximus efficitur eu vitae sapien. Ut vestibulum mauris vel urna lobortis, a fermentum sem iaculis. Nam dignissim lectus vel odio eleifend posuere. Curabitur volutpat, ex a scelerisque faucibus, nisi nulla cursus dolor, in venenatis diam justo quis mauris. Sed pulvinar urna ac massa sagittis interdum. Praesent interdum laoreet feugiat. Aliquam tristique enim rutrum tortor vehicula, in vehicula lacus varius. Nunc sollicitudin accumsan neque, vitae auctor est lacinia sit amet. Morbi tempus dui et iaculis mattis. Vivamus molestie tortor nec mi gravida posuere. Nunc lacus tellus, maximus nec bibendum ac, suscipit rhoncus sapien.</p>
      </div>
    </div>
    <!-- .col (main) -->



  </div>
  <!-- .row -->

</article>
<!-- #primary-content -->

<!-- add JS --> 
<script type="text/javascript" src="{{ .Params.config }}"></script>

<script type="text/javascript" src="{{ .Params.customJS }}"></script>


{{- end -}}