{{- define "main" -}}


<article class="container-fluid" id="skip-header-target">

  <div class="row">
    <div class="col-md-11 mx-auto mt-4">
        <nav aria-label="breadcrumb" class="mb-4">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                <li class="breadcrumb-item"><a href="/key-topics/climatehealth/">Climate and Health</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
            </ul>
        </nav>

            <h1>{{ .Title }}</h1>
            <p>{{ .Content }}</p>
    </div>
  </div>


  <div class="row my-4">

    <!--left-hand sticky column-->
    <div class="col-md-4 ml-auto">

      <div class="sticky-top border p-2" style="z-index: 0">
        <p>Today's weather is <span id="hot" class="font-weight-bold p-1">HOT</span>. The current temp is <span id="currentTemp">XX</span> and it might reach <span id="maxTemp">YY</span> today. <a href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us">Get a full weather forecast here</a>.

        <hr class="my-2">

        <p>The current air quality is <span id="aqimeaning" class="font-weight-bold p-1">AQI interpretation</span>.


        <hr class="my-2">

        <div class="" id="recsHolder">
          <span class="home-label font-weight-bold">About you:</span>
          <div class="fs-sm">
            <p>Over 80F: <span id="over80F"></span></p>
            <p>AQI: <span id="aqiNum"></span></p>
            <hr class="my-1">
            <p>Sensitive group: <span id="sensitiveGroup"></span></p>
            <hr class="my-1">
            <p>Uses EME: <span id="usesEME"></span></p>
            <p>Has animal: <span id="hasAnimal"></span></p>
            <hr class="my-1">
            <p>Has AC: <span id="hasAC"></span></p>
            <p>Limits AC use: <span id="limitsAC"></span></p>
            <p>Has Fan: <span id="hasFan"></span></p>
          </div>



          <!-- Recommendations pane -->
          <ul class="list-group fs-sm" id="sidebarRecs">
            
          </ul>
        </div>


      </div>
    </div>
    <!-- .col -->

    <!-- main content column -->
    <div class="col-md-7 overflow-hidden fs-rg mr-auto" id="primary-content">

      <div class="border p-1 mb-4">
        <strong><i class="fas fa-exclamation-triangle mr-1" aria-hidden="true"></i>Before we get started:</strong> if you are feeling very hot, with nausea or vomiting, fast pulse, weakness or dizziness, you may need medical help. <a href="https://www.cdc.gov/disasters/extremeheat/warning.html">See a full list of symptoms of heat-related illness</a>.
      </div>

      <div id="start">
        <div class="col-md-6 mx-auto">
          <button class="btn btn btn-block btn-outline-secondary mx-auto py-2" onclick="runQuestions()"><i class="fas fa-arrow-circle-down mr-1" aria-hidden="true"></i>Let's get started</button>
        </div>
      </div>

      <div id="mainContent" class="my-4">
        <!-- JavaScript inserts question conetnt into this div -->
      </div>

      <div class="p-2 border mt-4 hide" id="finalInfo">
        <h4>Let's take a look at your situation.</h4>
        <p>Dev note - let's display this, animate elipses, and then print finalMessages on a short delay.</p>

        <div id="finalMessages">

        </div>
      </div>
    </div>
    <!-- .col (main) -->



  </div>
  <!-- .row -->

</article>
<!-- #primary-content -->

<!-- add JS --> 
<script type="text/javascript" src="{{ .Params.config }}"></script>

<script type="text/javascript" src="{{ .Params.customJS }}"></script>


{{- end -}}