{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "key-topics" }}>Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 mr-auto"></div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto" data-pagefind-weight="7.0">
                <h1 class="h2" data-pagefind-weight="10.0">
                    <i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}
                </h1>
        
                {{- .Content  -}}
    
        </div>
    </div>

    <div class="row">
        <div class="col-12 px-1 mb-6">
            <iframe src="https://equitableexplorer.planning.nyc.gov/map/drm/nta" scrolling="no" frameborder="0" style="width: 100%; min-width: 100% !important; border: none; margin-bottom:150px" height="700"></iframe>
        </div>
    </div>

</article>

{{- end -}}