{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>

            <h1><i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>
                {{ .Title }}</h1>

                {{- .Content  -}}

            <div class="row" style="height:1000px;">
                <div class="col-12">
                    <iframe src="source/index.html" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>

        </div>
    </div>

    <script>
        function spill() {
            console.log('Spill cleaned up!')
            document.getElementById('spill').classList.add('hide')
            document.getElementById('spillCircle').classList.remove('dot-border')
            document.getElementById('spillText').classList.remove('hide')
        }

    </script>

    <style>
        .superimpose {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .dot {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          display: inline-block;
          cursor: pointer;
        }

        .dot-border {
            border: 3px solid orange;
        }

        .flash {
            -webkit-animation: blink 3s;
            -webkit-animation-iteration-count: 1;
        }
    </style>


    <!-- Add interactive content here --> 
    <div class="row hide my-4">
        <div class="col-md-8"> 
            <img class="img-responsive" src="11.15-mockup.png"style="width:100%">
        </div>

        <div class="col-md-4">
            <div class="list-group my-2" id="list-tab" role="tablist" style="font-weight:bold;">
                <a class="list-group-item list-group-item-action active" style="background-color: blue;" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Peeling or damaged paint</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Glazed ceramic cookware</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Cracks, gaps, or holes</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Leaky faucet</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Open food packages or spills</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Pest droppings</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Dirty shoes indoors</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Mold on walls or surfaces</a>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"> 
                <p><h5>  <i class="fa-solid fa-exclamation fa-1x"></i> Why it's dangerous </h5> Peeling or damaged paint can contain lead (especially in older buildings), which is poisonous to ingest. This can be risky for children and pets. <br></p>
                <hr/>
                <p><h5> What you can do </h5> Report peeling paint to your landlord. If the problem is not fixed or if you think repair work is being done unsafely, call 311 to request a free inspection. <br></p>
                <hr/>
                <p><h5> Learn more about lead poisoning prevention </h5>
                Remind your provider to test your child for lead poisoning at ages 1 and 2 and ask about testing older children if you have peeling paint. <strong>Call 311 to find a provider. </strong>
                <a href="https://www.nyc.gov/site/doh/health/health-topics/lead-poisoning-prevention.page"> Visit the NYC Health Department's page on lead poisoning sources and prevention. </a></p>
                </div>

            </div>
            </div>

    </div>



</article>

{{- end -}}