{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>

            <h1><i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>
                {{ .Title }}</h1>

                {{- .Content  -}}
        </div>
    </div>


</article>

<div class="bucket border px-4 my-4">
    <div>
        <img tabindex="0" class="superimpose" id="backgroundImage" alt="" src="background.svg" />
        <img tabindex="0" class="superimpose" id="spillOverlay" alt="" src="spill.svg" />
        <img tabindex="0" class="superimpose" id="bowlOverlay" alt="" src="bowl.svg" />
        <img tabindex="0" class="superimpose" id="moldOverlay" alt="" src="mold.svg" />
        <img tabindex="0" class="superimpose" id="crackinwallOverlay" alt="" src="crackinwall.svg" />
        <img tabindex="0" class="superimpose" id="peelingpaintOverlay" alt="" src="peelingpaint.svg" />


        <div class="clickables">
            <a id="spillDot" onclick="spill()" aria-label="..." style="position:absolute;top: 65%;left: 27%;" tabindex="0" class="dot dot-border" data-toggle="modal" data-target="#spillModal" ></a>
            <a id="bowlDot" onclick="bowl()" aria-label="..." style="position:absolute;top: 72%;left: 5%;" tabindex="0" class="dot dot-border" data-toggle="modal" data-target="#bowlModal" ></a>
            <a id="moldDot" onclick="mold()" aria-label="..." style="position:absolute;top: 40%;left: 39.5%;" tabindex="0" class="dot dot-border" data-toggle="modal" data-target="#moldModal" ></a>
            <a id="crackinwallDot" onclick="crackinwall()" aria-label="..." style="position:absolute;top: 40%;left: 30%;" tabindex="0" class="dot dot-border" data-toggle="modal" data-target="#crackinwallModal" ></a>
            <a id="peelingpaintDot" onclick="peelingpaint()" aria-label="..." style="position:absolute;top: 55%;left: 3%;" tabindex="0" class="dot dot-border" data-toggle="modal" data-target="#peelingpaintModal" ></a>
        </div>
    </div>

</div>

<!-- Resource cards -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12">

      <div class="card content-card mb-2">
        <div class="card-content">
        <div class="card-body">
          <p><span class="card-title text-primary h3">Prevent and get rid of pests</span></p>
          <p>
            <ul class="list-group">
              <li class="list-group-item"><strong>For building residents </strong> <a href="s://www.nyc.gov/assets/doh/downloads/pdf/pesticide/mgmt-tips.pdf"> IPM toolkit </a>
              <li class="list-group-item"><strong>For owners, managers, and supers </strong> <a href="https://www.nyc.gov/assets/doh/downloads/pdf/pesticide/ipm-toolkit.pdf"> IPM toolkit for managers </a>
              <li class="list-group-item"><a href="Nyc.gov/health/healthyhomes">Healthy homes program</a>
            </ul>
          </p>
          
        </div>
        </div>
    </div>

    </div>

    <div class="col-md-3 col-sm-12">

      <div class="card content-card mb-2">
        <div class="card-content">
          <div class="card-body">
            <p><span class="card-title text-primary h3">Prevent and get rid of mold </span></p>
            <p>
              <ul class="list-group">
                <li class="list-group-item"><a href="https://www.nyc.gov/assets/doh/downloads/pdf/epi/prevent-and-get-rid-of-mold.pdf"> Mold prevention brochure </a>
                <li class="list-group-item"><strong> NYC Healthy Neighborhood Programs </strong> <a href="https://www.nyc.gov/site/doh/health/health-topics/healthy-neighborhoods-asthma-triggers.page"> Request a free home assessment of asthma triggers </a>
                <li class="list-group-item"><a href="https://www.nyc.gov/site/doh/health/health-topics/mold.page">Learn more about mold </a>
              </ul>
            </p>
            
          </div>
        </div>
    </div>

    </div>

    <div class="col-md-3 col-sm-12">
          <div class="card content-card mb-2">
            <div class="card-content">
            <div class="card-body">
              <p><span class="card-title text-primary h3">Prevent poisoning from lead and hazardous products </span></p>
              <p>
                <ul class="list-group">
                  <li class="list-group-item"><a href="nyc.gov/lead"> Visit NYC.gov/lead</a> and <a href="Nyc.gov/hazardousproducts">learn about which consumer products may contain lead </a>
                  <li class="list-group-item"> Learn about <a href="https://www.nyc.gov/assets/doh/downloads/pdf/lead/children-lead-mini-brochure.pdf"> children and lead poisoning </a>
                  <li class="list-group-item"> Learn about <a href="https://www.nyc.gov/assets/doh/downloads/pdf/lead/lead-pregnancy-brochure.pdf"> pregnancy and lead poisoning </a>
                  <li class="list-group-item"> Read our <a href="https://www.nyc.gov/assets/doh/downloads/pdf/lead/adult-lead-safety-brochure.pdf"> lead safety brochure </a>
                  <li class="list-group-item"> Learn how to <a href="https://www.nyc.gov/assets/doh/downloads/pdf/poison/poison-brochure-proof.pdf"> poison-proof your home </a>
                </ul>
              </p>
              
            </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">

      <div class="card content-card mb-2">
        <div class="card-content">
          <div class="card-body">
            <p><span class="card-title text-primary h3">Prevent fires and carbon monoxide poisoning </span></p>
            <p>
              <ul class="list-group">
                <li class="list-group-item"><a href="https://www.nyc.gov/assets/doh/downloads/pdf/epi/prevent-and-get-rid-of-mold.pdf"> Mold prevention brochure </a>
                <li class="list-group-item"><strong> NYC Healthy Neighborhood Programs </strong> <a href="https://www.nyc.gov/site/doh/health/health-topics/healthy-neighborhoods-asthma-triggers.page"> Request a free home assessment of asthma triggers </a>
                <li class="list-group-item"><a href="https://www.nyc.gov/site/doh/health/health-topics/mold.page">Learn more about mold </a>
              </ul>
            </p>
            
          </div>
        </div>
    </div>

    </div>
  </div>

</div>

<!-- Modals -->
<div class="modal fade" id="spillModal" tabindex="-1" role="dialog" aria-labelledby="spillDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Pest droppings</h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>Cockroach and mouse droppings are a sign of pests and can worsen allergies and asthma symptoms.</p>
            <h3 class="h5">What you can do</h3>
            <p>To get rid of pests and keep them from coming back, deprive them of food, water, shelter and ways to get around.</p>
            <p>Report gaps, cracks or holes and other conditions that can attract pests to building management.</p>
            <p><em><small class="text-primary"> If the repairs are not being made or you think that repair work is being done unsafely, call <strong>311.</strong></p>
            <p> NYCHA residents should call 718-707-7771 to report a maintenance problem. </em></small></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="spillModal" tabindex="-1" role="dialog" aria-labelledby="spillDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Moisture issues</h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>Water leaks and moisture issues such as leaks, standing water, or moisture that won't dry can attract pests and cause mold growth.</p>
            <p>Pests and mold can trigger or worsen asthma and allergies, and can create unsanitary conditions.</p>
            <h3 class="h5">What you can do</h3>
            <p>Keep your home dry by running a fan or opening a window. Use a dehumidifier to lower humidity levels. Use water and detergent to clean small areas of mold on walls or other hard surfaces.</p>
            <p>Report, mold, water leaks and plumbing issues to building management.</p>  
            <p><em><small class="text-primary"> If the repairs are not being made or you think that repair work is being done unsafely, call <strong>311.</strong></p>
            <p> NYCHA residents should call 718-707-7771 to report a maintenance problem. </em></small></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bowlModal" tabindex="-1" role="dialog" aria-labelledby="bowlDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Open food</h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>Open food packages, pet food left out and garbage cans that don’t close tightly can attract roaches and mice. These pests can make asthma and allergy symptoms worse.</p>
            <h3 class="h5">What you can do</h3>
            <p>Block access to food sources. 
            <p>Clean up clutter, keep food in sealed containers, don’t leave pet food out, and store trash in a can with a tight-fitting lid. Rinse recyclables before sorting them.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="moldModal" tabindex="-1" role="dialog" aria-labelledby="moldDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Mold</h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>Stains or visible mold growth on walls may be a sign of a moisture problem. </p>
            <p>Mold can cause or worsen allergies and asthma.</p>
            <h3 class="h5">What you can do</h3>
            <p> Use water and soap (or dish detergent) to clean mold on walls or other hard surfaces. </p>
            <p> Fix leaks from faucets or pipes. </p>
            <p> Report, mold, water leaks and plumbing issues to building management.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="crackinwallModal" tabindex="-1" role="dialog" aria-labelledby="crackinwallDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Gaps, cracks or holes </h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>Gaps, cracks or holes can let in pests like mice and cockroaches.</p>
            <p>Cockroaches and mice can contaminate food, damage homes, and make allergies and asthma worse.</p>

            <h3 class="h5">What you can do</h3>
            <p>To get rid of pests and keep them from coming back, you have to deprive them of food, water, shelter and ways to get around.</p>
            <p>Seal pests out. Report gaps, cracks or holes and other conditions that can attract pests to building management. </p>
            <p><em><small class="text-primary"> If the repairs are not being made or you think that repair work is being done unsafely, call <strong>311.</strong></p>
            <p> NYCHA residents should call 718-707-7771 to report a maintenance problem. </em></small></p>
            
            </ul></p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="peelingpaintModal" tabindex="-1" role="dialog" aria-labelledby="peelingpaintDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Peeling paint</h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>Peeling or damaged paint can contain lead, especially in older buildings.</p>
            <p>Lead can cause serious health effects. It is especially dangerous for children and pregnant people but can be harmful to anyone. </p>
            <h3 class="h5">What you can do</h3>
            <p>Report peeling paint to your landlord. 
            <p>Remind your provider to test your child for lead poisoning at ages 1 and 2 and ask about testing older children if you have peeling paint. Call 311 to find a provider.</p>
            <p><em><small class="text-primary"> If the repairs are not being made or you think that repair work is being done unsafely, call <strong>311.</strong></p>
            <p> NYCHA residents should call 718-707-7771 to report a maintenance problem. </em></small></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="peelingpaintModal" tabindex="-1" role="dialog" aria-labelledby="peelingpaintDot" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h2 class="h4">Dirty shoes kept indoors</h2>
            <h3 class="h5">Why it's dangerous</h3>
            <p>TBD</p>
            <h3 class="h5">What you can do</h3>
            <p>Report peeling paint to your landlord. 
            <p>Remind your provider to test your child for lead poisoning at ages 1 and 2 and ask about testing older children if you have peeling paint. Call 311 to find a provider.</p>
            <p><em><small class="text-primary"> If the repairs are not being made or you think that repair work is being done unsafely, call <strong>311.</strong></p>
            <p> NYCHA residents should call 718-707-7771 to report a maintenance problem. </em></small></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function spill() {
            document.getElementById('spillOverlay').classList.add('hide')
            document.getElementById('spillDot').classList.remove('dot-border')
    
    }

    function bowl() {
      document.getElementById('bowlOverlay').classList.add('hide')
      document.getElementById('bowlDot').classList.remove('dot-border')

    }

    function mold() {
      document.getElementById('moldOverlay').classList.add('hide')
      document.getElementById('moldDot').classList.remove('dot-border')

    }

    function crackinwall() {
      document.getElementById('crackinwallOverlay').classList.add('hide')
      document.getElementById('crackinwallDot').classList.remove('dot-border')

    }

    function peelingpaint() {
      document.getElementById('peelingpaintOverlay').classList.add('hide')
      document.getElementById('peelingpaintDot').classList.remove('dot-border')

    }

    </script>

  <style>
    /* Custom CSS to position the modal on the right */
    .modal-dialog {
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        width: 500px; /* You can adjust the width as per your preference */
      }
  
      .modal-content {
        height: 100%;
        border-radius: 0;
      }
  
      .modal-header {
        border-bottom: none;
      }
  
      .modal-body {
        overflow-y: auto;
      }

    .bucket {
        position: relative;
        max-width: 1300px;
        margin: auto;
        aspect-ratio: 15 / 11; /* Sets the aspect ratio according to the size of background.svg */
    }

    .superimpose {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
    }

    .dot {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        border: 1px dashed orange;

      }

      .dot-border {
          border: 3px solid orange;
      }
  </style>



{{- end -}}