{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

  <div class="row">
      <div class="col-md-11 mx-auto mt-4">
          <nav aria-label="breadcrumb" class="mb-4">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                  <li class="breadcrumb-item"><a href="/key-topics/climatehealth/">Climate and Health</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
              </ul>
          </nav>
      </div>
      <div class="col-md-2 mr-auto"></div>
  </div>

  <div class="row mb-4">
    <div class="col-md-11 col-sm-12 mx-auto">
        <h1><i class="fas fa-star mr-1" aria-hidden="true"></i>{{ .Title }}</h1>
        {{- .Content  -}}


  <div class="row">
    
    <div class="col-4 p-3">
      <i class="fas fa-3x fa-solid fa-cloud-sun mr-1" aria-hidden="true"></i> &nbsp; <h3>77 F</h3>
      <h3>Tuesday, &nbsp; September 23 </h3>
      <label for="customRange1" class="form-label">Try different outdoor temperatures</label>
      <input type="range" class="form-range" id="customRange1">
    </div>
    <div class="col-4 p-3"> <h3>The Air Quality is <span style="color:#dd830d;"><strong> Moderate</strong></span></h3></div>
  </div>
  <div class="row">
    <div class="col-8 p-3">
        <div class="row">
          <div class="col-4 p-3">
            <h4><i class="fas fa-2x fa-regular fa-hospital" aria-hidden="true"></i></h4>
          </div>
          <div class="col-4 p-3">
            <h4><i class="fas fa-2x fa-solid fa-fan" style="color: #0e8714;" aria-hidden="true"></i></h4>
          </div>
          <div class="col-4 p-3">
            <h4><i class="fas fa-2x fa-solid fa-temperature-high" style="color: #dd830d;" aria-hidden="true"></i></h4>
          </div>
        </div>
        
        <div class="row">
          <div class="col-4 p-3">
            <h4><i class="fas fa-2x fa-solid fa-mask-face" aria-hidden="true"></i></h4>
            </div>
          <div class="col-4 p-3">
            <h4><i class="fas fa-2x fa-solid fa-store" aria-hidden="true"></i></h4>
            </div>
          <div class="col-4 p-3">
            <h4><i class="fas fa-2x fa-solid fa-wind" aria-hidden="true"></i></h4>
            </div>
        </div>
      </div>
    </div>
  </div>

<!-- -->

        </div>
        <div class="row mt-4">
          <div class="col-md-7 mx-auto">

            <div class="leftbar px-2">
              <P><strong>First, let's look at today's weather.</strong></P>
              <p>Today's weather is <span id="hot" class="font-weight-bold p-1">warm</span>: right now, it's <span id="currentTemp" class="font-weight-bold">XX</span>, and the forecast says that today's high will be <span id="maxTemp" class="font-weight-bold">YY</span>. The air quality is <span id="aqimeaning" class="font-weight-bold p-1">AQI interpretation</span>.</p>

            </div>

            <div class="leftbar p-2 mt-4">
              <p><strong>Next: what neighborhood do you live in?</strong>. <em>We won't save any information you enter into this website.</em></p>

              <div class="border" style="width:100%; height: 50px;">
                <span class="home-label">Enter your neighborhood</span>
              </div>
              <div class="my-2">
                <span class="home-label">Your neighborhood's heat vulnerability:</span> <span id="hvi">4 out of 5</span>
              </div>
                <p>You're in a neighborhood with <span class="font-weight-bold">higher heat vulnerability</span> - people in your neighborhood are at greater risk for dying due to extreme heat. (More about <a href="">the Heat Vulnerability Index</a>.)</p>
                <p>Keep this in mind as you get ways to protect yourself, below - it's more important on a day like today.</p>
                <p>To figure out how to protect you from this weather, we'll ask you a few questions. </p>
                <button type="button" class="btn btn-sm btn-outline-primary btn-block" onclick="start()">Click here to get started.</button>
            </div>




              <div class="hide mt-2" id="startquiz">
                <div class="p-2 leftbar">
                  <p id="symptoms">First, let's make sure you're doing OK. <strong>Are you currently experiencing any of the following symptoms?</strong> These can be a sign that you're struggling with the heat or the air quality.</p>
                  <p><em>Difficulty breathing, light-headedness, fatigue, headache, loss of appetite, nausea or vomiting, rapid pulse, hot dry skin, heavy sweating, confusion or hallucination, excessive thirst.</em></p>
      
                  <div class="row">
                    <div class="col-6">
                      <a class="btn btn-sm btn-outline-danger btn-block mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Yes</a>
                    </div>
      
                    <div class="col-6">
                      <button type="button" class="btn btn-sm btn-outline-primary btn-block mb-1" onclick="next(1)">None of these</button>
      
                    </div>
      
      
      
                  </div>
      
      
                  </p>
                  <div class="collapse" id="collapse1">
                    <div class="fs-md aboutbox">
                      <p>This can be serious. Maybe you should see a doctor or go to Urgent Care. <a href="">These are the signs and symptoms of heat exhaustion</a>. Remember, more people die of heat than all other natural disaster combined. If you're not feeling well, take it seriously.</p>               
                      <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(1)">Next question</button>
      
                    </div>
                  </div>
                </div>
      
              <div class="hide mt-4 p-2 leftbar" id="hide1" style="">
                <p><strong>Do any of these describe you?</strong> Certain health conditions and life situations can make you more vulnerable to extreme heat and bad air quality.</p>
                <ul>
                  <li><em>Health conditions:</em> heart disease, asthma or other breathing condition, immunicompromised, pregnant, diabetic.</li>
                  <li><em>Life situations:</em> over age 65, limited mobility, or socially isolated (living alone).</p></li>
                </ul>
                <div class="row">
                  <div class="col-6">
                    <a class="btn btn-sm btn-block btn-outline-danger mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Yes</a>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline-primary mb-1" onclick="next(2)">None of these</button>
      
                  </div>
                </div>
                <p>
                  
      
      
                </p>
      
                <div class="collapse" id="collapse2">
                  <div class="fs-md aboutbox">
                    <p>Your may be more vulnerable to the harmful effects of extreme heat and bad air quality. Monitor yourself closely, and make a plan to stay safe given the air and temperature conditions.</p>  
                    <p><button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(2)">Next question</button></p>
      
                  </div>
                </div>
              </div>
      
              <div class="hide mt-4 p-2 leftbar" id="hide2">
                <p>The best way to stay safe in hot weather is with air conditioning. <strong>Does your home have air conditioning?</strong></p>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-sm btn-block btn-outline-secondary mb-1" onclick="next(3)">
                      Yes
                    </button>
                  </div>
      
                  <div class="col-6">
                    <button class="btn btn-sm btn-block btn-outline-secondary mb-1" data-toggle="collapse" data-target="#collapseNo" aria-expanded="false" aria-controls="collapseNo">
                      No
                    </button>
                  </div>
                </div>
      
      
              <div id="accordion">
                <div class="card">
                  <div id="collapseNo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body aboutbox fs-md">
                      <p>An AC is the most effective way to protect yourself from heat. Right now, we'll look for ways to keep you cool in your apartment, but if those don't work, you can <a href="">get a free AC from the City</a> or <a href="">find a cooling center near you</a>.</p>  
                      <p><button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(5)">Next question</button></p>
                    </div>
                  </div>
                </div>
              </div>
      
              </div>
      
              <div class="hide mt-4 p-2 leftbar" id="hide3">
                <p>Great! You have an air conditioner. What kind of AC do you have?</p>
                <div class="row">
                  <div class="col-4">
                    <div class="border" style="width:100%; height: 100px"></div>
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseCentral" role="button" aria-expanded="false" aria-controls="collapseCentral">Central air</a> 
                  </div>
                  <div class="col-4">
                    <div class="border" style="width:100%; height: 100px"></div>
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseWindow" role="button" aria-expanded="false" aria-controls="collapseWindow">Window unit</a>
                  </div>
                  <div class="col-4">
                    <div class="border" style="width:100%; height: 100px"></div>
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapsePortable" role="button" aria-expanded="false" aria-controls="collapsePortable">Portable AC</a>
                  </div>
                  <div class="col-12">
                    <div id="ACaccordion">
                        <div class="card">
                            <div id="collapseCentral" class="collapse" aria-labelledby="headingOne" data-parent="#ACaccordion">
                              <div class="card-body aboutbox fs-md">
                                Great! Stay inside.
                                <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(5)">Next question</button>
                              </div>
                            </div>
                          </div>
                  
                          <div class="card">
                            <div id="collapseWindow" class="collapse" aria-labelledby="headingTwo" data-parent="#ACaccordion">
                              <div class="card-body aboutbox fs-md">
                                Great! Stay inside. If your AC has a "recirculation mode," turn it on. This will prevent it from pulling in polluted air from outside.
                                <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(4)">Next question</button>
                              </div>
                            </div>
                          </div>
            
                          <div class="card">
                            <div id="collapsePortable" class="collapse" aria-labelledby="headingTwo" data-parent="#ACaccordion">
                              <div class="card-body aboutbox fs-md">
                                Portable.
                                <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(4)">Next question</button>
                              </div>
                            </div>
                          </div>
            
                    </div>
                  </div>
                </div>
                
          
              </div>
      
              <div class="hide mt-4 p-2 leftbar" id="hide4">
                <p>How many rooms are you trying to cool?</p>
                <div class="row">
                  <div class="col-4">
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseOneRoom" role="button" aria-expanded="false" aria-controls="collapseOneRoom">One room</a> 
                  </div>
                  <div class="col-4">
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseTwoRooms" role="button" aria-expanded="false" aria-controls="collapseTwoRooms">Two rooms</a>
                  </div>
                  <div class="col-4">
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseThreeRooms" role="button" aria-expanded="false" aria-controls="collapseThreeRooms">My whole apartment</a>
                  </div>
      
                  <div class="col-12" id="roomAccordion">
                    <div class="card">
                      <div id="collapseOneRoom" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                        <div class="card-body aboutbox fs-md">
                          <p>How many BTUs is your air conditioner? BTU is a measure of how powerful your air conditioner is. Look for a small label somewhere on your air conditioner.</p>
                          <p>A 5,000 BTU air conditioner can effectively cool a room about 100 to 150 square feet - about the size of a small bedroom.</p>
                          <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next()">Next question</button>
                        </div>
                      </div>
                    </div>
      
                    <div class="card">
                      <div id="collapseTwoRooms" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                        <div class="card-body aboutbox fs-md">
                          <p>How many BTUs is your air conditioner? BTU is a measure of how powerful your air conditioner is. Look for a small label somewhere on your air conditioner.</p>
                          <p>A 5,000 BTU air conditioner can effectively cool a room about 100 to 150 square feet - about the size of a small bedroom. Every additional 100 square feet requires 1,000 more BTUs.</p>
                          <p>If you're trying to cool several rooms, make sure your air conditioner is powerful enough.</p>
                          <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next()">Next question</button>
                        </div>
                      </div>
                    </div>
      
                    <div class="card">
                      <div id="collapseThreeRooms" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                        <div class="card-body aboutbox fs-md">
                          <p>How many BTUs is your air conditioner? BTU is a measure of how powerful your air conditioner is. Look for a small label somewhere on your air conditioner.</p>
                          <p>A 5,000 BTU air conditioner can effectively cool a room about 100 to 150 square feet - about the size of a small bedroom. Every additional 100 square feet requires 1,000 more BTUs.</p>
                          <p>If you're trying to cool your whole apartment, you'll probably need several air conditioners to cool down your whole home. If you don't have strong enough air conditioners, you can try to just cool down one room - and spend most of your time there.</p>
                          <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next()">Next question</button>
                        </div>
                      </div>
                    </div>
      
      
                  </div>
      
                </div>
      
      
      
              </div>
      
              <div class="hide mt-4 p-2 leftbar" id="hide5">
                <p>Does your apartment have fans? Since you don't have an air conditioner, fans can help keep you cool - but they can only do so much.</p>
                <div class="row">
                  <div class="col-6">
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseFan" role="button" aria-expanded="false" aria-controls="collapseFan">Yes</a> 
                  </div>
                  <div class="col-6">
                    <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseNoFan" role="button" aria-expanded="false" aria-controls="collapseNoFan">No</a> 
                  </div>
                </div>
      
                <div id="fanAccordion">
                  <div class="card">
                    <div id="collapseFan" class="collapse" aria-labelledby="headingOne" data-parent="#fanAccordion">
                      <div class="card-body aboutbox fs-md">
                        Yes fan.
                        <p><button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(6)">Next question</button></p>
                      </div>
                    </div>
                  </div>
      
                  <div class="card">
                    <div id="collapseNoFan" class="collapse" aria-labelledby="headingOne" data-parent="#fanAccordion">
                      <div class="card-body aboutbox fs-md">
                        No fan.
                        <p><button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(6)">Next question</button></p>
                      </div>
                    </div>
                  </div>
      
                </div>
      
              </div>
      
              <div class="hide mt-4 p-2 leftbar" id="hide6">
                CURTAINS
              </div>
  
              </div>

          </div>
          <!-- end col -->



          <div class="col-md-6">






          </div>


        </div>

        <div class="row my-4 hide" id="">
          <div class="col-7 mx-auto">



        </div>

        
    </div>
  </div>

</article>

<style>
  .leftbar {
    border-left: 8px solid lightgray
  }
</style>

<script>
  function start() {
    document.getElementById('startquiz').classList.remove('hide')
    document.querySelector(`#symptoms`).scrollIntoView({
      behavior: 'smooth'
  });
  }

  function next(x) {
    var hide = 'hide' + x

    document.getElementById(`${hide}`).classList.remove('hide')
    document.querySelector(`#${hide}`).scrollIntoView({
      behavior: 'smooth'
  });
  }

// API documentation: https://www.weatherapi.com/docs/
// Sample returns: https://www.weatherapi.com/api-explorer.aspx#forecast

var apiData;
fetch('https://api.weatherapi.com/v1/forecast.json?key=7699a631589048cd83d131617230408&q=New York City&days=1&aqi=yes&alerts=no')
    .then(response => {
    return response.json()
    })
    .then(data => {
    console.log(data)
    apiData = data
    document.getElementById('currentTemp').innerHTML = apiData.current.temp_f + '° F'
    document.getElementById('maxTemp').innerHTML = apiData.forecast.forecastday[0].day.maxtemp_f  + '° F'
     // document.getElementById('aqi').innerHTML = apiData.forecast.forecastday[0].day.air_quality["us-epa-index"]

  
    if (apiData.forecast.forecastday[0].day.maxtemp_f > 80 & apiData.forecast.forecastday[0].day.maxtemp_f < 85) {
      document.getElementById('hot').innerHTML = 'warm'
      document.getElementById('hot').style['background-color'] = "orange"
    } else if (apiData.forecast.forecastday[0].day.maxtemp_f > 85 & apiData.forecast.forecastday[0].day.maxtemp_f < 90) {
      document.getElementById('hot').innerHTML = 'hot'
      document.getElementById('hot').style['background-color'] = "red";
      document.getElementById('hot').style.color = 'white'
    } else if (apiData.forecast.forecastday[0].day.maxtemp_f > 90 ) {
      document.getElementById('hot').innerHTML = 'very hot'
      document.getElementById('hot').style['background-color'] = "darkred"
      document.getElementById('hot').style.color = 'white'
    }

    var aqi = apiData.forecast.forecastday[0].day.air_quality["us-epa-index"]

    if (aqi == '1') {
      document.getElementById('aqimeaning').innerHTML = 'Good'
      document.getElementById('aqimeaning').style['background-color'] = '#00E400'
    } else if (aqi == '2') {
      document.getElementById('aqimeaning').innerHTML = 'Moderate'
      document.getElementById('aqimeaning').style['background-color'] = '#FFFF00'
    } else if (aqi == '3') {
      document.getElementById('aqimeaning').innerHTML = 'Unhealthy for sensitive groups'
      document.getElementById('aqimeaning').style['background-color'] = '#FF7E00'
    } else if (aqi == '4') {
      document.getElementById('aqimeaning').innerHTML = 'Unhealthy'
      document.getElementById('aqimeaning').style['background-color'] = '#FF0000'
      document.getElementById('aqimeaning').style.color = 'white'
    } else if (aqi == '5') {
      document.getElementById('aqimeaning').innerHTML = 'Very unhealthy'
      document.getElementById('aqimeaning').style['background-color'] = '#7E0023'
      document.getElementById('aqimeaning').style.color = 'white'
    }

  })


</script>

{{- end -}}