{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

  <div class="row">
      <div class="col-md-11 mx-auto mt-4">
          <nav aria-label="breadcrumb" class="mb-4">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                  <li class="breadcrumb-item"><a href="/key-topics/climatehealth/">Climate and Health</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
              </ul>
          </nav>
      </div>
      <div class="col-md-2 mr-auto"></div>
  </div>

  <div class="row mb-4">
    <div class="col-md-11 col-sm-12 mx-auto">
        <h1><i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}</h1>
        {{- .Content  -}}

        <p class="fs-sm"><em>We won't save any information you enter into this website.</em></p>

        <div class="row mt-4">
          <div class="col-md-6">
            <h2 class="border-bottom h4">What neighborhood do you live in?</h2>

            <div class="border" style="width:100%; height: 50px;">
              <span class="home-label">Enter your neighborhood</span>
            </div>
            <div class="my-2">
              <span class="font-weight-bold">Your neighborhood: Somethingtown / New York Heights</span><br>
              <span class="font-weight-bold">Heat vulnerability: X out of 5</span>
            </div>
            <p class="mt-2">The <a href="">Heat Vulnerability Index</a> shows neighborhoods whose residents are more at risk for dying during and immediately following extreme heat, based on the most important social and environmental factors that affect risk. </p>
            <p>If you're in a neighborhood with high vulnerability, you may be at greater risk. But even if you're in a neighborhood with lower heat vulnerability, it doesn't mean you're not at risk. Keep that in mind.</p>
          </div>

          <div class="col-md-6" style="height: 350px">
            <h2 class="border-bottom h4">Today's weather</h2>
            <div class="border p-2" style="width:100%; height: 50px;">
              <span class="home-label">Temperature</span>
            </div>

            <div class="border my-2 p-2" style="width:100%; height: 50px;">
              <span class="home-label">Air Quality Index</span>
            </div>
            
            <p>It's <span style="color:red; font-weight:bold">very hot</span> and the AQI is <span style="color: rgb(225, 126, 0); font-weight:bold">unhealthy for sensitive groups</span>. Keep that in mind as you learn ways to protect yourself, below - it's more important on a day like today.</p>

          </div>

          <div class="col-6 my-4 mx-auto">
            <button type="button" class="btn btn-sm btn-outline-primary btn-block" onclick="start()">Start the quiz</button>
          </div>
        </div>

        <div class="row my-4 hide" id="startquiz">
          <div class="col-7 mx-auto">

          <div class="p-2 leftbar">
            <p id="symptoms">First, let's make sure you're doing OK. <strong>Are you currently experiencing any of the following symptoms?</strong> These can be a sign that you're struggling with the heat or the air quality.</p>

            <p>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Difficulty breathing</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Light-headedness</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Fatigue</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Headache</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Loss of appetite</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Nausea or vomiting</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Rapid pulse</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Hot, dry skin</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Heavy sweating</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Confusion or hallucination</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Muscle cramps</a>
              <a class="btn btn-sm btn-outline-danger mb-1" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">Excessive thirst</a>

              <button type="button" class="btn btn-sm btn-outline-primary mb-1" onclick="next(1)">None of these</button>


            </p>
            <div class="collapse" id="collapse1">
              <div class="fs-md aboutbox">
                <p>This can be serious. Maybe you should see a doctor or go to Urgent Care. <a href="">These are the signs and symptoms of heat exhaustion</a>. Remember, more people die of heat than all other natural disaster combined. If you're not feeling well, take it seriously.</p>               
                <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(1)">Next question</button>

              </div>
            </div>
          </div>

        <div class="hide mt-4 p-2 leftbar" id="hide1" style="">
          <p><strong>Do any of these describe you?</strong> Certain health conditions and life situations can make you more vulnerable to extreme heat and bad air quality.</p>
          <p>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Heart disease</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Asthma or other breathing condition</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Immunocompromised</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Pregnant</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Diabetic</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Over age 65</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Limited mobility</a>
            <a class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">Socially isolated</a>
            <button type="button" class="btn btn-sm btn-outline-primary mb-1" onclick="next(2)">None of these</button>


          </p>

          <div class="collapse" id="collapse2">
            <div class="fs-md aboutbox">
              <p>Your may be more vulnerable to the harmful effects of extreme heat and bad air quality. Monitor yourself closely, and make a plan to stay safe given the air and temperature conditions.</p>  
              <p><button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(2)">Next question</button></p>

            </div>
          </div>
        </div>

        <div class="hide mt-4 p-2 leftbar" id="hide2">
          <p>The best way to stay safe in hot weather is with air conditioning. <strong>Does your home have air conditioning?</strong></p>

          <button class="btn btn-sm btn-outline-secondary mb-1" onclick="next(3)">
            Yes
          </button>

          <button class="btn btn-sm btn-outline-secondary mb-1" data-toggle="collapse" data-target="#collapseNo" aria-expanded="false" aria-controls="collapseNo">
            No
          </button>


        <div id="accordion">
          <div class="card">
            <div id="collapseNo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body aboutbox fs-md">
                <p>An AC is the most effective way to protect yourself from heat. Right now, we'll look for ways to keep you cool in your apartment, but if those don't work, you can <a href="">get a free AC from the City</a> or <a href="">find a cooling center near you</a>.</p>  
                <p><button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="">Next question</button></p>
              </div>
            </div>
          </div>
        </div>

        </div>

        <div class="hide mt-4 p-2 leftbar" id="hide3">
          <p>Great! You have an air conditioner. What kind of AC do you have?</p>
          <div class="row">
            <div class="col-4">
              <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseCentral" role="button" aria-expanded="false" aria-controls="collapseCentral">Central air</a> 
            </div>
            <div class="col-4">
              <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseWindow" role="button" aria-expanded="false" aria-controls="collapseWindow">Window unit</a>
            </div>
            <div class="col-4">
              <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapsePortable" role="button" aria-expanded="false" aria-controls="collapsePortable">Portable AC</a>
            </div>
            <div class="col-12">
              <div id="ACaccordion">
                  <div class="card">
                      <div id="collapseCentral" class="collapse" aria-labelledby="headingOne" data-parent="#ACaccordion">
                        <div class="card-body aboutbox fs-md">
                          Great! Stay inside.
                          <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(5)">Next question</button>
                        </div>
                      </div>
                    </div>
            
                    <div class="card">
                      <div id="collapseWindow" class="collapse" aria-labelledby="headingTwo" data-parent="#ACaccordion">
                        <div class="card-body aboutbox fs-md">
                          Great! Stay inside. If your AC has a "recirculation mode," turn it on. This will prevent it from pulling in polluted air from outside.
                          <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(4)">Next question</button>
                        </div>
                      </div>
                    </div>
      
                    <div class="card">
                      <div id="collapsePortable" class="collapse" aria-labelledby="headingTwo" data-parent="#ACaccordion">
                        <div class="card-body aboutbox fs-md">
                          Portable.
                          <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next(4)">Next question</button>
                        </div>
                      </div>
                    </div>
      
              </div>
            </div>
          </div>
          
    
        </div>

        <div class="hide mt-4 p-2 leftbar" id="hide4">
          <p>How many rooms are you trying to cool?</p>
          <div class="row">
            <div class="col-4">
              <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseOneRoom" role="button" aria-expanded="false" aria-controls="collapseOneRoom">One room</a> 
            </div>
            <div class="col-4">
              <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseTwoRooms" role="button" aria-expanded="false" aria-controls="collapseTwoRooms">Two rooms</a>
            </div>
            <div class="col-4">
              <a class="btn btn-sm btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#collapseThreeRooms" role="button" aria-expanded="false" aria-controls="collapseThreeRooms">My whole apartment</a>
            </div>

            <div class="col-12" id="roomAccordion">
              <div class="card">
                <div id="collapseOneRoom" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                  <div class="card-body aboutbox fs-md">
                    <p>How many BTUs is your air conditioner? BTU is a measure of how powerful your air conditioner is. Look for a small label somewhere on your air conditioner.</p>
                    <p>A 5,000 BTU air conditioner can effectively cool a room about 100 to 150 square feet - about the size of a small bedroom.</p>
                    <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next()">Next question</button>
                  </div>
                </div>
              </div>

              <div class="card">
                <div id="collapseTwoRooms" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                  <div class="card-body aboutbox fs-md">
                    <p>How many BTUs is your air conditioner? BTU is a measure of how powerful your air conditioner is. Look for a small label somewhere on your air conditioner.</p>
                    <p>A 5,000 BTU air conditioner can effectively cool a room about 100 to 150 square feet - about the size of a small bedroom. Every additional 100 square feet requires 1,000 more BTUs.</p>
                    <p>If you're trying to cool several rooms, make sure your air conditioner is powerful enough.</p>
                    <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next()">Next question</button>
                  </div>
                </div>
              </div>

              <div class="card">
                <div id="collapseThreeRooms" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                  <div class="card-body aboutbox fs-md">
                    <p>How many BTUs is your air conditioner? BTU is a measure of how powerful your air conditioner is. Look for a small label somewhere on your air conditioner.</p>
                    <p>A 5,000 BTU air conditioner can effectively cool a room about 100 to 150 square feet - about the size of a small bedroom. Every additional 100 square feet requires 1,000 more BTUs.</p>
                    <p>If you're trying to cool your whole apartment, you'll probably need several air conditioners to cool down your whole home. If you don't have strong enough air conditioners, you can try to just cool down one room - and spend most of your time there.</p>
                    <button type="button" class="btn btn-sm btn-primary mb-1 float-right" onclick="next()">Next question</button>
                  </div>
                </div>
              </div>


            </div>

          </div>



        </div>

        </div>

        
    </div>
  </div>

</article>

<style>
  .leftbar {
    border-left: 8px solid lightgray
  }
</style>

<script>
  function start() {
    document.getElementById('startquiz').classList.remove('hide')
    document.querySelector(`#symptoms`).scrollIntoView({
      behavior: 'smooth'
  });
  }

  function next(x) {
    var hide = 'hide' + x

    document.getElementById(`${hide}`).classList.remove('hide')
    document.querySelector(`#${hide}`).scrollIntoView({
      behavior: 'smooth'
  });
  }

</script>

{{- end -}}