{{- define "main" -}}

<style type="text/css">hr {
    margin-top: 25px;
    margin-bottom: 25px;
   }

   .greenleftborder {
    border-left: 8px solid #00923E50;
    padding-left: 10px;
}
</style>

<div class="container-fluid px-0">
    <div class="row no-gutters px-0">
        {{ $src := .Resources.GetMatch .Params.image }}
        {{ $image := $src.Resize "1920x"}}
        <div id="datastoryheader" style="background-image: URL({{ $image.Permalink }}); background-position: 50% 25%">
    
            <div class="medium my-auto">
                <h1 class="titleheader py-2 px-4">
                    {{ .Title }}
                </h1>
            </div>
        </div>
    </div>
</div>

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 mr-auto"></div>
    </div>

    <!-- Introduction and Key Findings -->
    <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto">
            <div class="medium mb-2">        
                {{- .Content  -}}
            </div>
    </div>


    <!-- Two-column section -->
    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">
            <hr class="my-2">

            <!-- Methods, pollutants -->
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="greenleftborder">
                        <h3>Methods</h3>
                        {{ .Params.methods | markdownify }}
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <h3>Pollutants Measured</h3>

                    <div class="accordion-group mt-2 mb-3" role="tablist" id="accordion-01">
                        <div class="card accordion-item border">
                            <a class="card-header font-weight-bold collapse" id="acc-button-01" data-toggle="collapse" href="#panel-acc-button-01" role="tab" aria-expanded="false" aria-controls="panel-acc-button-01">
                                <span class="title" role="heading" aria-level="3">Fine Particles</span>
                            </a>
                            <div class="collapse show" id="panel-acc-button-01" role="tabpanel" aria-labelledby="acc-button-01" data-parent="#accordion-01">
                                <div class="card-body bg-white text-black">
                                    <p>
                                        Fine particles (PM<sub>2.5</sub>) are tiny airborne solid and liquid particles less than 2.5 microns in diameter. PM<sub>2.5</sub> is the most harmful urban air pollutant. It is small enough to penetrate deep into the lungs and enter the bloodstream, which can worsen lung and heart disease and lead to hospital admissions and premature deaths. PM<sub>2.5</sub> can either be directly emitted or formed in the atmosphere from other pollutants. Fuel combustion in vehicles, boilers in buildings, power plants, construction equipment, marine vessels and commercial cooking are all common sources of PM<sub>2.5</sub>. Between 20% and 30% of the PM<sub>2.5</sub> in New York City's air comes from sources in areas upwind from the city, such as coal-burning power plants in the Midwest.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card accordion-item border">
                            <a class="card-header font-weight-bold collapse collapsed" id="acc-button-02" data-toggle="collapse" href="#panel-acc-button-02" role="tab" aria-expanded="false" aria-controls="panel-acc-button-02">
                                <span class="title" role="heading" aria-level="3">Black Carbon</span>
                            </a>
                            <div class="collapse" id="panel-acc-button-02" role="tabpanel" aria-labelledby="acc-button-02" data-parent="#accordion-01">
                                <div class="card-body bg-white text-black">
                                    <p>
                                        Black carbon (BC) is one type of PM<sub>2.5</sub> and is the sooty black material emitted from gas and diesel engines, coal-fired power plants and other sources that burn fossil fuels. It comprises up to 20% of fine particulate matter in New York City. Unlike other fine particles, BC is primarily from local sources. Inhalation of BC is associated with health problems, including respiratory and cardiovascular disease, cancer and birth defects. BC also contributes to climate change by altering the patterns of rain and clouds.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card accordion-item border">
                            <a class="card-header font-weight-bold collapse collapsed" id="acc-button-03" data-toggle="collapse" href="#panel-acc-button-03" role="tab" aria-expanded="false" aria-controls="panel-acc-button-03">
                                <span class="title" role="heading" aria-level="3">Nitrogen Dioxide and Nitric Oxide</span>
                            </a>
                            <div class="collapse" id="panel-acc-button-03" role="tabpanel" aria-labelledby="acc-button-03" data-parent="#accordion-01">
                                <div class="card-body bg-white text-black">
                                    <p>
                                        Nitrogen dioxide (NO<sub>2</sub>) and nitric oxide (NO) are part of a group of pollutants called "oxides of nitrogen" (NO<sub>X</sub>). Exposures to NO<sub>X</sub> are linked to increased emergency department visits and hospitalizations for respiratory conditions, particularly asthma. NO<sub>X</sub> also reacts with other compounds in the atmosphere to form PM<sub>2.5</sub> and ozone. A variety of combustion sources produce NO<sub>X</sub> in New York City, including motor vehicles, buildings, marine vessels and construction equipment.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card accordion-item border">
                            <a class="card-header font-weight-bold collapse collapsed" id="acc-button-04" data-toggle="collapse" href="#panel-acc-button-04" role="tab" aria-expanded="false" aria-controls="panel-acc-button-04">
                                <span class="title" role="heading" aria-level="3">Ozone</span>
                            </a>
                            <div class="collapse" id="panel-acc-button-04" role="tabpanel" aria-labelledby="acc-button-04" data-parent="#accordion-01">
                                <div class="card-body bg-white text-black">
                                    <p>
                                        Ozone (O<sub>3</sub>) forms at ground level when NO<sub>X</sub> emissions combine with sunlight and other airborne pollutants. Measured O<sub>3</sub> concentrations are often highest in the summer and downwind from areas with high NO<sub>X</sub> emissions, such as places with high traffic density. In areas with heavy traffic, NO<sub>X</sub> reacts with any ground-level O<sub>3</sub> to reduce O<sub>3</sub> concentrations. As a result, NYCCAS has measured lower O<sub>3</sub> levels near roadways, in city centers and in other areas of high NO<sub>X</sub> emissions density. Higher levels of O<sub>3</sub> are seen in areas away from dense traffic and building emissions.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card accordion-item border">
                            <a class="card-header font-weight-bold collapse collapsed" id="acc-button-05" data-toggle="collapse" href="#panel-acc-button-05" role="tab" aria-expanded="false" aria-controls="panel-acc-button-05">
                                <span class="title" role="heading" aria-level="3">Sulfur Dioxide</span>
                            </a>
                            <div class="collapse" id="panel-acc-button-05" role="tabpanel" aria-labelledby="acc-button-05" data-parent="#accordion-01">
                                <div class="card-body bg-white text-black">
                                    <p>
                                        Sulfur dioxide (SO<sub>2</sub>) is produced mainly by burning oils with high sulfur content, such as No. 4 and No. 6 oil (also known as residual fuel oil), or high-sulfur No. 2 oil. The primary use of fuel oil in NYC is to heat buildings and water, which is why we only monitor it in the winter. Some high-sulfur oil is also used to generate electricity and power marine vessels. SO<sub>2</sub> exposures can worsen lung diseases, causing hospitalizations and emergency department visits for asthma and other respiratory conditions. SO<sub>2</sub> also contributes to the formation of PM<sub>2.5</sub> in the atmosphere, resulting in PM<sub>2.5</sub> exposures downwind of SO<sub>2</sub> emissions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-2">

            <!-- NYCCAS sites -->
            <div class="row">
                <div class="col-sm-6 col-cx-12">
                    <div class="greenleftborder">
                        <h3>NYCCAS Sites</h3>

                        {{ .Params.nyccasSites | markdownify }}

                    </div>
                </div>
                <div class="col-sm-6 col-cx-12">
                    <iframe src="embed/nyccas-sites-leaflet.html" frameborder="no" style="width: 100%; height: 550px"></iframe>
                </div>

            </div>

            <hr class="my-2">

        </div>
    </div>

    <!-- single column -->
    
    <!-- Pollutant maps: text to FMV, maps to template -->

    <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto">
            <h2>Pollutant Maps</h2>
            <img src="NyccasInstall_red.jpg" alt="NYCCAS installation" align="right" style="width:50%;" class="my-2 pl-2"> 
            {{ .Params.pollutantMaps | markdownify }}

            {{ partial "nyccas_pollutant_maps" . }}

            <hr>
        </div>
    </div>

    <!-- Pollutant trends --> 
    <div class="row mt-4">
        <div class="col-md-8 col-sm-12 mx-auto">
            <h2>Pollutant Trends</h2>
            {{ .Params.pollutantTrends | safeHTML }}
            <hr>

            {{ partial "nyccas_pollutant_trends" . }}

            
        </div>
    </div>


    <!-- Pollutant predictors: template -->
    <div class="row mt-4">
        <div class="col-md-8 col-sm-12 mx-auto">
            <h2>Pollutant Predictors</h2>
            {{ .Params.pollutantPredictors | safeHTML }}

            <hr>

            {{ partial "nyccas_pollutant_table" . }}

        </div>
    </div>

    <!-- Conclusion and more info -->
    <div class="row my-2">
        <div class="col-sm-8 mx-auto col-xs-12">
            <h2>Conclusion</h2>
            {{ .Params.conclusion | safeHTML }}
            <hr>
            <div class="greenleftborder mb-4">
                <strong>More information</strong>
                {{ .Params.moreInfo | safeHTML }}
                </div>

        </div>
    </div>





</article>

{{- end -}}