{{ define "main" }}


<style>
    #map {
        height: 400px;
        width: 600px;
        max-width: 100%;
        max-height: 100%;
    }
    
    leaflet-tooltip-box {
        border: 1px solid
    }

</style>

{{/*  main content  */}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4 pl-0">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/airquality/">Air Quality</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="row">
        <div class="col-md-7 col-sm-12 pl-0 ml-auto">
                <h2><i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>
                    {{ .Title }}</h2>
        
                {{ .Content}}
    
        </div>

        <div class="col-md-4 mr-auto my-4">
            <div class="aboutbox">
                <strong>About the Data</strong>
                <p>Data are hourly measurements of PM2.5, in micrograms per cubic meter of air (µg/m<sup>3</sup>).</p>
    
                <p>Data come from the NYCCAS near-real-time monitor network. External factors can sometimes affect monitor functioning; these data are preliminary and subject to change. <a href="https://github.com/nychealth/realtime-air-quality" target="_blank">Download these data on Github</a>.</p>
            </div>

            
             </div>


    </div>

    {{/* map + chart */}}

    <!-- location selection buttons -->
    
    <div class="row no-padding mt-4 mb-0">
        
        <div class="col-12 ml-auto">

            <button onclick="restore()" type="button" id="btnrestore" class="mb-1 selectorbtn btn btn-sm btn-dark">
                Reset</button>
            
            <button onclick="changeData(0)" type="button" id="btn0" class="mb-1 selectorbtn btn btn-sm btn-outline-secondary no-underline">
                <span style="color: purple">
                    <i class="fas fa-square mr-1"></i>
                </span>
                Cross Bronx Expy</button>
            
            <button onclick="changeData(1)" type="button" id="btn1" class="mb-1 selectorbtn btn btn-sm btn-outline-secondary no-underline">
                <span style="color: red">
                    <i class="fas fa-square mr-1"></i>
                </span>
                Queensboro Bridge</button>
                
            <button onclick="changeData(2)" type="button" id="btn2" class="mb-1 selectorbtn btn btn-sm btn-outline-secondary no-underline">
                <span style="color: limegreen">
                    <i class="fas fa-square mr-1"></i>
                </span>
                Manhattan Bridge</button>
            
            <button onclick="changeData(3)" type="button" id="btn3" class="mb-1 selectorbtn btn btn-sm btn-outline-secondary no-underline">
                <span style="color: orange">
                    <i class="fas fa-square mr-1"></i>
                </span>
                Queens College</button>
            
            <button onclick="changeData(4)" type="button" id="btn4" class="mb-1 selectorbtn btn btn-sm btn-outline-secondary no-underline">
                <span style="color: blue">
                    <i class="fas fa-square mr-1"></i>
                </span>
                Williamsburg Bridge</button>
            

            <button onclick="changeData(5)" type="button" id="btn5" class="mb-1 selectorbtn btn btn-sm btn-outline-secondary no-underline">
                <span style="color: violet">
                    <i class="fas fa-square mr-1"></i>
                </span>
                Broadway/35th St</button>
            

            <div id="numberinput" class="float-right pt-1"
            style="font-size: 12px;">
                <label for="inputNum" style="display:inline-block; font-size: 12px;">Show last</label>
                <input inputmode="numeric" pattern="[0-9]*" type="number" style="display:inline-block" id="inputNum" name="inputNum" min="1" max="7">
                days.
                </form>
            </div>

        </div>
        
    </div>
    
    <!-- map element -->
    <div class="row align-self-center">
        <div class="col-md-4 mt-2 pt-0">
            <div id="map">
            </div>
        </div>
        
        <!-- chart element -->
        <div class="col-md-8">
            <div class="row">
                <div class="col pl-2 mt-1">
                    <em class="pl-2">Hourly PM2.5 measurements (in µg/m<sup>3</sup>)</em>
                    <div id="vis2" style="width: 100%; height: 400px;" class="mt-1">
                        
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <!-- last 24-hour info box -->
            <div class="infobox" id="locInfoBox" style="display:none">
                <div id="locInfoDesc">
                    
                    <div class="col mx-1">
                        <p>Most recent 24-hour average reading by this monitor: <span class="badge badge-primary badge-custom badge-custom-dark"><span id="24av">n/a</span> µg/m3</span>. This is <span id="comparison" class="badge badge-primary badge-custom">N/A</span> the <a href="https://www.epa.gov/criteria-air-pollutants/naaqs-table">national standard</a> of 35 µg/m3 for 24 hours. <span id="goodBad" class="badge badge-primary badge-custom"></span></p>                                    
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

    <div class="container">
    
    <div class="row px-0">
    
    <div class="row mt-4">

    <div class="col-md-6">
        <h3>Air quality varies because sources vary</h3>
        <p>In New York City, about 45% of PM2.5 comes from far-away sources, like coal-burning power plants
            in the Midwest. But more than half comes from <b>local sources</b>. </p>

        <div class="card content-card mb-4">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="fas fa-building mr-1" aria-hidden="true"></i>Buildings
                    </h4>
                    <p>Building density affects a neighborhood's air quality because like vehicles, buildings
                        burn fuel and emit pollutants: their boilers burn oil and gas to produce heat and hot
                        water. This is one reason we often see more air pollution in the winter. Because of new heating oil regulations, PM2.5 has gone down dramatically, and SO2 levels
                        are now indetectable. <a href="https://nyccas.cityofnewyork.us/report">Read more at
                            the NYCCAS annual report</a>. </p>
    
                    <h4 class="card-title"><i class="fas fa-industry mr-1" aria-hidden="true"></i>Industrial area
                    </h4>
                    <p> Industrial areas affect a neighborhood's air quality because of diesel exhaust from
                        trucks idling and traveling through industrial areas, and from industrial combustion
                        equipment.</p>
    
                    <h4 class="card-title"> <i class="fas fa-car mr-1" aria-hidden="true"></i>Traffic</h4>
                    <p> Traffic density affects a neighborhood's air quality because engines produce PM2.5,
                        black carbon, and NOx. While electric vehicles help reduce emissions, all vehicles also
                        contribute to PM2.5 through tire wear and braking. Traffic volume is one reason we often
                        see daily spikes in PM2.5 concentration in the mornings and evenings.</p>
    
                    <h4 class="card-title"><i class="fas fa-truck mr-1" aria-hidden="true"></i>Trucks</h4>
                    <p>Truck traffic density affects a neighborhood's air quality because diesel combustion
                        produces additional pollutants.</p>
                </div>
            </div>

        </div>
    </div>
    
    <div class="col-md-6">
        <h3>Common patterns in the data</h3>
        <p>There are several patterns that commonly show up in the data from our air quality monitors. Look at the recent data and see if you can spot:</p>
        
        <div class="card content-card mb-4">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-map-signs mr-1" aria-hidden="true"></i>Spatial differences</h4>
                    <p>The monitors are in neighborhoods with different emissions sources, so have
                        different PM2.5 levels. <span style="color:rgb(109, 109, 109)"><b>Midtown</b></span>, which has
                        the highest traffic density, usually has the most PM2.5. </p>
    
                    <h4 class="card-title"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>Daily spikes
                    </h4>
                    <p>PM2.5 levels usually rise in the morning as traffic volume increases. These
                        <em>temporal</em> differences (time spikes) are usually greater than
                        <em>spatial</em> differences (the differences between neighborhoods).</p>
    
                    <h4 class="card-title"> <i class="fas fa-cloud-showers-heavy mr-1" aria-hidden="true"></i>Weather patterns</h4>
                    <p> Weather can trap emissions and cause PM2.5 to build up. Sometimes we see a
                        clear west-to-east pattern in rising PM2.5, likely related to a weather
                        pattern moving into New York City and causing pollution levels to rise as
                        emissions are trapped.</p>
    
                    <h4 class="card-title"><i class="fas fa-exclamation-triangle mr-1" aria-hidden="true"></i>Other spikes</h4>
                    <p>Sometimes there are dramatic, short-term spikes
                        at unexpected times, and without having a camera on each monitor, we don't
                        know what causes them. However, they can be explained by something as
                        simple as a truck idling for a few minutes underneath the monitor.</p>
                </div>
            </div>

        </div>
    </div>

</article>

<!-- color name to hex converter -->
<!-- from https://gist.github.com/njvack/02ad8efcb0d552b0230d -->
{{ $color_convert := resources.Get "js/color-convert.js" }}
<script src="{{ $color_convert.Permalink }}"></script>

<!--bring in realtime JS -->
<script type="text/javascript" src="js/realtime.js"></script>

{{end}}