{{- define "main" -}}

<style>
    #map {
        height: 400px;
        width: 600px;
        max-width: 100%;
        max-height: 100%;
    }
    
    leaflet-tooltip-box {
        border: 1px solid
    }

</style>

{{/*  main content  */}}

<article class="container-fluid" id="skip-header-target">

    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/airquality/">Air Quality</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/airquality/realtime/">Real-Time Air Quality</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Params.shortTitle }}</li>
                </ul>
            </nav>

            <h1 class="h2" data-pagefind-weight="10.0">
                <i class="fas fa-star" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}
            </h1>

                {{ .Content }}


        </div>

    </div>

    <div class="row my-4">
        <div class="col-md-11 mx-auto">
            <h2 class="h4">Download</h2>
            <p>To download data, choose the month, year, and data format (JSON or CSV) below.</p>

            <div class="row">
                <div class="col-md-2 col-sm-6 ml-auto h-100">

                    <div class="form-group border p-1 h-100" role="group" aria-labelledby="select-a-year">

                        <p class="label home-label font-weight-bold" id="select-a-year">
                            Select year</p>

                        <ul class="extensible-list" id="yearList">
                        </ul>

                    </div>


                </div>

                <div class="col-md-3 col-sm-6 mr-auto h-100">
                    <div class="border p-1 h-100" >
                        <p class="home-label font-weight-bold">Select month:</p>
                        <select id='months' onchange="changeMonth()">
                            <option value=''>-- Select Month --</option>
                            <option value='1'>January</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select> 

                    </div>

                    <div class="form-group border p-1 my-2" role="group" aria-labelledby="select-a-format">

                        <p class="label home-label font-weight-bold" id="select-a-format">
                            Select file format</p>

                        <ul class="extensible-list" id="formatList">
                            <li>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input format-radio" id="csv" name="format-radio" required="" value="csv" checked>
                                    <label class="custom-control-label" for="csv">CSV</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input format-radio" id="json" name="format-radio" required="" value="json">
                                    <label class="custom-control-label" for="json">JSON</label>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-7 col-sm-12 h-100">
                    <div class="border p-1 h-100">
                        <span class="home-label font-weight-bold">Data File URL:</span><br>
                        <div class="text-secondary mb-1 border p-1" id="targetURL" style="width:100%; overflow-x: hidden;">URL Goes Here</div>
                        <p class="fs-sm">This URL format can be used to access any available month of data, by specifying the year, month, and format.</p>

                        <button class="btn btn-outline-primary" onclick="copyURL()"><i class="fas fa-copy mr-1" aria-hidden="true"></i><span id="copied">Copy URL</span></button>

                        <a class="btn btn-info float-right ml-1" href="#" id="downloadLink"><i class="fas fa-download mr-1" aria-hidden="true"></i>Download data</a>

                        <div class="dropdown d-inline-block mb-2 float-right">
                            <a class="btn btn-outline-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Site info
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a  class="dropdown-item"  href="https://azdohv2staticweb.blob.core.windows.net/$web/hist/csv/location.csv">Download as CSV</a> 
                                <a class="dropdown-item" href="https://azdohv2staticweb.blob.core.windows.net/$web/hist/json/location.json">Download as JSON</a>
                            </div>
                          </div>

                          <p class="mt-2 text-end"><span class="home-label font-weight-bold">Site info:</span> <span class="fs-sm">This file contains information about the <code>SiteID</code> field in the data files. </span></p>

                    </div>

                </div>

            </div>

        </div>
    </div>



</article>



<script>
// Set earliest available data
var earliestDate = {
    "year": 2019,
    "month": 10
}

// get today's date values
const date = new Date();
let thisMonth = date.getMonth() + 1;
let availMonth = date.getMonth()
let thisYear = date.getFullYear();

// set up defaults
var chosenMonth = availMonth
document.getElementById('months').value = availMonth
var chosenYear = thisYear
var chosenFormat = 'csv'
var downloadURL = 'https://azdohv2staticweb.blob.core.windows.net/$web/hist/' + chosenFormat + '/' + chosenYear + '/' + chosenMonth + '/hourlyMonitoring.' + chosenFormat


// loop through earliestDate.year through thisYear and create year options

for (let i = earliestDate.year; i < (thisYear + 1); i ++) {
    var element = `
        <li>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input year-radio" id="${i}" name="year-radio" required="" value="${i}">
                <label class="custom-control-label" for="${i}">${i}</label>
            </div>
        </li>
    `
    var parent = document.getElementById('yearList')
    parent.innerHTML += element
}


function updateURL() {
    document.getElementById(chosenYear).checked = true
    downloadURL = 'https://azdohv2staticweb.blob.core.windows.net/$web/hist/' + chosenFormat + '/' + chosenYear + '/' + chosenMonth + '/hourlyMonitoring.' + chosenFormat
    document.getElementById('targetURL').innerHTML = downloadURL
    document.getElementById('downloadLink').setAttribute('href',downloadURL)

    console.log('Month, year, and format:',chosenMonth, chosenYear, chosenFormat)

    // if 2019, inactivate anything before earliestDate.month
    if (chosenYear == earliestDate.year && chosenMonth < earliestDate.month) {
        alert('We do not have data before October 2019. Please select a different month.')
    } else {}

    // if 2023, inactivate anything after last month
    if (chosenYear == thisYear && chosenMonth > availMonth) {
        alert('You cannot download data for present or future months. Please select a month in the past.')
    } else {}

}

updateURL()



// Event Listener on Year List, update chosenYear
var yearRadios = document.querySelectorAll('.year-radio')
for (i = 0; i < yearRadios.length; i++) {
    yearRadios[i].onclick = function() {
        chosenYear = this.value
        updateURL()
    }
}

// update Month from dropdown list
function changeMonth() {
    var e = document.getElementById("months");
    var value = e.value;
    chosenMonth = value
    updateURL()
}


// Event listener on Format List, update chosenFormat
var formatRadios = document.querySelectorAll('.format-radio')
for (i = 0; i < formatRadios.length; i++) {
    formatRadios[i].onclick = function() {
        chosenFormat = this.value
        updateURL()
    }
}


function copyURL() {
    navigator.clipboard.writeText(downloadURL)
    document.getElementById('copied').innerHTML = "Copied!"
}




</script>


{{- end -}}