{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    
    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 mx-auto mb-4">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Content }}</p>

                    <div class="row">
                        <div class="col-5 ml-auto border">
                            <input type="range" min="2011" max="2021" value="2011" class="slider" id="input">
                    
                        <div id="map"></div>

                        </div>

                        <div class="col-5 mr-auto">
                            Year: <span id="yearOutput">2011</span><br>
                            Citywide average: <span id="citywide">XX %</span>

                            <div class="border" style="height: 300px; width: 100%;">
                                Bar chart that also increases
                            </div>
                        </div>
                    </div>

        </div>
        
    </div>

    <script>
        var slider = document.getElementById('input')
        slider.addEventListener("input",function() {
            document.getElementById('yearOutput').innerHTML = slider.value
        })

        // Ingest full file using d3.csv
        var fullData;

        // read value from event listener; filter object to selected year

        // deliver citywide value to page, too

        // send data object to spec.

        // calculate extent based on min and max values in object. 

        var spec = {
            "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
            "width": "container",
            "height": "container",
            "autosize": {"type": "fit", "contains": "padding"},
            "config": {"view": {"stroke": "transparent"}},
            "layer": [
              {
                "data": {
                  "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/UHF42.topo.json",
                  "format": {"type": "topojson", "feature": "collection"}
                },
                "mark": {"type": "geoshape", "stroke": "#ffffff", "fill": "lightgray"}
              },
              {
                "data": {
                  "url": "https://raw.githubusercontent.com/nychealth/EHDP-data/production/geography/UHF42.topo.json",
                  "format": {"type": "topojson", "feature": "collection"}
                },
                "transform": [
                  {
                    "lookup": "properties.GEOCODE",
                    "from": {
                      "data": {"url": "https://gist.githubusercontent.com/mmontesanonyc/388af4b42df220855c275cf3797ceb60/raw/5bf9fd4da826003ba571fc3588c887b2300cacf5/restaurant-data.csv"},
                      "key": "GeoID",
                      "fields": ["GeoID", "Geography", "Percent","Note","Time"]
                    },
                    "default": "no data"
                  },
                  { "filter": "datum.Time == 2011"}
                ],
                "mark": {"type": "geoshape", "stroke": "#ffffff"},
                "encoding": {
                  "color": {
                    "bin": false,
                    "field": "Percent",
                    "type": "quantitative",
                    "legend": null,
                    "scale": {"scheme": {"name": "blues", "extent": [0.25, 0.75]}}
                  },
                  "strokeWidth": {"condition": [], "value": 0.5},
                  "tooltip": [
                    {"field": "Geography", "type": "nominal", "title": "Neighborhood"},
                    {"field": "Percent", "type": "quantitative", "title": "Percent of restaurants with A grades"},
                    {"field": "Time", "type": "quantitative", "title": "Year"}
                  ]
                }
              }
            ]
          }

          vegaEmbed("#map",spec)
    </script>

    <style>

        #map {
            width: 100%;
            max-height: 450px;
        }
        
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            background: #ffffff;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #04AA6D;
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #04AA6D;
            cursor: pointer;
          }
        </style>


    <div class="row my-4">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col-6">
                    <a href="https://a816-health.nyc.gov/ABCEatsRestaurants/#!/Search" class="button btn btn-lg btn-block btn-outline-primary mb-4" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link mr-1"></i>ABCEats: Restaurants</a>
                </div>
                <div class="col-6">
                    <a href="https://a816-dohbesp.nyc.gov/IndicatorPublic/mobilefoodvending/" class="button btn btn-lg btn-block btn-outline-primary mb-4" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link mr-1"></i>Mobile Food Vending Map</a>
                </div>
            </div>
        </div>
    </div>
    
    
</article>

{{- end -}}