{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    
    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 mx-auto mb-4">
                    <h2>{{ .Title }}</h2>
                    <img src="ds-foodletter.jpg" style="width:20%" class="float-right">
                    <p class="">{{ .Content }}</p>




                    <div class="row mt-4" style="clear:both">
                      
                      <!-- Control and output column --> 
                      <div class="col-6">
                        <div class="row mb-4">
                          <div class="col-12">
                            <h2 class="home-label border-bottom">Select a year</h2><br>
                          </div>
    
                          <div class="col-4">
                            <button type="button" class="btn btn-outline-secondary btn-block float-right" onclick="changeYear(-1)" id="downButton" disabled><i class="fas fa-arrow-circle-left h3 mx-2 pt-1"></i></button>
                          </div>
                          <div class="col">
                            <h3 id="year" class="text-center pt-1 font-weight-bold" style="font-size:2.5rem">2011</h3>
                          </div>
                          <div class="col-4">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="changeYear(1)" id="upButton"><i class="fas fa-arrow-circle-right h3 mx-2 pt-1"></i></button>
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-12 fs-lg">

                            <div class="row my-2">
                              <div id="lineVis" style="width:100%;height:200px;" class="px-1">

                              </div>

                            </div>

                          <p>Overall, <span id="citywide" class="font-weight-bold">XX %</span> of restaurants in NYC received A grades in <span id="year3" class="font-weight-bold">2011</span>. The lowest neighborhood had <span id="lowest" class="font-weight-bold">XX%</span> get A grades, and the highest had <span id="highest" class="font-weight-bold">ZZ%</span> get A grades.</p>

                          <p class="fs-md"><em><span id="2020note"></span></em></p>

                          <hr class="my-2">

                          <a href="../../../data-explorer/restaurant-food-safety/" class="button btn btn-md btn-block btn-outline-primary"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>Full dataset</a>

                          <a href="https://a816-health.nyc.gov/ABCEatsRestaurants/#!/Search" class="button btn btn-md btn-block btn-outline-primary" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link mr-1"></i>Restaurant inspection results</a>

                          <a href="../restaurant-inspection-checklist/" class="button btn btn-md btn-block btn-outline-primary mb-4">Restaurant inspection checklist</a>
                        
                            
                          </div>
                        </div>
                      </div>

                        <!-- map and bar column -->
                        <div class="col-6" style="max-height: 850px;">
                    
                        <h2 class="home-label border-bottom">Percent of restaurants with A grades (<span id="year2">2011</span>)</h2>

                        <div id="map"></div>

                        </div>

                    </div>

        </div>
        
    </div>

    <script>
        
        // set year default
        var year = '2011' 

        // set gray overlay defaults:
        var lower = 1277956800000 // 2010.5
        var mid = 1293840000000 // value for 2011
        var upper = 1309492800000 // 2011.5; one year: 31536000000; 1/2 year: 15768000000

        // changeYear runs on button click
        function changeYear(x) {
          year = Number(year);
          year = year + x

          // run interactions
          if (year < 2011) {
            year = 2011
          } else if (year == 2011) {
            document.getElementById('downButton').disabled = true
          } else if (year > 2020) {
            year = 2020
          } else if (year == 2020) {
            document.getElementById('upButton').disabled = true
            document.getElementById('2020note').innerHTML = 'Data for 2020 are through 3/31/2020 only.'
          } else {
            document.getElementById('downButton').disabled = false
            document.getElementById('upButton').disabled = false
          }
          console.log('year is:' + year)
          document.getElementById('year').innerHTML = year
          document.getElementById('year2').innerHTML = year
          document.getElementById('year3').innerHTML = year
          year = year.toString()
          spec.transform[0].filter = `datum.Time == ${year}` // update spec with chosen year
          vegaEmbed("#map", spec) // re-run map
          updateValues(year)

          // get date for overlay
          var date = year + '/01/01'
          date = Math.floor(new Date(date).getTime())
          console.log(date)
          lower = date - 15768000000
          upper = date + 15768000000
          line.layer[1].encoding.x.datum = lower;
          line.layer[1].encoding.x2.datum = upper;
          vegaEmbed('#lineVis', line)

        }

        // ingest data for filtering and page printing
        var fullData = [];
        var partData = [];
        var uhfData = [];
        var cityValue = [];
        d3.csv('resto-data-full.csv').then(data => {
          fullData = data;
          // console.log(fullData)
          updateValues(year)
        })

        // updateValues runs on button click, and updates page-printed values
        function updateValues(x) {
          // console.log('to filter for:' + x)
          partData = fullData.filter(row => row.Time == year)
          // console.log(partData)

          // get Citywide Value
          cityValue = partData.filter(row => row.GeoTypeDesc == 'Citywide')
          document.getElementById('citywide').innerHTML = cityValue[0].Percent + '%'

          // get lowest value
          const lowValue = partData.reduce(
            (acc, loc) =>
              acc.Percent < loc.Percent
              ? acc
              : loc
          )
          document.getElementById('lowest').innerHTML = lowValue.Percent + "%"

          // get highest value
          const highValue = partData.reduce(
            (acc, loc) => 
              acc.Percent > loc.Percent
              ? acc
              : loc
          )
          document.getElementById('highest').innerHTML = highValue.Percent + "%"

          // get median
          uhfData = partData.filter(row => row.GeoTypeDesc == 'UHF 42')
          // console.log('uhf data:')
          // console.log(uhfData)
          var valuesArray = [];
          for (let i = 0; i < uhfData.length; i++) {
            valuesArray.push(uhfData[i].Percent);
          }

          valuesArray.sort(function(a,b) {
            return a - b;
          })
          // console.log(valuesArray)
          valuesArray.splice(0,20) // remove first 21 values
          // document.getElementById('median').innerHTML = valuesArray[0] + '%'
        }


        // initial chart spec, updated and re-printed on year change
        var spec = {
          "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
          "width": "container",
          "data": {
            "url": "resto-data-full.csv",
            "format": {
              "type": "csv",
              "parse": {
                "Value": "number"
              }
            }
          },
          "transform": [
            {"filter": `datum.Time == ${year}`},
            {"filter": "datum.GeoTypeDesc === 'UHF 42'"}
          ],
          "params": [
            {"name": "highlight", "select": {"type": "point", "on": "mouseover"}}
          ],
          "projection": {"type": "mercator"},
          "vconcat": [
            {
              "height": 450,
              "width": "container",
              "mark": {"type": "geoshape", "stroke": "#000000"},
              "encoding": {
                "shape": {"field": "geo", "type": "geojson"},
                "color": {
                  "bin": false,
                  "field": "Percent",
                  "type": "quantitative",
                  "scale": {
                    "domain": [61.9, 98],  // Hardcoded domain values 
                    "range": ["#d8e7f3", "#230798"]  // Corresponding colors 
                  },
                  "legend": {
                    "orient": "top",
                    "title": "",
                    "labelExpr": "datum.value + '%'"
                  }
                },
                "strokeWidth": {
                  "condition": [{"param": "highlight", "empty": false, "value": 2}],
                  "value": 0.5
                },
                "tooltip": [
                  {"field": "Geography", "type": "nominal", "title": "Neighborhood (UHF42)"},
                  {"field": "Percent", "type": "quantitative", "title": "Percent of restaurants with A grades"},
                  {"field": "Time", "type": "quantitative", "title": "Year"}
                ]
              },
              "transform": [
                {
                  "lookup": "GeoID",
                  "from": {
                    "data": {
                      "url": "https://raw.githubusercontent.com/nycehs/NYC_geography/master/UHF42.topo.json",
                      "format": {"type": "topojson", "feature": "collection"}
                    },
                    "key": "properties.GEOCODE"
                  },
                  "as": "geo"
                }
              ]
            },
                {
              "height": 150,
              "width": "container",
              "mark": {"type": "bar", "tooltip": true, "stroke": "#000000"},
              "encoding": {
                "y": {
                  "field": "Percent", 
                  "type": "quantitative", 
                  "title": null,
                  "axis": {
                    "grid": true,
                    "tickCount": 3,
                    "labelExpr": "datum.value + '%'"
                  },
                  "scale": {"domain": [0, 100]}
                },
                "tooltip": [
                  {"field": "Geography", "type": "nominal", "title": "Neighborhood (UHF42)"},
                  {"field": "Percent", "type": "quantitative", "title": "Percent of restaurants with A grades"},
                  {"field": "Time", "type": "quantitative", "title": "Year"}
                ],
                "x": {"field": "GeoID", "sort": "y", "axis": null},
                "color": {
                  "bin": false,
                  "field": "Percent",
                  "type": "quantitative"
                },
                "strokeWidth": {
                  "condition": [{"param": "highlight", "empty": false, "value": 2}],
                  "value": 0.5
                }
              }
            }
          ]
        }

        // initial embedding of the map
        vegaEmbed("#map", spec)

        /*
        // Event listener for the slider
        var slider = document.getElementById('input')
        slider.addEventListener("input",function() {
            document.getElementById('yearOutput').innerHTML = slider.value
            year = slider.value
            spec.transform[0].filter = `datum.Time == ${year}` // update spec with chosen year
            vegaEmbed("#map", spec) // re-run map
        })
        */

        // Line vis
        var line = {
          "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
          "height": 150,
          "width": "container",
          "title": {
            "text": "Percent of restaurants with A grades",
            "fontSize": 12,
            "align": "left",
            "anchor": "start"
          },
          "config": {
          "bar": {"continuousBandSize": 1},
          "background": "#FFFFFF",
          "axisX": {
            "domain": true,
            "labels": true,
            "grid": false,
            "labelFontSize": 8,
            "tickColor": "#000000",
            "tickSize": 2,
            "titleFontSize": 12
          },
          "axisY": {
            "domain": false,
            "labelFlush": true,
            "labels": true,
            "grid": true,
            "ticks": false,
            "titleAngle": 0,
            "titleX": 20,
            "titleY": -10
          },
          "view": {"stroke": "transparent"}
        },
          "data": {
            "url": "resto-data-full.csv",
            "format": {
              "type": "csv", 
              "parse": {
                "Value": "number"}
              }
          },
          "transform": [
            {"filter": "datum.GeoTypeDesc === 'Citywide'"}
          ],
          "layer": [
            {
                "mark": {
            "type": "line", 
            "tooltip": true,
            "strokeWidth": 3,
            "interpolate": "monotone",
            "point": {"filled": false, "fill": "white"}
            },
          "encoding": {
            "y": {
              "field": "Percent",
              "type": "quantitative",
              "title": "",
              "axis": {
                "grid": true,
                "tickCount": 3,
                "labelExpr": "datum.value + '%'"
              },
              "scale": {"domain": [60, 100]}
            },
            "x": {
              "field": "Time", 
              "type": "temporal",
              "title": "",
              "scale": {"domain": [1262322000000, 1609477200000]}

              },
              "tooltip": [
                {"field": "Percent", "type": "quantitative", "title": "Percent of restaurants with A grades"}
              ]
          }
            },
            {
                "mark": "rect",
                "encoding": {
                  "x": {"datum": `${lower}`, "type": "temporal"},
                  "x2": {"datum": `${upper}`, "type": "temporal"},
                  "opacity": {"value": 0.02},
                  "color": {"value": "gray"}
                }
              }
          ]
        }

        vegaEmbed('#lineVis', line)

    </script>

    <style>

        #map {
            width: 100%;
            max-height: 450px;
        }
        
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            background: #ffffff;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #04AA6D;
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #04AA6D;
            cursor: pointer;
          }

          #vg-tooltip-element {
            width: 300px;
          }
        </style>
    
</article>

{{- end -}}