{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    
    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 mx-auto">
                    <h2 id="top">{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
        </div>
        
    </div>

    <div class="row mb-4">
        <div class="col-md-5 ml-auto">
            <div id="map" class="border">
            </div>
        </div>

        <div class="col-md-6 mr-auto">
                <div class="row border-top mb-2">    
                    <div class="col-6">
                        <p><span class="home-label">Zone:</span><br>
                            <span id="zoneName" class="fwm">&nbsp;</span></p>
                    </div>
    
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(0)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Total Inspections (2022):</span><br>
                            <span id="totalInspections" class="fwm">&nbsp;</span></p>
            
                    </div>
                </div>

                <div class="row border-top my-2">
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(1)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">City agency referral:</span><br>
                            <span id="agency" class="fwm">&nbsp;</span></p>
                    </div>
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(2)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Abatement order:</span><br>
                            <span id="cota" class="fwm">&nbsp;</span></p>
                    </div>
    
                </div>
    
                <div class="row border-top my-2">
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(3)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Failed compliance inspection:</span><br>
                            <span id="failed" class="fwm">&nbsp;</span></p>
                    </div>
    
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(3)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Passed compliance inspection:</span><br>
                            <span id="passed" class="fwm">&nbsp;</span></p>
                    </div>
                </div>
    
                <div class="row border-top my-2">
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(5)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Visits by DOHMH exterminator:</span><br>
                            <span id="exterminator" class="fwm">&nbsp;</span></p>
                    </div>
    
                    <div class="col-6">
                        <p><a href="#top" onclick="showInfo(6)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Visits with bait applied:</span><br>
                            <span id="bait" class="fwm">&nbsp;</span></p>
                    </div>
                </div>

            <div class="row border-top border-bottom mt-4 mb-2">
                <div class="col-12">
                    <strong>Complaints:</strong>
                </div>
                <div class="col-6">
                    <p><span class="home-label">Rodent conditions:</span>
                        <span id="attracting" class="fwm"></span></p>
                </div>
                <div class="col-6">
                    <p><span class="home-label">Mouse sighting:</span>
                        <span id="mouse" class="fwm"></span></p>
                </div>
                <div class="col-6">
                    <p><span class="home-label">Rat sighting:</span>
                        <span id="rat" class="fwm"></span></p>
                </div>
                <div class="col-6">
                    <p><span class="home-label">Rodent bite:</span>
                        <span id="bite" class="fwm"></span></p>
                </div>
                <div class="col-6">
                    <p><span class="home-label">Rodent signs:</span>
                        <span id="signs" class="fwm"></span></p>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-12 px-1" id="info" style="border-left: 8px solid #841972 !important;">

                </div>
            </div>

        </div>

    </div>

    <div class="row my-4">
        <div class="col-md-11 mx-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="border p-2">
                        <h4>Rat Mitigation Zones</h4>
                        <p>New York City has a robust approach to rat control. Areas with high levels of rat activity are designated as Rat Mitigation Zones (RMZs) allowing the City to focus a data-driven, coordinated, multiagency effort there to address rats and the conditions that cause them.</p>
    
                        <p>In Rat Mitigation Zones, The Health Department and several other City agencies work together to improve neighborhood sanitation by eliminating the food, water and habitat that rats need to survive. The goal is to address the underlying conditions that support rat colonies, while also employing traditional rat control measures. By dramatically reducing the available habitats and food sources in targeted areas, the numbers of rats will decline.</p>
                    </div>

                
                </div>

                <div class="col-md-6">
                    <div class="border p-2">
                        <h4>Are you in an RMZ? Here's what you need to know.</h4>
                        <p>If you live or work in an RMZ, you can expect more frequent inspections for rats and the conditions that attract them. The Health Department will worki with the Departments of Parks, Education and the NYC Housing Authority to address rat conditions on city owned property.  Visit  <a href="https://www.nyc.gov/rats">www.nyc.gov/rats</a> for information and resources on how to address rats at your home or business, or to <a href="https://www.nyc.gov/site/doh/services/rats-control-training.page">sign up for a free Rat Academy training</a>.</p>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h4>Inspection data:</h4>
                    <iframe title="2022 RMZ data" aria-label="Table" id="datawrapper-chart-5uPau" src="https://datawrapper.dwcdn.net/5uPau/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="271" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
                    </script>
        
                    <h4 class="mt-4">Complaint data</h4>
                    <iframe title="2022 rodent-related complaint data" aria-label="Table" id="datawrapper-chart-KQXDt" src="https://datawrapper.dwcdn.net/KQXDt/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="290" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
                    </script>
                </div>
            </div>


        </div>



    </div>



<style>
    #map {
        height: 600px;
        max-width: 100%;
        max-height: 100%;
    }

    .fwm {
        font-weight: 600
    }

    .misc-holder {
    border-left: 5px solid lightgray;
    padding-left: 5px;
    }
</style>
    
</article>

<!--bring in rmz JS -->
<script type="text/javascript" src="rmz.js"></script>

<script>
function showInfo(x) {
    var content;
    
    if (x == 0) {
        content = '<strong>Inspections:</strong> Inspections may be initiated by the Health Department, or in response to a 311 complaint about rat activity or conditions.'
    } else  if (x == 1) {
        content = '<strong>City agency referral:</strong> When property owned by a city, state, or federal entity fails an inspection for rat activity or conditions conducive to rats, the Health Department sends a letter informing them of conditions and asking them to take action to remediate the conditions.'
    } else if (x == 2) {
        content = `<strong>Abatement orders:</strong> When private property fails an inspection, the Health Department sends the owner a notice that they are in violation of the Health Code and orders them to address the conditions. The letter details the findings and includes guidance on how to fix problems.`
    } else if (x == 3) {
        content = `<strong>Compliance inspections</strong> are done at properties that fail initial inspections, approximately 2 to 3 weeks after the abatement order is mailed to the owner (owners can request additional time to remediate the conditions). If a property fails a compliance inspection, the owner is issued a summons.`
    } else if (x==5) {
        content = `The Health Department may send <strong>exterminators</strong> to a property when an owner fails a compliance inspection. The property owner is billed for this work.`
    } else if (x==6) {
        content = `Exterminators may treat the property with <strong>bait</strong>, rodenticides, or monitor the property to see if remediation treatments are working.`
    }

    document.getElementById('info').innerHTML = content

}
</script>

{{- end -}}