{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    
    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "key-topics" }}>Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 mx-auto" data-pagefind-weight="7.0">
            <h1 id="top" class="h2" data-pagefind-weight="10.0">{{ .Title }}</h1>
            <p>{{ .Content }}</p>
        </div>
        
    </div>

    <div class="row mb-4">
        <div class="col-md-5 ml-auto">
            <div id="map" class="border">
            </div>
        </div>

        <div class="col-md-6 mr-auto">
                <div class="p-1" style="border-left: 8px solid #841972 !important; background-color: #fafafa">
                <div class="row mb-1">
                    <div class="col-2">
                        <p><span class="home-label">Zone:</span> </p>

                    </div>
                    <div class="col-8">
                        <p><span id="zoneName" class="fwm fs-xl">&nbsp;</span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <p><span class="home-label">Data for:</span></p>

                    </div>
                    <div class="col-8">
                        <p><span style="font-weight:bold">Calendar year 2022</span>
                        </p>
                    </div>
                </div>
                </div>


                <div class="row my-2">  
                    <div class="col-12 border-bottom">
                        <p><strong><span class="home-label">311 complaints for:</span></strong></p>
                    </div> 
                    <div class="col-6">
                       <p>
                            <span class="home-label">Rodent conditions:</span>
                                <span id="attracting" class="fwm"></span><br>
                            <span class="home-label">Mouse sighting:</span>
                                <span id="mouse" class="fwm"></span></p>
                    </div>

                    <div class="col-6">
                        <p>
                            <span class="home-label">Rat sighting:</span>
                                <span id="rat" class="fwm"></span><br>
                            <span class="home-label">Rodent signs:</span>
                                <span id="signs" class="fwm"></span></p>
                    </div>
                </div>

                <div class="row border-top mb-2">    
    
                    <div class="col-6">
                        <p><a href="#map" onclick="showInfo(0)"class="question-hover"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Initial inspections:</span><br>
                            <span id="totalInspections" class="fwm  fs-xl">&nbsp;</span></p>

                    </div>

                    <div class="col-6">
                        <p><a href="#map" onclick="showInfo(1)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Resulting in agency referrals:</span><br>
                            <span id="agency" class="fwm">&nbsp;</span></p>
                    </div>

                    <div class="col-6 ml-auto mt-2">
                        <p><a href="#map" onclick="showInfo(2)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Resulting in abatement orders:</span><br>
                            <span id="cota" class="fwm">&nbsp;</span></p>
                    </div>


                </div>
    
                <div class="row border-top my-2">
                    <div class="col-6">
                        <p><a href="#map" onclick="showInfo(3)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Compliance inspections:</span><br>
                            <span id="comp" class="fwm  fs-xl">&nbsp;</span></p>
                    </div>

                    <div class="col-6">
                        <p><span class="home-label">Failed:</span><br>
                            <span id="failed" class="fwm">&nbsp;</span></p>
                    </div>
    
                    <div class="col-6 ml-auto mt-2">
                        <p><span class="home-label">Passed:</span><br>
                            <span id="passed" class="fwm">&nbsp;</span></p>
                    </div>
                </div>
    
                <div class="row border-top my-2">
                    <div class="col-6">
                        <p><a href="#map" onclick="showInfo(5)"><i class="fas fa-question-circle mr-1 mt-1 text-info"></i></a><span class="home-label">Visits by NYC Health exterminator:</span><br>
                            <span id="exterminator" class="fwm  fs-xl">&nbsp;</span></p>
                    </div>
    
                    <div class="col-6">
                        <p><span class="home-label">Visits with bait applied:</span><br>
                            <span id="bait" class="fwm">&nbsp;</span></p>
                    </div>
                </div>
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-11 mx-auto">
            <div id="info" class="hide py-2 px-1" style="border-left: 8px solid #841972 !important; background-color: #fafafa"></div>
        </div>
    </div>



    <div class="row my-4">
        <div class="col-md-11 mx-auto" data-pagefind-weight="7.0">
            <div class="row">
                <div class="col-md-6">
                    <div class="border p-2">
                        <h4>Rat Mitigation Zones</h4>
                        <p>NYC has a robust approach to rat control and uses different techniques depending on the level of rat activity in a neighborhood.</p>
                        <p>Areas with high levels of rat activity are considered RMZs, where the City focuses a data-driven, coordinated, multiagency effort to address rats and the conditions that cause them. The NYC Health Department, Department of Parks and Recreation, Department of Sanitation, Department of Education, and Housing Authority work together to improve neighborhood sanitation by eliminating the food, water and habitat that rats need to survive. The goal is to address the underlying conditions that support rat colonies, while also exterminating rats. By dramatically reducing the available habitats and food sources, the numbers of rats will decline.</p>

                    </div>

                
                </div>

                <div class="col-md-6">
                    <div class="border p-2">
                        <h4>Are you in an RMZ? Here's what you need to know.</h4>
                        <p>If you live or work in an RMZ, you can expect more frequent inspections for rats and the conditions that attract them. The NYC Health Department will work with the NYC Departments of Parks and Recreation, Department of Sanitation, Department of Education, and Housing Authority to address rat conditions on city-owned property. </p>
                        <p></p>


                        <p>The Health Department also works to control rats in areas that are not RMZs.   Visit <a href="https://www.nyc.gov/rats">www.nyc.gov/rats</a> for information and resources on how to address rats in your neighborhood, or to <a href="https://www.nyc.gov/site/doh/services/rats-control-training.page">sign up for a free Rat Academy training</a>.</p>
                    </div>

                    <a class="btn btn-outline-primary btn-block mt-1" href="../rat-information-portal">For individual property inspection results, visit the Rat Information Portal</a>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h4>Inspection data:</h4>
                    <iframe title="2022 RMZ data" aria-label="Table" id="datawrapper-chart-5uPau" src="https://datawrapper.dwcdn.net/5uPau/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="271" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
                    </script>
        
                    <h4 class="mt-4">Complaint data:</h4>
                    <iframe title="2022 rodent-related complaint data" aria-label="Table" id="datawrapper-chart-KQXDt" src="https://datawrapper.dwcdn.net/KQXDt/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="290" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
                    </script>
                </div>
            </div>


        </div>



    </div>



<style>
    #map {
        height: 600px;
        max-width: 100%;
        max-height: 100%;
    }

    .fwm {
        font-weight: 600
    }

    .misc-holder {
    border-left: 5px solid lightgray;
    padding-left: 5px;
    }
</style>
    
</article>

<!--bring in rmz JS -->
<script type="text/javascript" src="rmz.js"></script>

{{- end -}}