{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    
    <div class="row">
        <div class="col-md-11 mx-auto mt-4">
            <nav aria-label="breadcrumb" class="mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/key-topics/">Key Topics</a></li>
                    <li class="breadcrumb-item"><a href="..">
                        {{- with .Parent -}} {{ .Title }} </a></li>{{- end -}}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 mx-auto">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
        </div>
        
    </div>

    <div class="row mb-4">
        <div class="col-md-5 ml-auto">
            <div id="map" class="border">
            </div>
        </div>

        <div class="col-md-6 mr-auto">
            <div class="row border-top mb-2">
                <div class="col-12"><strong>Inspection data:</strong></div>

                <div class="col-6">
                    <p><span class="home-label">Zone:</span><br>
                        <span id="zoneName" class="fwm"></span></p>
                </div>

                <div class="col-6">
                    <p><span class="home-label">Total Inspections:</span><br>
                        <span id="totalInspections" class="fwm"></span></p>
        
                </div>
            </div>

            <div class="row border-top my-2">
                <div class="col-6">
                    <p><span class="home-label">City agency referral:</span><br>
                        <span id="agency" class="fwm"></span></p>
                </div>
                <div class="col-6">
                    <p><span class="home-label">Abatement orders (private property):</span><br>
                        <span id="cota" class="fwm"></span></p>
                </div>

            </div>

            <div class="row border-top my-2">
                <div class="col-6">
                    <p><span class="home-label">Failed compliance inspection:</span><br>
                        <span id="failed" class="fwm"></span></p>
                </div>

                <div class="col-6">
                    <p><span class="home-label">Passed compliance inspection:</span><br>
                        <span id="passed" class="fwm"></span></p>
                </div>
            </div>

            <div class="row border-top my-2">
                <div class="col-6">
                    <p><span class="home-label">Visits by DOHMH exterminator:</span><br>
                        <span id="exterminator" class="fwm"></span></p>
                </div>

                <div class="col-6">
                    <p><span class="home-label">Visits with bait applied:</span><br>
                        <span id="bait" class="fwm"></span></p>
                </div>
            </div>

            <div class="row border-top mt-6 my-2">
                <div class="col-12"><strong>Complaints for:</strong></div>
                <div class="col-4">
                    <p><span class="home-label">Rodent conditions:</span><br>
                        <span id="attracting" class="fwm"></span></p>
                </div>
                <div class="col-4">
                    <p><span class="home-label">Mouse sighting:</span><br>
                        <span id="mouse" class="fwm"></span></p>
                </div>
                <div class="col-4">
                    <p><span class="home-label">Rat sighting:</span><br>
                        <span id="rat" class="fwm"></span></p>
                </div>
                <div class="col-4">
                    <p><span class="home-label">Rodent bite:</span><br>
                        <span id="bite" class="fwm"></span></p>
                </div>
                <div class="col-4">
                    <p><span class="home-label">Rodent signs:</span><br>
                        <span id="signs" class="fwm"></span></p>
                </div>

            </div>

            <div class="row border-top my-2">
                <div class="col">
                    <em class="fs-sm">Data are for 2022.</em>
                </div>
            </div>


            <!--
            <table>
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 60%;">
                  </colgroup>
                <thead>
                  <tr>
                    <th>Prompt</th>
                    <th>Value<br></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Zone:</td>
                    <td><span id="zn"></span></td>
                  </tr>
                  <tr>
                    <td>Total inspections</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inspections resulting in City Agency Referral</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Private Property inspections resulting in Commissioner's Order to Abate</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Failed compliance inspection</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Passed compliance inspection</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Visits by DOHMH exterminator</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Visits resulting in bait application</td>
                    <td></td>
                  </tr>
                </tbody>
                </table>
            -->
        </div>

    </div>

    <div class="row my-4">
        <div class="col-md-11 mx-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="border p-2">
                        <h4>Rat Mitigation Zones</h4>
                        <p>New York City has a robust approach to rat control. Areas with high levels of rat activity are designated as Rat Mitigation Zones (RMZs) allowing the City to focus a data-driven, coordinated, multiagency effort there to address rats and the conditions that cause them.</p>
    
                        <p>In Rat Mitigation Zones, The Health Department and several other City agencies work together to improve neighborhood sanitation by eliminating the food, water and habitat that rats need to survive. The goal is to address the underlying conditions that support rat colonies, while also employing traditional rat control measures. By dramatically reducing the available habitats and food sources in targeted areas, the numbers of rats will decline.</p>
                    </div>

                
                </div>

                <div class="col-md-6">
                    <div class="border p-2">
                        <h4>Are you in an RMZ? Here's what you need to know.</h4>
                        <p>If you live or work in an RMZ, you can expect more frequent inspections for rats and the conditions that attract them. The Health Department will worki with the Departments of Parks, Education and the NYC Housing Authority to address rat conditions on city owned property.  Visit  <a href="https://www.nyc.gov/rats">www.nyc.gov/rats</a> for information and resources on how to address rats at your home or business, or to <a href="https://www.nyc.gov/site/doh/services/rats-control-training.page">sign up for a free Rat Academy training</a>.</p>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h4>Inspection data:</h4>
                    <iframe title="2022 RMZ data" aria-label="Table" id="datawrapper-chart-5uPau" src="https://datawrapper.dwcdn.net/5uPau/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="271" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
                    </script>
        
                    <h4 class="mt-4">Complaint data</h4>
                    <iframe title="2022 rodent-related complaint data" aria-label="Table" id="datawrapper-chart-KQXDt" src="https://datawrapper.dwcdn.net/KQXDt/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="290" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
                    </script>
                </div>
            </div>


        </div>

    </div>



<style>
    #map {
        height: 600px;
        max-width: 100%;
        max-height: 100%;
    }

    .fwm {
        font-weight: 600
    }
</style>
    
</article>

<!--bring in realtime JS -->
<script type="text/javascript" src="rmz.js"></script>

{{- end -}}