{{- define "main" -}}

<article class="container wide" id="skip-header-target">

    <div class="key-topics">
        <div class="row">
            <div class="col-md-8 col-sm-12 mb-4">
                <div class="row">
                    <div class="col-md-10 col-sm-12 mt-2 mb-3">
                        <nav aria-label="breadcrumb" class="">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                                <li class="breadcrumb-item active"><a href={{ relURL "key-topics" }}>Key Topics</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <h1><i class="fas fa-star mr-1 text-primary" aria-hidden="true"></i>Key Topics in Environmental Health</h1>
                <p>{{- .Content -}}</p>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            {{- range .Pages -}}
            <div class="card content-card mb-4 col-sm-6 col-md-4">
                <div class="card-content primary">
                    <a href="{{ .RelPermalink}}">
                        {{ $src := .Resources.GetMatch .Params.image }}
                        {{ $image := $src.Resize "740x"}}
                        <div style="width:100%; height:250px; background-image: url({{ $image.RelPermalink }}); background-size:cover"></div>
                    </a>

                    <div class="card-body">
                        <h3 class="card-title"><a class="text-black" href="{{ .RelPermalink }}" class="text-primary">{{ .Title }}</a></h3>
                        <div class="mb-2">{{ .Content | truncate 150 }}</div>
                        <div class="d-flex justify-content-end link">
                            <a class="fs-sm font-weight-bold" href="{{ .RelPermalink }}">Get data, info, and more <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{- end -}}
        </div>
    </div>
</article>

{{- end -}}