{{- define "main" -}}

<article class="container wide">

    {{ partial "section-header.html" (dict "page" .) }}

    <div class="key-topics">
        <div class="row">
            <div class="col-md-8 col-sm-12 mb-4">
                <ul class="list-unstyled font-weight-bold">
                    {{- range where .Pages ".Params.hide" "!=" true -}}
                        <li class="link-w-underline px-0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{- end -}}
                </ul>
            </div>
        </div>
    </div>

</article>

{{- end -}}