{{- define "main" -}}

{{ $src := .Resources.GetMatch .Params.image }}
{{ $image := $src.Resize "x800"}}

<style>
    .kt-bg-image {
        background-image: url("{{ $image.RelPermalink }}");
        background-size: cover;
        height: 350px;
    }
</style>

<article id="skip-header-target">
    <div class="container wide">
        <div class="row">
            <div class="col-sm-12 mt-2 mb-2">
                <nav aria-label="breadcrumb" class="">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                        <li class="breadcrumb-item"><a href={{ relURL "key-topics" }}>Key Topics</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row mt-1 py-4 mb-4 border-bottom">
            <div class="col-md-12 col-lg-8 pr-xl-4">
                <div class="key-topics mb-3">
                    <h1 class="h2" data-pagefind-weight="10.0">
                        <i class="fas fa-star mr-1" aria-hidden="true"></i>{{ .Title }}
                    </h1>
                </div>
                <img src="{{ $image.RelPermalink }}" class="mb-3" alt="">
                {{- .Content -}}
            </div>

            <div class="col-md-12 col-lg-4 mr-auto pl-xl-4">
                <div class="df-accent mt-4 mt-md-0">
                    <div class="h3 fs-lg"><i class="fas fa-chart-bar mr-1 key-topics" aria-hidden="true"></i>Data Features:</div>
                    <div class="home-label">Interactive infographics and reports</div>
                </div>

                <div class="my-2">
                    {{- range where ( where .Site.RegularPages "Section" "data-features") ".Params.categories" "intersect" ( slice .Params.keyTopic ) -}}
                    {{- if not .Params.hide -}}
                        <div class="card card-left-border shadow-sm mb-4">
                            <div class="card-content card-body">
                                <h4 class="fs-md"><a class="link-track" href="{{ .RelPermalink }}" class="text-primary">{{ .Title }}</a></h4>
                                <p class="fs-sm">{{ .Content | plainify | truncate 175 | htmlUnescape }}
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a class="fs-sm font-weight-bold" href="{{ .RelPermalink }}">Get the data<i class="fas fa-arrow-circle-right ml-1" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        {{- end -}}
                    {{- end -}}

                </div>
            </div>

        </div>


        <div class="row mt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="de-accent">
                            <div class="h3 fs-lg"><i class="fas fa-chart-line pr-1" aria-hidden="true"></i>Data Sets:</div>
                            <div class="home-label">Get tables, maps, and trends </div>
                        </div>
                        <div class="mt-2 mb-4">
                            {{- partial "related" (dict "section" "data-explorer" "layout" "singlelist" "content" . ) -}}
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        {{- if where ( where .Site.RegularPages "Section" "data-stories") ".Params.categories" "intersect" ( slice .Params.keyTopic ) -}}
                        <div class="ds-accent">
                            <div class="h3 fs-lg"><i class="fas fa-passport mr-1" aria-hidden="true"></i>Data Stories:</div>
                            <div class="home-label ">Narratives and explainers</div>
                        </div>


                        {{- range first 5 ( where ( where .Site.RegularPages "Section" "data-stories") ".Params.categories" "intersect" ( slice .Params.keyTopic ) ) -}}
                            <div class="row no-gutters mt-2">
                                <div class="col-5">
                                    {{ $src := .Resources.GetMatch .Params.image }}
                                    {{ $image := $src.Resize "280x 200x"}}
                                    <a class="link-track" href="{{ .RelPermalink }}">
                                        <img src="{{ $image.RelPermalink }}" class="mb-3" alt="">
                                    </a>
                                </div>
                                <div class="col-7 ml-auto h-100 pr-1 pl-2">
                                    {{ $title := .Title | plainify | htmlUnescape }}
                                    {{ $content := .Content | plainify | htmlUnescape }}

                                    {{ .Scratch.Set "intro" $title }}
                                    {{ .Scratch.Add "intro" " | " }}
                                    {{ .Scratch.Add "intro" $content }}
                                  <p class="fs-md text-align-right h-100 pl-1 mb-2"><a class="link-track text-primary font-weight-bold" href="{{ .RelPermalink }}">{{ .Scratch.Get "intro" | truncate 125 }}</a></p>
                                </div>
                              </div>

                              <hr class="mb-1 pb-1">

                            {{- end -}}
                        {{- end -}}


                        <!-- Button to toggle the collapse -->
                        <a class="btn btn-primary mb-3" data-toggle="collapse" href="#collapseStories" role="button" aria-expanded="false" aria-controls="collapseStories" id="toggleButton">
                            Show More
                        </a>

                        <!-- Collapsible content (after the first 5 stories) -->
                        <div class="collapse" id="collapseStories">
                            {{- range after 5 ( where ( where .Site.RegularPages "Section" "data-stories") ".Params.categories" "intersect" ( slice .Params.keyTopic ) ) -}}
                            <div class="row no-gutters mt-2">
                            <div class="col-5">
                                {{ $src := .Resources.GetMatch .Params.image }}
                                {{ $image := $src.Resize "280x 200x"}}
                                <a class="link-track" href="{{ .RelPermalink }}">
                                <img src="{{ $image.RelPermalink }}" class="mb-3" alt="">
                                </a>
                            </div>
                            <div class="col-7 ml-auto h-100 pr-1 pl-2">
                                {{ $title := .Title | plainify | htmlUnescape }}
                                {{ $content := .Content | plainify | htmlUnescape }}

                                {{ .Scratch.Set "intro" $title }}
                                {{ .Scratch.Add "intro" " | " }}
                                {{ .Scratch.Add "intro" $content }}
                                <p class="fs-md text-align-right h-100 pl-1 mb-2">
                                <a class="link-track text-primary font-weight-bold" href="{{ .RelPermalink }}">
                                    {{ .Scratch.Get "intro" | truncate 125 }}
                                </a>
                                </p>
                            </div>
                            </div>

                            <hr class="mb-1 pb-1">
                            {{- end -}}
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 mt-3 mt-md-0">
                        {{- if where ( where .Site.RegularPages "Section" "neighborhood-reports") ".Params.categories" "intersect" ( slice .Params.keyTopic ) -}}
                        <div class="nr-accent">
                          <div class="h3 fs-lg"><i class="fas fa-map-marked-alt mr-1" aria-hidden="true"></i>Neighborhood Reports:</div>
                          <div class="home-label ">Get data for your neighborhood on</div>
                        </div>
                            <div class="mt-2">
                              {{- partial "related" (dict "section" "neighborhood-reports" "layout" "button" "extraClass" "link-track text-left" "content" . ) -}}
                            </div>
                        {{- end -}}
                    </div>


                </div>

                <div class="row mb-4">
                    <div class="col-md-6 col-sm-12">



                    </div>



                </div>

            </div>

        </div>



    </div>

</article>

<script>
    var linkTrack = document.getElementsByClassName("link-track");

    for(let i = 0; i < linkTrack.length; i++) {
        linkTrack[i].addEventListener("click", function(event) {
            gtag("event", "click_topic_link", {
            'click_url': this.getAttribute("href")
            })
        })
    }
</script>



{{- end -}}