{{ define "main" }}

<div class="container-fluid px-0">

        <div id="datastoryheader" {{ with .Params.image }} style="background-image: URL({{ . }})"{{ end}}>

            <div class="medium my-auto">
                <h1 class="titleheader py-2 px-4">
                    {{ .Title}}
                </h1>
            </div>


        </div>

</div>

<!-- This flexible data story template puts content only within a row, and puts related content below -->

<article class="container-fluid" id="skip-header-target">
    <div class="row">
        {{ .Content}}
    </div>



</article>
<!-- #primary-content -->

    <div class="row my-3">
        <div class="col-3 mx-auto">
            <div class="fs-sm">
                <strong>Published on:</strong>
                {{ .Date.Format "January 2, 2006"}}
            </div>
        </div>
    </div>

    <div class="row px-6">
        <hr class="portalhr">
    </div>

    <div class="row px-6">
        <div class="col-lg-3 ml-auto">
            <div class="fs-sm">
                <h4 class="mt-2 fs-md"><i class="fas fa-passport text-muted mr-1" aria-hidden="true"></i>Data Stories</h4>
                {{ partial "related" (dict "section" "data_stories" "layout" "singlelist" "content" . ) }}
            </div>
        </div>

        <div class="col-lg-4">
            <div class="fs-sm">
                <h4 class="fs-md mt-2"><i class="fas fa-map-marked-alt text-muted mr-1" aria-hidden="true"></i>Neighborhood Reports</h4>
                {{ partial "related" (dict "section" "neighborhood_reports" "layout" "singlelist" "content" . ) }}

            </div>
        </div>

        <div class="col-lg-4 fs-sm">
            <h4 class="fs-md"><i class="fas fa-star text-muted mr-1" aria-hidden="true"></i>Key Topics</h4>
            <!--sets variables-->
            {{ $page_link := .Permalink }}
            {{ $cats := .Params.categories }}

            {{ range where (where .Site.Pages "Section" "key_topics") ".File.BaseFileName" "_index" }}
            <!--$page equals values we find when ranging through-->
            {{ $page := . }}

            <!--set variable equal to intersection of categories: page that we're on, and pages we ranged through-->
            {{ $has_common_cats := intersect $cats .Params.categories | len | lt 0 }}

            <!--Show commonalities, except for page we're on -->
            {{ if and $has_common_cats (ne $page_link $page.Permalink) }}
            <a href="{{ $page.Permalink}}">{{ $page.Title }}</a>
            <hr class="my-1">
            {{ end }} 
            {{ end }}
        </div>
    </div>

<!-- related -->


{{end}}