{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">
    <div class="col-md-11 col-sm-12 mx-auto my-4">
        
        <div class="row no-gutters mb-2">
            <div class="col">
                <nav aria-label="breadcrumb" class="my-3">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                        <li class="breadcrumb-item"><a href={{ relURL "data-explorer" }}>Data Explorer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <h1><i class="fas fa-chart-line" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}</h1>
        {{- .Content -}}

        {{- partial "de-topic-indicators.html" . -}}
                                
                <table id="indicators" class="display fs-sm my-1" style="font-size:12px; width:100%">
                    <thead>
                        <tr>
                            <th class="tablehead">Indicator</th>
                            <th class="tablehead">Topics</th>
                            <th class="tablehead">Measurements</th>
                            <th class="tablehead">Geographies</th>
                            <th class="tablehead">Most recent data</th>
                            <th class="tablehead">Data Source</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody id="tablebody">
                        
                    </tbody>
                    
                </table>

                <button class="btn btn-sm btn-outline-primary my-2" onclick="tableToCSV()"><i class="fas fa-download mr-1" aria-hidden="true"></i>Download table</button>

                <hr class="my-2">
                <p><i class="fas fa-exclamation-circle mr-1"></i><em>Can't find what you're looking for?</em> Try these other Health Department resources:
                <ul>
                  <li><a href="https://a816-health.nyc.gov/hdi/epiquery/">EpiQuery</a>: Analyze and visualize NYC health data from surveys, disease reports and vital records by sex, race/ethnicity, age and other stratifications.
                  </li>
                  <li><a href="https://a816-health.nyc.gov/hdi/profiles/">Community Health Profiles</a>: Learn about the social, economic and health conditions and outcomes of New Yorkers, neighborhood-by-neighborhood.
                  </li>
                </ul>
                <a href="https://www1.nyc.gov/site/doh/data/data-home.page">Browse all Health Department data resources here</a>.
                </p>
                
            </div>
            
        </article>
        
        <script>

            let indicators;
            let indicatorIndex = []
            let time_periods;
            
            
            // First, load metadata.json

            d3.json('{{ site.Params.data_repo }}{{ site.Params.data_branch }}/indicators/metadata/metadata.json')
                .then(metadata => {

                    // assign to global indicators object

                    indicators = metadata;

                    // createMeasureMetadata();
                    // getNoMaps()

                    d3.json('{{ site.Params.data_repo }}{{ site.Params.data_branch }}/indicators/metadata/TimePeriods.json')
                        .then(tp => {

                            // assign to global time_periods object

                            time_periods = tp;
                                
                            loopThroughIndicators() // run loops.
                            
                        })
                });
            

            
            // Separating json load from subsequent functions, so we can filter or modify later without reloading json
            function loopThroughIndicators() {



                //  loop through indicators
                
                for (let i = 0; i < indicators.length; i++) {  // change the 1 to indicators.length to get back to normal
                    
                    // get all topics for this indicator
                    let topics = topicIndicatorsTable.filter(element => element.IndicatorID == indicators[i].IndicatorID);

                    // console.log("indicators[i].IndicatorID", indicators[i].IndicatorID);
                    // console.log("topics", topics);
                    
                    // indicators
                    
                    let row_i = document.createElement('tr'); // create row
                    let cell_1 = document.createElement('td') // create cell
                    
                    // if there's a topic, link; if not, just name
                    
                    if (topics.length > 0) {

                        cell_1.innerHTML = "<a href='" + {{ relURL "data-explorer" }} + "/" + topics[0].topic + "/" + "?id=" + indicators[i].IndicatorID + "'>" + indicators[i].IndicatorName + "</a>"

                    } else {

                        cell_1.innerHTML = indicators[i].IndicatorName // fill cell with indicator name.

                    }
                    
                    row_i.appendChild(cell_1); // add this cell to this row
                    
                    let measurements = [];
                    let geographies = [];
                    let times = [];
                    let all_years;
                    let maxTime;
                    let sources = [];
                    
                    // topics
                    
                    let cell_2 = document.createElement('td')
                    
                    let st_li = document.createElement('ul');
                    st_li.classList.add('no-bullets')
                    cell_2.appendChild(st_li);
                    
                    // create links for topics
                    for (st = 0; st < topics.length; st++) {

                        let li = document.createElement('li');
                        li.innerHTML = "<a href='" + {{ relURL "data-explorer" }} + "/" + topics[st].topic + "/'>" + topics[st].topic_name + "</a>"
                        // can eventually add an anchor or other deep-linking method
        
                        st_li.appendChild(li)
                    }
                    
                    row_i.appendChild(cell_2);      
                    
                    // create other cells. 
                    let cell_3 = document.createElement('td')
                    let cell_4 = document.createElement('td')
                    let cell_5 = document.createElement('td')
                    let cell_6 = document.createElement('td')
                    
                    // loop through each indicator's measure:
                    for (let n = 0; n < indicators[i].Measures.length; n++) {
                        
                        // push Measurement Types to the second cell
                        measurements.push(indicators[i].Measures[n].MeasurementType)
                        
                        // loop through Available Geographies
                        // var finestGeography = [];
                        for (let y = 0; y < indicators[i].Measures[n].AvailableGeoTypes.length; y++) {

                            geographies.push(indicators[i].Measures[n].AvailableGeoTypes[y])

                            // console.log("AvailableGeoTypes", indicators[i].Measures[n].AvailableGeoTypes);
                            // here, can embed a loop through geographies to find the finest.

                        }
                        
                        // get time period IDs for this measure
                        let AvailableTimePeriodIDs = indicators[i].Measures[n].AvailableTimePeriodIDs;

                        // get end periods for this measure
                        let end_periods = time_periods.filter(tp => AvailableTimePeriodIDs.includes(tp.TimePeriodID)).map(tp => tp.end_period);

                        // push end periods to times array
                        times.push(...end_periods);
                            
                        // push Sources
                        sources.push(indicators[i].Measures[n].Sources)
                        
                    }
                    
                    // And, dump measurements, geographies, times, and sources into cells:
                    
                    // measurements
                    let unique_measurements = [...new Set(measurements)];
                    let ums = document.createElement('ul')
                    ums.classList.add('no-bullets')
                    cell_3.appendChild(ums);
                    for (m = 0; m < unique_measurements.length; m++) {
                        let li = document.createElement('li')
                        li.innerHTML = unique_measurements[m]
                        ums.appendChild(li)
                    }
                    
                    row_i.appendChild(cell_3);
                    
                    // geographies

                    const geos_order = ["Citywide", "Borough", "NYCKIDS2017", "NYCKIDS2019", "NYCKIDS2021", "UHF33", "UHF34", "UHF42", "Subboro", "CD", "CDTA", "NTA2010", "NTA2020"];
                    let unique_geographies = [...new Set(geographies)];
                    
                    // sorting unique_geographies based on order of geos_order
                    unique_geographies.sort(function(a, b){
                        return geos_order.indexOf(a) - geos_order.indexOf(b)
                    });
                    
                    let geobullets = document.createElement('ul')
                    geobullets.classList.add('no-bullets')
                    cell_4.appendChild(geobullets)
                    
                    // looping through indicator's unique geos

                    let pretty_unique_geographies = [...new Set(unique_geographies.map(geo => prettifyGeoType(geo)))]

                    for (l = 0; l < pretty_unique_geographies.length; l++) {
                        
                        let li = document.createElement('li')

                        // setting id as geo name
                        li.innerHTML = pretty_unique_geographies[l];
                        li.setAttribute("geo", pretty_unique_geographies[l]);
                        li.classList.add("btn", "btn-sm", "geobullets", pretty_unique_geographies[l])
                        
                        // setting 'onclick' action for each geography, with the geo as the argument
                        
                        li.addEventListener('click', e => {
                            // console.log("classList [e]", e.target.classList)
                            toggle_button(e);
                        });
                        
                        geobullets.appendChild(li);
                        
                    }
                    
                    row_i.appendChild(cell_4)
                    
                    // max year
                    maxTime = new Date(Math.max(...times));
                    cell_5.innerHTML = maxTime.getFullYear();
                    row_i.appendChild(cell_5)
                    
                    // console.log("maxTime", maxTime);


                    // sources
                    let unique_sources = [...new Set(sources)];
                    let usrc = document.createElement('ul')
                    usrc.classList.add('no-bullets')
                    cell_6.appendChild(usrc);

                    for (src = 0; src < unique_sources.length; src++) {
                        let li = document.createElement('li')
                        li.innerHTML = unique_sources[src]
                        usrc.appendChild(li)
                    }
                    
                    row_i.appendChild(cell_6);
                    
                    // Finally, place the row into the table body.
                    document.getElementById('tablebody').appendChild(row_i) 
                } 
                
                // call DataTables.
                initializeDataTables()
                
            }
            
            
            function initializeDataTables() {
                let table = new DataTable('#indicators', {
                    // options
                    scrollY: 600,
                    scrollX: true,
                    paging: false,
                    responsive: true,
                    fixedColumns: true
                });
            }
            
            
            // filter function
            
            function geobullet_filter(active_geo) {
                
                // join geo types for regex (this will be an OR search)
                
                $('#indicators').DataTable().column(":contains(Geographies)").search(active_geo.join('|'), true, false, false).draw()
                
                // only filter if geos are selected (to avoid calling `querySelectorAll` on null)

                if (active_geo.length > 0) {

                    // Adding this here is sort of a kludge, but I'd have to refactor the entire pattern to avoid it
                    // buttons with either geo as a class
                    let geo_buttons = document.querySelectorAll(active_geo.map(i => "." + i).toString());

                    for (let i = 0; i < geo_buttons.length; i++) {
                        geo_buttons[i].classList.add("active");
                    }
                }

            }
            
            function toggle_button(e) {
                
                // clicked button
                var button = e.target;
                
                if (button.classList.contains("active") == false) {
                    // if the clicked button isn't active, add active class to buttons with this geo type
                    
                    // all buttons of this geo type
                    
                    let geo_buttons = document.querySelectorAll("[geo=" + button.attributes.geo.value + "]");
                    
                    for (let i = 0; i < geo_buttons.length; i++) {
                        geo_buttons[i].classList.add("active");
                    }
                    
                }
                else if (button.classList.contains("active") == true) {
                    // if the clicked button is active, remove active class to buttons with this geo type
                    
                    // all buttons of this geo type
                    let geo_buttons = document.querySelectorAll("[geo=" + button.attributes.geo.value + "]");
                    
                    for (let i = 0; i < geo_buttons.length; i++) {
                        geo_buttons[i].classList.remove("active");
                    }
                    
                }
                
                let active = document.querySelectorAll("li.active");
                let active_geos = [];
                
                for (let i = 0; i < active.length; i++) {
                    
                    if (typeof active[i].attributes.geo != "undefined") {
                        
                        active_geos.push(active[i].attributes.geo.value);
                        
                    }
                }
                
                let active_geographies = [...new Set(active_geos)];
                
                geobullet_filter(active_geographies);
                
            }
            
            // create geo dropdown for table (keeping georank order)
            
            const prettifyGeoType = (GeoType) => {

                switch (GeoType) {

                    case 'NYCKIDS2017':
                        return 'NYCKIDS';

                    case 'NYCKIDS2019':
                        return 'NYCKIDS';

                    case 'NYCKIDS2021':
                        return 'NYCKIDS';

                    case 'CDTA2020':
                        return 'CDTA';

                    case 'NTA2010':
                        return 'NTA';

                    case 'NTA2020':
                        return 'NTA';

                    default:
                        return GeoType;

                }
            }

            // RUN THIS FUNCTION TO TRIGGER A DOWNLOAD
            function tableToCSV() {
 
                // Variable to store the final csv data
                let csv_data = [];
             
                // Get each row data
                let rows = document.getElementsByTagName('tr');
                for (let i = 0; i < rows.length; i++) {
             
                    // Get each column data
                    let cols = rows[i].querySelectorAll('td,th');
             
                    // Stores each csv row data
                    let csvrow = [];
                    for (let j = 0; j < cols.length; j++) {
             
                        // Get the text data of each cell of
                        // a row and push it to csvrow
                        let string = `"` + removeTags(cols[j].innerHTML) + `"`

                        csvrow.push(string); // run contents through removeTags() to strip HTML
                    }
             
                    // Combine each column value with comma
                    csv_data.push(csvrow.join(","));
                }
                // Combine each row data with new line character
                csv_data = csv_data.join('\n');
             
                /* We will use this function later to download the data in a csv file downloadCSVFile(csv_data); */
                // console.table(csv_data)
                downloadCSVFile(csv_data);
            }

            // TRIGGERS DOWNLOAD
            function downloadCSVFile(csv_data) {
 
                // Create CSV file object and feed our
                // csv_data into it
                CSVFile = new Blob([csv_data], { type: "text/csv" });
             
                // Create to temporary link to initiate
                // download process
                let temp_link = document.createElement('a');
             
                // Download csv file
                temp_link.download = "EHDP-data-index.csv";
                let url = window.URL.createObjectURL(CSVFile);
                temp_link.href = url;
             
                // This link should not be displayed
                temp_link.style.display = "none";
                document.body.appendChild(temp_link);
             
                // Automatically click the link to trigger download 
                temp_link.click();
                document.body.removeChild(temp_link);
            }

               
            function removeTags(str) {
                if ((str === null) || (str === ''))
                    return false;
                else
                    // append comma to </li> tags not followed by a <\ul> tag, so that it'll be a comma separated list when tags are removed
                    str = str.toString().replace(/(<\/li>)/ig, '$1, ').replace(/(<\/li>, <\/ul>)/ig, '<\/li><\/ul>');

                // Regular expression to identify HTML tags in
                // the input string. Replacing the identified
                // HTML tag with a null string.
                return str.replace(/(<([^>]+)>)/ig, '');
            }


            // ------------------------------------------------------------------------------------- // 
            // -------    These are some basic assistance / data extraction functions.    ---------- //
            // ------------------------------------------------------------------------------------- //

            var object = [];
            function createMeasureMetadata() {
                console.log('object of indicators, measures, and text metadata:')
                // create object of indicators, measures and text metadata
                for (let i = 0; i < indicators.length; i++) {

                    for (let j = 0; j < indicators[i].Measures.length; j ++) {
                        
                        var measure = {};
                        measure.indicatorName    = indicators[i].IndicatorName
                        measure.indicatorID      = indicators[i].IndicatorID
                        measure.indicatorDesc    = indicators[i].IndicatorDescription
                        measure.measureName      = indicators[i].Measures[j].MeasureName
                        measure.measureID        = indicators[i].Measures[j].MeasureID
                        measure.measurementType  = indicators[i].Measures[j].MeasurementType
                        measure.displayType      = indicators[i].Measures[j].DisplayType
                        
                        object.push(measure)
                    }

                }
    
                console.log(object)
            }

            function getNoMaps() {
                var noMapObject = [];
                console.log('indicators without a mapped measure:')
                // loop through indicators
                for (let i = 0; i < indicators.length; i++) {
                    var maps = [];
                    // loop through measures
                    for (let j = 0; j < indicators[i].Measures.length; j ++) {
                        // for each measure, get measure - visOptions - map - geotype
                        maps.push(indicators[i].Measures[j].VisOptions[0].Map[0].GeoType)
                        }

                        // test if all values of maps is null
                        const isNull = (geotype) => geotype == null
                        if (maps.every(isNull) == true) {
                            // send indicator info to object
                            var indicator = {}
                            indicator.indicatorName    = indicators[i].IndicatorName
                            indicator.indicatorID      = indicators[i].IndicatorID
                            indicator.mapGeoTypes      = maps
    
                            noMapObject.push(indicator)
                        } else {}

                    }
                    console.log(noMapObject)
            }

            var inds = [];
            var fullInds = [];
            function indicatorsWithFullViews() {
                console.log('object of indicators with a full-view measure')
                // for each indicator...
                for (let i = 0; i < indicators.length; i++) {
                    var thisIndicator = [];
                    
                    // loop through their measures
                    for (let j = 0; j < indicators[i].Measures.length; j ++) { 
                        // Count views for each measure...
                        var thisMeasure = {};
                        if (indicators[i].Measures[j].VisOptions[0].Map[0].GeoType != null) {thisMeasure.map = 1} else {thisMeasure.map = 0}
                        if (indicators[i].Measures[j].VisOptions[0].Trend[0].GeoType != null) {thisMeasure.trend = 1} else {thisMeasure.trend = 0}
                            let links; 
                            let disparities;
                            if (indicators[i].Measures[j].VisOptions[0].Links[0].Measures[0].MeasureID != null) {links = 1} else {links = 0}
                            if (indicators[i].Measures[j].VisOptions[0].Links[0].Disparities == 1) {disparities = 1} else {disparities = 0}
                            thisMeasure.LD = links + disparities
                        thisMeasure.measureName    = indicators[i].Measures[j].MeasureName
                        thisMeasure.measureID      = indicators[i].Measures[j].MeasureID
                        thisMeasure.measureViewSum = thisMeasure.map + thisMeasure.trend + thisMeasure.LD
                        // ...and push the count to indicator info
                        thisIndicator.push(thisMeasure)

                    } // end measure loop

                    inds.push(thisIndicator)

                }  // end indicator loop 


                // then, loop through inds and return the number of measures that have a viewSum > 1.
                for (let i = 0; i < inds.length; i++) {
                    var thisIndicator = {};
                    var count = 0
                            // loop through inds[i].length
                            for (let j = 0; j < inds[i].length; j ++) {
                                if (inds[i][j].measureViewSum > 1) {
                                    count = count+1
                                }
                            }
                    inds[i].measuresTwoPlus = count
                    if (inds[i].measuresTwoPlus > 0) {
                        fullInds.push(inds[i])
                    } else {}
                }
                console.log(inds)
                console.log(fullInds)
            }

            function measureViewSummary() {
                var mvs = [];
                console.log('object of indicators, measures, and text metadata:')
                // create object of indicators, measures and text metadata
                for (let i = 0; i < indicators.length; i++) {

                    for (let j = 0; j < indicators[i].Measures.length; j ++) {
                        
                        var measure = {};
                        measure.indicatorName    = indicators[i].IndicatorName
                        measure.indicatorID      = indicators[i].IndicatorID
                        // measure.indicatorDesc    = indicators[i].IndicatorDescription
                        measure.measureName      = indicators[i].Measures[j].MeasureName
                        measure.measureID        = indicators[i].Measures[j].MeasureID

                        if (indicators[i].Measures[j].VisOptions[0].Map[0].GeoType != null) {measure.map = 1} else {measure.map = 0}

                        if (indicators[i].Measures[j].VisOptions[0].Trend[0].GeoType != null) {measure.trend = 1} else {measure.trend = 0}

                        if (indicators[i].Measures[j].VisOptions[0].Links[0].Measures[0].MeasureID != null) {measure.links = 1} else {measure.links = 0}

                        if (indicators[i].Measures[j].VisOptions[0].Links[0].Disparities == 1) {measure.disparities = 1} else {measure.disparities = 0}

                        /*
                        measure.map              = 
                        measure.trend            = 
                        measure.links            = 
                        measure.disparities      = 
                        */

                        /*
                            if Map[0].GeoType != null, then it has a map
                            if Trend[0].GeoType != null, then it has a trend
                            .Links[0].Measures[0].MeasureID != null, then it has links
                            if .Links[0].Disparities != 0, then it has disparities
                        */

                        
                        mvs.push(measure)
                    }

                }
    
                console.log(mvs)
            }
            
        </script>
        
    {{- end -}}