{{ define "main" }}

<style>
    /* These styles overwrite default Vega-Lite tooltip styles */

    /* set overall row styles */
    #vg-tooltip-element table tr {
        border-bottom: 1px solid #d9d9d9;
        {{- /*  width: max-content;  */ -}}
    }
    /* remove bottom border from last row */
    #vg-tooltip-element table tr:last-child {
        border-bottom: 0px;
    }

    /* set different style for key column */
    #vg-tooltip-element table tr td.key {
        font-size: 12px!important;
        color: #505050;
        border-right: 1px solid #d9d9d9;
        text-align: right;
        padding-right: 10px;
        width: max-content;
    }

    /* set different style for value column */
    #vg-tooltip-element table tr td.value {
        font-size: 12px!important;
        color: black;
        text-align: left;
        padding-left: 10px;
        width: max-content;
    }

    /* Set font-size for table headers */
    #summary-table table thead tr th {
        font-size: 13px!important;
    }

    /* This CSS controls read more/show less toggle. */
    [aria-expanded="false"]>.expanded,
    [aria-expanded="true"]>.collapsed {
        display: none;
    }

    #truncate {
        display: block;
    }

    #full {
        display: none;
    }

    #expand-collapse {
        cursor: pointer;
    }

    .show {
        display: block !important;
    }

    .hide {
        display: none !important;
    }

    /* .tab-content > .tab-pane {
        display: block !important;
        opacity: 1 !important;
    } */

    .dropdown-title {
        padding: 0.25rem 1.5rem;
        font-size: 1.04rem;
        white-space: nowrap;
    }

    .indicator-measures h6 {
        margin-top: 0.5em;
    }

    .dropdown-menu {
        z-index: 2000;
    }

    /* info text boxes */

    .topic-text {
        font-size: 14px!important;
    }

    .topic-text h3 {
        font-size: 16px;
        color: #656565;
    }

    .topic-text p li {
        font-size: 12px;
    }

    /* indicator selection button */

    button.text-info, button.text-info {
        color: #841972 !important;
    }
    button.text-info:hover, button.text-info:focus {
        color: #ffffff !important;
    }

    /* dropdown list items - active styles based on if they're related to a primary or secondary button style */

    .dropdown-item {
        text-decoration: none;
    }

    .btn-outline-primary ~ .dropdown-menu .dropdown-item.active,
    .btn-outline-primary ~ .dropdown-menu .dropdown-item:active {
        color: #ffffff;
        /*text-decoration: none;*/
        background-color: #841972;
    }

    .btn-outline-secondary ~ .dropdown-menu .dropdown-item.active,
    .btn-outline-secondary ~ .dropdown-menu .dropdown-item:active {
        color: #ffffff;
        /*text-decoration: none;*/
        background-color: #181A7B;
    }

    /* strikethrough if unavailable */

    .dropdown-menu .dropdown-item.unavailable {
        text-decoration: line-through;
        text-decoration-thickness: 0.15rem;
    }

    /* topic selection modal */

    .modal-backdrop.show {
        opacity: 0.70;
        background-color: #424242
    }

    .de-modal-title {
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1;
    }

    .modal-header .close {
        padding: 0.5rem 0.5rem;
        margin: -1rem -1rem -1rem auto;
    }

    /* disabled checkbox */

    .checkbox-geo.disabled > input {
        accent-color: #656565;
    }

    /* make a larger checkbox */

    .largerCheckbox {
        margin-right: 0.3rem;
        vertical-align: middle;
        width: 1.125rem;
        height: 1.125rem;
    }

    /* disabled comparisons button */

    .btn-comparisons.disabled {
        color: #656565;
    }

    /* SCROLLBAR */

    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: rgb(246, 246, 246); 
    }
    
    /* Track on Hover */
    ::-webkit-scrollbar-track:hover {
      background: rgb(240, 240, 240); 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(195, 195, 195); 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(145, 145, 145); 
    }

    .overflow-fade-ind {
        max-height: 55vmin; overflow-y:scroll; overflow-x:hidden;
      }
    
    .overflow-fade-about {
        max-height: 55vmin; overflow-y:scroll; overflow-x:hidden;
      }

      .vis-bucket {
        clear:both;
        width:100%; 
        max-height: 75vmin; 
    }

        .buttons-csv {
            cursor: pointer;
        }

        .visFooterBox {
            max-height: 250px;
            overflow-y: scroll;
        }

        .nav-pills .nav-link.active {
            border: 0px!important;
        }

        .tab-border {
            border-left: 1px solid #dee2e6 !important;
            border-top: 1px solid #dee2e6 !important;
            border-right: 1px solid #dee2e6 !important;
        }

        .nav-pills .nav-item:hover:not(.active) {
            background-color: #fafafa;
        }

        #leafletMap {
            height: 93vh;
            width: 100%;
            border: 1px solid gray;
        }

        .rightPanel {
            float:right;
            height: 88vh;
            width: 35vw;
            padding: 5px 10px; 
            font: 14px/16px Arial, Helvetica, sans-serif; 
            color: black;
            background: white; 
            background: rgba(255,255,255,0.8); 
            box-shadow: 0 0 15px rgba(0,0,0,0.2); 
            border-radius: 5px; 
            overflow-y: scroll;
        }

        .legend {
            padding: 0px!important;
            border-radius: 5px; 
        }

        .info { 
            width: 30vmax; 
            display: inline-block;
            font: 14px/16px Arial, Helvetica, sans-serif; 
            color: black;
            background: white; 
            background: rgba(255,255,255,0.8); 
            box-shadow: 0 0 15px rgba(0,0,0,0.2); 
        }


        .top-radius {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        #summary-table table thead tr th {
            font-size: 12px!important;
            color: #4b4b4b;;
            border: 1px solid #dee2e6;
        }

        table.dataTable tbody th,table.dataTable tbody td {
            padding: 5px!important;
        }

        table {
            font-size: .875rem!important; 
        }

        table .group td {
            background-color: #F0F0F0;
            color: green;
            font-weight: bold;
            }


        .site-header .nav-item:hover {
            background-color: green;
            color: white;
        }

    </style>




<article class="container-fluid" id="skip-header-target">

    <div class="row" id="allHolder">
        <div id="leafletMap">
            <!-- map -->
        </div>


    </div>

    <!-- Left legend -->
    <div id="legend" class="d-none">
        <div class="accordion-group " role="tablist" id="indicatorAccordion">

            <div class="card ">
        
                <a class="card-header fs-sm collapse collapsed " id="acc-button-01" data-toggle="collapse" href="#panel-acc-button-01"  role="tab" aria-expanded="false" aria-controls="panel-acc-button-01">
                    <span class="title font-weight-bold fs-sm" role="heading" aria-level="3"> <i class="fas fa-list fa-fw mr-1" aria-hidden="true"></i>Datasets</span>
                </a>
        
                <div class="collapse" id="panel-acc-button-01" role="tabpanel" aria-labelledby="acc-button-01" data-parent="#accordion-01">
        
                    <div id="indicatorButtons" class="pb-0 overflow-fade-ind mb-0">
                        <!--Rendered via renderIndicatorButtons function -->
                    </div>
        
                </div>
                <!-- .collapse -->
        
            </div>
            <!-- .card (end of first accordion, repeat as needed) -->
        
        </div>

        <div class="p-1">
            <h2 class="fs-md font-weight-bold" id="indicatorTitle">Indicator Name</h2>
            <p class="fs-sm indicator-description">Indicator description sentences go here. These are usually two sentences long, just a couple of lines.</p>   
            <button class="btn btn-sm btn-outline-secondary">Show as:</button> <button class="btn btn-sm btn-outline-secondary">Boundaries:</button> <button  class="btn btn-sm btn-outline-secondary">Time period:</button>
    
        </div>

    </div>

    <!-- right-hand overlay -->
    <div id="rightOverlay" class="d-none">
                    <!-- Nav buttons -->
                    <div class="nav nav-pills device-xs " role="tablist">
        

                
                        <a class="nav-item nav-link border" id="tab-btn-map" href="#tab-map" data-toggle="pill"
                           aria-controls="tab-map" aria-selected="false" role="tab" style="text-decoration:none">
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            <div class="d-none d-lg-inline-block">
                                <span class="fs-sm font-weight-bold ">Bar</span>
                            </div>
                        </a>
                
                        <a class="nav-item nav-link border" id="tab-btn-trend" href="#tab-trend" data-toggle="pill"
                           aria-controls="tab-trend" aria-selected="false" role="tab" style="text-decoration:none">
                            <i class="fas fa-chart-line fa-fw" aria-hidden="true"></i>
                            <div class="d-none d-lg-inline-block">
                                <span class="fs-sm font-weight-bold ">Trend</span>
                            </div>
                        </a>
                
                
                        <a class="nav-item nav-link border" id="tab-btn-links" href="#tab-links" data-toggle="pill"
                           aria-controls="tab-links" aria-selected="false" aria-disabled="true" role="tab" style="text-decoration:none">
                           <i class="fas fa-project-diagram" aria-hidden="true"></i>
                            <div class="d-none d-lg-inline-block">
                                <span class="fs-sm font-weight-bold ">Correlate</span>
                            </div>
                        </a>

                        <a class="nav-item nav-link border ml-auto" id="tab-btn-table" href="#tab-table" data-toggle="pill"
                        aria-controls="tab-table" aria-selected="false" role="tab" style="text-decoration:none">
                         <i class="fas fa-table mr-1" aria-hidden="true"></i>
                         <div class="d-none d-lg-inline-block">
                             <span class="fs-sm font-weight-bold ">Table</span>
                         </div>
                     </a>
                
                    </div>
                    
                    
                        <!-- visualization elements -->
                        <div class="tab-content mb-2 border-top p-1" id="tabs-01-content">
                    
        
                        <!-- TABLE TAB -->
        
                        <div class="tab-pane fade show active pt-2" id="tab-table" aria-labelledby="tab-btn-table" role="tabpanel">
                            <div class="dropdown">
                                <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle mb-1" type="button"
                                        id="dropdownTableTimes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Time </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownTableTimes">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
                            </div>
                    
                            <div class="dropdown">
                                <button class="btn btn-sm mr-1 float-right btn-outline-secondary dropdown-toggle mb-1" type="button"
                                        id="dropdownTableGeos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Geography </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownTableGeos">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
                            </div>
                    
                            <span id="tableTitle" class="home-label border-bottom"></span>
                            <div id="summary-table" class="" style="height:650px!important">
                                <!-- INSERT SUMMARY TABLE HERE -->
                            </div>
        
                            <div id="table-unreliability" class="pt-2 asidebox hide my-1">
                                <!-- INSERT UNRELIABILITY FLAGS HERE -->
                            </div>
        
                        </div>
                    
        
                        <!-- MAP TAB -->
        
                        <div class="tab-pane fade pt-2" id="tab-map" aria-labelledby="tab-btn-map" role="tabpanel">
        
                            <div class="dropdown">
                                <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle mb-1" type="button"
                                    id="dropdownMapTimes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Time period </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMapTimes">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
        
                            </div>
        
        
                            <div class="dropdown">
                                <button class="btn btn-sm mr-1 float-right btn-outline-secondary dropdown-toggle mb-1" type="button"
                                        id="dropdownMapGeos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Boundaries </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMapGeos">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
                            </div>
        
                            <div class="dropdown">
                                <button class="btn btn-sm mr-1 float-right btn-outline-secondary dropdown-toggle mb-1" type="button"
                                    id="dropdownMapMeasures" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Show as </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMapMeasures">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
        
                            </div>
                        
                            <div id="map" class="vis-bucket"></div>
        
                            <div id="map-unreliability" class="pt-2 asidebox hide my-1">
                                <!-- INSERT UNRELIABILITY FLAGS HERE -->
                            </div>
        
                        </div>
                    
        
                        <!-- TREND TAB -->
        
                        <div class="tab-pane fade pt-2" id="tab-trend" aria-labelledby="tab-btn-trend" role="tabpanel">
        
                            <div class="dropdown dropdownTrendComparisons">
        
                                <!-- comparisons button -->
                                <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle btn-comparisons mb-1" type="button"
                                        id="dropdownTrendComparisons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Compare by </button>
                                
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTrendComparisons">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
                    
                            </div>
        
                            <!-- INSERT TREND CHART HERE -->
                            <div id="trend" class="vis-bucket"></div>
        
                            <div id="trend-unreliability" class="pt-2 asidebox hide my-1">
                                <!-- INSERT UNRELIABILITY FLAGS HERE -->
                            </div>
        
                        </div>
                    
        
                        <!-- LINKS TAB -->
        
                        <div class="tab-pane fade pt-2" id="tab-links" aria-labelledby="tab-btn-links" role="tabpanel">
                            <div class="dropdown">
        
        
                                <!-- disparities button - display style changed to show or hide (currently hidden full time due to glitch on percents-->
        
                                <div class="btn-group btn-group-toggle btn-toggle-disparities" data-toggle="buttons" style="display:inline">
        
                                    <label class="btn btn-sm mr-1 float-right btn-outline-secondary" id="show-disparities">
                                        <input type="radio" name="options" id="disparities-btn" autocomplete="off"> Disparities
                                    </label>
        
        
                                    <label class="btn btn-sm float-right btn-outline-secondary active" id="show-links">
                                        <input type="radio" name="options" id="links-btn" autocomplete="off" checked> Correlates
                                    </label>
        
        
                                </div>
        
                                <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle mb-1" type="button"
                                id="dropdownLinksMeasures" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!-- choose dataset --> </button>
        
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLinksMeasures">
                                    <!-- INSERT MENU ITEMS HERE -->
                                </div>
                                
                            </div>
                            <span id="linksTitle" class="home-label border-bottom"></span>
                            <!-- INSERT LINKS CHART HERE -->
                            <div id="links" class="vis-bucket"></div>
        
                            <div id="links-unreliability" class="pt-2 asidebox hide my-1">
                                <!-- INSERT UNRELIABILITY FLAGS HERE -->
                            </div>
        
                        </div>
                        </div>
    </div>



    <script>
        console.log('de2 running')

var lat = 40.6989538;
var lng = -73.8627016;
var zoom = 11;

var map = L.map('leafletMap', {
    zoomControl: false,
    scrollWheelZoom: false,
    doubleClickZoom: false
}).setView([lat,lng],zoom); // [Lat,Long],Zoom
L.tileLayer('https://api.maptiler.com/maps/basic-v2/{z}/{x}/{y}.png?key=dwIJ8hO2KsTMegUfEpYE',{
    maxZoom:15,
    minZoom: 11,
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
}).addTo(map);


// make a bar with the buttons
var zoomBar = L.easyBar([
    L.easyButton( '<big>+</big>',  function(control, map){map.setZoom(map.getZoom()+1);}),
    L.easyButton( 'fa-home fa-lg', function(control, map){map.setView([lat,lng], zoom);}),
    L.easyButton( '<big>-</big>',  function(control, map){map.setZoom(map.getZoom()-1);}),
]);

// add it to the map
zoomBar.setPosition('bottomleft').addTo(map);

// Add 'legend' (indicator info) to map
const legend = L.control({position: 'topleft'});

legend.onAdd = function (map) {
    const div = L.DomUtil.create('div', 'info legend');
    div.innerHTML = document.getElementById('legend').innerHTML
    return div;
};

legend.addTo(map);

// Add right-panel text box THIS IS WHERE WE START TO SET UP THE VIEW OVERLAY
L.Control.textbox = L.Control.extend({
    onAdd: function(map) {
        
    var text = L.DomUtil.create('div');
    text.id = "info_text";
    text.classList.add('rightPanel')
    const rightOverlay = document.getElementById('rightOverlay')
    text.innerHTML = rightOverlay.innerHTML
    return text;
    },

    onRemove: function(map) {
        // Nothing to do here
    }
});
L.control.textbox = function(opts) { return new L.Control.textbox(opts);}
L.control.textbox({ position: 'topright' }).addTo(map);
    </script>



    <div class="row no-gutters px-0 sr-only">
    
        <div class="col-lg-4 col-md-12 pr-1">
            <!-- About button only on mobile-->
            <button class="btn btn-sm btn-outline-light text-primary btn-block d-lg-none mt-0 mb-2" type="button"
                    data-toggle="modal" data-target="#aboutModal">About {{ .Title }}</button>
    
            <div class="d-none d-lg-block">

                <div class="nav nav-pills device-md border-bottom" role="tablist">

                    <a class="nav-item nav-link active fs-sm tab-border" id="tab-btn-02-a" href="#tab-02-a" data-toggle="tab"
                        aria-controls="tab-02-a" aria-selected="true" role="tab">
                        <i class="fas fa-list fa-fw mr-1" aria-hidden="true"></i>Datasets
                    </a>
                
                    <a class="nav-item nav-link fs-sm tab-border" id="tab-btn-02-b" href="#tab-02-b" data-toggle="tab"
                        aria-controls="tab-02-b" aria-selected="false" role="tab">
                        <i class="fas fa-info-circle mr-1" aria-hidden="true"></i>About {{ lower .Title }}
                    </a>
                </div>
                
                <div class="tab-content l-green-border de-dash-borderbottom" id="tabs-02-content">
                
                    <div class="tab-pane fade show active" id="tab-02-a" aria-labelledby="tab-btn-02-a"
                        role="tabpanel">
                        <!--
                        <div id="indicatorButtons" class="pb-0 overflow-fade-ind mb-0">
                           Rendered via renderIndicatorButtons function 
                        </div> -->
                    </div>
                
                    <div class="tab-pane fade" id="tab-02-b" aria-labelledby="tab-btn-02-b" role="tabpanel">
                        <div class="p-1 overflow-fade-about topic-text mb-1">
                            {{ .Content  }}
                        </div>
                    </div>

                </div>


            </div>


            <!-- Keywords partial -->
            <div class="d-none d-lg-block mt-1 mb-2">
                {{- partial "keywords" . -}}
            </div>

            <!-- Take Action partial -->
            <div class="d-none d-lg-block border-top p-1 mt-4 fs-sm">
                {{- partial "takeaction" . -}}
            </div>


            

        </div>
        
        <div class="col-lg-7 mx-auto col-md-12">
        
            <!-- Indicator selection (mobile) -->
            <div class="dropdown d-lg-none">
                <span class='home-label'>Change dataset</span>
                <button class="btn btn-outline-primary btn-lg btn-block text-wrap dropdown-toggle" type="button"
                        id="dropdownIndicator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More {{ .Title }} data
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownIndicator" id="indicator-dropdown">
                    <!-- Dropdown itmes are rendered using renderIndicatorDropdown -->
                </div>
            </div>

        {{- if .Params.archive -}}
            <div class="border p-1"><p><strong>Note:&nbsp;</strong>{{- .Params.archive | safeHTML -}}</p></div>
        {{- end -}}

        <!-- Indicator title and description -->
        <span class="border-bottom font-weight-bold d-none d-lg-block"><span id="indicatorTitle">Loading data...</span></span>
        <p class="fs-sm indicator-description">Just a moment...</p>
        
        <!-- view selection buttons -->
        <div class="mt-3">

            </div>

                        
            <!-- FOOTER BUSINESS -->
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-block btn-outline-light text-secondary dropdown-toggle mb-1" 
                        type="button"
                        id="downloadDD" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        ><i class="fa fa-download mr-1"></i>Download Data
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" 
                    aria-labelledby="downloadDD">
                    <a class="dropdown-item buttons-csv btn-outline-info" id="chartView"><i class="fa fa-download mr-1"></i>Download this view</a>
                    <a class="dropdown-item buttons-csv btn-outline-info" id="allData"><i class="fa fa-download mr-1"></i>Download full data table</a>
                    <a class="dropdown-item btn-outline-info" href="https://github.com/nychealth/EHDP-data/tree/production/indicators" target="_blank"><i class="fas fa-external-link-alt mr-1"></i>Data Github repo</a>
                    <!--<a class="dropdown-item buttons-csv btn-outline-info" id="thisView">Current table view</a>-->        
                    <!--<a class="dropdown-item buttons-csv btn-outline-info" id="rawData">Raw data for this indicator</a>-->
                    </div>
                    </div>

                </div>

                <div class="col-md-6 col-sm-12">
                    <button class="btn float-right btn-sm btn-block btn-outline-light text-secondary mb-1"
                    onclick="copyCitation()" id="citeButton"><i class="fas fa-copy mr-1"></i>Copy citation</button>
                    <input type="text" id="citeText" value=""
                    style="display:inline-block; width:100%; height: 40px; font-size: 14px;"
                    class="my-2 sr-only">
                    
                </div>

            </div>
            
            <div class="row mb-2">
                <div class="col-md-6 col-sm-12 h-100">
                    <div class="asidebox pb-0 mb-0">
                        <span class="fs-sm font-weight-bold"><i class="fas fa-info-circle mr-1"></i>How calculated</span>
                    </div>
                    <div class="asidebox visFooterBox mb-1">
                        <p class="fs-xs indicator-measures"></p>
            
            
                    </div>
            
                </div>
            
                <div class="col-md-6 col-sm-12 h-100">
                    <div class="asidebox pb-0 mb-0">
                        <span class="fs-sm font-weight-bold"><i class="fas fa-info-circle mr-1"></i>Data sources</span>
                    </div>
                    <div class="asidebox visFooterBox">
                    <p class="fs-xs indicator-sources"></p>
            
                    </div>


                    
                </div>

            </div>


            <!--.footer -->



        </div>
    </div>




    <!-- Topic Selection Modal -->

    <div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel"
         aria-hidden="true" data-pagefind-ignore="all">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content mb-2 border-light shadow">
                <div class="modal-header">
                    <h2 class="de-modal-title h5" id="topicModalLabel">Change topic</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0 ">
                    {{ partial "de-chooser-accordion.html" (dict "layout" "single" "context" . ) }}
                </div>
            </div>
        </div>
    </div>


    <!--About Modal-->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h5" id="aboutModalLabel" data-pagefind-ignore="all">About {{ .Title }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ .Content }}
                </div>
                <div class="modal-footer" data-pagefind-ignore="all">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</article>



{{- /* ====  save indicator names as a resource  ==== */}}

{{- /* ----  get metadata.json from data repo, and transform into a Hugo object  ---- */}}

{{- $metadata_json_resource := (resources.GetRemote (print site.Params.data_repo site.Params.data_branch "/indicators/metadata/metadata.json")) | transform.Unmarshal -}}

{{- /* ----  get names from metadata.json, using scratch  ---- */}}

{{- $metadata_scratch := newScratch -}}
{{- $metadata_map := dict -}}

{{- range $metadata_json_resource -}}
    {{- $metadata_scratch.SetInMap "details" (string .IndicatorID) (dict "IndicatorID" .IndicatorID "name" .IndicatorName "description" .IndicatorDescription) -}}
{{- end -}}

{{ $indicator_names := $metadata_scratch.Get "details" }}
{{/*  {{- warnf (print "@@@@ indicator_names: " $indicator_names ) -}}  */}}

{{- /* ----  save resource  ---- */}}

{{- $indicator_names_json := $indicator_names | jsonify (dict "indent" "  ") | resources.FromString "/IndicatorMetadata/indicator_names.json" -}}

{{- $indicator_names_json.Publish -}}


{{/*  add indicator names and descriptions in page code for pagefind to index  */}}

{{/*  URL  */}}

{{- $indicators := slice -}}

{{- if ( and ( eq .Kind "page" ) ( strings.Contains .RelPermalink "/data-explorer" ) ( not ( or ( strings.Contains .RelPermalink "data-index" ) ( strings.Contains .RelPermalink "indicator-catalog" ) ) ) ) -}}

    {{ $permalink := .Page.RelPermalink }}

    {{/*  {{ warnf (print (println "\\") (println "#---------------") (println "# " $permalink) (println "#---------------")) }}  */}}

    {{- range .Params.Indicators }}

        {{- $indicators = $indicators | append .IndicatorID -}}
            
    {{ end }}

    {{ range $index, $id := $indicators }}

        {{ $indicator := (index $indicator_names (string $id)) }}

        {{- /*  this gets an id because we want sub results with links  */}}
        
        <h1 
            id="IndicatorID-{{ $id }}" 
            class="d-none"> 
            {{ $indicator.name }}
        </h1>
        <h2
            class="d-none"> 
            {{ $indicator.description }}
        </h2>

    
    {{ end }}

{{- end -}}


{{ end }}

{{- define "js_bot" -}}

    {{- /*  JS Dependencies  */}}

    {{- /*  Accessible Autocomplete  */}}

    {{- $js := resources.Get "js/accessible-autocomplete.min.js" -}}
    {{- $secureJS := $js | resources.Fingerprint "sha512" -}}

    <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    {{- /*  Arquero  */}}

    {{- $arquero := resources.Get "node_modules/arquero/dist/arquero.min.js" | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $arquero.RelPermalink }}" integrity="{{ $arquero.Data.Integrity }}"></script>

     {{- /*  DataTables  */}}

     {{- /*  CSS  */}}

    {{- $dataTablesCSS := resources.Get "node_modules/datatables.net-dt/css/jquery.dataTables.min.css" }}
    {{- $dataTablesButtonsCSS := resources.Get "node_modules/datatables.net-buttons-dt/css/buttons.dataTables.min.css" }}
    {{- $dtCSS := slice $dataTablesCSS $dataTablesButtonsCSS | resources.Concat "css/dtCSS.css" }}

    <link rel="stylesheet" href="{{ $dtCSS.RelPermalink }}">

    {{- /*  JS  */}}

    {{- $dataTables := resources.Get "node_modules/datatables.net/js/jquery.dataTables.min.js" }}
    {{- $dataTablesButtons := resources.Get "node_modules/datatables.net-buttons/js/dataTables.buttons.min.js" }}
    {{- $dataTablesButtonsHtml5 := resources.Get "node_modules/datatables.net-buttons/js/buttons.html5.min.js" }}
    {{- $dataTablesButtonsPrint := resources.Get "node_modules/datatables.net-buttons/js/buttons.print.min.js" }}
    {{- $dataTablesRowGroup := resources.Get "node_modules/datatables.net-rowgroup/js/dataTables.rowGroup.min.js" }}
    
    {{- $dataTablesBundleJS := slice $dataTables $dataTablesButtons $dataTablesButtonsHtml5 $dataTablesButtonsPrint $dataTablesRowGroup | resources.Concat "js/dataTableBundle.js" }}
    {{- $DT_secureJS := $dataTablesBundleJS | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $DT_secureJS.RelPermalink }}" integrity="{{ $DT_secureJS.Data.Integrity }}"></script>

    
    {{- /*  other libraries  */}}

    {{- $jszip := resources.Get "node_modules/jszip/dist/jszip.min.js" }}
    {{- $jszip_secureJS := $jszip | resources.Fingerprint "sha512" }}


    <script type="text/javascript" src="{{ $jszip_secureJS.RelPermalink }}" integrity="{{ $jszip_secureJS.Data.Integrity }}"></script>

    {{- /*  VegaLite  */}}

    {{- $vega := resources.Get "node_modules/vega/build/vega.min.js" }}
    {{- $vegaLite := resources.Get "node_modules/vega-lite/build/vega-lite.min.js" }}
    {{- $vegaEmbed := resources.Get "node_modules/vega-embed/build/vega-embed.min.js" }}

    {{- $vegaBundleJS := slice $vega $vegaLite $vegaEmbed | resources.Concat "js/vegaBundle.js" }}
    {{- $vega_secureJS := $vegaBundleJS | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $vega_secureJS.RelPermalink }}" integrity="{{ $vega_secureJS.Data.Integrity }}"></script>

    {{- /*  D3  */}}

    {{- $d3 := resources.Get "node_modules/d3/dist/d3.min.js" }}
    {{- $d3_secureJS := $d3 | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $d3_secureJS.RelPermalink }}" integrity="{{ $d3_secureJS.Data.Integrity }}"></script>

    {{- /*  naturalSort - from https://datatables.net/plug-ins/sorting/natural  */}}

    {{- $naturalSort := resources.Get "js/naturalSort.js" }}
    {{- $naturalSort_secureJS := $naturalSort | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $naturalSort_secureJS.RelPermalink }}" integrity="{{ $naturalSort_secureJS.Data.Integrity }}"></script>

    {{- /*  seedrandom  */}}

    {{- $seedrandom := resources.Get "node_modules/seedrandom/seedrandom.min.js" }}
    {{- $seedrandom_secureJS := $seedrandom | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $seedrandom_secureJS.RelPermalink }}" integrity="{{ $seedrandom_secureJS.Data.Integrity }}"></script>


    {{- /*  Data Explorer JS  */}}

    {{- /*  renderIndicatorDropdown needs to be here becasue of the hugo's markup  */}}

    <script>

        {{- /* =================================================================== */}}
        {{- /*  fetch and load indicators metadata into global object              */}}
        {{- /* =================================================================== */}}

        {{- /*  dropdown (on mobile)  */}}

        const renderIndicatorDropdown = () => {

            const indicatorDropdown = document.getElementById("indicator-dropdown");
            let this_indicatorName;
            let header;

            {{- range .Params.Indicators }}

                header = '{{ .header }}';
                indicatorDropdown.innerHTML += header.length ? '<div class="dropdown-title"><strong>' + header + '</strong></div>' : '';

                {{ range $index, $id := .IndicatorID }}

                    {{ if (eq $index 0) }} defaultIndicatorId = {{ $id }} {{ end }}

                    indicator = indicators.find(indicator => indicator.IndicatorID === {{ $id }});
                    this_indicatorName = indicator?.IndicatorName ? indicator.IndicatorName : 'N/A';
                    indicatorDropdown.innerHTML += "<button class='indicator-dropdown-item dropdown-item' onclick='loadIndicator({{ $id }})' data-indicator-id='{{ $id }}'>" + this_indicatorName + `</button>`;

                {{ end }}
            {{- end }}

        }
        

        {{/*  buttons (on desktop)  */}}

        const renderIndicatorButtons = () => {

            const indicatorButtons = document.getElementById("indicatorButtons");
            let this_indicatorName;
            let header;
            
            {{- range .Params.Indicators }}

                header = '{{ .header }}';
                indicatorButtons.innerHTML += header.length ? '<div class="pl-1 pt-2 home-label border">' + header + '</div>': '';

                {{ range $index, $id := .IndicatorID -}}

                    {{ if (eq $index 0) -}} defaultIndicatorId = {{ $id -}} {{ end }}

                    indicator = indicators.find(indicator => indicator.IndicatorID === {{ $id }});
                    this_indicatorName = indicator?.IndicatorName ? indicator.IndicatorName : 'N/A';
                    indicatorButtons.innerHTML += "<button class='btn btn-sm btn-block btn-outline-active text-body text-left my-0 indicator-dropdown-item text-align-left font-weight-normal' onclick='loadIndicator({{ $id }})' data-indicator-id='{{ $id }}'>" + this_indicatorName + `<i class="indicator-arrows fas fa-arrow-circle-right float-right font-weight-bold hide" id="arrow-{{ $id }}" aria-hidden="true"></i></button>`;
                    
                {{- end }}
            {{- end }}
        }


        {{- /* =================================================================== */}}
        {{- /*  citation functions                                                 */}}
        {{- /* =================================================================== */}}

        function createCitation() {
            // Create date
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            let yyyy = today.getFullYear();
            today = mm + '/' + dd + '/' + yyyy;
            let url = window.location.href.replace(/#.*/, "")

            // Create citation
            let citation = "New York City Department of Health, Environment & Health Data Portal. "  + "{{ .Title }}" + " data. " + indicatorName + '. Accessed at ' + url + ' on ' + today + "."

            // Add to form
            document.getElementById('citeText').setAttribute('value', citation);

            // console.log('CITATION CREATED')

            let btn = document.getElementById('citeButton')
            btn.innerHTML = `<i class="fas fa-copy mr-1"></i>Copy citation`

        }

        function copyCitation() {
            let citeText = document.getElementById('citeText')
            citeText.select()
            citeText.setSelectionRange(0,99999);
            navigator.clipboard.writeText(citeText.value)
            let btn = document.getElementById('citeButton')
            btn.innerHTML = `<i class="fas fa-copy mr-1"></i>Copied!`
            // console.log('citation copied!')
        }
            
    </script>


    {{- /*  JS must be in this order  */}}

    {{- $global := resources.Get "js/data-explorer/global.js" -}}
    {{- $data := resources.Get "js/data-explorer/data.js" -}}
    {{- $renderMeasures := resources.Get "js/data-explorer/measures.js" -}}
    {{- $table := resources.Get "js/data-explorer/table.js" -}}
    {{- $map := resources.Get "js/data-explorer/map.js" -}}
    {{- $links := resources.Get "js/data-explorer/links.js" -}}
    {{- $disparities := resources.Get "js/data-explorer/disparities.js" -}}
    {{- $comparisons := resources.Get "js/data-explorer/comparisons.js" -}}
    {{- $app := resources.Get "js/data-explorer/app.js" -}}
    
    {{- $dataExplorerJS := slice $global $data $renderMeasures $table $map $links $disparities $comparisons $app | resources.Concat "js/dataExplorer.js" -}}
    {{- $DE_secureJS := $dataExplorerJS | resources.Fingerprint "sha512" -}}

    <script type="text/javascript" src="{{ $DE_secureJS.RelPermalink }}" integrity="{{ $DE_secureJS.Data.Integrity }}"></script>

{{- end -}}