{{- define "main" -}}

<article class="container-fluid" id="skip-header-target" data-pagefind-ignore="all">

    <div class="col-lg-10 col-md-12 mx-auto my-4">
        <div class="row">
            <div class="col-12">
                <h1 class="de-accent"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>{{ .Title }}</h1>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-7 col-sm-12">
                {{ .Content }}

                {{- partial "de-topic-indicators.html" . -}}

                <div class="my-3">
                    <p class="text-info font-weight-bold">Search datasets:</p>
                    {{- partial "de-text-search.html" . -}}
                </div>

                <div class="l-green-border p-1">
                    <!-- Recently updated data -->
                    <p class="home-label"><i class="fas fa-table mr-1" aria-hidden="true"></i>Recently updated datasets:</p>
                    {{ range .Site.Data.recently_updated_data.featured}}
                    <a href="{{ relURL .link }}" class="btn btn-outline-primary mr-1 mb-1 btn-sm">{{ .copy }}</a> 
                    {{ end }}
                </div>


            </div>

            <div class="col-md-5 col-sm-12">

                <div class="card-content mb-4">
                    <img class="card-img-top cardshadow" src={{ relURL "images/home-sample-image-DE-5.png" }}>
                </div>

            </div>
            
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <p class="text-info font-weight-bold">Or, browse by category and topic:</p>
                {{ partial "de-chooser-accordion.html" (dict "layout" "double" "context" .)  }}

            </div>

        </div>

        <hr class="my-4">

        <div class="row my-4 l-green-border">
            <div class="col-12 mb-2">
                <p class="fs-lg text-info font-weight-bold"><i class="fas fa-exclamation-circle mr-1"></i><em>Can't find what you're looking for?</em></p>
            </div>

            <div class="col-md-6">
                <p><a class="font-weight-bold" href='{{ relURL "data-explorer/data-index/" }}'>Browse an index of our datasets</a>: Search by term, see available years and geographies, and filter by data source.</p>
                <p><a class="font-weight-bold" href='{{ relURL "data-explorer/indicator-catalog/" }}'>Browse a catalog of our indicators</a>: Search by term, get metadata and download links.</p>
            </div>
        </div>

    </div>

    </div>
    
</article>

{{ end }}