{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="col-lg-10 col-md-12 mx-auto my-4">
        <h1 class="de-accent"><i class="fas fa-chart-line" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}</h1>
        {{- .Content -}}



        <div class="row">
            <div class="col-md-6 p-2 pl-0 ml-auto">
                <p class="text-info font-weight-bold">Select a topic to view data:</p>
                 {{ partial "de-chooser-accordion.html" . }}

             </div>

             <div class="col-md-4 p-2 mr-auto">
                <div class="mt-4">
                    {{ partial "featured-data.html" . }}

                </div>
                </div>

            </div>

        <div class="row">
            <div class="col-10 mx-auto">
                <p class="mt-2 fs-sm"><i class="fas fa-exclamation-circle mr-1"></i><em>Can't find what you're looking for?</em> <a class="text-info font-weight-bold" href='{{ ref . "/content/data-explorer/all-data.md" }}'>Browse an index of all our datasets</a>.
                </p>
            </div>
        </div>

            <div class="row mt-6">
                <hr class="my-2">
                <div class="col-12">
                    <h2 class="text-muted fs-lg">About the Data Explorer</h2>
                    <p class="fs-sm">Our site's data explorer contains hundreds of datasets. Choose a topic to browse available datasets. View data by neighborhood on ways that environments affect health. 
Get maps, trends, and more - on ways that your neighborhood shapes your health. </p>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-md-4 card content-card">
                    <div class="card-content">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ .Site.BaseURL }}images/trend-chart-4.png" alt="Card image cap">
                        </div>
                      </div>

                </div>

                <div class="col-md-4 card content-card">
                    <div class="card-content">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ .Site.BaseURL }}images/data-map-5.png" alt="Card image cap">
                        </div>
                      </div>

                </div>

                <div class="col-md-4 card content-card">
                    <div class="card-content">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ .Site.BaseURL }}images/links-chart-4.png" alt="Card image cap">
                        </div>
                      </div>

                </div>
    
            </div>
        </div>





    </div>
    
</article>


  {{- $js := resources.Get "js/accessible-autocomplete.min.js" -}}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

  {{/*  {{- $js := resources.Get "js/accessible-autocomplete.min.js.map" -}}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>  */}}


<script type="text/javascript"> 

    // https://www.aspsnippets.com/Articles/Populate-DropDownList-from-JSON-Array-using-JavaScript.aspx

    function populateDropDownList() {
        var ddlData = document.getElementById("all-data");
        {{- range .Pages -}} // range through data-explorer pages
        var option = document.createElement("OPTION");
        //Set Neighborhood Name in Text part.
        option.innerHTML = {{ .Title }}
        // set the option value - this adds the environment variable to give it the base URL.
        option.value = '{{ .RelPermalink }}'
        //Add the Option element to DropDownList.
        ddlData && ddlData.options.add(option);
        {{- end -}}
    };
    
    populateDropDownList(); // runs the function above.
    
    // this handles AA highlighting.
    var selectEl = document.querySelector('#all-data')
    accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 2,
        selectElement: selectEl
    });
    
    // this takes the AA form and on submit, sends page to a new location.
    var dataSearchForm = document.getElementById('all-data-select') // this isn't all-data, but all-data-select because of changes applied by the AA JS.
    document.querySelector('form.autocomplete-form').addEventListener("submit", function (e) {
        e.preventDefault(); // prevent page re-load
        window.location.assign(DOMPurify.sanitize(dataSearchForm.options[dataSearchForm.selectedIndex].value))
      });
   </script>

{{- end -}}