{{ define "main" }}

<style>
    /* These styles overwrite default Vega-Lite tooltip styles */

    /* set overall row styles */
    #vg-tooltip-element table tr {
        border-bottom: 1px solid #d9d9d9;
        {{/*  width: max-content;  */}}
    }    
    /* remove bottom border from last row */
    #vg-tooltip-element table tr:last-child {
        border-bottom: 0px;
    }
    
    /* set different style for key column */
    #vg-tooltip-element table tr td.key {
        font-size: 12px!important;
        color: #505050;
        border-right: 1px solid #d9d9d9;
        text-align: right;
        padding-right: 10px;
        width: max-content;
    }    
    
    /* set different style for value column */
    #vg-tooltip-element table tr td.value {
        font-size: 12px!important;
        color: black;
        text-align: left;
        padding-left: 10px;
        width: max-content;
    }
    
    /* Set font-size for table headers */
    #summary-table table thead tr th {
        font-size: 13px!important;
    }
    
    /* This CSS controls read more/show less toggle. */
    [aria-expanded="false"]>.expanded,
    [aria-expanded="true"]>.collapsed {
        display: none;
    }
    
    #truncate {
        display: block;
    }
    
    #full {
        display: none;
    }
    
    #expand-collapse {
        cursor: pointer;
    }
    
    .show {
        display: block !important;
    }
    
    .hide {
        display: none !important;
    }
    
    /* .tab-content > .tab-pane {
        display: block !important;
        opacity: 1 !important;
    } */
    
    .dropdown-title {
        padding: 0.25rem 1.5rem;
    }
    
    .indicator-measures h6 {
        margin-top: 0.5em;
    }
    
    .dropdown-menu {
        z-index: 2000;
    }
    
    div[aria-labelledby="dropdownMapMeasures"].show {
        display: flex !important;
    }
    
    /* info text boxes */
    
    .topic-text {
        font-size: 12px!important;
    }
    
    .topic-text h3 {
        font-size: 16px;
        color: #656565;
    }
    
    .topic-text p li {
        font-size: 12px;
    }
    
    /* indicator selection button */
    
    button.text-info, button.text-info {
        color: #841972 !important; 
    }
    button.text-info:hover, button.text-info:focus {
        color: #ffffff !important; 
    }
    
    /* dropdown list items - active styles based on if they're related to a primary or secondary button style */
    
    .btn-outline-primary ~ .dropdown-menu .dropdown-item.active, 
    .btn-outline-primary ~ .dropdown-menu .dropdown-item:active {
        color: #ffffff;
        text-decoration: none;
        background-color: #841972; 
    }
    
    .btn-outline-secondary ~ .dropdown-menu .dropdown-item.active, 
    .btn-outline-secondary ~ .dropdown-menu .dropdown-item:active {
        color: #ffffff;
        text-decoration: none;
        background-color: #181A7B; 
    }
    
    /* topic selection modal */
    
    .modal-backdrop.show {
        opacity: 0.70; 
        background-color: #424242
    }
    
    .de-modal-title {
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1; 
    }
    
    .modal-header .close {
        padding: 0.5rem 0.5rem;
        margin: -1rem -1rem -1rem auto; 
    }

    /* disabled checkbox */

    .checkbox-geo.disabled > input {
        accent-color: #656565;
    }
    
</style>

<article class="container-fluid" id="skip-header-target">
    <div class="row">
        <div class="col-md-11 mx-auto mt-4 mx-1">
            <nav aria-label="breadcrumb" class="mb-2">
                <ul class="breadcrumb mr-auto">
                    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}/data-explorer/">Data Explorer</a></li>
                    <li class="breadcrumb-item active"><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>
                    <li class="nav-item ml-auto">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                data-target="#topicModal">
                            Change topic
                        </button>

                        <!--
                            <form class="autocomplete-form form-inline">
                                <label for="all-data" class="block col-sm-12 font-weight-bold h4 mb-3 sr-only">Search data</label>
                                <div class="autocomplete-wrapper" width="100%">
                                    <select name="all-data" id="all-data">
                                        <option value=""><i class="fas fa-search mr-2"></i>Search data</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn-primary btn" style="height:40px;"><i class="fas fa-search"></i></button> 
                            </form>
                        -->

                    </li>
                </ul>
            </nav>

            <div class="row mb-1">
                <div class="col mx-2 ml-0 pl-0 py-2">
                    <h2>{{ .Title }}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">

                    <div class="card content-card mb-2">
                        <div class="card-content">
                            <div class="card-body topic-text">
                                <span class='home-label d-none d-md-block border-bottom mb-1'>About this topic</span>
                                 {{ .Content  }}
                            </div>

                        </div>


                    </div>
                </div>

                <div class="col-md-8">
                    <!--This button only appears on small screens to show About-->
                    <button class="btn btn-sm btn-outline-light text-primary btn-block d-block d-md-none mt-0 mb-2"
                            type="button" data-toggle="modal" data-target="#aboutModal">
                        About {{ .Title }}
                    </button>

                    
                    <!-- indicator dropdown -->

                    <div class="card content-card topic-text">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="dropdown">

                                    <span class='home-label d-block'>Change dataset</span>
            
                                    <button class="btn btn-outline-primary btn-lg btn-block text-wrap text-info dropdown-toggle" type="button"
                                            id="dropdownIndicator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        More {{ .Title }} data
                                    </button>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownIndicator"
                                         id="indicator-dropdown">
                                        <!-- Dropdown itmes are rendered using renderIndicatorDropdown -->
                                    </div>

                                </div>
            
            
                                <div style="clear:both" class="my-2">
                                    <span class="home-label d-block">About <span id="indicatorTitle">Indicator</span></span>
            
                                    <p class="fs-sm indicator-description"></p>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="card content-card mt-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="mt-2">
                                    <div class="nav nav-pills bg-white device-xs" role="tablist">
            
                                        <a class="nav-item nav-link flex-fill" id="tab-btn-table" href="#tab-table" data-toggle="pill"
                                           aria-controls="tab-table" aria-selected="false" role="tab" style="text-decoration:none">
                                            <i class="fas fa-list fa-fw"></i>
                                            <div class="d-none d-lg-inline-block py-1">Summary</div>
                                        </a>
                
                                        <a class="nav-item nav-link flex-fill" id="tab-btn-map" href="#tab-map" data-toggle="pill"
                                           aria-controls="tab-map" aria-selected="false" role="tab" style="text-decoration:none">
                                            <i class="fas fa-map-marker-alt fa-fw"></i>
                                            <div class="d-none d-lg-inline-block py-1">Map</div>
                                        </a>
                
                                        <a class="nav-item nav-link flex-fill" id="tab-btn-trend" href="#tab-trend" data-toggle="pill"
                                           aria-controls="tab-trend" aria-selected="false" role="tab" style="text-decoration:none">
                                            <i class="fas fa-chart-line fa-fw"></i>
                                            <div class="d-none d-lg-inline-block py-1">Trend</div>
                                        </a>
                
                
                                        <a class="nav-item nav-link flex-fill" id="tab-btn-links" href="#tab-links" data-toggle="pill"
                                           aria-controls="tab-links" aria-selected="false" aria-disabled="true" role="tab" style="text-decoration:none">
                                            <i class="fas fa-link fa-fw"></i>
                                            <div class="d-none d-lg-inline-block py-1">Links</div>
                                        </a>
                
                                    </div>
                
                                    <div class="tab-content bg-white mb-4" id="tabs-01-content">
                                        <!-- TABLE TAB -->
                                        <div class="tab-pane fade show active py-2" id="tab-table" aria-labelledby="tab-btn-table"
                                             role="tabpanel">
                                            <div class="float right mr-1">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle"
                                                            type="button" id="dropdownTableYear" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">Select year
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownTableYear">
                                                        <!-- INSERT MENU ITEMS HERE -->
                                                    </div>
                                                </div>
                
                                                <div class="dropdown">
                                                    <button class="btn btn-sm mr-1 float-right btn-outline-secondary dropdown-toggle"
                                                            type="button" id="dropdownTableGeo" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">Select geography
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownTableGeo">
                                                        <!-- INSERT MENU ITEMS HERE -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <span id="summaryTitle" class="home-label"></span>
                                                <div id="summary-table">
                                                    <!-- INSERT SUMMARY TABLE HERE -->
                                                </div>
                
                                            </div>
                                        </div>
                                        <!-- MAP TAB -->
                                        <div class="tab-pane fade py-2" id="tab-map" aria-labelledby="tab-btn-map" role="tabpanel">
                                            <div class="float right mr-1">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm mr-1 float-right btn-outline-secondary dropdown-toggle"
                                                            type="button" id="dropdownMapMeasures" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">Select
                                                        measure
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMapMeasures">
                                                        <!-- INSERT MENU ITEMS HERE -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <span id="mapTitle" class="home-label"></span>
                                                <div id="map" width=600 height=500
                                                     style="width: 100%; min-height: 450px; margin-bottom: 50px;"></div>
                                            </div>
                                        </div>
                                        <!-- TREND TAB -->
                                        <div class="tab-pane fade py-2" id="tab-trend" aria-labelledby="tab-btn-trend" role="tabpanel">
                                            <div class="dropdown float-right mr-1">
                                                <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle" type="button"
                                                        id="dropdownTrendMeasures" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">Choose measure</button>
                                                <!-- disparities button - display style changed to show or hide -->
                                                <button class="btn btn-sm mr-1 float-right btn-outline-secondary btn-show-disparities"
                                                        style="display:inline">Show Dispartites</button>
                                                
                                                <div class="dropdown-menu" aria-labelledby="dropdownTrendMeasures">
                                                    <!-- INSERT MENU ITEMS HERE -->
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <span id="trendTitle" class="home-label"></span>
                                                <!-- INSERT TREND CHART HERE -->
                                                <div id="trend" style="width: 100%; height: 550px"></div>
                                            </div>
                                        </div>
                                        <!-- LINKS TAB -->
                                        <div class="tab-pane fade py-2" id="tab-links" aria-labelledby="tab-btn-links" role="tabpanel">
                                            <div class="dropdown float-right">
                                                <button class="btn btn-sm float-right btn-outline-secondary dropdown-toggle" type="button"
                                                        id="dropdownLinksMeasures" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">Select data to link
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownLinksMeasures">
                                                    <!-- INSERT MENU ITEMS HERE -->
                                                </div>
                                            </div>
                                            <div class="mt-4" style="height: 550px; clear: both">
                                                <span id="linksTitle" class="home-label"></span>
                                                <!-- INSERT LINKS CHART HERE -->
                                                <div id="links" style="width: 100%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-2">

                    <div class="row my-2">
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-light text-secondary dropdown-toggle" 
                                        type="button"
                                        id="downloadDD" 
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"
                                    ><i class="fa fa-download mr-1"></i>Download Data
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" 
                                     aria-labelledby="downloadDD">
                                <a class="dropdown-item buttons-csv btn-outline-info" id="thisView">Current table view</a>
                                <a class="dropdown-item buttons-csv btn-outline-info" id="allData">Full table for this indicator</a>
                                <a class="dropdown-item buttons-csv btn-outline-info" id="rawData">Raw data for this indicator</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ml-auto">
                            <button class="btn float-right btn-sm btn-outline-light text-secondary"
                                    onclick="copyCitation()" id="citeButton"><i class="fas fa-copy mr-1"></i>Copy
                                citation</button>
                            <input type="text" id="citeText" value=""
                                   style="display:inline-block; width:100%; height: 40px; font-size: 14px;"
                                   class="my-2 sr-only">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6 col-xs-12">
                            <div class="btn-toggle">
                                <button class="btn btn-block btn-md btn-outline-light text-secondary"
                                        data-toggle="collapse" data-target="#toggle-target" aria-expanded="false"
                                        aria-controls="toggle-target">
                                    <span class="title"><i class="fas fa-info-circle mr-1"></i>About the Measures</span>
                                </button>
                            </div>

                            <div class="collapse p-2" id="toggle-target" role="navigation">
                                <p class="fs-sm indicator-measures">Insert from `How_Calculated.` Vivamus consequat id
                                    nibh et tempor. Cras
                                    augue enim, iaculis quis purus sit amet, interdum accumsan neque. In blandit varius
                                    blandit. Praesent
                                    vel leo ac urna dapibus faucibus. Donec sed luctus neque. Nulla porta finibus elit,
                                    luctus eleifend
                                    felis ornare vitae. Ut consequat laoreet libero eu venenatis.</p>

                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="btn-toggle">
                                <button class="btn btn-block btn-md btn-outline-light text-secondary"
                                        data-toggle="collapse" data-target="#toggle-target-2" aria-expanded="false"
                                        aria-controls="toggle-target-2">
                                    <span class="title"><i class="fas fa-database mr-1"></i>Data sources</span>
                                </button>
                            </div>

                            <div class="collapse p-2" id="toggle-target-2" role="navigation">
                                <p class="fs-sm indicator-sources">Insert from `Sources.` Pellentesque blandit ante vel
                                    augue mattis, lacinia
                                    tincidunt velit feugiat. Class aptent taciti sociosqu ad litora torquent per conubia
                                    nostra, per inceptos
                                    himenaeos. Donec nulla nisl, sollicitudin et volutpat at, finibus ac quam.
                                    Pellentesque faucibus turpis
                                    egestas tellus luctus, nec porttitor diam bibendum. Sed mauris augue, tempus id urna
                                    sit amet, hendrerit
                                    blandit libero. Cras sit amet luctus nunc, nec mattis leo. </p>

                            </div>
                        </div>

                    </div>

                    <!--Notes placekeeper - can be injected following table scan-->
                    <div class="row mb-4">
                        <div class="col">
                                <p style="font-size:10px">
                                    <em>* Estimate is based on small numbers so should be interpreted with caution.<br>
                                        ** Estimate is suppressed due to insufficient data.</em>
                                    </p>
    
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Topic Selection Modal -->

    <div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content mb-2 border-light shadow">
                <div class="modal-header">
                    <h5 class="de-modal-title" id="topicModalLabel">Change topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0 ">
                    {{ partial "de-chooser-accordion.html" . }}
                </div>
            </div>
        </div>
    </div>


    <!--About Modal-->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutModalLabel">About {{ .Title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ .Content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</article>

{{ end }}

{{- define "js_bot" -}}
    <!-- JS Dependencies -->
    <!-- Arquero -->
    {{- $arquero := resources.Get "node_modules/arquero/dist/arquero.min.js" -}}
    <script type="text/javascript" 
        src="{{ $arquero.RelPermalink }}" 
        integrity="{{ $arquero.Data.Integrity }}"></script>

     <!-- DataTables -->
    {{- $dataTables := resources.Get "node_modules/datatables.net/js/jquery.dataTables.min.js" -}}
    {{- $dataTablesButtons := resources.Get "node_modules/datatables.net-buttons/js/dataTables.buttons.min.js" -}}
    {{- $dataTablesButtonsHtml5 := resources.Get "node_modules/datatables.net-buttons/js/buttons.html5.min.js" -}}
    {{- $dataTablesButtonsPrint := resources.Get "node_modules/datatables.net-buttons/js/buttons.print.min.js" -}}
    {{- $dataTablesRowGroup := resources.Get "node_modules/datatables.net-rowgroup/js/dataTables.rowGroup.min.js" -}}
    {{- $jszip := resources.Get "node_modules/jszip/dist/jszip.min.js" -}}
    {{- $pdfmake := resources.Get "node_modules/pdfmake/build/pdfmake.min.js" -}}
    {{- $pdfmakeVfsFonts := resources.Get "node_modules/pdfmake/build/vfs_fonts.js" -}}
    
    {{ $dataTablesBundelJS := slice $dataTables $dataTablesButtons $dataTablesButtonsHtml5 $dataTablesButtonsPrint $dataTablesRowGroup $jszip $pdfmake $pdfmakeVfsFonts | resources.Concat "js/dataTableBundle.js" }}
    <script type="text/javascript" 
        src="{{ $dataTablesBundelJS.RelPermalink }}" 
        integrity="{{ $dataTablesBundelJS.Data.Integrity }}"></script>

    <!-- VegaLite -->
    {{- $vega := resources.Get "node_modules/vega/build/vega.min.js" -}}
    {{- $vegaLite := resources.Get "node_modules/vega-lite/build/vega-lite.min.js" -}}
    {{- $vegaEmbed := resources.Get "node_modules/vega-embed/build/vega-embed.min.js" -}}

    {{ $vegaBundelJS := slice $vega $vegaLite $vegaEmbed | resources.Concat "js/vegaBundle.js" }}
    <script type="text/javascript" 
        src="{{ $vegaBundelJS.RelPermalink }}" 
        integrity="{{ $vegaBundelJS.Data.Integrity }}"></script>

    <!-- D3 -->
    {{- $d3 := resources.Get "node_modules/d3/dist/d3.min.js" -}}

    <script type="text/javascript" 
        src="{{ $d3.RelPermalink }}" 
        integrity="{{ $d3.Data.Integrity }}"></script>


    <!-- Data Explorer JS -->
    <!-- renderIndicatorDropdown needs to be here becasue of the hugo's markup -->
    <script>
        const renderIndicatorDropdown = () => {

            const indicatorDropdown = document.getElementById("indicator-dropdown");
            let this_indicatorName;
            let header;
            
            {{- range .Params.Indicators }}

                header = `{{ .header }}`;
                indicatorDropdown.innerHTML += header !== null ? `<div class="dropdown-title"><strong>${header}</strong></div>`: '';

                {{ range $index, $id := .IndicatorID -}}

                    {{ if (eq $index 0) -}} defaultIndicatorId = {{ $id -}} {{ end }}

                    indicator = indicators.find(indicator => indicator.IndicatorID === {{ $id }});
                    this_indicatorName = indicator?.IndicatorName ? indicator.IndicatorName : 'N/A';
                    indicatorDropdown.innerHTML += '<button class="indicator-dropdown-item dropdown-item" onclick="loadIndicator({{ $id }})" data-indicator-id={{ $id }}>' + this_indicatorName + '</button>';
                    
                {{- end -}}
            {{- end -}}
        }
    </script>


    <!-- JS must be in this order -->
    {{- $global := resources.Get "js/data-explorer/global.js" -}}
    {{- $data := resources.Get "js/data-explorer/data.js" -}}
    {{- $renderMeasures := resources.Get "js/data-explorer/renderMeasures.js" -}}
    {{- $summary := resources.Get "js/data-explorer/summary.js" -}}
    {{- $map := resources.Get "js/data-explorer/map.js" -}}
    {{- $trend := resources.Get "js/data-explorer/trend.js" -}}
    {{- $links := resources.Get "js/data-explorer/links.js" -}}
    {{- $disparities := resources.Get "js/data-explorer/disparities.js" -}}
    {{- $app := resources.Get "js/data-explorer/app.js" -}}
    
    {{ $dataExplorerJS := slice $global $data $renderMeasures $summary $map $trend $links $disparities $app | resources.Concat "js/bundle.js" }}
    <script type="text/javascript" 
        src="{{ $dataExplorerJS.RelPermalink }}" 
        integrity="{{ $dataExplorerJS.Data.Integrity }}"></script>


    {{ $js := resources.Get "js/accessible-autocomplete.min.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}

    <script type="text/javascript" 
        src="{{ $secureJS.RelPermalink }}" 
        integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- end -}}