{{ define "main" }}


<article class="container-fluid" id="skip-header-target">


    <div class="col-md-10 col-sm-12 mx-auto my-4">

        <div class="row no-gutters mb-2">
            <div class="col">
                <nav aria-label="breadcrumb" class="my-3">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/data_explorer/">Data Explorer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                        </ul>
                </nav>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-md-4">
                <h2 class="greenfill fs-lg"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>Get data:</h4>
                {{ range .Params.indicators}}
                    <a href="#" onclick="protoPopup({{ .URL}})">{{.name}}</a>
                    <hr>
                {{end}}

                <hr class="portalhr mt-4 mb-2">
                {{ partial "keywords" . }}
            </div>



            <div class="col-md-8 fs-sm subtopiccontainer">
              <h1 class="greenfill fs-xl"><i class="fas fa-info-circle" style="margin-right: 10px" aria-hidden="true"></i>About {{ .Title}}</h4>
                {{ .Content }}





                <div class="row mt-4 mb-0">
                    <div class="col-12 mb-1">
                        <h3 class="greenfill fs-rg my-2">Related:</h3>
                    </div>

                    <div class="col-md-4">
                        <h4 class="fs-md"><i class="fas fa-passport text-muted mr-1" aria-hidden="true"></i>Data Stories</h4>
                        {{ partial "related" (dict "section" "data_stories" "layout" "singlelist" "content" . ) }}

                    </div>

                    <div class="col-md-4 mt-0">
                        <h4 class="fs-md"><i class="fas fa-star text-muted mr-1" aria-hidden="true"></i>Key Topics</h4>
                        <!--sets variables-->
                        {{ $page_link := .Permalink }}
                        {{ $cats := .Params.categories }}

                        {{ range where (where .Site.Pages "Section" "key_topics") ".File.BaseFileName" "_index" }}
                        <!--$page equals values we find when ranging through-->
                        {{ $page := . }}

                        <!--set variable equal to intersection of categories: page that we're on, and pages we ranged through-->
                        {{ $has_common_cats := intersect $cats .Params.categories | len | lt 0 }}

                        <!--Show commonalities, except for page we're on -->
                        {{ if and $has_common_cats (ne $page_link $page.Permalink) }}
                        <a href="{{ $page.Permalink}}">{{ $page.Title }}</a>
                        <hr class="my-1">
                        {{ end }} 
                        {{ end }}
                    </div>

                    <div class="col-md-4">
                        <h4 class="fs-md"><i class="fas fa-map-marked-alt text-muted mr-1" aria-hidden="true"></i>Neighborhood Reports</h4>
                        {{ partial "related" (dict "section" "neighborhood_reports" "layout" "singlelist" "content" . ) }}

                    </div>
                </div>

                <div class="row mt-2 text-right">
                    <div class="col">


                    </div>
                </div>

            </div>


        </div>






    </div>

</article>


<!--Script powers exit modal-->
<script>
    var destination;

    function protoPopup(URL) {
        destination = URL;
        $('#prototypeModal').modal('show')
        document.getElementById('modalDestination').setAttribute("href", destination)
    }

</script>

<!-- Exit modal-->
<div class="modal" tabindex="-1" role="dialog" id="prototypeModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">You're leaving the prototype.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This link is taking you to a dataset displayed on the old version of the EH Data Portal.</p> 
          <p>If you want to return to this prototype, just hit the back button in your web browser.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary-outline float-left" data-dismiss="modal">Go Back</button>

            <a href="" id="modalDestination">
            <button  type="button" class="btn btn-secondary float-right">Get the data <i class="far fa-arrow-alt-circle-right ml-1"></i></button></a>


        </div>
      </div>
    </div>
  </div>


{{end}}