{{ define "main" }}

<article class="container-fluid" id="skip-header-target">
    <div class="row">
        <div class="col-md-11 mx-auto mt-4 mx-1">
            <nav aria-label="breadcrumb" class="mb-2">
                <ul class="breadcrumb mr-auto">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/data_explorer/">Data Explorer</a></li>
                    <li class="breadcrumb-item active"><a href="/key_topics/airquality/">{{ .Title}}</a></li>
                </ul>
            </nav>

            <div class="row">
               <div class="col-3 ml-auto my-1">
                <form class="autocomplete-form">
                    <div class="row no-gutters">
                    <label for="all-data" class="block col-sm-12 font-weight-bold h4 mb-3 sr-only">Search data</label>
                    <div class="col-9">
                        <div class="autocomplete-wrapper" width="100%">
                        <select name="all-data" id="all-data">
                            <option value=""><i class="fas fa-search mr-2"></i>Search data</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn-primary btn btn-block" style="height:40px;"><i class="fas fa-search"></i></button> 
                    </div>
                    </div>
                </form>
               </div>
            </div>

            <div class="row mb-2">
                <div class="col border-bottom mx-2 ml-0 pl-0 pb-2 mb-2">
                    <h2>{{ .Title}}</h2>
                </div>
            </div>

            <style>
                /*This CSS controls read more/show less toggle.*/
                [aria-expanded="false"] > .expanded,
                [aria-expanded="true"] > .collapsed {
                  display: none;
                }

                #truncate {
                    display: block;
                }

                #full {
                    display: none;
                }

                #expand-collapse {
                    cursor: pointer;
                }

                .show {
                display: block!important;
                }

                .hide {
                display: none!important;
                }
            </style>

            <script>
                function reveal() {
                    document.getElementById('truncate').classList.toggle('hide')
                    document.getElementById('full').classList.toggle('show')
                    document.getElementById('contenttoggle').innerHTML = `Show less... <i class="fas fa-caret-square-up" aria-hidden="true"></i>`

                }
            </script>

            <div class="row">
                <div class="col-md-4">
                    <div class="card fs-sm mb-2">
                        <!-- Content truncate-->
                        <div id="truncate" class="text-truncate">
                            {{ .Content | truncate 350}}
                        </div>

                        <!-- Full content-->
                        <div id="full">
                            {{ .Content }}
                        </div>
                        <p>

                        <!-- Show/hide button (a crude implementation)-->
                        <button class="btn-sm btn-outline-secondary float-right" onclick="reveal()" id="contenttoggle">Show more...<i class="fas fa-caret-square-down" aria-hidden="true"></i></button>
                    </div>


                </div>

                <div class="col-md-8">
                    <div class="dropdown float-right">
                        <button class="btn btn-outline-primary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:right!important">
                          More {{ .Title}} data
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {{ range .Params.Indicators}}
                          <a class="dropdown-item" href="{{ .URL}}">{{ .name}}</a>
                        {{ end }}
                        </div>
                    </div>
                    <h3>{{ (index .Params.indicators 0).name }}</h3>


                    <div style="clear:both" class="my-3">
                        <p class="fs-sm"><strong>Indicator description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit, tincidunt ac ornare at, sodales quis massa. Maecenas malesuada nisi id velit varius, vitae convallis lorem tristique. Ut imperdiet mollis efficitur. </p>
                    </div>


                    <div class="nav nav-pills bg-white device-sm" role="tablist">

                        <a class="nav-item nav-link flex-fill active" id="tab-btn-01-a" href="#tab-01-a"
                            data-toggle="pill" aria-controls="tab-01-a" aria-selected="true" role="tab">
                            <i class="fas fa-list h4 fa-fw"></i><div class="d-none d-lg-block">Summary</div>
                        </a>
                    
                        <a class="nav-item nav-link flex-fill" id="tab-btn-01-b" href="#tab-01-b"
                            data-toggle="pill" aria-controls="tab-01-b" aria-selected="false" role="tab">
                            <i class="fas fa-map-marker-alt h4 fa-fw"></i><div class="d-none d-lg-block">Map</div>
                        </a>
                    
                        <a class="nav-item nav-link flex-fill" id="tab-btn-01-c" href="#tab-01-c"
                            data-toggle="pill" aria-controls="tab-01-c" aria-selected="false" role="tab">
                            <i class="fas fa-chart-line h4 fa-fw"></i><div class="d-none d-lg-block">Trend</div>
                        </a>


                     <a class="nav-item nav-link flex-fill" id="tab-btn-01-e" href="#tab-01-e"
                     data-toggle="pill" aria-controls="tab-01-e" aria-selected="false" role="tab">
                     <i class="fas fa-link h4 fa-fw"></i><div class="d-none d-lg-block">Links</div>
                        </a>
                    
                    </div>
                    
                    <div class="tab-content bg-white mb-4" id="tabs-01-content">
                    
                        <div class="tab-pane fade show active py-2" id="tab-01-a" aria-labelledby="tab-btn-01-a" role="tabpanel">
                            <div class="float right">
                                <div class="dropdown">
                                        <button class="btn btn-sm float-right btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select year
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Radio buttons:</a>
                                            <a class="dropdown-item" href="#">2016</a>
                                          <a class="dropdown-item" href="#">2015</a>
                                        </div>
                                      </div>

                                      <div class="dropdown">
                                            <button class="btn btn-sm mr-1 float-right btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select geography
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <a class="dropdown-item" href="#">Check boxes:</a>
                                              <a class="dropdown-item" href="#">City</a>
                                              <a class="dropdown-item" href="#">Borough</a>
                                              <a class="dropdown-item" href="#">Neighborhood</a>
                                            </div>
                                          </div>
                                </div>
                            <div class="border mt-4" style="height: 550px; clear:both">
                                INSERT SUMMARY TABLE HERE
                            </div>
                        </div>
                    
                        <div class="tab-pane fade py-2" id="tab-01-b" aria-labelledby="tab-btn-01-b" role="tabpanel">

                            <div class="float right">
                                <div class="dropdown">
                                        <button class="btn btn-sm float-right btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select year
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Radio buttons:</a>
                                            <a class="dropdown-item" href="#">2016</a>
                                          <a class="dropdown-item" href="#">2015</a>
                                        </div>
                                      </div>

                                      <div class="dropdown">
                                            <button class="btn btn-sm mr-1 float-right btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select measure
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <a class="dropdown-item" href="#">Radio buttons:</a>
                                              <a class="dropdown-item" href="#">Measure 1</a>
                                              <a class="dropdown-item" href="#">Other measure</a>
                                              <a class="dropdown-item" href="#">Other measure</a>
                                            </div>
                                          </div>
                                </div>



                            <div class="border mt-4" style="height: 550px; clear: both">
                                INSERT MAP HERE
                            </div>                        
                        </div>
                    
                        <div class="tab-pane fade py-2" id="tab-01-c" aria-labelledby="tab-btn-01-c" role="tabpanel">
                            <div class="dropdown float-right">
                                <button class="btn btn-sm float-right btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose measure
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Radio buttons:</a>
                                  <a class="dropdown-item" href="#">Measure 1</a>
                                  <a class="dropdown-item" href="#">Other measure</a>
                                </div>
                              </div>
                            <div class="border mt-4" style="height: 550px; clear: both">
                                INSERT TREND CHART HERE
                            </div>
                        </div>

                            <div class="tab-pane fade py-2" id="tab-01-e" aria-labelledby="tab-btn-01-e" role="tabpanel">
                                <div class="dropdown float-right">
                                    <button class="btn btn-sm float-right btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select data to link
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Option 1</a>
                                      <a class="dropdown-item" href="#">Option 2</a>
                                    </div>
                                  </div>
                                <div class="border mt-4" style="height: 550px; clear: both">
                                    INSERT LINKS CHART HERE
                                </div>
                                </div>
                    </div>

                    <hr class="my-2">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="fs-rg">About the measures</h4>
                            <p class="fs-sm">Insert from `How_Calculated.` Vivamus consequat id nibh et tempor. Cras augue enim, iaculis quis purus sit amet, interdum accumsan neque. In blandit varius blandit. Praesent vel leo ac urna dapibus faucibus. Donec sed luctus neque. Nulla porta finibus elit, luctus eleifend felis ornare vitae. Ut consequat laoreet libero eu venenatis.</p>
                        </div>
                        <div class="col-6">
                            <h4 class="fs-rg">Data sources</h4>
                            <p class="fs-sm">Insert from `Sources.` Pellentesque blandit ante vel augue mattis, lacinia tincidunt velit feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nulla nisl, sollicitudin et volutpat at, finibus ac quam. Pellentesque faucibus turpis egestas tellus luctus, nec porttitor diam bibendum. Sed mauris augue, tempus id urna sit amet, hendrerit blandit libero. Cras sit amet luctus nunc, nec mattis leo. </p>

                        </div>
                    </div>
                    
                    <hr class="my-2">

                    <div class="row mb-4">
                        <div class="col">
                            <h4>Related:</h4>
                            <p>Insert related content via partial, here.</p>
                        </div>
                    </div>


            
                </div>
            </div>

        </div>
    </div>








</article>

{{ $js := resources.Get "js/accessible-autocomplete.min.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

<script type="text/javascript"> 
    // https://www.aspsnippets.com/Articles/Populate-DropDownList-from-JSON-Array-using-JavaScript.aspx
    function populateDropDownList() {          
           var ddlData = document.getElementById("all-data");
          {{ range (where .Site.Pages "Section" "data-explorer") }} // range through data_explorer pages
            var option = document.createElement("OPTION");
            //Set Neighborhood Name in Text part.
            option.innerHTML = {{ .Title}}
            // set the option value - this adds the environment variable to give it the base URL.
            option.value = '{{ .Site.Params.devpath}}/{{ .RelPermalink }}'
            //Add the Option element to DropDownList.
            ddlData.options.add(option);
          {{ end}}
       };

       populateDropDownList(); // runs the function above.

       // this handles AA highlighting.
       var selectEl = document.querySelector('#all-data')
        accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 2,
        selectElement: selectEl
            });


    // this takes the AA form and on submit, sends page to a new location.
    var dataSearchForm = document.getElementById('all-data-select') // this isn't all-data, but all-data-select because of changes applied by the AA JS.
    document.querySelector('form.autocomplete-form').addEventListener("submit", function (e) {
        e.preventDefault(); // prevent page re-load
        window.location.assign(dataSearchForm.options[dataSearchForm.selectedIndex].value)
      });



   </script>

{{end}}