{{- define "main" -}}

<article class="container-fluid overflow-hidden" id="primary-content">

  <div class="row mb-4">
    <div class="col-md-8 col-sm-12 mx-auto">

      <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ul>
      </nav>

      <!--start main column-->
      <h1>{{- .Title -}}</h1>
        {{- .Content -}}

      <!-- Start posts -->
      <p class="home-label mt-4">Recent posts:</p>
      <div class="row">
        {{- range (where .Site.RegularPages.ByDate "Section" "about").Reverse -}}
        <div class="card content-card mb-4 col-sm-6">
        <div class="card-content primary">
          <div class="card-body">
              <h3 class="card-title"><a class="text-black" href="{{ .RelPermalink }}" class="text-primary">{{ .Title }}</a></h3>
              <div class="mb-2">{{ .Content | truncate 100 | plainify }}</div>
              <div class="d-flex justify-content-end link">
                  <a class="fs-sm font-weight-bold" href="{{ .RelPermalink }}">Read more <i class="fa-solid fa-angle-right"></i></a>
              </div>
          </div>
      </div>
    </div>

        {{- end -}}
      </div>

      <!-- Start footer HD resources -->
      <h2 class="mt-4">Browse other Health Department data resources</h2>
      <p>Can't find what you're looking for on our site? Try these other Health Department data resources:
        <ul>
          <li><a href="https://a816-health.nyc.gov/hdi/epiquery/">EpiQuery</a>: Analyze and visualize NYC health data from surveys, disease reports and vital records by sex, race/ethnicity, age and other stratifications.</li>
          <li><a href="https://a816-health.nyc.gov/hdi/profiles/">Community Health Profiles</a>: Learn about the social, economic and health conditions and outcomes of New Yorkers, neighborhood-by-neighborhood.</li>
          <li><a href="https://www1.nyc.gov/site/doh/data/data-home.page">All Health Department data resources</a> </li>
          <li><a href="https://www1.nyc.gov/site/doh/health/health-topics.page">Health Topics A to Z</a>: Comprehensive information about health topics and services that can help you out. </li>
        </ul>
      </p>

    </div>
    <!--end main column-->

  </div>

</article>
{{- end -}}
