{{- define "main" -}}

<article class="container-fluid overflow-hidden" id="primary-content">

  <div class="row mb-4">
    <div class="col-md-8 col-sm-12 mx-auto">

      <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
            <li class="breadcrumb-item"><a href={{ relURL "about" }}>About</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ul>
      </nav>

      <!--start main column-->
      <h1>{{- .Title -}}</h1>
        {{- .Content -}}

        <hr class="my-4">
        <strong class="keywords">Published on:</strong><br>
        {{- .Date.Format "January 2, 2006" -}}

    </div>
    <!--end main column-->
  </div>

</article>
{{- end -}}
