{{- define "main" -}}

<style>
    body {
        position: relative;
    }
</style>

<div class="container-fluid px-0">

    {{ $src := .Resources.GetMatch .Params.image }}
    {{ $image := $src.Resize "1920x"}}
    <div id="datastoryheader" style="background-image: URL({{ $image.RelPermalink }}); background-position: 50% 25%">


        <div class="medium my-auto">
            <h1 class="titleheader py-2 px-4">
                {{- .Title -}}
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid d-xl-none d-lg-none">
    <div class="narrow">
        <div class="btn-toggle narrow">
            <button class="btn btn-block btn-lg btn-primary shadow" data-toggle="collapse"
                data-target="#main-nav" aria-expanded="false" aria-controls="sidebar-nav">
                <span class="title">Contents</span>
            </button>
        </div>
    </div>
</div>

<article class="container-fluid" id="skip-header-target">
    
    <div class="row mt-2 mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb" class="border-top">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-stories" }}>Data Stories</a></li>
                    <li class="breadcrumb-item active"><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>

                </ul>
            </nav>
        </div>
    </div>


    <div class="row">

        <div class="col-xl-2">
            <!-- <div class="sticky-top container-fluid collapse d-lg-block px-0 border-lg-top border-lg-bottom"
                id="main-nav" style="background-color:white;">
                <div id="list-example" class="list-group">
                    <p class="list-group-item">Table of Contents</p>
                    {{- range .Params.chapters -}}
                    <a class="list-group-item" href="#{{ .anchor }}">{{ .chapter }}</a>

                    {{- end -}}

                </div>
            </div> -->
        </div>
        <!-- .col -->

        <!--start main content section-->
        <div class="col-xl-7 overflow-hidden fs-rg mr-auto" id="primary-content">
            
        <!-- language selection -->
        {{- if .IsTranslated -}}
            <nav class="navbar navbar-default my-2">
                    <ul class="nav navbar-nav fs-sm">
                        <span class="mr-2">Read this data story in:</span> 
                        {{- range .Translations -}}
                        <li class="mb-1"><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>&nbsp;|&nbsp;</li>  
                        {{- end -}}
                    </ul>
            </nav>

        {{- end -}}

            <div class="wide my-2 px-5">
                {{- .Content -}}
            </div>

            <footer class="narrow my-4" id="article-footer">
                <div class="border-top border-dark">
                    <ul class="extensible-list horizontal text-muted mt-3">
                        <li>
                            <p class="text-muted" >
                                <span class="fa fa-envelope"></span> Questions about this data story? Ideas
                                for another one? Email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#101;&#104;&#100;&#112;&#64;&#104;&#101;&#97;&#108;&#116;&#104;&#46;&#110;&#121;&#99;&#46;&#103;&#111;&#118;">&#101;&#104;&#100;&#112;&#64;&#104;&#101;&#97;&#108;&#116;&#104;&#46;&#110;&#121;&#99;&#46;&#103;&#111;&#118;</a></p>
                        </li>
                    </ul>
                </div>
                <!-- .narrow -->

            </footer>
            <!-- #article-footer -->


        </div>
        <!-- .col -->

        <!--right-hand column for extra resources and links-->
        <div class="col-xl-2 border-xl-left">

            <div class="py-3 mt-n3 mt-xl-0 sticky-top fs-sm" style="z-index: 0">
                {{- partial "socialshare.html" . -}}

                <hr class="my-2">

                {{- partial "keywords" . -}}

                <hr class="my-2">

                <div class="fs-sm">
                    {{- if .Params.photocredit -}}
                        <i class="fas fa-images mr-1"></i><strong class="keywords">Banner image:</strong><br>
                        {{- .Params.photocredit -}}
                        <hr class="my-2">
                    {{- end }}

                    <strong class="keywords">Published on:</strong><br>
                    {{- .Date.Format "January 2, 2006" -}}
                </div>

            </div>
            <!-- .my-3 -->

        </div>
        <!-- .col -->

    </div>
    <!-- .row -->

</article>
<!-- #primary-content -->

{{- partial "related-footer-2" . -}}


{{- end -}}