{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="row mt-2">
        <div class="col-12">
            <nav aria-label="breadcrumb" class="border-top">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                    <li class="breadcrumb-item"><a href={{ relURL "data-stories" }}>Data Stories</a></li>
                    <li class="breadcrumb-item active"><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>

                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2"></div>
        <!-- .col -->

        <!--start main content section-->
        <div class="col-xl-8 overflow-hidden fs-rg" id="primary-content">



        <!-- language selection -->
        {{- if .IsTranslated -}}
            <nav class="navbar navbar-default my-2">
                    <ul class="nav navbar-nav fs-sm">
                        <span class="mr-2">Read this data story in:</span> 
                        {{- range .Translations -}}
                        <li class="mb-1"><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>&nbsp;|&nbsp;</li>  
                        {{- end -}}
                    </ul>
            </nav>
        {{- end -}}

        <div class="narrow my-2">
            <h1 class="pt-4">{{ .Title }}</h1>
                {{- .Content -}}
        </div>

        <div class="wide">
            <iframe src="source/index.html" frameborder="off" style="width:100%;height: 700px;"></iframe>
        </div>

        <div class="narrow my-2">
            <a href="https://www1.nyc.gov/site/doh/health/emergency-preparedness/emergencies-extreme-weather-cold-weather.page" aria-label="Learn more about cold weather health risks." tabindex="0" class="more-info">Learn more about cold weather health risks</a>, and get resources to help you stay safe this winter.
        </div>

        </div>
        <!-- .col (main) -->

        <!--right-hand column for extra resources and links-->
        <div class="col-xl-2 border-xl-left">

            <div class="py-3 mt-3 mt-xl-0 sticky-top" style="z-index: 0">
                {{- partial "socialshare.html" . -}}

                <hr class="my-2">

                {{- partial "keywords" . -}}

                <hr class="my-2">

                <div class="fs-sm">
                    <strong class="keywords">Published on:</strong><br>
                    {{- .Date.Format "January 2, 2006" -}}
                </div>





            </div>
            <!-- .my-3 -->

        </div>
        <!-- .col -->

    </div>
    <!-- .row -->

</article>
<!-- #primary-content -->

<!-- Related footer -->
{{- partial "related-footer-2" . -}}

{{- end -}}