{{- define "main" -}}


<!-- This flexible data story template puts content only within a row, and puts related content below -->

<article class="container-fluid" id="skip-header-target">

    <!-- language selection -->

    {{- if .IsTranslated -}}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {{- range .Translations -}}
                <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>&nbsp;|&nbsp;</li>
                {{- end -}}
            </ul>
        </div>
    </nav>
    {{- end -}}

    <div class="row">

            <div class="col-xl-7 mx-auto">
                <div class="mt-2 mb-3">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                            <li class="breadcrumb-item"><a href={{ relURL "data-stories" }}>Data Stories</a></li>
                            <li class="breadcrumb-item active d-none d-sm-block"><a href="{{ .Page.RelPermalink }}">{{ with .Params.shortTitle }}
                                {{ . }}
                              {{ else }}
                                {{ .Title }}
                              {{ end }}</a></li>

                        </ul>
                    </nav>
                </div>

                <h1 class="h2 data-stories mb-3"><i class="fas fa-passport" aria-hidden="true" style="margin-right: 10px"></i>{{ .Title }}</h1>
                <div class="">

                    {{ $src := .Resources.GetMatch .Params.image }}
                    {{ with $src }}
                    {{ $image := .Resize "1200x" }}
                        <img class="block mb-3" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">
                    {{ end }}
                </div>
            </div>




    </div>

    <div class="row">
        {{ .Content }}
    </div>

</article>
<!-- #primary-content -->

    <div class="row my-3">
        <div class="col-md-3 ml-auto fs-sm px-2">
                {{- partial "socialshare.html" . -}}
        </div>

        <div class="col-md-3 ml-auto fs-sm px-2">
            {{- if .Params.photocredit -}}
            <i class="fas fa-images mr-1"></i><strong>Banner image:</strong><br>
            {{- .Params.photocredit -}}
        {{- end }}
        </div>

        <div class="col-md-3 ml-auto fs-sm px-2">
            <strong>Published on:</strong><br>
            {{- .Date.Format "January 2, 2006" -}}
        </div>

    </div>


<!-- related -->

{{- partial "related-footer-2" . -}}


{{- end -}}