{{- define "main" -}}

<div class="container-fluid px-0">

    {{ $src := .Resources.GetMatch .Params.image }}
    {{ $image := $src.Resize "1920x"}}
    <div id="datastoryheader" style="background-image: URL({{ $image.RelPermalink }}); background-position: 50% 25%">

        <div class="medium my-auto">
            <h1 class="titleheader py-2 px-4">
                {{ .Title }}
            </h1>
        </div>
    </div>
</div>

<!-- This flexible data story template puts content only within a row, and puts related content below -->

<article class="container-fluid" id="skip-header-target">

    <!-- language selection -->
    
    {{- if .IsTranslated -}}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {{- range .Translations -}}
                <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>&nbsp;|&nbsp;</li>  
                {{- end -}}
            </ul>
        </div>
    </nav>
    {{- end -}}
    
    <div class="row">
        {{- .Content -}}
    </div>

</article>
<!-- #primary-content -->

    <div class="row my-3">
        <div class="col-md-3 ml-auto fs-sm px-2">
                {{- partial "socialshare.html" . -}}
        </div>

        <div class="col-md-3 ml-auto fs-sm px-2">
            {{- if .Params.photocredit -}}
            <i class="fas fa-images mr-1"></i><strong>Banner image:</strong><br>
            {{- .Params.photocredit -}}
        {{- end }}
        </div>

        <div class="col-md-3 ml-auto fs-sm px-2">
            <strong>Published on:</strong><br>
            {{- .Date.Format "January 2, 2006" -}}
        </div>

    </div>


<!-- related -->

{{- partial "related-footer-2" . -}}


{{- end -}}