{{ define "main" }}

<article class="container" id="skip-header-target">

    <div class="col-md-10 mx-auto mt-4">
        <h1><i class="fas fa-passport" aria-hidden="true" style="margin-right: 10px"></i>Data Stories</h1>
        <p>Explainers and perspectives on important health and environment topics. View data stories about:</p>
    </div>


    <div class="row mt-4">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All data stories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-aq-tab" data-toggle="pill" href="#pills-aq" role="tab" aria-controls="pills-aq" aria-selected="false">Air quality</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-transportation-tab" data-toggle="pill" href="#pills-transportation" role="tab" aria-controls="pills-transportation" aria-selected="false">Transportation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-justice-tab" data-toggle="pill" href="#pills-justice" role="tab" aria-controls="pills-justice" aria-selected="false">Social justice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-climate-tab" data-toggle="pill" href="#pills-climate" role="tab" aria-controls="pills-climate" aria-selected="false">Climate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-housing-tab" data-toggle="pill" href="#pills-housing" role="tab" aria-controls="pills-housing" aria-selected="false">Housing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-food-tab" data-toggle="pill" href="#pills-food" role="tab" aria-controls="pills-food" aria-selected="false">Food and drink</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-how-tab" data-toggle="pill" href="#pills-how" role="tab" aria-controls="pills-how" aria-selected="false">How we work</a>
              </li>
          </ul>

    </div>

    <div class="row">
        <div class="col">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">


                    <div class="row pb-2">
                        
                            {{ range .Paginator.Pages }}
                            <div class="col-md-4  my-2 py-2 itemfocus">
                                <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                                <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                                <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                                </div>
                            {{ end }}
                    </div>

                    <div class="row my-3">
                        <div class="col-md-4 mx-auto">
                            <!-- Hugo's default pagination template. -->
                            {{ template "_internal/pagination.html" . }}
                        </div>

                    </div>


                </div>

                <div class="tab-pane fade" id="pills-aq" role="tabpanel" aria-labelledby="pills-aq-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "airquality") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                        <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                        <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                        <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-transportation" role="tabpanel" aria-labelledby="pills-transportation-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "transportation") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                            <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                            <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                            <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                            </div>
                        {{end}}
                    </div>
                </div>
    
                <div class="tab-pane fade" id="pills-justice" role="tabpanel" aria-labelledby="pills-justice-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "social") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                            <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                            <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                            <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                            </div>
                        {{end}}
                    </div>
                </div>
    
                <div class="tab-pane fade" id="pills-climate" role="tabpanel" aria-labelledby="pills-climate-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "climatehealth") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                            <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                            <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                            <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                            </div>
                        {{end}}
                    </div>
                </div>
    
                <div class="tab-pane fade" id="pills-housing" role="tabpanel" aria-labelledby="pills-housing-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "housing") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                            <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                            <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                            <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                            </div>
                        {{end}}
                    </div>
                </div>
    
                <div class="tab-pane fade" id="pills-food" role="tabpanel" aria-labelledby="pills-food-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "foodanddrink") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                            <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                            <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                            <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                            </div>
                        {{end}}
                    </div>
                </div>
    
                <div class="tab-pane fade" id="pills-how" role="tabpanel" aria-labelledby="pills-how-tab">
                    <div class="row">
                        {{ range where .RegularPages "Params.categories" "intersect" (slice "internal") }}
                        <div class="col-md-4  my-2 py-2 itemfocus">
                            <a class="h2 fs-md" href="{{ .URL}}">{{ .Title }}</a>
                            <p class="fs-sm">{{ htmlUnescape .Content | plainify | truncate 150 }}</p> 
                            <p class="text-right fs-sm"><a href="{{ .URL}}">Read more...</a></p>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

    </div>

        <!--
        <div class="row my-4 hide storybin" id="infographics">
                <div class="col-md-6">
                    <div class="card content-card mb-4">
                        <div class="card-content">
                            <div class="card-body">
                                <h3 class="card-title">Cold Weather Safety</h3>
                                <p>Winter weather can be dangerous. <a href="http://a816-dohbesp.nyc.gov/IndicatorPublic/Cold/index.html">Here's how to stay safe and be prepared, inside and outside</a>.</p>    
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card content-card mb-4">
                        <div class="card-content">
                            <div class="card-body">
                                <h3 class="card-title">Extreme Heat Safety Quiz</h3>
                                <p>As our climate changes, we can expect hotter, longer and more frequent heat waves. <a href="http://a816-dohbesp.nyc.gov/IndicatorPublic/Heat/index.html">Test your knowledge here</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card content-card mb-4">
                        <div class="card-content">
                            <div class="card-body">
                                <h3 class="card-title">Asthma and Housing</h3>
                                <p>Housing conditions are a common trigger for asthma. <a href="http://a816-dohbesp.nyc.gov/IndicatorPublic/asthma/index.html">Learn more with the Asthma and Housing infographic</a>.</p>
    
        
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card content-card mb-4">
                        <div class="card-content">
                            <div class="card-body">
                                <h3 class="card-title">Health Impacts of Traffic Air Pollution</h3>
    
                                <p>PM2.5 is one of the most harmful air pollutants. <a href="http://a816-dohbesp.nyc.gov/IndicatorPublic/Traffic/index.html">The health impacts of traffic
                                        air
                                        pollution are highest in poorer neighborhoods</a>.</p>
        
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    -->
        
        <hr class="my-4 portalhr">

</article>

{{end}}